Repository ohcnetwork/care_fe, pull requests merged in 2020-06, with the labels that each got.

#295 ICMR Form Changes
  src/Common/constants.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/models.tsx
Labels: need testing

#335 Phone number broken
  README.md
  package-lock.json
  package.json
  src/Components/Common/AppMessage.tsx
  src/Components/Common/DashboardStatsCard.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/LocationSearchAndPick.tsx
  src/Components/Common/Modal.tsx
  src/Components/Common/StatsCard.tsx
  src/Components/Common/TitleHeader.tsx
  src/Components/Common/VirtualizedTable.tsx
  src/Components/Dashboard/PrivateDashboard.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/ManageUsers.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Redux/fireRequest.tsx
  src/index.html
  src/react-phone-input-2.d.ts
Labels: blocked, hold, need Review, need testing

#333 Changes For ICMR form
  README.md
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Components/Ambulance/AmbulanceList.tsx
  src/Components/Ambulance/AmbulanceOnboarding.tsx
  src/Components/Ambulance/DriverDetailsForm.tsx
  src/Components/Ambulance/VehicleDetailsForm.tsx
  src/Components/Auth/ForgetPassword.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/AppMessage.tsx
  src/Components/Common/DashboardStatsCard.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/Header.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/HospitalView.tsx
  src/Components/Common/Loader.tsx
  src/Components/Common/LocationSearchAndPick.tsx
  src/Components/Common/Modal.tsx
  src/Components/Common/SearchBox.tsx
  src/Components/Common/SearchPhone.tsx
  src/Components/Common/StatsCard.tsx
  src/Components/Common/Stepper.tsx
  src/Components/Common/TitleHeader.tsx
  src/Components/Common/VirtualizedTable.tsx
  src/Components/Dashboard/PrivateDashboard.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientDischarge.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/TeleConsultation.tsx
  src/Components/Patient/TreatmentForm.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/ManageUsers.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Redux/fireRequest.tsx
  src/Router/AppRouter.tsx
  src/index.html
  src/react-phone-input-2.d.ts
Labels: hold, need Review, need testing

#340 Fix: Fixing some UI discrepancy.
  src/Components/Common/PageTitle.tsx
  src/Components/Common/SearchBox.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/BedCapacityForm.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DoctorCapacityForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
Labels: enhancement, need Review, need testing

#347 Phone number links to have Click to Call facility
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Users/ManageUsers.tsx
  src/tailwind.css
Labels: enhancement, need Review, need testing
