Repository ohcnetwork/care_fe, pull requests merged in 2021-06, with the labels that each got.

#1288 Option to delete last entry in Inventory Log
  src/Components/Facility/InventoryLog.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#1290 admitted field patient consultation
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1306 Integrate Cypress for E2E tests
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/authentication/roles.spec.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: enhancement

#1279 added search functionality to OnlineDoctorsSelect
  src/Components/Common/OnlineDoctorsSelect.tsx
Labels: need testing, tested

#1319 Test all user roles
  cypress/integration/authentication/roles.spec.ts
Labels: e2e

#1304 Advance filter in Facilities page
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested

#1281 Update dependency
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  webpack.config.js
Labels: changes required

#1280 UserAdd changes for Staff/StaffReadOnly
  src/Common/constants.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Users/UserAdd.tsx
Labels: changes required, tested

#1235 fixed navigation issues in create and edit investigation
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Router/AppRouter.tsx
Labels: need testing, tested

#1311 added category(event) filter in notifications
  src/Common/constants.tsx
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#1318 using search_text to search for users instead of username
  src/Components/Common/OnlineDoctorsSelect.tsx
  src/Components/Common/UserSelect2.tsx
Labels: tested

#1332 Fixes #1331
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#1334 Load more notifications | fix #1274
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#1337 Fixes #1336
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#1338 added a confirmation modal to delete external result
  src/Components/Common/AlertDialog.tsx
  src/Components/ExternalResult/ResultItem.tsx
Labels: tested

#1284 Treatment summary
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/TreatmentSummary.tsx
Labels: changes required, test failed

#1358 selected doctor is updated only when userId is changed
  src/Components/Common/OnlineDoctorsSelect.tsx
Labels: tested

#1324 Refining advanced filter in patients page
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Redux/actions.tsx
Labels: tested

#1291 Approval Letter in Resources #1270
  public/images/kerala-logo.png
  src/Common/constants.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#1315 WhatsApp Number Field
  cypress/integration/profile/edit.spec.ts
  src/Common/validation.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#1375 Add Audit Log: Last updated info to facility and capacity cards
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/models.tsx
Labels: tested

#1365 rearranged buttons in ConsultationDetails
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1372 Fix#1369
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#1348 Add Last vaccinated date to Patient form
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
Labels: tested

#1378 fixed UI issues in the OnlineDoctorSelect component
  src/Components/Common/OnlineDoctorsSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1385 Added flag for no consultation filed
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#1379 Added form to fill in missing data in Death Report.
  cypress/integration/death_report/death_report.spec.ts
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Patient/PatientHome.tsx
Labels: enhancement, need testing

#1333 Updating the test status to POSITIVE/NEGATIVE
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested

#1305 SRF ID field in predischarge form
  src/Components/Patient/PatientHome.tsx
Labels: tested

#1391 fixed deselect issue in shift filter, assigned_to
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#1396 Add Print Report Button | fix #1370
  src/Components/Facility/Investigations/InvestigationTable.tsx
Labels: tested

#1384 Modify option in Sample Management Request Form
  src/Common/constants.tsx
  src/Components/Patient/SampleTest.tsx
Labels: tested

#1403 Use person name instead of username for Assigned To in shifting
  src/Components/Common/UserSelect2.tsx
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#1412 Move "modified before" to the inside facility page
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested

#1411 Removed volunteer from dropdown
  src/Components/Users/UserAdd.tsx
Labels: tested

#1409 Death Report for discharged patients
  src/Components/Patient/PatientHome.tsx
Labels: tested

#1339 Deleting users by the District Admin
  .husky/_/husky.sh
  src/Components/Common/LocationSearchAndPick.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserDeleteDialog.tsx
  src/Redux/actions.tsx
  src/Redux/fireRequest.tsx
Labels: good to merge, tested

#1408 Filter Badge in External Results page
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
Labels: tested

#1415 fixed space issue in DoctorSelect search
  src/Components/Common/OnlineDoctorsSelect.tsx
Labels: tested

#1399 Added validations for Age and Gender
  src/Components/Common/SlideOver.gen.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#1422 Added Select All Option
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
Labels: tested

#1424 fixed filter badges in Facilities to show name instead id
  src/Components/Facility/HospitalList.tsx
  src/Redux/actions.tsx
Labels: tested

#1426 added facility info to patient notes
  src/Components/Patient/PatientNotes.tsx
Labels: tested

#1425 Fixed issue with date filter in Shifting Page
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#1430 Shifting Page: Remove filters from the badges itself
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#1405 Fix notification filtering
  src/Components/Notifications/NotificationsList.tsx
Labels: test failed

#1443 Fix inventory notification
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested

#1446 fixed deselect issue in filters(state, district, local_body) in Facilities
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested

#1410 Fixed Month shown in Treatment Summary. Issue 1407
  src/Components/Common/SlideOver.gen.tsx
  src/Components/Facility/TreatmentSummary.tsx
Labels: changes required, tested

#1448 Add asset location creation page
  package-lock.json
  package.json
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
Labels: need Review, need testing, tested

#1451 Assets view page done
  src/Components/Assets/AssetTypes.ts
  src/Components/Assets/AssetsList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Router/AppRouter.tsx
Labels: test failed

#1452 Fixed inconsistencies in filter badges in Patients
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#1458 Converted date filters to date range filters in External Results
  src/Components/ExternalResult/ListFilter.tsx
Labels: tested

#1459 Fix Internal Assets rendering bug
  src/Components/Assets/AssetsList.tsx
Labels: tested

#1462 Remove Shifting Filters When Logout | fix #1461
  src/Router/AppRouter.tsx
Labels: tested

#1466 added emergency_phone filter in Patients
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#1467 removed white backgrounds from buttons in DeathReport
  src/Components/DeathReport/DeathReport.tsx
Labels: tested

#1473 Implemented comments features in SHIFTING | fix #1457
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#1468 Fixing the missing parts from asset management module
  package-lock.json
  package.json
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.ts
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/AdvancedFilterButton.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Redux/actions.tsx
  src/Router/AppRouter.tsx
Labels: good to merge

#1480 added back button to deathForm
  src/Components/DeathReport/DeathReport.tsx
Labels: tested

#1492 Add view assets button to facility page
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#1493 Add title and back button to sample report
  src/Components/Patient/SamplePreview.tsx
Labels: tested

#1501 External Results Filters not removed when changing pages
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Router/AppRouter.tsx
Labels: tested

#1500 Change field labels in Patient Form
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#1472 Patient Registration form is now submitttable only when all the fields are filled
  src/Components/Patient/PatientRegister.tsx
Labels: tested
