Repository ohcnetwork/care_fe, pull requests merged in 2021-05, with the labels that each got.

#1017 TextInputField type number can have decimals
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/AddInventoryForm.tsx
Labels: hold

#1086 Add kasp on patient consultation
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: In Progress, do not merge

#1244 changed Reason for request to Description of request in ResourceCreate
  src/Components/Resource/ResourceCreate.tsx
Labels: good to merge

#1237 fixed isLastConsultation issue
  src/Router/AppRouter.tsx
Labels: tested

#1240 create total count card for facilities
  src/Components/Facility/HospitalList.tsx
  yarn.lock
Labels: tested

#1241 Rearranged options in admitted to* dropdown
  src/Common/constants.tsx
Labels: tested

#1250 removed default option for is_kasp and made it mandatory in ConsultationForm
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1248 changed Reason for request to Description of request in ResourceCreate and ResourceEdit
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
Labels: test failed

#1251 Fix filter issue in shifting tab
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#1276 LMO in Resource request
  src/Common/constants.tsx
Labels: tested

#1277 Add permanent address field for patient
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#1262 Added category field on Consultation Update card
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1252 Print Preview for Report Table
  src/App.scss
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Locale/mr/Auth.json
  src/Locale/mr/Common.json
  src/Locale/mr/Entities.json
  src/Locale/mr/Facility.json
  src/Router/AppRouter.tsx
  yarn.lock
Labels: tested

#1256 Change heading
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1265 Required Oxygen in Resource Form and Approved Quantity in Resource Update
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
Labels: tested

#1239 Issue #1232 Enhancement of Preview Files Feature
  src/Components/Patient/FileUpload.tsx
Labels: tested
