Repository ohcnetwork/care_fe, pull requests merged in 2021-09, with the labels that each got.

#1774 Created a patient detail card in sample details.
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#1709 Add weight, height and body surface area in consultation form
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: changes required

#1715 Add search groups and investigation in one search bar
  src/Components/Facility/Investigations/index.tsx
Labels: tested

#1725 Flow rate appears only when high flow nasal cannula chosen
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/DailyRound__VentilatorParameters.res
  src/Components/Facility/Consultations/VentilatorPlot.tsx
Labels: tested

#1761 Added User info in Consulation Update card
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/models.tsx
Labels: tested

#1765 fixed `should have a unique key prop` issues
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
Labels: Done

#1766 Tool tip to navigate to documentation
  src/Components/Common/utils/HelpToolTip.tsx
  src/Components/Users/UserAdd.tsx
Labels: need Review

#1771 added backUrl in PatientHome page title
  src/Components/Patient/PatientHome.tsx
Labels: tested

#1775 fixed assigned_to filter in shifting
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/Commons.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: Done, tested

#1786 local_body filter is reset when state filter is changed in Facilities
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested

#1782 removed role filter badge when the value is select
  src/Components/Users/UserFilter.tsx
Labels: Done, tested

#1778 Add filter by Facility in Sample Test Management
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
Labels: need testing, tested

#1792 removed facility_type filter badge in Patients when the value is Show All
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#1796 made last_vaccinated_date mandatory in Patient Register form
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#1806 removed disease_status filter badge in Shifting when the value is --
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#1810 added breathlessness_level filter in Shifting
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/Commons.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested

#1780 fixed facility not found in facility filters in Resource
  src/Components/Resource/ListFilter.tsx
Labels: Done, tested

#1784 Sentry `CARE-FE-1XH` - Refactored Consultation form component
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1836 Added antenatal filter to Patient List
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#1820 removed assigned_to badge on clearing assigned_to filter in Shifting
  src/Components/Shifting/BadgesList.tsx
Labels: tested

#1846 District Admin can create District Lab admin
  src/Common/constants.tsx
Labels: tested
