Repository ohcnetwork/care_fe, pull requests merged in 2021-07, with the labels that each got.

#1496 make notification more readable
  .gitignore
  src/Components/Notifications/NotificationsList.tsx
Labels: changes required, tested

#1511 Update External Result
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
Labels: tested

#1514 Empty Search Bar When Clear Filter is Clicked | fix#1510
  src/Components/Assets/AssetFilter.tsx
Labels: tested

#1509 External Result: Added SRF Id Filter
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#1515 Send facility specific messages via notification
  src/Components/Facility/HospitalList.tsx
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/service-worker.ts
Labels: tested

#1390 Revamp Sample Management : Result: File Upload
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Router/AppRouter.tsx
Labels: tested

#1529 Added notice board to sidebar
  src/Components/Notifications/NoticeBoard.tsx
  src/Router/AppRouter.tsx
Labels: enhancement

#1534 Pagination for file listing
  src/Components/Patient/FileUpload.tsx
Labels: enhancement

#1523 Rename View Sample Button and add ICMR Form Button to Sample Details Page
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Router/AppRouter.tsx
Labels: tested

#1535 Nursing care refactor
  .bsb.lock
  src/Components/CriticalCareRecording/NursingCare/CriticalCare__NursingCareEditor.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/types/CriticalCare__NursingCare.res
Labels: need Review

#1519 fixed filter bug in ExternalResults
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
Labels: test failed

#1546 Modified 'Notify Facility' overlay
  src/Components/Facility/HospitalList.tsx
Labels: tested

#1547 Loading indication in Facility and Patients Page
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#1552 Fix External Result not being updated
  src/Components/ExternalResult/ResultUpdate.tsx
Labels: Done, tested

#1548 User filters
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested

#1559 Resource: Filters can be removed from the badges itself
  src/Components/Resource/Commons.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
Labels: tested

#1560 add location and asset type filter
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetTypes.ts
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#1571 made Resource headers sticky
  src/Components/Resource/ResourceBoard.tsx
Labels: tested

#1570 Remove view sample report button
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#1582 remove empty fields from nursing plot
  src/Components/Facility/Consultations/NursingPlot.tsx
Labels: need Review

#1584 Replace Slider component for better UX
  package-lock.json
  package.json
  src/Components/CriticalCareRecording/components/Slider.res
Labels: need Review

#1568 made shifting headers sticky
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested

#1556 Added missing badges for search based filters
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#1592 Edit and refactor the problems in ICU module
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/CriticalCare__Root.res
  src/Components/CriticalCareRecording/Others/CriticalCare__OthersEditor.res
  src/Components/CriticalCareRecording/Others/DailyRound__General.res
  src/Components/CriticalCareRecording/Others/DailyRound__Others.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__NonInvasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/DailyRound__VentilatorParameters.res
  src/Components/CriticalCareRecording/types/CriticalCare__DailyRound.res
  src/Components/CriticalCareRecording/types/CriticalCare__Others.res
  src/Components/CriticalCareRecording/types/CriticalCare__Types.res
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
Labels: need Review

#1605 Add indicators
  src/Components/CriticalCareRecording/ABGAnalysisEditor/DailyRound__ABG.res
  src/Components/CriticalCareRecording/BloodSugarEditor/DailyRound__BloodSugar.res
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/HemodynamicParameters/DailyRound__HemodynamicParameters.res
  src/Components/CriticalCareRecording/Others/DailyRound__Others.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/DailyRound__VentilatorParameters.res
Labels: need Review

#1608 Added a status filter in Assets
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#1610 Validation error for ward is corrected
  src/Components/ExternalResult/ResultUpdate.tsx
Labels: tested

#1599 Add Lab to sample test lab options
  src/Components/Patient/SampleTest.tsx
Labels: tested

#1572 Add Loading component to Assign volunteer search section
  src/Components/Common/OnlineUsersSelect.tsx
Labels: tested

#1617 Badge Size Uniform in Patients Page
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#1621 Added Neurological table
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested

#1627 Corrected validation error for district
  src/Components/Users/UserAdd.tsx
Labels: tested

#1602 Added an option to switch between °F and °C in Hemodynamic Parameters
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/CriticalCareRecording/components/Slider.res
  src/Components/CriticalCareRecording/components/styles.css
Labels: tested

#1618 Fixed Assign to Volunteer Mismarking
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested

#1624 Increase debound time for input search box
  src/Components/Common/SearchBox.tsx
Labels: tested

#1625 cleared Patient Name input field on removing the badge in Shifting
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#1626 fixed phone numbers clearing issue while removing the badges in Patients
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#1633 added status filter for SampleTest
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#1636 Pressure sore issue
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
Labels: tested

#1641 Fixed scroll issue in Consultation Page
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested

#1645 Remove `_` from headings - fix #1644
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1648 changed dosages to days in Medicines in ConsultationDetails
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1650 Added Dialysis Plots
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/IOBalancePlots.tsx
Labels: tested

#1643 Plots pagination
  src/Common/constants.tsx
  src/Components/Facility/Consultations/ABGPlots.tsx
  src/Components/Facility/Consultations/IOBalancePlots.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
Labels: test failed

#1642 Pressure sore in ReScript
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreViewer.res
  src/Components/CriticalCareRecording/PressureSore/styles.css
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/types/CriticalCare__PressureSore.res
  src/Components/Facility/Consultations/PressureSoreConstants.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
Labels: need Review, need testing
