Repository ohcnetwork/care_fe, pull requests merged in 2021-08, with the labels that each got.

#1622 Fixed datepicker alignment in Consultation Page
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1659 Scrolling for consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#1693 added missing bracket in Ventilator Parameters: MAP
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
Labels: tested

#1696 changed systolic min input value to 0 in Hemodynamic Parameters
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
Labels: tested

#1697 Add pupil size inference
  src/Components/CriticalCareRecording/components/CriticalCare__PupilRangeSlider.res
Labels: tested

#1707 rename `Total Capacity` to `Bed Capacity`
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#1700 Fix: Issue 1664
  package-lock.json
  src/Components/Patient/FileUpload.tsx
Labels: tested

#1695 changed ventilator_peep to float with precision 1
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__NonInvasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/DailyRound__VentilatorParameters.res
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
Labels: tested

#1717 hide fi02 unless HFNC is selected in VentilatorParametersEditor
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
  src/Components/CriticalCareRecording/components/Slider.res
Labels: tested

#1708 Set default pupil size as none
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__NeurologicalMonitoringEditor.res
  src/Components/CriticalCareRecording/components/CriticalCare__PupilRangeSlider.res
Labels: tested

#1722 Add pagination for dialysis and modify rhythm table ui
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested

#1655 Disabled autofill/autocomplete for name field
  src/Components/Facility/DuplicatePatientDialog.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: need testing, tested

#1727 added bilateral_air_entry in Others in CritcalCare
  src/Components/Common/utils/DictUtils.res
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/Others/CriticalCare__OthersEditor.res
  src/Components/CriticalCareRecording/Others/DailyRound__Others.res
  src/Components/CriticalCareRecording/types/CriticalCare__Others.res
Labels: need testing, Done, tested

#1729 added result filter in SampleTest
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
Labels: need testing, Done, tested

#1742 FiO2 is set to null when oxygen modality is not HFNC
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
Labels: tested

#1746 move consultation tabs to constants
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: need Review

#1647 Add all WHO approved vaccines
  src/Common/constants.tsx
Labels: tested

#1753 added undefined check for patientData in ShiftDetails
  src/Components/Shifting/ShiftDetails.tsx
Labels: need testing, need Review, Done

#1733 added a search functionality for assigned_to form input in shifting
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: hold, tested

#1735 Make KASP a constant in constants.tsx
  src/Common/constants.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested

#1744 made admitted_to mandatory in ConsultationForm
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#1750 changed `/facility/{external_id}​/` to ​`/getallfacilities​/{external_id}​/` to get the filter option
  src/Components/Common/FacilitySelect.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#1721 Added Advice Section in Treatment Summary
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Patient/models.tsx
Labels: tested

#1726 Modified Consultation Page dates
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#1759 added `facility_type` filter in `Patients`
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested
