Repository ohcnetwork/care_fe, pull requests merged in 2022-07, with the labels that each got.

#3000 fixes the ui break of patient creation form
  src/Components/Patient/PatientRegister.tsx
Labels: peer-reviewed

#2800 added facility features
  src/Common/constants.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/models.tsx
Labels: waiting for back end

#2969 Fixed alignment issue in Asset List
  src/Components/Assets/AssetsList.tsx
Labels: tested, good to merge, peer-reviewed

#2968 Fixed alignment issue of Notice Board
  src/Components/Notifications/NoticeBoard.tsx
Labels: tested, good to merge, peer-reviewed

#2961 Added spacing on Sample page and Esc key closes delete result popup
  src/Components/Common/AlertDialog.tsx
  src/Components/Patient/SampleDetails.tsx
Labels: tested, good to merge, peer-reviewed

#2959 Added styling on Facility Page
  src/Components/Facility/FacilityHome.tsx
Labels: tested, good to merge, peer-reviewed

#2951 improve profile page responsiveness
  src/Components/Users/UserProfile.tsx
Labels: tested, good to merge, peer-reviewed

#2912 Added styling and removed extra spaces
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
Labels: tested, good to merge, peer-reviewed

#2870 Fixed Styling Issue : Patient Notes
  src/Components/Patient/PatientNotes.tsx
Labels: tested, good to merge, peer-reviewed

#2740 Resolved buttons placing in desktop and mobile view Issue#2739
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#2987 Fixed malfunction in patient file
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge, peer-reviewed

#2980 Made the Facility Page Responsive for Ipad Screen Size
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#2971 fix: inconsistent button colors
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested, good to merge

#2949 Removed service worker logs and replaced them with console errors
  src/Components/Notifications/NotificationsList.tsx
Labels: tested, good to merge

#2926 Error Handling for Camera Feed
  src/Common/hooks/useFeedPTZ.ts
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested, good to merge

#2914 Revamped the scroll bar UI
  src/style/index.css
Labels: tested, good to merge, peer-reviewed

#2901 Fixed misalignment of badges in facilities page
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#2900 Removed 'State Test ID' and 'Operation' fields from consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, good to merge

#2866 Made The shifting page board responsive
  src/Components/Common/SearchBox.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested, good to merge

#2744 feat: revamp location management page, improve responsiveness
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Router/AppRouter.tsx
Labels: urgent, tested, good to merge

#2579 fix: white space on smaller device
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, good to merge

#2407 upgraded raviger to v4
  package.json
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Common/SideBar.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
  src/Router/AppRouter.tsx
Labels: tested, made_changes

#2793 Replaced existing medication with history of present illness
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
Labels: urgent, tested, good to merge, peer-reviewed

#3008 Made the features field non mandatory in facility create
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, good to merge, peer-reviewed

#3009 Made the Ui of investigation tab responsive in mobile devices
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge, peer-reviewed

#2758 Change in camera UI, is now inside the player
  src/Common/constants.tsx
  src/Common/hooks/useFeedPTZ.ts
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/FeedButton.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/style/index.css
Labels: tested, good to merge, peer-reviewed

#2924 Added ImageCompression for FileUpload
  package-lock.json
  package.json
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#2730 feat (NotificationsList): added 'mark as read' functionality
  src/Components/Common/Spinner.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#3012 Added attribute validation for res.data in NotificationsList
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#2689 Added an alert when no CSV file is uploaded in Upload External Results Page.
  src/Components/ExternalResult/ExternalResultUpload.tsx
Labels: tested, good to merge

#2439 add: cancel button on update/create of assets
  src/Components/Facility/AssetCreate.tsx
Labels: tested, good to merge, peer-reviewed

#2794 Added notification count indicator in NotificationsList
  src/Components/Notifications/NotificationsList.tsx
Labels: tested, good to merge, peer-reviewed

#3066 Fixed Patient Creation Form
  src/Components/Patient/PatientRegister.tsx
Labels: urgent, tested, good to merge, peer-reviewed

#3074 Fixed doctor connect data fetching error
  src/Components/TeleIcu/DoctorVideoSlideover.tsx
Labels: urgent, tested, good to merge

#3091 Added * To enter file name field in Files tab
  src/Components/Patient/FileUpload.tsx
Labels: urgent, tested, good to merge

#3082 Refresh Asset Configuration page on submit
  src/Components/Assets/AssetConfigure.tsx
Labels: tested

#3049 Fixed Resource Update page going blank on clicking UserSelect
  package-lock.json
  src/Components/Common/UserSelect.tsx
Labels: urgent, tested

#3085 AbsoluteMove call is made only when preset is available in Feed
  src/Components/Facility/Consultations/Feed.tsx
Labels: urgent, tested

#3064 Changed add consultation button disable logic in PatientHome
  src/Components/Patient/PatientHome.tsx
Labels: urgent, tested

#3106 Removed "sos" from dosage
  src/Components/Common/prescription-builder/components/Prescription__Builder.res
Labels: tested, peer-reviewed

#3100 Fixed facility page ui
  src/Components/Facility/FacilityHome.tsx
Labels: tested, peer-reviewed

#3097 Revamped notification Ui
  src/Common/constants.tsx
  src/Components/Notifications/NotificationsList.tsx
Labels: tested, peer-reviewed

#3094 Fixed styling issues in Investigation table
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/Table.tsx
Labels: tested, peer-reviewed

#3024 Fixed styling issue in inventory page
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
Labels: tested, peer-reviewed

#3022 Remove placeholder when value is selected on Investigation Report page
  package-lock.json
  src/Components/Facility/Investigations/Reports/index.tsx
Labels: tested, peer-reviewed

#3035 Autofill input field of file upload name on Patients page
  src/Components/Patient/FileUpload.tsx
Labels: tested, peer-reviewed

#3040 Grid layout on lg screen devices for sample test cards
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, peer-reviewed

#3051 Made the 'Download Type' accordion in facility page responsive
  src/Components/Facility/HospitalList.tsx
Labels: tested, peer-reviewed

#3069 fixed sliders
  src/style/index.css
Labels: tested

#3063 Improved shifting detail comment section
  src/Components/Shifting/CommentsSection.tsx
Labels: tested, peer-reviewed

#3065 Fixed Shifting UI Malfunction
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, peer-reviewed

#3088 Resolved styling issue: Hemodynamic Parameters
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
Labels: tested, peer-reviewed

#3081 Fixed review time in log update
  src/Common/constants.tsx
Labels: tested, peer-reviewed

#2989 Fixed styling issue in consultation page
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, made_changes

#2956 Added link from facility page to /facility/<external_id>/users/
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Router/AppRouter.tsx
Labels: tested, peer-reviewed

#2953 add: delete specialization doctor type
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, made_changes, peer-reviewed

#2409 fix: extra padding on external results page
  src/Components/Common/SearchBox.tsx
  src/Components/ExternalResult/ResultList.tsx
Labels: tested, made_changes

#3001 Fixed misalignment in resource approval letter
  src/Components/Resource/ResourceDetails.tsx
Labels: tested

#3002 Display appropriate message when Facility ID is incorrect
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#3075 Hide extra error message when shifting bed fails
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested, peer-reviewed

#3015 Fix validation when updating facility
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, peer-reviewed

#3020 Renamed the page title from 'Covid Suspect Details' to 'Patient Details'.
  src/Components/Patient/PatientHome.tsx
Labels: tested, peer-reviewed

#3037 Added Add Doctor and Exit button
  src/Components/Facility/DoctorCapacityForm.tsx
Labels: tested, peer-reviewed

#3089 Utilised white space in Daily rounds form
  src/Components/Patient/DailyRounds.tsx
Labels: tested, peer-reviewed

#3093 Made the Physical Examination info field fetched in Treatment Summary
  src/Components/Facility/TreatmentSummary.tsx
Labels: tested, peer-reviewed

#2947 Added discharge_reason and discharge_notes in discharge modal
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested

#3115 Fixes Netlify deploy issue
  src/Components/Facility/Consultations/Feed.tsx
Labels: urgent, need testing, peer-reviewed

#2903 Revamp bed management page, improve responsiveness
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/BedManagement.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2836 Alignment issue of Patient Page
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested

#3146 Fixed board view in resource page
  src/Components/Resource/ResourceBoardView.tsx
Labels: urgent

#2897 Revamped patient details page UI
  src/Components/Patient/PatientHome.tsx
Labels: tested

#2906 removed extra space
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#2945 Removed unwanted blank space in info page
  src/Components/Common/components/Readmore.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#2957 Added functionality to add name to audio files in Consultaion Files Tab
  src/Components/Patient/FileUpload.tsx
Labels: tested

#2996 Restyled discharge patient popup
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, made_changes

#3003 Added downloadable icon to audio and timer to recording audio
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
Labels: tested

#3019 Removed bed number for discharged patient
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested, peer-reviewed

#3023 Added username validator
  src/Components/Users/UserAdd.tsx
  src/Redux/actions.tsx
  src/Redux/fireRequest.tsx
Labels: tested

#3028 Added icons for facility features
  public/index.html
  src/Common/constants.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested

#3031 remove profile button, shifted link to user at bottom
  src/Components/Common/SideBar.tsx
Labels: tested, peer-reviewed

#3026 Added pointer cursor to inventory list item and changed name to inventory manager
  src/Components/Facility/InventoryList.tsx
Labels: tested

#3098 Fixed notification issue in Facility Form
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, peer-reviewed

#3153 Fixed(Patient Creation form): Removed user id from droplist
  src/Components/Facility/TransferPatientDialog.tsx
Labels: tested

#3156 Added responsiveness on Assets page
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/AdvancedFilterButton.tsx
Labels: tested

#3165 Fix phone number clear button on Profile page
  src/Components/Users/UserProfile.tsx
Labels: tested

#2705 Delete asset bed
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: need testing, need Review

#3208 Fix facility create response check
  src/Components/Facility/FacilityCreate.tsx
Labels: urgent, tested

#2848 Fixed Malfunctioning of Asset Creation Page and revamped it's UI
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#2812 Enhanced UI of patients page
  src/Components/Patient/ManagePatients.tsx
  src/style/index.css
Labels: tested

#3234 Fixed update min quantity malfunction
  src/Components/Facility/UpdateMinQuantity.tsx
  src/Redux/actions.tsx
Labels: tested

#3198 Renamed 'Message' to 'Notice' in notifications
  src/Common/constants.tsx
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#3225 Improved UX in file upload
  src/Components/Patient/FileUpload.tsx
Labels: tested

#3220 Show admission date picker on Edit Consultation page
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, peer-reviewed

#3215 Fix is_antenatal checkbox display
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested, peer-reviewed

#3213 Add error messages when deletion fails
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, peer-reviewed

#3204 fix: mobile pagination
  src/Components/Common/Pagination.tsx
Labels: tested

#3201 Fix pagination buttons on Asset configure page
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#3199 Enhanced UI of Password Reset Page
  src/Components/Auth/ResetPassword.tsx
Labels: tested

#3192 Fixed error 404 page
  src/Components/ErrorPages/404.tsx
Labels: tested

#3190 Corrected ordering of search filters on Patients page
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3178 Revamped assets page
  src/Components/Assets/AssetsList.tsx
Labels: tested

#3126 Removed overlap on Facility Page in mobile view
  src/Components/Facility/FacilityHome.tsx
Labels: tested, peer-reviewed

#3174 Added validation so that users can see users of the same district only on the Users Page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#3173 Fixed malfunction in user management regarding add user form
  src/Common/constants.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested

#3163 Fixed: Issue in facility select during add user
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/HelperInputFields.tsx
Labels: tested

#3154 Fix unresponsiveness of consultation page
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#3054 Added Add Bed Capacity and Exit button
  src/Components/Facility/BedCapacityForm.tsx
Labels: tested

#2916 Improved Shifting letter Ui
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#2808 Issue#2807 - District filter for Users.
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, good to merge

#3080 Added feature for user to change password
  src/Components/Users/UserProfile.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge

#3243 fix (ManageUsers): removed duplicate district_id
  src/Components/Users/ManageUsers.tsx
Labels: urgent

#3236 Add LAMA option to discharge reasons
  src/Common/constants.tsx
Labels: tested

#3152 Fixed malfunction in user management
  src/Components/Users/ManageUsers.tsx
Labels: tested

#2869 Fix: Consultation Form Styling Issue and assign a volunteer field in Patient details
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested

#2846 Fixed Filters in Facilities Page
  src/Components/Facility/HospitalList.tsx
Labels: tested

#2614 Improve UI on External Test page
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Utils/Notifications.js
Labels: tested

#3203 Resolved breaking "Type" on Samples page in mobile view
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#3217 Fixed: Switching Bed Malfunction
  src/Components/Facility/Consultations/Beds.tsx
  src/Redux/actions.tsx
  src/Redux/fireRequest.tsx
Labels: urgent, tested, peer-reviewed

#3269 fixed add consultation disable logic and changed redirection route after successful transfer
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Patient/PatientHome.tsx
Labels: urgent, tested

#3108 Prescription changes
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilderTS.res
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/components/Prescription__Builder.res
  src/Components/Common/prescription-builder/types/Prescription__Prescription.res
  src/Components/CriticalCareRecording/CriticalCare__MedicineEditor.res
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
Labels: urgent, test failed

#2944 Add Vitals ECG Waveform
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/VitalsGraph.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: test failed
