Repository ohcnetwork/care_fe, pull requests merged in 2022-08, with the labels that each got.

#2974 Fixed Styling issues on Login Page
  src/Components/Auth/Login.tsx
  src/Components/Common/LanguageSelector.tsx
Labels: tested, peer-reviewed

#3183 Improve filter inputs
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested

#3226 Cannot use stock now before having sufficient stock in inventory management page
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/InventoryList.tsx
Labels: tested

#3246 Revamped Users page on mobile view
  src/Components/Users/ManageUsers.tsx
Labels: tested

#3271 Remove extra Doctor Capacity update button
  src/Components/Facility/DoctorCapacityForm.tsx
Labels: tested

#3254 Made buttons in inventory management responsive
  src/Components/Facility/InventoryList.tsx
Labels: tested

#3137 Added truncate in breadcrumbs on mobile view
  src/Components/Common/Breadcrumbs.tsx
Labels: tested

#3099 Enhanced Ui of Choose File in Upload External Results Page
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/style/index.css
Labels: tested, peer-reviewed

#3255 Make location input responsive
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#3279 Make asset name responsive
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#3296 Add Create/Update Home Facility for Users
  src/Components/TeleIcu/Patient/Waveform.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/utils.ts
Labels: urgent

#3310 Fixed: Limit DistrictAdmin to link facilities for new users
  src/Components/Common/FacilitySelect.tsx
  src/Components/Users/UserAdd.tsx
Labels: urgent, tested

#3281 Added a clock icon to user card
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#3185 Changed facility feature placement and added a generic tooltip component
  src/Common/constants.tsx
  src/Components/Common/utils/Tooltip.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#3013 Added report table to show summary in ViewInvestigations
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
Labels: tested, good to merge

#2727 Added 'x' icon to close the modal in TeliCUI Switch Bed
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested, good to merge, peer-reviewed

#2908 Updated CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: needs testing, peer-reviewed

#3359 fix: mobile view of update patient details
  src/Components/Patient/PatientRegister.tsx
Labels: tested, good to merge

#3353 Changed the name of buttons in Inventory Manager Page
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/InventoryList.tsx
Labels: tested, good to merge

#3343 add margin to bottom of filter badges
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#3330 Add confirmation for unlinking facility
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UnlinkFacilityDialog.tsx
Labels: tested, good to merge

#3327 Center aligned buttons on Resource and Shifting page
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
Labels: wishlist, tested, good to merge

#3321 Make Link Facility modal responsive
  src/Components/Users/LinkFacilityDialog.tsx
Labels: tested, good to merge

#3306 Fixed UI issue on External Results page in mobile view
  src/Components/ExternalResult/ResultList.tsx
Labels: tested, good to merge, peer-reviewed

#3299 Revamped Patients page
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge

#3294 Fixed unresponsive bed delete dialog box
  src/Components/Facility/BedDeleteDialog.tsx
Labels: tested, good to merge

#3290 Disable volunteer button when patient is discharged
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge

#3278 Enhanced UI of profile page
  src/Components/Users/UserProfile.tsx
Labels: tested, good to merge

#3270 Make Audit log responsive
  src/Components/Resource/ResourceDetails.tsx
Labels: tested, good to merge

#3256 Make save buttons grid responsive
  src/Components/Facility/DoctorCapacityForm.tsx
Labels: tested, good to merge

#3244 Link Facility enhancements
  src/Components/Users/LinkFacilityDialog.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#3232 Revamped buttons on External results page in mobile view
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
Labels: tested, good to merge

#3200 Fix check for required fields on Update Patient Details page
  src/Components/Patient/PatientRegister.tsx
Labels: tested, good to merge

#3187 Fix check on Update Sample Test Status
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested, good to merge

#3184 Suggestion: Rename WhatsApp number to Alternative number
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, good to merge

#2487 Add Camera Feed to Tabs in Patient Consultation Page
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Router/AppRouter.tsx
Labels: tested, good to merge

#3242 Revamped Facility page for mobile view
  src/Components/Common/Pagination.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#3050 add: delete option for facility bed type
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge, peer-reviewed

#2736 Added styling on Patients page Issue#2735
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, good to merge, peer-reviewed

#3134 fix (PatientHome): changed no medical data condition
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge

#3409 Minor font issue in Files Tab in Patient Dashboard
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#3406 Make Location and Bed Management responsive
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/LocationManagement.tsx
Labels: tested, good to merge

#3405 Remove unwanted element from Investigation section
  src/Components/Facility/Investigations/ViewInvestigations.tsx
Labels: tested

#3403 add: username validation colors
  src/Components/Users/UserAdd.tsx
Labels: tested

#3374 Revamped Update Resource request page
  src/Components/Resource/ResourceDetailsUpdate.tsx
Labels: tested

#3318 Remove COVID badges
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3311 Fix formatting of exported CSV files
  package.json
Labels: tested

#3247 Fix patient download button
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3007 Improved Ui of Choose File input and added validation in upload new file form in Consultation Files Page
  src/Components/Patient/FileUpload.tsx
Labels: tested, peer-reviewed

#3402 fix: file upload responsive for smaller devices
  src/Components/Patient/FileUpload.tsx
Labels: tested

#3401 Revamp Patients Notes page
  src/Components/Patient/PatientNotes.tsx
Labels: tested

#3387 Fix log update back link
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#3448 Fixed: Facility page showing features multiple times
  src/Components/Facility/FacilityHome.tsx
Labels: urgent, tested

#3368 Made the Grays in the Vital Card more transparent
  src/Components/TeleIcu/Patient/VitalsCard.tsx
Labels: tested, merge conflict

#3410 Enhanced admit filter to filter on a specific date in ManagePatients
  src/Components/Common/DateRangePicker.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested

#3386 advanced filter modal is now responsive in small devices
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: need Review, tested

#3459 Added support for ICD11
  package-lock.json
  src/Components/Common/DiagnosisSelect.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: needs testing

#3484 fix (FacilityHome): removed extra features section
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#3288 Added prn prescription
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: needs testing

#3499 fixed typeerror with prn_prescription ConsultationDetails
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested
