Repository ohcnetwork/care_fe, pull requests merged in 2022-01, with the labels that each got.

#1992 Create bed level preset
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Common/BedSelect.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: need testing, need Review

#1986 Remove DateLL & Lines,Catheters #1973
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#2031 Add List of presets from database to Livefeed UI
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: In Progress

#2021 text change to 14 days
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#1997 Added validation for date_declared_positive in PatientRegister form
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#2006 Added validation for estimated_contact_date and cluster_name in PatientRegister form
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#2026 set fixed height for `Updates` section in DailyRoundsList
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#2030 removed breadcrumbs
  src/Components/Patient/FileUpload.tsx
Labels: tested

#2035 fixed redirection path of normal round in Daily Rounds
  src/Components/Patient/DailyRounds.tsx
Labels: tested
