Repository ohcnetwork/care_fe, pull requests merged in 2022-05, with the labels that each got.

#2262 Shows a 'data not available' message when null in NeurologicalTables
  package-lock.json
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested

#2270 Set floating point precision in title to 2 in LinePlot and StackedLinePlot
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: tested

#2264 Hide the notes card when null in ConsultationDetails
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#2314 Handle the values of bp fields
  src/Components/Patient/DailyRounds.tsx
Labels: need testing, need Review

#2303 changed title to Treatment Plan / Treatment Summary
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#2300 fix: UserAdd component responsive layout
  src/Components/Users/UserAdd.tsx
Labels: tested

#2323 add ignore pattern rules for anonymous variables
  .eslintrc.json
Labels: need Review

#2337 Added field cover_image_url to FacilityModel type in facility models
  src/Components/Facility/models.tsx
Labels: need testing

#2332 fix: Notes breadcrumb link on Patient Notes page
  src/Components/Facility/ConsultationDetails.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2181 Add Title Element
  src/Components/Common/PageHeadTitle.tsx
  src/Components/Common/PageTitle.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested

#2305 Remove obsolete admission radio
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#2307 Fix Profile Tab not showing active in sidebar
  src/Components/Common/SideBar.tsx
Labels: tested

#2313 Updated Rhythm View to table for easy access and efficiency
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested

#2327 Changes "Patient Details" to "Patient Dashboard" in Consultation Page
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#2333 Added category validations in VentilatorParameters
  src/Components/Common/utils/DictUtils.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
Labels: tested

#2335 added pagination in patient preset
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#2340 add options before typing
  src/Components/Common/BedSelect.tsx
Labels: tested

#2342 Fixed loading error in investigation summary page
  src/Components/Facility/Investigations/Reports/index.tsx
Labels: tested

#2346 fixed the unresponsive audio bar in constultation files tab issue#2339
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
Labels: tested

#2345 add: hover action on patient home page
  src/Components/Patient/PatientHome.tsx
Labels: tested

#2350 Resolved blank systolic error
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#2351 Removed action buttons and indicated for discharged patients
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#2355 fixed the previous credentials overlapping issue in the login page
  src/Components/Auth/Login.tsx
Labels: tested

#2372 fix: mobile responsive on shifting page
  src/Components/Shifting/BoardView.tsx
Labels: tested

#2396 Made the header of the resources page responsive
  src/Components/Resource/ResourceBoardView.tsx
Labels: tested

#2390 Added validation bulletins for username in UserAdd form
  src/Components/Users/UserAdd.tsx
Labels: tested

#2387 Made ip_no mandatory in ConsultationForm
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#2377 Added spinner for "total" section in different fields dashboard
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested

#2368 Log Update/Daily Round (Normal) Vitals be typeable
  src/Components/Common/HelperInputFields.tsx
Labels: tested

#2371 fix - scroll restoration to top on page load
  src/Router/AppRouter.tsx
Labels: tested

#2367 Add Other symptoms to Symptoms card
  src/Components/Facility/ConsultationDetails.tsx
Labels: need testing

#2273 [Bed revision] Switching UI
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#2291 added patient details in investigation report
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
Labels: tested

#2423 Collapse nav bar automatically in mobile devices
  src/Components/Common/SideBar.tsx
Labels: tested

#2446 Add Kannada Language Choice
  src/Locale/config.ts
  src/Locale/kn/Auth.json
  src/Locale/kn/Common.json
  src/Locale/kn/Entities.json
  src/Locale/kn/Facility.json
  src/Locale/kn/index.js
  src/i18n.ts
Labels: tested

#2444 Fix navbar translations
  src/Locale/en/Common.json
  src/Locale/ml/Common.json
  src/Locale/mr/Common.json
  src/Locale/ta/Common.json
Labels: tested

#2443 Fix breadcrumbs issue in user pages by redirecting.
  src/Router/AppRouter.tsx
Labels: tested

#2413 Badges in user profile section improved
  package-lock.json
  src/Components/Users/UserProfile.tsx
Labels: tested

#2406 Send raw pulse and spo2 data
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#2404 Added Checkbox to set Phone number as WhatsApp number
  src/Components/Common/HelperInputFields.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested

#2276 Set temperature floating point precision to 1 in HemodynamicParametersEditor
  src/Components/CriticalCareRecording/components/Slider.res
Labels: tested

#2304 Fix representation of facility name
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#2309 Make error messages more user friendly
  src/Utils/Notifications.js
Labels: tested

#2381 Feature: Keyboard Shortcuts for Camera Live Feed
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#2453 Download press is different section now shows loader until file is ready.
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested

#2465 Collapse notification side bar when visit link is clicked on any notification
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#2546 Fixed DockerFile
  Dockerfile
Labels: need testing
