Repository ohcnetwork/care_fe, pull requests merged in 2022-04, with the labels that each got.

#2187 Replace metatag with CARE logo
  .env
  public/index.html
Labels: tested

#2168 Added subtext to show current values in critical-care graphs
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: tested

#2178 convert to treatment summary link
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/TeleIcu/Patient/index.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2223 Improve Login Redirect, issue #2222
  src/Components/Auth/Login.tsx
Labels: tested

#2211 fixed error, rhythm null on update
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#2215 fixed dropdown update issue in InvestigationsTable
  src/Components/Facility/Investigations/InvestigationTable.tsx
Labels: tested

#2224 Fixed fio2 update issue in VentilatorParametersEditor
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
Labels: tested

#2219 removed scrollbar when printing in InvestigationTable
  src/Components/Facility/Investigations/InvestigationTable.tsx
Labels: tested

#2203 prevent API call for patients with no consultation
  src/Components/TeleIcu/Patient/VitalsGraph.tsx
Labels: tested

#2233 Changes in Patient Registration Form
  .eslintrc.json
  src/Components/Patient/PatientRegister.tsx
  src/Components/TeleIcu/Patient/VitalsGraph.tsx
Labels: question, need testing

#2238 Added a new field to scan and store asset qr id
  src/Components/Assets/AssetTypes.ts
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: need testing

#2236 removed browser auto complete for username and password in UserAdd
  src/Components/Users/UserAdd.tsx
Labels: need testing
