Repository ohcnetwork/care_fe, pull requests merged in 2022-09, with the labels that each got.

#3540 Fix Cypress: Occassional delays with server and UI
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/assets_spec/filter.cy.ts
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/forget_password.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
Labels: needs testing

#3514 Enabled multiselect in diagnosis in ConsultationForm
  src/Components/Common/DiagnosisSelect.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: urgent, tested, Cypress Test Pending

#3541 Fix cypress workflow errors
  .github/workflows/cypress.yaml
  README.md
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/auth_spec/roles.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/fixtures/users.json
Labels: urgent, needs testing

#3553 Fix crash when feature's id is missing from feature_types
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
Labels: urgent, needs testing, P1

#3474 Added 'Blood Bank' as a feature in facilty
  src/Common/constants.tsx
Labels: urgent, tested

#3555 Cypress Fix
  .github/workflows/cypress.yaml
  cypress.config.ts
  cypress/downloads/external-result--09-06-2022_12_35_30.csv
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/assets_spec/filter.cy.ts
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/forget_password.cy.ts
  cypress/e2e/auth_spec/roles.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  cypress/e2e/users_spec/profile_edit.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package.json
  src/Components/Users/UserProfile.tsx
Labels: urgent, needs testing

#3408 Minor Improvement of UI of medicine tab in patient dashboard page
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
Labels: tested, Cypress Test Pending

#3228 Fix: Clear assigned doctor
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, Cypress Test Pending

#3567 Fixed camera feed issue in the Patient Dashboard for new assets
  src/Components/Assets/AssetType/ONVIFCamera.tsx
Labels: tested

#3575 Added new waveforms
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: needs testing, peer-reviewed

#3577 Showing spinner only for assets list while loading
  src/Components/Assets/AssetsList.tsx
Labels: tested, good to merge

#2681 Added drag and drop in BoradView for Shifting and Resources
  package-lock.json
  package.json
  src/Components/Resource/Commons.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/Commons.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Router/AppRouter.tsx
Labels: tested, good to merge

#3608 Added tool tip for frequencies in prescriptions
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
Labels: tested

#3628 Fixed overlapping issue in the line plot
  src/Components/Facility/Consultations/components/LinePlot.tsx
Labels: tested

#3645 Add bots for notifying on merge conflicts and mark inactive issues
  .github/stale.yml
  .github/workflows/label-merge-conflict.yml
Labels: needs testing

#3660 Use GITHUB_TOKEN for merge conflict workflow
  .github/workflows/label-merge-conflict.yml
Labels: needs testing
