Repository ohcnetwork/care_fe, pull requests merged in 2022-12, with the labels that each got.

#4119 Remove unwanted console log from facility pages
  src/Components/Facility/BedTypeCard.tsx
Labels: tested

#4112 Solve patient tiles glitch
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress failed

#4158 Fix updatePreset
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#4026 Fix 4025: Default Value for hideBack prop
  src/Components/Common/PageTitle.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
Labels: needs testing, cypress failed

#4110 Fix query params not preserved between views
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested, cypress failed

#3959 Fixes issues in Facility Card's layout and minor UI tweaks
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/HospitalList.tsx
Labels: need Review, tested

#4131 Add asset Import/Export for a Facility
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#4172 Migrate `clsx` to new `classNames` utility under the directory: `src/Components/Common/**`
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/LanguageSelector.tsx
  src/Components/Common/LanguageSelectorLogin.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/PageTitle.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/Common/utils/Tooltip.tsx
Labels: needs testing, need Review

#4176 Migrate `clsx` to new `classNames` utility under the directory: `src/Components/Shifting/**`
  src/Components/Shifting/ShiftingBoard.tsx
Labels: needs testing, need Review

#4175 Migrate `clsx` to new `classNames` utility under the directory: `src/Components/Facility/**`
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/Investigations/InvestigationTable.tsx
Labels: needs testing, need Review

#4174 Migrate `clsx` to new `classNames` utility under the directory: `src/Components/Users/**`
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
Labels: needs testing, need Review

#4173 Migrate `clsx` to new `classNames` utility under the directory: `src/Components/Patient/**`
  src/Components/Patient/PatientHome.tsx
Labels: needs testing, need Review

#4171 Migrate `clsx` under `src/CAREUI/**`
  src/CAREUI/interactive/LegendInput.tsx
Labels: needs testing, need Review

#4194 Automate removal of `Deploy-Failed` label
  .github/workflows/label-deploy-failed.yml
Labels: need Review, cypress failed

#4071 Removes unicons support and introduces `CareIcons` library for internal use
  public/index.html
  src/CAREUI/icons/CareIcon.tsx
  src/CAREUI/icons/UniconPaths.json
  src/CAREUI/icons/icon.css
  src/CAREUI/icons/icon.js
  src/CAREUI/interactive/LegendInput.tsx
  src/Common/constants.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Common/components/ContactLink.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Form/SearchInput.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Users/UserFilter.tsx
Labels: needs testing, need Review, P1, cypress failed

#4177 Refactor home_facility to home_facility_obj
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Users/models.tsx
Labels: waiting for back end

#4218 Fix buttons size and space on Asset page
  src/Components/Assets/AssetManage.tsx
Labels: tested

#4196 chore(deps): remove clsx package
  package-lock.json
  package.json
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
Labels: need Review

#4109 Add cause of death for expired patients
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#4094 Don't allow future dates for facility triage
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/TriageForm.tsx
Labels: tested

#4124 Removed auto scroll to top on Users page
  src/Components/Common/Pagination.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, P1

#4238 Migrate leaked unicons to CareIcons
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: urgent, tested, P1, cypress failed

#4239 Skip esc key trigger on empty search input
  src/Components/Form/SearchInput.tsx
Labels: tested

#4222 Removed extra space in login page and fit it to screen size
  src/Components/Auth/Login.tsx
Labels: tested, P1

#4198 Relative timestamps for Patient Details
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Utils/utils.ts
Labels: tested

#4187 Now only state admin and district and user who uploaded the file can edit and archive it
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4144 Made the Ui uniform by changing the phone number field bg color to white
  src/Components/Common/HelperInputFields.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3963 feat: added admitted bed type filter
  src/Common/constants.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/stories/care_ui/MultiSelectMenu.stories.tsx
Labels: tested, P1

#4243 gitignore `pnpm-lock.yaml`
  .gitignore
  .npmrc
Labels: need Review

#4245 feat(prescription): add new medicines to the prescription module
  src/Components/Common/prescription-builder/assets/medicines.json
Labels: tested

#4215 fix(patient): re-admission is using existing consultation
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested, P1

#4214 fix(facility): cancel button is malfunction in facility update page
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, P1

#4063 fix(UserProfile): Unable to update user details
  src/Components/Users/UserProfile.tsx
Labels: tested, P1

#4241 Resolved crashing Edit Triage page
  src/Components/Facility/TriageForm.tsx
Labels: question, tested

#4121 Made sidebar scrollable in small screens and landscape mode
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Router/AppRouter.tsx
Labels: tested, cypress failed

#4130 FileUpload: Added an option to rotate images in preview
  src/Components/Patient/FileUpload.tsx
Labels: tested, cypress failed

#4149 Made the adding cover image feature visible in mobile devices when there is no cover image
  src/Components/Facility/FacilityHome.tsx
Labels: tested, changes required

#4219 Auto focus while selecting current location in LocationPicker in Facility Create
  src/Components/Common/GLocationPicker.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, cypress failed

#4221 Removed hover effect for push score details in preview mode in Pressure Sore
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
Labels: tested, cypress failed

#4232 Added max, min props to DateInputV2
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/TriageForm.tsx
Labels: tested, cypress failed

#4260 Added middleware update feature
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Router/AppRouter.tsx
Labels: tested

#4270 Fix consultation form Asymptomatic handling logic
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1

#4274 Fix other symptomps text area not showing
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4062 Fixed Cypress Tests
  .github/workflows/cypress.yaml
  cypress.config.ts
  cypress/e2e/assets_spec/filter.cy.ts
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  src/Components/Common/components/Menu.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Shifting/BoardView.tsx
Labels: good to merge

#4284 Add location selection to asset import and fix reload bug
  src/Components/Assets/AssetImportModal.tsx
Labels: needs testing

#4306 Fix (AddLocationForm): location edit cancel button triggers toast notification
  src/Components/Facility/AddLocationForm.tsx
Labels: tested

#4244 Move export asset button beside asset name and improve import/export icons and fix button border control
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/style/index.css
Labels: tested, made_changes

#4288 fix(asset): Modified breadcrumbs in asset page
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Router/AppRouter.tsx
Labels: tested

#4283 Disable proceed button for edit patient file name
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4254 Fix Sample Tests CSV download filename
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#4268 Phone Number filter malfunction resolved and minor UI fixes
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4255 Fix form submission on enter key for Patient Details
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#4281 Added user details and time of archive in the more details modal
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/models.tsx
Labels: tested, cypress failed

#4272 Switch to Tailwind elements for bed capacity
  cypress/e2e/facility_spec/facility.cy.ts
  src/Components/Facility/BedCapacityForm.tsx
  src/Components/Form/SelectMenuV2.tsx
Labels: tested

#4313 Emergency Number filter malfunction resolved and minor UI fix
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3980 fixed: csv files are not in proper format
  package-lock.json
  package.json
Labels: tested

#4315 fix: upgrade the facility creation component to tailwind components
  cypress/e2e/facility_spec/facility.cy.ts
  src/Components/Common/components/Menu.tsx
  src/Components/Common/components/TextInputFieldV2.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: tested

#4310 Generalize Import and Export + Add create asset button on asset list page + Fix patients page padding
  cypress/e2e/external_results_spec/external_result.cy.ts
  src/Common/constants.tsx
  src/Common/hooks/useExport.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Utils/AuthorizeFor.tsx
  src/style/index.css
Labels: tested, P1, Major Code Change

#4136 Fix user add page checkUsername function
  src/Components/Users/UserAdd.tsx
Labels: tested

#4295 Made verified by field in consultation required
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1

#4333 Fix button layout on Facility page
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#4118 fix: Placeholder and autofill credentials overlap in chrome
  src/CAREUI/interactive/LegendInput.tsx
Labels: tested, cypress failed

#4117 updated facility types
  src/Common/constants.tsx
Labels: waiting for update

#4278 Fixed card height inconsistency in PatientHome
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: need Review, tested, P2

#4331 fix: misalignment in forgot password page
  src/Components/Auth/Login.tsx
Labels: tested

#4335 fix: facility home page buttons are misaligned
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#4294 Added 11 digit restriction for toll free numbers
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested, P1, cypress failed

#4362 Cypress: Fix external result's import test
  cypress/e2e/external_results_spec/external_result.cy.ts
Labels: need Review

#4364 Fix cancel button on asset create/update page
  src/Components/Facility/AssetCreate.tsx
Labels: tested, P1

#4287 De-duplicate implementation of `useMergeState` hook
  src/Common/hooks/useMergeState.js
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested

#4298 Update CARE prompt when new version available
  src/Common/hooks/useIsAuthorized.ts
  src/Components/Common/UpdatableApp.tsx
  src/Components/Users/UserProfile.tsx
  src/Utils/build-meta-info.js
  src/index.tsx
  src/style/index.css
Labels: tested

#4368 Log tab result button is disabled in discharged patient UI
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#4351 Use cursor-pointer class for tab names in view consultation files
  src/Components/Common/HeadedTabs.tsx
Labels: tested

#4314 Refactor doctor capacity page to use Tailwind
  cypress/e2e/facility_spec/facility.cy.ts
  src/Components/Facility/DoctorCapacityForm.tsx
Labels: tested

#4355 Switch labels to FieldLabel on Facility Creation page
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#4329 Add end>start constraint to DateRangeInputV2
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangeInputV2.tsx
Labels: tested

#4327 Disable past dates for warranty expiry date on create assets page
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4028 Remove broken pagination and disable inputs on Inventory Management
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/MinQuantityRequiredModal.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
  src/Router/AppRouter.tsx
Labels: tested

#4383 Fixes asset Import/Export tooltip
  src/Components/Assets/AssetsList.tsx
Labels: tested

#4382 Preserve file name when downloading Consultation files
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4381 hide x overflow in sidebar
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested

#4337 Fix (Advanced Filters): made all filter sidebars collapse on clearing filters
  src/Components/Facility/FacilityFilter/LocalBodySelect.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: need Review, tested

#4309 🛠 Upgrade the colors of tailwind input components + 🛠 Tailwind Consultation Form + 🛠 Tailiwnd discharge patient dialog
  src/CAREUI/interactive/LegendInput.tsx
  src/Common/constants.tsx
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangePicker.tsx
  src/Components/Common/DiagnosisSelectFormField.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/SymptomsSelect.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/TextInputFieldV2.tsx
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/AutocompleteV2.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Form/SearchInput.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientCategorySelect.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/style/CAREUI.css
  src/style/index.css
  tailwind.config.js
Labels: tested, P1, redesign, Major Code Change

#4358 Upgrade `Pagination` comp. + fix `ButtonV2` + adj. vertical-align of `CareIcons` + Generalize `Submit` and `Cancel` buttons
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  src/CAREUI/icons/icon.css
  src/CAREUI/interactive/LegendInput.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/Pagination.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/BedCapacityForm.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DoctorCapacityForm.tsx
  src/Components/Facility/DuplicatePatientDialog.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Components/Form/SearchInput.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, redesign, Major Code Change

#4384 Removes `app-updated` from localStorage immediatley after showing update success notification
  src/Components/Common/UpdatableApp.tsx
Labels: needs testing

#4388 Replace SVGs used by login-hero with PNGs to stop consuming lots of memory in firefox
  public/images/wave_long.png
  public/images/wave_long.svg
  public/images/wave_long_2.png
  public/images/wave_long_2.svg
  public/images/wave_scene_square.png
  public/images/wave_scene_square.svg
  src/style/index.css
Labels: tested, good to merge

#4307 Bump tailwindcss:3.2.4
  .github/workflows/cypress.yaml
  Dockerfile
  netlify.toml
  package-lock.json
  package.json
  tailwind.config.js
Labels: tested

#4390 remove docker cache, use prebuilt care
  .github/workflows/cypress.yaml
Labels: need Review

#4257 Optimize job runs of deploy failed labeller
  .github/workflows/label-deploy-failed.yml
Labels: good to merge, stale

#4376 Seperated hook and component in useExport
  src/Common/hooks/useExport.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Export.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested, good to merge

#4366 Allow 11 digits only when a phone number starts with 1800
  src/Components/Common/HelperInputFields.tsx
Labels: tested

#4357 Use facility.middleware_address for asset.meta.middleware_hostname
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Patient/PatientVitalsCard.tsx
  src/Redux/actions.tsx
Labels: need Review, tested, P1

#4399 Fix(asset): Asset configuration warranty date is malfunctioning
  src/Components/Facility/AssetCreate.tsx
Labels: urgent, tested, P1

#4223 Adds `config.json`, `useConfig` hook and move `dashboard_url` from env to config
  .env
  public/config.json
  src/App.tsx
  src/Common/env.tsx
  src/Common/hooks/useConfig.ts
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Patient/PatientHome.tsx
  src/Redux/Reducer.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: Done

#4430 Add margin after Warranty / AMC Expiry label
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4422 Show default cursor in log update tile and upgrade its buttons
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#4420 Reposition primary buttons in asset create form
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4413 Migrated all Multilineinput component to textareaform field and inputlabel to field label in sample test component
  src/Components/Patient/SampleTest.tsx
Labels: tested

#4411 Migrated all Multilineinput component to textareaform field and input label to field label in patient register component
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#4008 Added a modal to notify user if a existing triage exist
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/TriageForm.tsx
Labels: tested

#4304 Delete asset button
  package.json
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Assets/AssetsList.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#4324 Hide Linked Facility button added on Users page
  cypress/e2e/users_spec/user_crud.cy.ts
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#4408 Migrated all buttons to buttonv2 and modal to dialog modal in fileupload component
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4401 Remove initial red border for invalid input
  src/style/CAREUI.css
Labels: tested

#4400 scroll to top on page change
  src/Components/Common/Pagination.tsx
Labels: need Review, tested

#4377 Fix (Sidebar): made the sidebar collapse on clicking active links
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
Labels: tested

#4436 Fixes spelling for "Limb Response"
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__NeurologicalMonitoringEditor.res
  src/Components/CriticalCareRecording/components/CriticalCare__Home.res
Labels: tested

#4431 Move cancel button to left on Consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4421 Use std. Cancel, Submit buttons in Discharge modal
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#4437 Added support for xlsx files in Asset Import
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Common/hooks/useExport.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Export.tsx
  src/Utils/utils.ts
Labels: tested, P1
