Repository ohcnetwork/care_fe, pull requests merged in 2022-02, with the labels that each got.

#2058 removed empty records in Pressure Sore in Consultations
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
Labels: tested

#2059 Latest DailyRounds data on Treatment Summary
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Patient/models.tsx
Labels: tested

#1931 Fix alignment in COVID Disease Status
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge

#2081 fix TeleICU Switch
  src/Components/Patient/DailyRounds.tsx
Labels: need testing

#2088 prevent showing feed tab unnecessarily
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/models.tsx
Labels: tested

#2073 Changed navigate to Link for Sidebar items in AppRouter
  src/Router/AppRouter.tsx
Labels: tested

#2072 reduce comments per page number
  src/Components/Resource/CommentSection.tsx
Labels: tested

#2077 Fix issue#2047
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#2093 Added mandatory * to `Emergency Phone Number` field in FacilityCreate form
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#2083 add patient button
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#2089 tidy-up asset ui
  src/Components/Assets/AssetManage.tsx
Labels: tested

#2110 Camera Feed UI Redesign | Fix issue#2107
  src/Components/Facility/Consultations/Feed.tsx
  src/Router/AppRouter.tsx
  src/style/index.tailwind.css
Labels: In Progress

#2115 Fix Asset Creation
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#2103 Make sidebar collapsible | Issue#2101
  .env
  package-lock.json
  package.json
  public/images/logo_collapsed.svg
  src/Common/constants.tsx
  src/Components/Common/SideBar.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Users/UserProfile.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2128 "Assigned To" User List
  src/Components/Common/UserSelect.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested

#2126 Fix Validation in Consultation
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#2120 Pain Scale in Vitals Editor
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/CriticalCareRecording/HemodynamicParameters/DailyRound__HemodynamicParameters.res
  src/Components/CriticalCareRecording/types/CriticalCare__HemodynamicParameters.res
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested

#2119 Inventory Management - Update Breadcrumbs
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2098 change in redirection for normal rounds type
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#2078 Redesign Bulky facility UI | Issue#2034
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#2134 TeleICU Patient Page
  public/images/empty_avatar.jpg
  src/Common/constants.tsx
  src/Common/utils.tsx
  src/Components/Patient/models.tsx
  src/Components/TeleIcu/Icons/ArrowIcon.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/VitalsGraph.tsx
  src/Components/TeleIcu/Patient/index.tsx
  src/Router/AppRouter.tsx
Labels: question
