Repository ohcnetwork/care_fe, pull requests merged in 2022-10, with the labels that each got.

#3679 show audio files in the patient dashboard files
  src/Components/Patient/FileUpload.tsx
Labels: urgent, tested

#3672 Updates `README.md` to allow open source contributors to get started more easily
  README.md
  vercel.json
Labels: Done

#3709 Cypress: Satisfy new `.env` file requirement in local compose.
  .github/workflows/cypress.yaml
Labels: urgent, Done

#3206 Made all focus of input to green color in Critical Care Recorders
  src/Components/Common/prescription-builder/components/Prescription__Builder.res
  src/Components/Common/prescription-builder/components/Prescription__Picker.res
  src/Components/CriticalCareRecording/IOBalance/IOBalance__UnitPicker.res
  src/Components/CriticalCareRecording/IOBalance/IOBalance__UnitSection.res
  src/Components/CriticalCareRecording/NursingCare/CriticalCare__NursingCareEditor.res
  src/Components/CriticalCareRecording/components/Slider.res
Labels: hacktoberfest-accepted, tested, good to merge

#3745 Prevented overlapping of content in user card in extreme small devices
  src/Components/Users/ManageUsers.tsx
Labels: hacktoberfest, tested

#3718 Fix alignment issue in DailyRounds
  src/Components/Patient/DailyRounds.tsx
Labels: hacktoberfest-accepted, tested

#3666 fix back navigation for death report page
  src/Components/DeathReport/DeathReport.tsx
Labels: tested, peer-reviewed

#3735 Improved the update facility form UI in extreme small devices
  src/Components/Facility/FacilityCreate.tsx
Labels: hacktoberfest, hacktoberfest-accepted, tested

#3717 Add loading tile for Update Log
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#3665 Fixed UI issues on Edit Bed and Edit Doctor Capacity page
  src/Components/Facility/BedCapacityForm.tsx
  src/Components/Facility/DoctorCapacityForm.tsx
Labels: tested

#3687 Uniform date/time format across CARE
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/ABGPlots.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Consultations/NutritionPlots.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/CommentSection.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Utils/utils.ts
Labels: tested

#3690 Fixed: Bed assign malfunction in consultation form
  src/Components/Common/BedSelect.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: hacktoberfest, tested, made_changes

#3731 Issue 2962 - scroll to top if in whitelist
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
  src/Router/AppRouter.tsx
Labels: tested

#3699 Make Patient summary plots responsive
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: hacktoberfest, tested

#3464 Refactored Hemodynamics
  src/Components/Common/utils/ValidationUtils.res
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/CriticalCareRecording/types/CriticalCare__HemodynamicParameters.res
Labels: tested

#3694 Fixed: Update Facility Malfunction
  src/Components/Facility/FacilityCreate.tsx
Labels: hacktoberfest, tested

#3733 Fixed: Minor UI change in the asset page
  src/Components/Assets/AssetsList.tsx
Labels: hacktoberfest, tested

#3741 Fix patient category selection
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#2921 Changed leaflet location picker to gmap
  package-lock.json
  package.json
  src/Common/env.tsx
  src/Common/utils.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/LocationSearchAndPick.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/style/index.css
  tsconfig.json
Labels: tested

#3372 Camera feed fallback protocol on IOS devices
  package.json
  src/Common/hooks/useHLSPlayer.ts
  src/Common/hooks/useMSEplayer.ts
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#3777 Fixed waveform
  src/Components/Facility/Consultations/components/LinePlot.tsx
Labels: urgent, needs testing

#3669 Made the teleicuvitalcard responsive
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: hacktoberfest, tested

#3748 Update packages and remove obsolete dependencies
  package-lock.json
  package.json
  src/Components/Auth/Login.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Common/SideBar.tsx
  src/Components/Common/UserSelect2.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#3789 Change error message for offline camera
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#3683 Use `Inter` font as the sans font
  public/index.html
  src/Components/Assets/AssetsList.tsx
  src/Components/Dashboard/PublicDashboard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
  src/Components/TeleIcu/PatientList.tsx
  src/Components/Users/ManageUsers.tsx
  src/style/index.css
  tailwind.config.js
Labels: need Review, Done, tested

#3728 Patient Category Colors
  src/Common/constants.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Common/SideBar.tsx
  src/Components/Common/UserSelect2.tsx
  src/Components/Facility/BedCapacityForm.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
  src/style/index.css
  tailwind.config.js
Labels: need Review, Done, tested

#3584 Patient Review feature fixes
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/models.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#3754 Keep loading spinner during a page redirect on login page
  src/Components/Auth/Login.tsx
Labels: tested

#3811 fixed queueData overflow issue in Waveform
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: urgent, tested

#3815 Fixed null issue in review_interval in DailyRounds
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: urgent, needs testing

#3802 fix: inventory management buttons are not uniform
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
Labels: hacktoberfest, tested, good to merge

#3813 UI fixes on asset list page
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/SearchBox.tsx
Labels: tested, good to merge

#3762 Added `AccordionV2` and `CollapseV2` components to replace MUI's Accordion and Collapse components
  src/Components/Common/components/AccordionV2.tsx
  src/Components/Common/components/CollapseV2.tsx
  src/Components/Common/components/ResponsiveMedicineTables.tsx
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested, good to merge, peer-reviewed

#3761 Added patient search by IP number
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge

#3528 feat. facility cover image upload
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/utils.ts
Labels: tested, good to merge

#3828 Scroll to top on Consultation Form load
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#3824 Fix PRN Prescription alignment
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
Labels: tested

#3744 📖 Storybook + 🛠 Tailwind Patient Filters
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  package-lock.json
  package.json
  postcss.config.js
  src/Common/constants.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangeInputV2.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/FilterButtons.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/SearchBox.tsx
  src/Components/Common/Spinner.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/HelperComponents.tsx
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/FieldValidators.ts
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Form/Utils.ts
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserProfile.tsx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/care_ui/Button.stories.tsx
  src/stories/care_ui/DateRangeInput.stories.tsx
  src/stories/care_ui/FormElements/TextAreaFormField.stories.tsx
  src/stories/care_ui/FormElements/TextFormField.stories.tsx
  src/stories/care_ui/MultiSelectMenu.stories.tsx
  src/stories/care_ui/SelectMenu.stories.tsx
  src/style/index.css
  tailwind.config.js
Labels: enhancement, need Review, tested, redesign, Major Code Change

#3823 Remove history of present illness card from medicine tab
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#3803 fix `animate-ping` effect of no consultation filed in patient card
  src/Components/Patient/ManagePatients.tsx
Labels: enhancement, need Review, tested

#3810 Fix: Dates not visible in graph (consultation page of patient)
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: tested

#3771 Changed asset page layout
  public/images/circle.svg
  public/images/wave_scene.svg
  public/index.html
  src/CAREUI/display/Chip.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/style/index.css
Labels: hacktoberfest, tested, redesign

#3796 Added new UI to log additional details in PressureSore
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
  src/Components/CriticalCareRecording/components/CriticalCare__Dropdown.res
  src/Components/CriticalCareRecording/types/CriticalCare__PressureSore.res
Labels: urgent, tested

#3816 Fixed death report check in PatientHome
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientHome.tsx
Labels: urgent, tested, good to merge

#3837 Fixed Phone url on Assets Waranty Card
  src/Components/Assets/AssetWarrantyCard.tsx
Labels: tested

#3839 Adjusted download button size in HospitalList
  src/Components/Facility/HospitalList.tsx
Labels: tested

#3834 Fixed the vital waveform initial breaking
  src/Common/constants.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: urgent, tested

#3835 Fixed camera is offline error in other than staging
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#3844 Show bed field while creation in ConsultationForm
  src/Components/Common/BedSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: urgent, waiting for back end

#3867 Fix ComboBox.Button being triggered on hitting space
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested, P1

#3863 fix phone input style and tailwind user filters
  src/Common/constants.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, P1, redesign

#3874 Close option list after selection (multi select AutoCompleteAsync)
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested, P1

#3884 Refetch patient data after bed is updated
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#3877 Upgrade Prescription dropdowns in Consultation form
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/utils/Tooltip.tsx
  src/Components/Form/SelectMenuV2.tsx
Labels: urgent, tested

#3885 Show dropdown list over mui modal in FacilitySelectDialougue
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
Labels: urgent, tested

#3865 fix: patient creation form back button
  src/Components/Common/PageTitle.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: need Review, tested
