Repository ohcnetwork/care_fe, pull requests merged in 2022-06, with the labels that each got.

#2594 Fix empty whatsapp no. field
  src/Components/Users/UserAdd.tsx
Labels: urgent, tested

#2625 Added spacing between elements to prevent User Profile Details from looking congested
  src/Components/Users/UserProfile.tsx
Labels: need testing

#2623 Removed white spaces of the filters from all eligible pages
  src/Components/Assets/AssetFilter.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: need testing

#2620 Fixed the hover effect issue in sample details button
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#2615 Fix Bed actions button style
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested, good to merge

#2607 Patient notes broken link fixed
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge

#2518 replace "Doctor Video" to "Doctor Connect"
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/TeleIcu/Patient/index.tsx
Labels: tested, good to merge

#2523 Removed State Test ID for Non-Covid
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, good to merge

#2531 Fixed the unresponsive behaviour of Resource(List View) page
  src/Components/Resource/ListView.tsx
Labels: tested, good to merge

#2540 Changed app title to CARE
  .env
  public/index.html
  src/Components/Common/PageHeadTitle.tsx
Labels: tested, good to merge

#2542 Prevented sending empty notification to facilities
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#2555 Fixed alignment of buttons: Patient Dashboard
  src/App.css
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#2556 Blank spaces won't be accepted in consultation form Issue#2553
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, good to merge

#2599 replaced all occurrences of whitespace-no-wrap to whitespace-nowrap (tailwind migration)
  package.json
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/NavTabs.tsx
  src/Components/Common/SideBar.tsx
  src/Components/CriticalCareRecording/DailyRound__Medicines.res
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, good to merge

#2539 Restyled for mobile view Issue#2535
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#2533 fix: responsive behaviour for resource page
  src/Components/Resource/ResourceBoardView.tsx
Labels: tested, good to merge

#2570 Fix row gap and column gap classes
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, good to merge

#2558 Fixed the button getting hidden in mobile screen of Patient Feed Page and Asset Configuration Page
  src/App.css
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#2528 Fixed the Ui unresposive behaviour of Shifting page in mobile devices
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2524 Added uniformity to the page Fixes Issue#2522
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#2493 Fixed the Ui of Patient page unresponsive behaviour in mobile
  src/App.css
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#2489 Fix asset qr code id empty string
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#2485 Adds hints for delete last entry, mark as accident and unmark actions in inventory management
  src/Components/Facility/InventoryLog.tsx
Labels: need Review, tested

#2490 Fixed the unresponsive behaviour of UI in sample test page
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested

#2386 Added 404 Error Page
  public/images/404.png
  src/App.css
  src/Components/ErrorPages/404.tsx
  src/Router/AppRouter.tsx
Labels: tested

#2472 Fixes Issue#2471
  .github/workflows/deploy.yaml
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested

#2442 Improve Sample Test page and Voice Recorder
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Utils/useRecorder.js
Labels: tested

#2506 bed management breadcrumb link fixed
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Facility/BedManagement.tsx
Labels: tested, good to merge

#2395 Fix API calls on Safari
  src/Redux/fireRequest.tsx
Labels: tested, good to merge

#2447 Made first_name and last_name mandatory in UserAdd
  src/Common/validation.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested, good to merge

#2525 Disallow empty notes and comments
  src/Components/Patient/PatientNotes.tsx
  src/Components/Resource/CommentSection.tsx
  src/Components/Shifting/CommentsSection.tsx
Labels: tested, good to merge

#2398 Renamed button from 'Add COVID Suspect/Patient' to 'Add Patient'
  src/Components/Patient/PatientRegister.tsx
Labels: tested, good to merge

#2470 Fixes missing quotes in .env and update REACT_APP_TITLE
  .env
Labels: tested, good to merge

#2499 Removed overlapping Fixes Issue#2492
  src/Components/Common/Pagination.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested, good to merge

#2644 Hide "copy logs from previous logs" if first consultation update
  src/Components/Patient/DailyRounds.tsx
Labels: tested, good to merge

#2639 fixed word wrapping in patient page tabs
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#2637 Partially improved patients details section for read-only users
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge

#2613 Fixed BP Decimal Precision to 2 decimal places
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: tested, good to merge

#2606 Added "No Data Found" on Samples Page Issue#2604
  src/Components/Patient/FileUpload.tsx
Labels: tested

#2586 Added "No Medical Found" on patients page & uniformity on Update Patient Page Issue#2585
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#2419 Fixed the unhandled situation of QR code Scanner
  src/Components/Assets/AssetsList.tsx
Labels: tested

#2567 Darken labels and fix col gap under profile
  src/Components/Users/ProfileComponents.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, good to merge

#2480 fix : Issue 2450 & 2479 - Revamp teleICU patient info card
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#2473 Modal for switching bed fixed
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#2468 Added option for 3rd dose
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#2691 adds rewrites for vercel
  vercel.json
Labels: need testing

#2563 Updated UI for Patient info card. Also shifted patient discharge buttons under the info card
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested, good to merge

#2534 Removed max height and filtered users by doctor type in DoctorVideoSlideover
  src/Components/TeleIcu/DoctorVideoSlideover.tsx
Labels: tested

#2600 Fixed the review alert
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#2610 Update list without reload on Samples page Issue#2609
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#2638 Removed App.css and index.scss, moved css imports to index.css
  src/App.css
  src/App.tsx
  src/Utils/Notifications.js
  src/index.scss
  src/style/index.css
Labels: tested, good to merge

#2669 Added spaces on resource page in mobile view
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
Labels: tested, good to merge

#2672 Solve hidden overflow in duplicate patient record modal
  src/Components/Common/VirtualizedTable.tsx
  src/Components/Facility/DuplicatePatientDialog.tsx
Labels: tested, good to merge

#2677 Fixed Minor UI bug in User page
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#2684 Center aligned the pagination on Results page Issue#2680
  src/Components/ExternalResult/ResultList.tsx
Labels: tested, good to merge

#2729 Fixed broken api issue in Summary Tab of Patient Dashboard
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: urgent

#2770 Fixed netlify issue
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  Dockerfile
  netlify.toml
  package-lock.json
  package.json
Labels: urgent

#2754 Changes "Patient Details" to "Patient Dashboard" in Consultation Page
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#2767 Removed the Tracing and Testing sections from the 'Patient Details' Page
  src/Components/Patient/PatientHome.tsx
Labels: tested, peer-reviewed

#2755 Removed Diagnosis section from Notes
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, peer-reviewed

#2746 Added Loader in Patient Notes removed the text Loading
  src/Components/Patient/PatientNotes.tsx
Labels: tested, peer-reviewed

#2734 Added "No Data Found" under Corona triage on facility page Issue#2733
  src/Components/Facility/FacilityHome.tsx
Labels: tested, peer-reviewed

#2722 404 page displayed on logout fixed
  src/Components/Common/SideBar.tsx
Labels: tested, peer-reviewed

#2717 Fixed notification on user create
  src/Components/Users/UserAdd.tsx
Labels: tested, peer-reviewed

#2714 Fix transfer error message display
  src/Components/Facility/TransferPatientDialog.tsx
Labels: tested, peer-reviewed

#2474 Added appropriate message when no data is found
  src/Components/Facility/Consultations/MedicineTables.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
Labels: tested, good to merge

#2688 Fixed Malfunction : Pressure Sore history
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
Labels: tested

#2690 fix incorrect coorindates validation
  src/Common/validation.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#2693 Fixed Now Date of Result cannot be selected before Date of Sample in patient registration Form
  src/Components/Common/HelperInputFields.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#2702 Fix pagination
  src/Components/Common/Pagination.tsx
Labels: tested

#2713 Minor UI fix on Patient Details page
  src/Components/Patient/PatientHome.tsx
Labels: tested

#2743 Added 'History of present illness' card in consultation details
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#2766 Added Location name
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested

#2757 Fixed PatientURL
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#2806 Fixed issue-automation workflow
  .github/workflows/issue-automation.yml
Labels: peer-reviewed

#2777 Improving the UI for notice board
  src/Components/Notifications/NoticeBoard.tsx
Labels: tested, peer-reviewed

#2774 Esc key closes the popup of update sample test status Issue#2679
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested, peer-reviewed

#2780 Fix incorrect icon for preview file and improve alignment
  src/Components/Patient/FileUpload.tsx
Labels: tested, peer-reviewed

#2699 Improve bed UI
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested

#2709 Added distinction between doctor and staff list and changed UI
  src/Components/TeleIcu/DoctorVideoSlideover.tsx
Labels: tested

#2786 added respiratory validation in the Daily Rounds form and prevented it from submitting
  src/Components/Patient/DailyRounds.tsx
Labels: tested, peer-reviewed

#2653 Adds Asset Class field and Improve Asset Type option's descriptions
  package.json
  src/Components/Assets/AssetTypes.ts
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: need Review, tested

#2875 Fixed useEffect conflict and logical error in form validation in DailyRounds
  package-lock.json
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#2816 Fixed patient health card
  src/Components/Patient/PatientHome.tsx
Labels: tested, peer-reviewed

#2724 add non-binary gender type to constants
  src/Common/constants.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, good to merge, peer-reviewed

#2796 Fix form validation on shift details update page
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, good to merge, peer-reviewed

#2799 Added Validator for Medicine field
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, good to merge, peer-reviewed

#2847 Now field of Category and Subcategory are visible in mobile devices in Resource Request Form
  src/Components/Resource/ResourceCreate.tsx
Labels: tested, good to merge

#2853 Made the User management responsive for IPad
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#2864 Added Mandatory Label
  src/Components/Patient/SampleTest.tsx
Labels: tested, good to merge

#2877 Fixed investigation report styling issue
  src/style/index.css
Labels: tested, good to merge, peer-reviewed

#2884 Changed error message in sample management system
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested, good to merge

#2885 Fixed malfunction of patient notes
  src/Components/Patient/PatientNotes.tsx
Labels: tested, good to merge

#2905 Fix alignment issue in Consulation Details page.
  src/Components/TeleIcu/Patient/InfoCard.tsx
Labels: tested, good to merge

#2913 Fixed: Consultation page Malfunction
  src/Router/AppRouter.tsx
Labels: tested, good to merge, peer-reviewed

#2923 Improved UI on Results page
  src/Components/ExternalResult/ResultList.tsx
Labels: tested, good to merge

#2930 Made Resource page responsive in Ipad
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
Labels: tested, good to merge, peer-reviewed

#2932 Fixed re-admission of the patient
  src/Components/Patient/PatientHome.tsx
Labels: urgent, tested, good to merge

#2933 Updated zoom_values
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#2937 Esc key closes the create patient popup
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/AdvancedFilterButton.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
Labels: tested, good to merge

#2940 Fix success text when sending a sample
  src/Components/Patient/PatientHome.tsx
Labels: tested, good to merge, peer-reviewed

#2792 Updated Bed Types in Patient Filter
  src/Common/constants.tsx
Labels: tested, peer-reviewed
