Repository ohcnetwork/care_fe, pull requests merged in 2022-11, with the labels that each got.

#3894 Close user select dropdown on blur
  src/Components/Common/OnlineUsersSelect.tsx
Labels: tested

#3893 Fix outer border for OnlineUsersSelect
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#3892 Enhanced the Ui in Updates tab of a particular patient in tab devices
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#3883 fix(patient): patient page alignment is off
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3899 Bump node LTS version to `18.x`
  package.json
Labels: good to merge

#3914 Scroll Facility page to top on load
  src/Components/Common/PageTitle.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#3910 Fix error message position
  src/Components/Facility/TriageForm.tsx
Labels: tested

#3840 Add Session Expired page and change illustrations
  public/images/404.png
  public/images/404.svg
  public/images/session_expired.svg
  src/Components/Common/SideBar.tsx
  src/Components/ErrorPages/404.tsx
  src/Components/ErrorPages/SessionExpired.tsx
  src/Redux/fireRequest.tsx
  src/Router/SessionRouter.tsx
  src/Utils/utils.ts
Labels: tested

#3925 Improve FacilitySelect menu
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P1

#3918 Added create more button in the asset creation form
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#3916 Fix patient page header position on scroll
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P1

#3801 fix: misalignment of No Assets Found text
  src/Components/Assets/AssetsList.tsx
Labels: hacktoberfest, tested

#3909 update notification card UI
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#3922 Added same loader on Patients page
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3933 Align buttons on Bed Management page
  src/Components/Facility/BedManagement.tsx
Labels: tested

#3843 Redesigned Sidebar
  package.json
  src/Common/constants.tsx
  src/Components/Common/SideBar.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Common/utils/Tooltip.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Users/UserProfile.tsx
  src/Router/AppRouter.tsx
  src/style/index.css
  tailwind.config.js
Labels: need Review, Done, tested, redesign

#3901 Now facility icons are visible in mobile devices
  src/Components/Facility/HospitalList.tsx
Labels: tested

#3927 Added procedures in ConsultationForm
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#3853 Login page revamp
  public/images/wave_long.svg
  public/images/wave_long_2.svg
  public/images/wave_scene_square.svg
  src/CAREUI/interactive/LegendInput.tsx
  src/Components/Auth/ForgetPassword.tsx
  src/Components/Auth/Login.tsx
  src/Components/Auth/index.tsx
  src/Components/Common/LanguageSelectorLogin.tsx
  src/Components/Dashboard/PublicDashboard.tsx
  src/Locale/en/Common.json
  src/Router/SessionRouter.tsx
  src/style/CAREUI.css
  src/style/index.css
Labels: tested

#3941 Sidebar: reverts current tab detection logic to the logic before redesign
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
Labels: need Review, tested, P1

#3962 Fixed selection issue in Prescription Builder
  src/Components/Common/FacilitySelect.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested, P1, cypress failed

#3951 fix antenatal and vaccinated doses filter issues in patient fitlers
  src/Components/Assets/AssetFilter.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Users/UserFilter.tsx
Labels: need Review, Done, tested, P1

#3979 Fixed the blank space at the bottom in ConsultationForm while updating
  src/Components/Form/SelectMenuV2.tsx
Labels: tested, P1, cypress failed

#3970 User filters: fix phone number parse issue when cleared
  src/Components/Users/UserFilter.tsx
Labels: need Review, tested

#3947 Allow only image files for facility cover file input
  src/Components/Facility/CoverImageEditModal.tsx
Labels: tested

#3936 use correct patient category colors for badge in log update tiles
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: need Review, tested

#3882 fix(asset): droplist is stretching the asset page
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: Done, tested

#3700 Removed unnecessary imports and added checkUsername route for User Creation page
  src/Components/Users/UserAdd.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: API Done, tested

#3991 Added sidebar indicator
  package-lock.json
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/style/CAREUI.css
  src/style/index.css
Labels: tested

#3974 fix(cypress): Cypress test are failing locally
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/forget_password.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/support/commands.ts
  src/Components/Auth/Login.tsx
Labels: urgent, needs testing

#3942 AutoCompleteAsync: make button and input as peers instead of parent children
  src/Components/Form/AutoCompleteAsync.tsx
Labels: urgent, need Review, tested, P1

#3948 Scroll to top when add more assets is clicked
  src/Common/constants.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Router/AppRouter.tsx
Labels: tested

#3897 Added Home Facility name beside doctors name while assigning doctor in Consutation Page
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Users/models.tsx
Labels: tested

#3934 Show password requirement error during input
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested

#3768 Waveform Refresh Mode
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
Labels: urgent, tested, P1

#4037 fix issue with search input accidentally debouncing
  src/Components/Form/SearchInput.tsx
Labels: urgent, tested

#4052 Production Release; Nov Week 2
  .github/pull_request_template.md
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/forget_password.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/support/commands.ts
  package-lock.json
  src/Common/constants.tsx
  src/Common/hooks/useActiveLink.ts
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/SearchBox.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/Form/SearchInput.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/TeleIcu/Patient/VitalsCard.tsx
  src/Components/TeleIcu/Patient/Waveform.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/Utils/utils.ts
  src/style/CAREUI.css
  src/style/index.css
Labels: cypress failed

#4055 Smooth scroll to top on pagination
  src/Components/Common/Pagination.tsx
Labels: tested

#4051 Update username availability message
  src/Components/Users/UserAdd.tsx
Labels: tested

#4050 Add patient note on discharged patients gives error notification
  src/Components/Patient/PatientNotes.tsx
Labels: tested

#3919 Added addtional labels to stale bot
  .github/workflows/stale.yml
Labels: cypress failed

#4053 Auto scroll to error on Asset Creation
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4043 Now on hovering on patient card the ui stays uniform in patient page
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4039 Improve applied filter badges on Users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4035 Made the Patients page Ui Responsive in Tab devices
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4030 Fix username clipping in sidebar
  src/Components/Common/Sidebar/SidebarUserCard.tsx
Labels: tested

#4018 Fix text overlapping on Manage Users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4046 Added drag and drop to facility image upload
  src/Components/Facility/CoverImageEditModal.tsx
  src/Utils/useDragAndDrop.ts
Labels: tested

#4048 Switch to ButtonV2 for Location and Bed management
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddLocationForm.tsx
Labels: tested, good to merge

#3819 Redesigned Facility Home Page
  src/Common/constants.tsx
  src/Common/hooks/useIsAuthorized.ts
  src/Components/Common/RoleButton.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/ContactLink.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Common/components/Table.tsx
  src/Components/Common/components/TextInputFieldV2.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
  src/Components/TeleIcu/Icons/DoctorIcon.tsx
  src/Components/TeleIcu/Icons/PatientIcon.tsx
  src/Utils/AuthorizeFor.tsx
  src/style/index.css
  tailwind.config.js
Labels: Done, tested, made_changes, redesign, Major Code Change

#4016 Fixed the navigation issue in BedManagement
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/BedManagement.tsx
Labels: tested

#3952 Added show details modal in preview mode for PressureSore
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
  src/Components/CriticalCareRecording/components/CriticalCare__Dropdown.res
  src/Components/CriticalCareRecording/types/CriticalCare__PressureSore.res
Labels: tested

#4079 Hide badge for unknown bed type
  src/Components/Facility/BedManagement.tsx
Labels: urgent, tested

#4082 Send null when location is not selected
  src/Components/Facility/FacilityCreate.tsx
Labels: urgent, tested, P1

#4086 fix (SetInventoryForm): removed state.form from useEffect deps
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/UpdateMinQuantity.tsx
Labels: urgent, tested, P1, cypress failed

#4061 Upload file option disabled for discharged patients
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#4101 Fix vendor name input on Asset page
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4087 Remove stop button from Live asset preview
  src/Common/constants.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#3767 Proxy camera feed PTZ requests through backend
  src/Common/hooks/useFeedPTZ.ts
  src/Common/hooks/useMSEplayer.ts
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#4091 Fix: disallow negative values on age field in patient filters
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#4092 Fix: Clear date fields and age field in patient filters
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#3964 Add and redirect to invalid password reset page
  public/images/invalid_reset.svg
  src/Components/Auth/ResetPassword.tsx
  src/Components/ErrorPages/InvalidReset.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/SessionRouter.tsx
Labels: tested

#4041 Generalize handling of filters and pagination with `useFilters` hook
  src/CAREUI/display/FilterBadge.tsx
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/Commons.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
Labels: need Review, tested, Major Code Change

#4107 Update facility_ref on change in SampleFilter
  src/Components/Patient/SampleFilters.tsx
Labels: tested, cypress failed

#4106 Allow state level users to assign facility from any district while creating a user
  src/Components/Users/UserAdd.tsx
Labels: tested, cypress failed

#4143 Removes reload button in facility page
  src/Components/Facility/BedTypeCard.tsx
Labels: need Review, tested, cypress failed

#4064 fix(FacilitySelect): Minor UI fix in patient popup
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Common/Dialog.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#3977 fix: replaced multiselect with new tailwind component
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: tested

#4145 Add toggle for camera access key visibility
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Form/FormFields/TextFormField.tsx
Labels: tested, good to merge

#4148 Fix input type for LegendInput
  src/CAREUI/interactive/LegendInput.tsx
Labels: needs testing

#4081 cicd: added EPIC label to stale exempt list
  .github/workflows/stale.yml
Labels: stale, cypress failed

#4142 Remove pages and components used under `/teleicu/...`
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientVitalsCard.tsx
  src/Components/Patient/Waveform.tsx
  src/Components/TeleIcu/Facility.tsx
  src/Components/TeleIcu/Icons/AdminIcon.tsx
  src/Components/TeleIcu/Icons/ArrowIcon.tsx
  src/Components/TeleIcu/Icons/BedIcon.tsx
  src/Components/TeleIcu/Icons/CCTVIcon.tsx
  src/Components/TeleIcu/Icons/WifiIcon.tsx
  src/Components/TeleIcu/Patient/VitalsGraph.tsx
  src/Components/TeleIcu/Patient/index.tsx
  src/Components/TeleIcu/PatientList.tsx
  src/Router/AppRouter.tsx
Labels: needs testing, need Review
