Repository ohcnetwork/care_fe, pull requests merged in 2023-09, with the labels that each got.

#6200 Improve Prescriptions table when No Medicines prescribed
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
Labels: tested, cypress failed

#6202 Fix Patient Crud Cypress
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  package-lock.json
  package.json
Labels: cypress passed

#6186 Medicine: Adds `type` filter for medibase search
  src/CAREUI/interactive/Switch.tsx
  src/Components/Medicine/MedibaseAutocompleteFormField.tsx
  src/Redux/actions.tsx
Labels: tested, cypress passed

#6215 Remove extra space on Add Triage form
  src/Components/Facility/TriageForm.tsx
Labels: tested, cypress passed

#6210 Remove extra loader and add success notification on link skills page
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested, cypress passed

#6189 Bug Fixed : Default filters on patients page loads
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress passed

#6170 Added nav link for bed status in consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress passed

#6206 Medicine Administrations: Adds `administered_date` input
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Form/FormFields/CheckBoxFormField.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Components/Medicine/models.ts
Labels: tested, cypress passed

#6229 Fix casing of plausible goal properties
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/PatientHome.tsx
Labels: needs testing, cypress passed

#6218 Diagnosis: Adds field Principal Diagnosis
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: tested, cypress passed

#6226 Open pdf file preview in new tab
  src/Components/Patient/FileUpload.tsx
Labels: tested, cypress passed

#6228 Changed weekly to average weekly for working hours
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, cypress passed

#6225 Fix fullscreen button for IOS
  src/Common/hooks/useFullscreen.ts
  src/Common/hooks/useMessageListener.ts
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/DischargeModal.tsx
Labels: tested, cypress passed

#5870 Added test for importing and configuring an asset and migrated patient_crud.ts to POM approach
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/fixtures/sampleAsset.xlsx
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientUpdate.ts
  cypress/pageobject/constants.ts
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested, cypress passed

#6194 User (Doctor) Autocomplete for Consultation Verified By
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Users/models.tsx
Labels: urgent, needs testing, cypress passed

#6197 Temporarily expose abdm health facility config directly
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: urgent, tested, P1, cypress passed, ABDM

#6245 cypress: fix inventory management
  cypress/pageobject/Facility/FacilityCreation.ts
Labels: cypress passed

#6248 Consultation Form: skip validation for `verified_by` if `suggestion` is Declare Death and fix discharge not working on create consultation
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1, cypress passed

#6252 Production Release; Sep Week 2
  .envrc
  .github/workflows/cypress.yaml
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/fixtures/sampleAsset.xlsx
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientUpdate.ts
  cypress/pageobject/Resource/ResourcePage.ts
  cypress/pageobject/constants.ts
  src/CAREUI/interactive/Switch.tsx
  src/Common/hooks/useFullscreen.ts
  src/Common/hooks/useMessageListener.ts
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/CheckBoxFormField.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/MedibaseAutocompleteFormField.tsx
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Components/Medicine/models.ts
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/index.tsx
  vite.config.ts
Labels: cypress passed

#6258 Refactor ConsultationDetails.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationDetails/ConsultationABGTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationDialysisTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFilesTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationInvestigationsTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationMedicinesTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNeurologicalMonitoringTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNeutritionTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNursingTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationPressureSoreTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationSummaryTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationVentilatorTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested, Major Code Change, cypress passed

#6243 Add validation for average working hours
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed, reviewed

#6251 Changed priority of backUrl and history for back button in pageTitle
  src/Common/hooks/useAppHistory.ts
Labels: tested, cypress passed

#6255 Asset filter parameters reset on unselect
  src/Components/Assets/AssetFilter.tsx
Labels: tested, cypress passed

#6238 Make the form consistent
  src/Components/Facility/AddLocationForm.tsx
Labels: tested, cypress passed

#6259 Disabled asset config button for users other than state and district admin
  src/Components/Assets/AssetManage.tsx
Labels: tested, cypress passed

#6266 add test to search asset by qr and serial number
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  cypress/pageobject/Asset/AssetSearch.ts
Labels: cypress passed

#6263 remove quotes from envs in `.env` and gitignore bun lock file
  .env
  .gitignore
Labels: need Review, cypress passed

#6270 fix load dummy data command
  .github/workflows/cypress.yaml
Labels: cypress failed

#6272 Refactor workflow to properly wait for migrations
  .github/workflows/cypress.yaml
Labels: cypress passed

#6262 Asset CSV export
  src/Common/constants.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, P1, cypress passed

#6239 Support for tracking consultation readmissions
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress passed

#6260 Add Consultation button is now conditionally active
  src/Components/Patient/PatientHome.tsx
Labels: tested, cypress passed

#5550 Added None option in admitted_to bed filters so that we can filter for patient who are admitted but no bed assigned
  src/Common/constants.tsx
Labels: tested

#6275 Added Cypress Test to verify Asset Filter Functionality
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  cypress/pageobject/Asset/AssetFilters.ts
  cypress/pageobject/Asset/AssetSearch.ts
  src/CAREUI/interactive/SlideOver.tsx
  src/Components/Assets/AssetFilter.tsx
Labels: need Review, cypress passed

#6274 Vitals Monitor (HL7): Add support to detect multiple ecg wavenames
  src/Components/VitalsMonitor/HL7DeviceClient.ts
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested, P1, cypress passed

#6285 fix `goBack` precedence
  src/Common/hooks/useAppHistory.ts
  src/Components/Assets/AssetType/ONVIFCamera.tsx
Labels: tested, P1, cypress passed

#6269 Implements `useQuery` & `request` data fetching utilities (used in Location Management page)
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/Utils/request/request.ts
  src/Utils/request/types.ts
  src/Utils/request/useQuery.ts
  src/Utils/request/utils.ts
Labels: need Review, tested, cypress passed

#6291 Add Cypress test to Assets Export Functionality
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  cypress/e2e/assets_spec/assets_creation.cy.ts
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
Labels: cypress passed

#6286 Cam reset
  src/Common/hooks/useHLSPlayer.ts
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested, P1

#6308 Added test to verify page redirection from facility details page to asset page
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  src/Components/Facility/FacilityHome.tsx
Labels: need Review, tested

#6300 Renamed "Verified By" to "Treating Physician"
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress passed

#6292 Changed requested values in all the places
  src/Common/constants.tsx
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__NeurologicalMonitoringEditor.res
  src/Components/CriticalCareRecording/types/CriticalCare__NeurologicalMonitoring.res
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested, cypress passed

#6284 Medibase Search: Skip showing selected option search results when query is present
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Medicine/MedibaseAutocompleteFormField.tsx
Labels: tested, cypress passed

#6222 Remove libphonenumber js
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Common/static/countryPhoneAndFlags.json
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
  src/Utils/utils.ts
Labels: tested, cypress passed

#6256 Improved asset details page
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
Labels: tested, cypress passed

#6309 Restrict Access to Asset Configurations for Specific Admin Roles
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
Labels: tested

#6312 Removed react-swipeable-views package
  package-lock.json
  package.json
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress passed

#6287 Refactor `App.tsx`, Providers, Integrations; Remove usage on redux's states; Adds support for notifications to `useQuery` and `request`
  src/App.tsx
  src/CAREUI/misc/ThemedFavicon.tsx
  src/Common/hooks/useAppHistory.ts
  src/Common/hooks/useFilters.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Integrations/Plausible.tsx
  src/Integrations/Sentry.tsx
  src/Integrations/index.tsx
  src/Providers/AppConfigProvider.tsx
  src/Providers/AuthUserProvider.tsx
  src/Providers/HistoryAPIProvider.tsx
  src/Providers/index.tsx
  src/Redux/api.tsx
  src/Routers/AppRouter.tsx
  src/Routers/SessionRouter.tsx
  src/Routers/index.tsx
  src/Utils/request/handleResponse.ts
  src/Utils/request/request.ts
  src/Utils/request/types.ts
  src/Utils/request/useQuery.ts
  src/Utils/request/utils.ts
Labels: need Review, tested, cypress passed

#6315 Add docs for `request` and `useQuery`
  src/Utils/request/README.md
Labels: need Review

#6282 Prescriptions: Shrink discontinued prescriptions + Flip MAR timeline + Freeze primary columns in horizontal scroll
  src/Common/hooks/useRangePagination.ts
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Redux/actions.tsx
Labels: tested, cypress passed

#6314 Fix action field in consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: needs testing, cypress passed

#6204 Fix the loader display on Patient Notes page
  src/Components/Patient/PatientNotes.tsx
Labels: tested

#6327 Asset Configure: Migrate `useDispatch` to use `useQuery` (inherently fixes camera not reloading on configure saved)
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Redux/api.tsx
Labels: tested

#6332 Fix Ambulance Phone Number validation in Shifting
  src/Components/Patient/ShiftCreate.tsx
  src/Utils/utils.ts
Labels: tested

#6324 Improve type-safety of generic `TData` in `reqeust` module
  src/Utils/request/request.ts
  src/Utils/request/useQuery.ts
  src/Utils/request/utils.ts
Labels: good to merge

#6343 Update type defintions of ICD11
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/models.tsx
Labels: need Review

#6342 Display patient age in mm dd when younger than 1y
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/LegacyMonitorCard.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Utils/utils.ts
Labels: tested, P1, cypress passed

#6337 Enable clearing 'referred to' in discharge modal
  src/Components/Facility/DischargeModal.tsx
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested, cypress passed

#6318 Added logic for showing "Track Shifting" button when patient has active shifting
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested, cypress passed

#6358 `request`: adds type check for `TBody`
  src/Redux/api.tsx
  src/Utils/request/README.md
  src/Utils/request/request.ts
  src/Utils/request/types.ts
Labels: need Review

#6354 Remove default selection of patient category
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: needs testing, P1

#6359 Remove phone duplication check on patient update
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested
