Repository ohcnetwork/care_fe, pull requests merged in 2023-12, with the labels that each got.

#6757 Adds support for capturing time in Discharge Date
  src/Components/Facility/DischargeModal.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, P1

#6764 Update tooltip position in ConfigureHealthFacility
  src/Components/ABDM/ConfigureHealthFacility.tsx
Labels: tested

#6769 fixes #6766; Misaligned label in external results
  src/Components/ExternalResult/ResultList.tsx
Labels: tested

#6778 Update HL7 and ventilator middleware override
  src/Components/Assets/AssetTypes.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: tested

#6694 Modified the external results sample format
  public/External-Results-Template.csv
  public/config.json
  src/Components/ExternalResult/ExternalResultUpload.tsx
Labels: tested

#6794 separated bedname and location name
  src/Components/Common/BedSelect.tsx
Labels: tested

#6713 Added a Date/time and round type filter for log updates
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Utils/request/utils.ts
Labels: tested

#6640 Use relative time for audit log details.
  src/CAREUI/display/RecordMeta.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#6596 Replaced useDispatch w. useQuery/request: Users (src/Components/Users/**) [5 out of 5 components]
  src/Components/Common/SkillSelect.tsx
  src/Components/Facility/models.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge

#6823 Invalidate filters cache upon login attempt
  src/Components/Auth/Login.tsx
  src/Utils/utils.ts
Labels: needs testing, P1

#6592 Added location type to location form
  cypress/e2e/facility_spec/locations.cy.ts
  src/Components/Assets/AssetTypes.tsx
  src/Components/Facility/AddLocationForm.tsx
Labels: needs testing, P1

#6755 Fix investigation builder crash
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#6759 fix responsiveness on patients page
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#6813 fixes #6810; format date and time for discharge date
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: tested

#6806 Allow occupancy indicator to resize when default font size changes.
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#6781 Refactor user delete permissions to allow StateAdmin and DistrictAdmin
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Users/ManageUsers.tsx
  src/Utils/utils.ts
Labels: tested

#6793 Disable submit button in round type normal if no value selected
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#6760 Add MEWS Component
  src/Components/Facility/Consultations/Mews.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/models.tsx
Labels: tested, P1

#6836 Add loading screen in index.html
  index.html
Labels: tested

#6832 Show error for invalid records of import external results page
  src/Components/ExternalResult/ExternalResultUpload.tsx
Labels: tested

#6829 Fix patient name in transfer success notification
  src/Components/Facility/TransferPatientDialog.tsx
Labels: tested

#6827 Fix tooltip in users
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#6826 Update API path for asset service records
  src/Redux/api.tsx
Labels: tested

#6825 Resolve page scroll resets in consultations tabs.
  src/Components/Facility/ConsultationDetails/ConsultationABGTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationDialysisTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNeurologicalMonitoringTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNursingTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNutritionTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationSummaryTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationVentilatorTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Patient/FileUpload.tsx
Labels: tested

#6845 use celery beat to check for pending migrations
  .github/workflows/cypress.yaml
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/patient_spec/patient_manage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6852 Sort wards by ward number in filters + adds utility method: `compareBy`
  src/Components/Diagnosis/LegacyDiagnosesList.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/RangeAutocompleteFormField.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/utils.ts
Labels: tested

#6848 Remove trailing spaces in textbox while adding new user.
  src/Components/Users/UserAdd.tsx
Labels: tested

#6841 Fixed update button in bed management.
  src/Components/Facility/AddBedForm.tsx
Labels: tested

#6842 Fix tooltip styling in the patient's dashboard.
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6840 Added same logic for disabling in both mobile and desktop view
  src/Components/Patient/PatientHome.tsx
Labels: tested

#6867 fix resend otp in abdm aadhar signup
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/models.ts
Labels: tested

#6869 Hide "Something went wrong" notification when username conflict
  src/Components/Users/UserAdd.tsx
Labels: tested

#6872 daily rounds, clone last default to null
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#6777 thank everyone (including fork branches)
  .github/workflows/thank-you.yml
Labels: need Review

#6725 Remove Copilot for PR tags
  .github/pull_request_template.md
Labels: good to merge, reviewed

#6860 Disable critical care submit if only basic editor is filled
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
Labels: tested

#6831 Add Telemedicine as a rounds type option
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Consultation.json
Labels: tested, P1

#6884 Fix pincode API
  src/Components/Facility/FacilityCreate.tsx
  src/Utils/utils.ts
Labels: tested

#6878 Removed Date of Positive & Negative in Treatment Summary
  src/Components/Facility/TreatmentSummary.tsx
Labels: tested

#6873 feat: show correct error message for interval server errors
  src/Redux/fireRequest.tsx
  src/Utils/request/handleResponse.ts
Labels: tested

#6863 Update GitHub action versions
  .github/workflows/deploy.yaml
  .github/workflows/linter.yml
  .github/workflows/ossar-analysis.yml
Labels: tested

#6853 Redesign location card UI
  src/Components/Assets/AssetTypes.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/models.tsx
Labels: tested

#6719 Rename "Admission Date" to encounter specific labels
  src/Common/constants.tsx
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#6887 🧹 Remove unused redux actions, fireRequest for file utility method, hooks and components
  src/Common/hooks/useIsInitialRender.ts
  src/Components/Common/NavTabs.tsx
  src/Components/Common/WardAutocompleteFormField.tsx
  src/Redux/actions.tsx
  src/Redux/fireRequest.tsx
Labels: need Review

#6894 Fix pincode district name comparison
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#6897 Adds support for units for `max_dosage`
  src/Components/Form/FormFields/NumericWithUnitsFormField.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
  src/Components/Medicine/models.ts
Labels: tested, P1

#6908 Fixes Filters Cache restore logic
  cypress/e2e/facility_spec/facility_creation.cy.ts
  src/Common/hooks/useFilters.tsx
Labels: tested

#6907 New Cypress Test | Facility Location and Bed Management | Facility Module
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/pageobject/Facility/FacilityLocation.ts
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/LocationManagement.tsx
Labels: tested

#6916 Revert "Disable critical care submit if only basic editor is filled"
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
Labels: tested

#6868 Hide Camera Feed button for patient with no bed assigned.
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested

#6914 Rename encounter date field labels
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#6893 Support for self-healing Consultation URL
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Routers/routes/ConsultationRoutes.tsx
Labels: tested

#6808 Timeline style view for Daily Rounds
  src/CAREUI/display/RecordMeta.tsx
  src/CAREUI/display/Timeline.tsx
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRounds/VirtualNursingAssistantLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#6912 New Cypress Test | Facility Pagination, Navigation and Duplicate Bed Error | Facility Module (#6907)
  cypress/e2e/facility_spec/facility_homepage.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Facility/FacilityLocation.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#6892 Replace all window.location.reload() with data refetch.
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6591 Replaced useDipatch with useQuery/request in FacilityCreate and HospitalList files
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/models.tsx
  src/Redux/api.tsx
  src/Utils/request/useQuery.ts
Labels: tested

#6875 Use resolved_middleware for overrides
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
  src/Components/CameraFeed/CentralLiveMonitoring/index.tsx
  src/Components/CameraFeed/utils.ts
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#6880 Fix mispositioned active link indicator
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
Labels: tested

#6909 Migrate Bed Management to `useQuery` and move pagination state to query params
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  src/Components/Facility/BedManagement.tsx
  src/Redux/api.tsx
Labels: tested

#6934 Fix latitude and longitude handling in FacilityCreate component
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#6898 Add OP number to treatment summary.
  src/Components/Facility/TreatmentSummary.tsx
Labels: tested, P2

#6935 Add consciousness level options for normal daily round type
  src/Common/constants.tsx
  src/Components/Form/FormFields/RadioFormField.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#6937 Fix empty state in LocationManagement and BedManagement
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/LocationManagement.tsx
Labels: tested

#6948 fixes not found errors in investigation and other type errors
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/models.tsx
Labels: tested, P1

#6947 Update consciousness level constants
  src/Common/constants.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#6949 fix resp. rate from being 0 instead of null when unset
  src/CAREUI/display/RecordMeta.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested, P1

#6951 Daily Rounds: Fix previous log update not being detected
  src/Components/Patient/DailyRounds.tsx
Labels: tested, P1

#6954 fix daily rounds vital fields not clearing
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Facility/Consultations/Mews.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested, P1

#6955 Fix conditional logic in PatientInfoCard
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested
