Repository ohcnetwork/care_fe, pull requests merged in 2023-11, with the labels that each got.

#6538 Refactor middleware hostname in Feed component
  src/Common/hooks/useMSEplayer.ts
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#6540 Show camera feed button only for specific roles
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested

#6495 Redirect to Original URL After Session Expiry and Re-login
  src/Components/Auth/Login.tsx
  src/Redux/fireRequest.tsx
  src/Utils/request/handleResponse.ts
  src/Utils/utils.ts
Labels: tested

#6396 Group medicine administration by 4 hours + Support for archiving medicines + Administration Activity View + migrate `useDispatch` to `useQuery`
  src/CAREUI/display/RecordMeta.tsx
  src/CAREUI/display/Timeline.tsx
  src/CAREUI/interactive/ScrollOverlay.tsx
  src/CAREUI/interactive/SlideOver.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Facility/ConsultationDetails/ConsultationMedicinesTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/DiscontinuePrescription.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
  src/Components/Medicine/ManagePrescriptions.tsx
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventSeperator.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/MedicineAdministrationSheet/BulkAdminister.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/MedicineAdministrationSheet/utils.ts
  src/Components/Medicine/MedicineAdministrationsTable.tsx
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
  src/Components/Medicine/PrescriptionsTable.tsx
  src/Components/Medicine/PrescrpitionTimeline.tsx
  src/Components/Medicine/ResponsiveMedicineTables.tsx
  src/Components/Medicine/models.ts
  src/Components/Medicine/routes.ts
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/request/useQuery.ts
  src/Utils/request/utils.ts
  src/Utils/utils.ts
Labels: tested, Major Code Change, cypress passed

#6536 🔧 Hide Camera Feed Tab for bed with no camera attached.
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#6535 Remove redundant facility selection pop-up for single facility users
  src/Components/Patient/ManagePatients.tsx
  src/Redux/api.tsx
Labels: tested

#6532 ☑️ Added Loading component while the assets are being fetched.
  src/Components/Assets/AssetsList.tsx
Labels: tested

#6479 change the NIBP display from last 30 mins to current bed assignment date
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/types.ts
  src/Redux/api.tsx
Labels: tested

#6543 Replace useDispatch w. useQuery/request: Notifications (src/Components/Notifications/**) #6392
  package-lock.json
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Components/Notifications/models.tsx
  src/Redux/api.tsx
Labels: tested

#6533 Replaced useDispatch w. useQuery/request: Shifting (src/Components/Shifting/**)
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Facility/models.tsx
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/CommentSection.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Shifting/models.ts
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#6497 Added LiveFeedScreen page
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/LiveFeedScreen.tsx
  src/Components/Facility/LiveFeedTile.tsx
  src/Routers/routes/FacilityRoutes.tsx
Labels: tested, P2

#6559 fixes #6504; fix sign out issue
  src/Utils/utils.ts
Labels: tested, P2

#6564 New Cypress Test | Functionality test of Linking and Unlinking Facility | User Tab
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Users/ManageUsers.tsx
Labels: need Review

#6566 New Cypress Test | Functionality test of Adding working hour to user and verify its reflection | User Tab
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/Components/Users/ManageUsers.tsx
Labels: need Review

#6563 Added max width constraint to the cards.
  src/Components/Facility/FacilityConfigure.tsx
Labels: tested

#6547 fix responsive issue in sidebar
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, cypress passed

#6562 Fixed Multiple duplicate API requests dispatched to fetch resource comments
  src/Components/Resource/CommentSection.tsx
Labels: tested

#6569 fix cypress: resource and sample test
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
Labels: tested, P1

#6528 Refactor Consultation Diagnosis (M2M relation, additional verification statuses and other improvements)
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Common/hooks/useSlug.ts
  src/Components/Common/DiagnosisSelectFormField.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Diagnosis/ConditionVerificationStatusMenu.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisEntry.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/PrincipalDiagnosisSelect.tsx
  src/Components/Diagnosis/LegacyDiagnosesList.tsx
  src/Components/Diagnosis/routes.ts
  src/Components/Diagnosis/types.ts
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Locale/en/Common.json
  src/Locale/en/Diagnosis.json
  src/Locale/en/index.js
  src/Redux/actions.tsx
Labels: important, Backend, tested, P1, cypress passed

#6577 Live Feed: Hide sorting filter
  src/Components/Facility/LiveFeedScreen.tsx
Labels: tested, P1

#6581 Fix clear button for CNS location filter
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/LiveFeedScreen.tsx
Labels: needs testing

#6586 refresh administrations upon archive
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/PrescrpitionTimeline.tsx
Labels: tested

#6588 iOS: fix add user button alignment
  src/Components/Users/ManageUsers.tsx
Labels: tested

#6626 Fixed dosage field malfunctioning.
  src/Components/Form/FormFields/NumericWithUnitsFormField.tsx
Labels: tested, P1

#6655 Add delay before live feed reconnect
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#6578 🪛 Fixed Non-uniform height of Asset List Tiles.
  src/Components/Assets/AssetsList.tsx
Labels: tested, good to merge

#6639 Fix styling issues in the patient details page
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested

#6643 Add Frontend validation in the add multiple bed function
  src/Components/Facility/AddBedForm.tsx
Labels: tested

#6623 Move the cancel button to the right in facility inventory add page!
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested

#6616 Fixed Facility Cover Image upload pop-up
  src/Components/Facility/FacilityHome.tsx
Labels: tested, P2

#6614 No close button once you open the discontinued prescriptions
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
Labels: tested

#6576 ✔️ Fixed reloading issue while Opening Investigations or Treatment Summary in Consultation Dashboard.
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6574 🚀 Improved info of vitals monitor in mobile view.
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested, good to merge

#6567 Improve rounding of the preset buttons. Fixes #6555
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested, good to merge

#6573 Aligned buttons to right
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#6379 Disable out of constraint dates in DateInputV2
  src/Components/Assets/AssetServiceEditModal.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Locale/en/Common.json
Labels: tested, good to merge, cypress passed

#6666 fixed image upload modal
  src/Components/Facility/CoverImageEditModal.tsx
Labels: tested

#6663 show delete user button only for stateAdmin
  src/Components/Facility/FacilityUsers.tsx
Labels: tested

#6662 Removed mandatory for Rhythm field
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#6654 Made Covid Detail section by default collapsed in patient advance filters
  src/Components/Patient/PatientFilter.tsx
Labels: tested

#6647 Fixed padding in "Reviewed before" chip in Consultation Dashboard
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6484 Replace useDispatch w. useQuery/request: Consultations #6372
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/Consultations/ABGPlots.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Consultations/NutritionPlots.tsx
  src/Components/Facility/Consultations/PainDiagrams.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
  src/Components/Facility/models.tsx
  src/Redux/api.tsx
Labels: tested

#6595 Implemented Insurance Details Page
  src/Components/HCX/models.ts
  src/Components/Patient/InsuranceDetails.tsx
  src/Components/Patient/InsuranceDetailsCard.tsx
  src/Components/Patient/PatientHome.tsx
  src/Redux/api.tsx
  src/Routers/routes/PatientRoutes.tsx
Labels: tested

#6579 Removed unnecessary multiple cancel buttons and added a Back button.
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Facility/FacilityConfigure.tsx
Labels: tested

#6645 Add auto-scroll function to error in add triage form
  src/Components/Facility/TriageForm.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/utils.ts
Labels: tested

#6683 add concurrency to deploy workflow to cancel-in-progress runs
  .github/workflows/deploy.yaml
Labels: need Review

#6458 Patient Consultation: Route to Facility 🏥, Admission Date & Time 🕚
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Common/constants.tsx
  src/Components/Common/RouteToFacilitySelect.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Utils/utils.ts
Labels: Backend, tested

#6685 Improve how time is shown in Administrations Timeline
  src/Components/Medicine/PrescrpitionTimeline.tsx
Labels: tested, P1

#6224 Redesign Doctor Notes (Review, QA, Testing)
  package-lock.json
  package.json
  src/CAREUI/icons/UniconPaths.json
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Facility/PatientNotesList.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Facility/models.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Locale/en/Consultation.json
  src/service-worker.ts
Labels: tested, C4GT, cypress passed, reviewed

#6698 fixes missing warranty validity filters
  src/Components/Assets/AssetsList.tsx
Labels: tested

#6703 Fix cypress for doctor notes
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Components/Facility/PatientNotesSlideover.tsx
Labels: needs testing

#6707 Revert buggy replacement of useDispatch with useQuery in Live Feed
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested, P1

#6709 Fix layout issue in DailyRoundsList component
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#6691 sandbox iframe in fileupload
  src/Components/Common/FilePreviewDialog.tsx
Labels: tested, reviewed

#6710 Filter out push notif and Fix empty daily rounds design
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#6711 Add icu_admission_date field to ConsultationForm
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#6728 Fix cypress test in doctor notes
  cypress/pageobject/Patient/PatientConsultation.ts
Labels: need Review

#6742 Allow route to facility to be edited if null
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1

#6575 replace useDispatch with useQuery and request in FacilityCard, FacililyHome and FacilityUsers
  src/Components/Facility/FacilityBedCapacity.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityDoctorList.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityHomeTriage.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge

#6746 Add validation for admission_date in consultation form.
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, good to merge

#6737 Removed the red asterisk from Review field on Log update
  src/Components/Patient/DailyRounds.tsx
Labels: tested, good to merge

#6721 changed bed type text in constants file
  cypress/e2e/facility_spec/facility.cy.ts
  src/Common/constants.tsx
Labels: tested, good to merge

#6674 Rearranging buttons in the Patient consultation page
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, good to merge

#6687 Hide KASP Advance Filter
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested, good to merge

#6688 hide location filter if facility is not selected
  src/Components/Common/LocationSelect.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested, good to merge

#6704 Navigate to doctor notes page upon doctor notes clicked if popup already in view
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested, good to merge

#6712 Remove blood group, weight and height badges on the top of patient info card
  src/Common/utils.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, good to merge

#6753 Fix feed in patient consultation
  src/Components/Facility/Consultations/Feed.tsx
Labels: need Review, tested, P1

#6675 showing errors on wrong numbers in PhoneNumberFormField
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested

#6724 Show discharge reason for OP consultations
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6750 Convert the unit from grams to kg in inventory form.
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested
