Repository ohcnetwork/care_fe, pull requests merged in 2023-06, with the labels that each got.

#5586 Fix padding in consultation card in patient details page.
  src/Components/Facility/ConsultationCard.tsx
Labels: urgent, tested, P1

#5578 fixed space between space between the KASP and View CNS button in facility card
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#5560 fixed width of patient bed select dialog box in patient dashboard
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#5603 Cypress Test - Create Consultation For a new patient
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Medicine/ManagePrescriptions.tsx
Labels: need Review, tested

#5587 Change proxy to use API in OHC domain
  README.md
  netlify.toml
  vercel.json
  vite.config.ts
Labels: need Review, cypress failed

#5582 replaced deprecated Material UI function
  src/index.tsx
Labels: tested

#5570 replaced MUI dialog and related components with DialogModal
  src/Components/Facility/BedDeleteDialog.tsx
Labels: tested

#5574 Displayed current facility, location in asset filter in Assets page
  src/Components/Assets/AssetFilter.tsx
Labels: tested

#5580 Fixed pagination bug in FileUpload Component
  src/Components/Patient/FileUpload.tsx
Labels: tested

#5589 feat: Temperature preference stored in local storage
  src/Components/Common/TemperatureSelector.tsx
  src/Components/Common/utils/DevicePreference.tsx
  src/Components/Facility/Consultations/DailyRounds/VirtualNursingAssistantLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientVitalsCard.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/UserProfile.tsx
  src/Utils/utils.ts
Labels: tested

#5594 Replaced Material UI with Care UI components in add bed form
  src/Components/Facility/AddBedForm.tsx
Labels: tested

#5596 Fixed overlapping buttons in Camera feed
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#5605 UI fix on facilities page
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#5610 Allows `asset_class` to be updated if value is `None`
  src/Components/Facility/AssetCreate.tsx
Labels: tested, cypress failed

#5593 Replaced Material UI and legacy form fields in external result update page
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Form/FormFields/RadioFormField.tsx
Labels: tested

#5622 🚀 Boost Cypress CI performance by using build preview instead of dev server
  .github/workflows/cypress.yaml
  vite.config.ts
Labels: need Review

#5466 Vitals Monitor 2.0 (Canvas Render) & Central Nursing Station 2.0
  package-lock.json
  package.json
  src/Common/hooks/useCanvas.ts
  src/Common/hooks/useFilters.tsx
  src/Common/hooks/useFullscreen.ts
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Common/Pagination.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/LegacyFacilityCNS.tsx
  src/Components/Facility/LegacyMonitorCard.tsx
  src/Components/Form/FormFields/CheckBoxFormField.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Patient/LegacyPatientVitalsCard.tsx
  src/Components/VitalsMonitor/HL7DeviceClient.ts
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/HL7VitalsRenderer.ts
  src/Components/VitalsMonitor/types.ts
  src/Components/VitalsMonitor/useHL7VitalsMonitor.ts
  src/Locale/en/SortOptions.json
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/style/CAREUI.css
  tailwind.config.js
Labels: tested, Major Code Change

#5637 Fix page area cropping out while printing
  src/Router/AppRouter.tsx
Labels: tested, P1

#5639 Fix Cypress test not using its own care backend
  .github/workflows/cypress.yaml
Labels: needs testing

#5643 Fix Cypress Random Failure
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/assets_spec/filter.cy.ts
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
Labels: tested

#5631 Tailwinds `SampleDetails.tsx`
  cypress/e2e/resource_spec/filter.cy.ts
  src/Components/Patient/SampleDetails.tsx
Labels: tested

#5630 Tailwinds `SampleFilters.tsx`
  cypress/e2e/sample_test_spec/filter.cy.ts
  src/Common/constants.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested

#5629 Tailwinds `UserAdd.tsx`
  src/Components/Users/UserAdd.tsx
Labels: tested

#5628 Tailwinds `UnlinkSkillDialog.tsx`
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/UnlinkSkillDialog.tsx
Labels: tested

#5627 Use `ReactDOM.createRoot` instead of `ReactDOM.render`
  src/index.tsx
Labels: need Review, tested

#5618 Tailwinds `DailyRoundListDetails.tsx`
  src/Components/Patient/DailyRoundListDetails.tsx
Labels: tested

#5617 Tailwinds `NotificationsList.tsx`
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#5616 Tailwinds `Beds.tsx`
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested

#5614 Tailwinds `FacilityUsers.tsx`
  src/Components/Facility/FacilityUsers.tsx
Labels: tested

#5613 Tailwinds `InventoryList.tsx`
  src/Components/Facility/InventoryList.tsx
Labels: tested

#5579 CareUI: Adds PhoneNumberFormField
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  package-lock.json
  package.json
  src/Common/static/countryPhoneAndFlags.json
  src/Components/Common/HelperInputFields.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Users/UserAdd.tsx
  src/react-phone-input-2.d.ts
Labels: tested

#5652 Added `cypress passed` label
  .github/workflows/cypress.yaml
  cypress/e2e/users_spec/user_crud.cy.ts
Labels: tested, cypress passed

#5626 CareUI: Adds `UserAutocompleteFormField` and used it in "Assigned To" filter field of Shifting
  cypress/e2e/shifting_spec/filter.cy.ts
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Common/UserSelect2.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/models.tsx
Labels: tested, cypress passed

#5615 Tailwinds `CoverImageEditModal.tsx`
  src/Components/Facility/CoverImageEditModal.tsx
Labels: tested

#5608 All the buttons are not in full width during responsive view, fixed
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
Labels: tested

#5672 fix user filter phone number initial and merge state
  src/Components/Users/UserFilter.tsx
Labels: tested, cypress passed

#5602 Cypress Tests: Added test for updating an existing patient.
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#5676 Removed Force:true from Cypress Asset Test
  cypress/e2e/assets_spec/assets.cy.ts
Labels: tested

#5697 Fix CSV exports
  src/Common/hooks/useExport.tsx
  src/Components/Common/CSVLink.tsx
  src/Components/Common/Export.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: urgent, tested, cypress passed

#5707 Revert "feat: Temperature preference stored in local storage (#5589)"
  src/Components/Common/TemperatureSelector.tsx
  src/Components/Common/utils/DevicePreference.tsx
  src/Components/Facility/Consultations/DailyRounds/VirtualNursingAssistantLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/LegacyPatientVitalsCard.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/UserProfile.tsx
  src/Utils/utils.ts
Labels: urgent, P1, cypress passed

#5706 CNS: Fix resolving of middleware_address
  src/Components/Facility/CentralNursingStation.tsx
Labels: urgent, tested, P1, cypress passed

#5705 Fix is_telemedicine checkbox
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#5709 Fix rescript dropdown not visible
  src/Components/CriticalCareRecording/IOBalance/IOBalance__UnitPicker.res
  src/Components/CriticalCareRecording/components/CriticalCare__Dropdown.res
Labels: needs testing

#5623 Replace material component in Add Inventory form
  cypress/e2e/facility_spec/inventory.cy.ts
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested, good to merge

#5711 Change error format for Facility config page
  src/Components/Facility/UpdateFacilityMiddleware.tsx
Labels: tested, cypress passed

#5694 Improve password check on reset pass page
  src/Components/Auth/ResetPassword.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested, cypress passed

#5684 Fix error message design on login page
  src/Components/Auth/Login.tsx
Labels: tested, cypress passed

#5725 rename spo2 to resp
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: cypress passed

#5671 Issue wordwrap solved
  src/Components/Patient/PatientNotes.tsx
Labels: tested, cypress passed

#5675 Create form context inside component
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Form/Form.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
Labels: tested, cypress passed

#5680 Fixed the minor bug in CNS Filter location field
  src/Components/Facility/CentralNursingStation.tsx
Labels: tested, cypress passed

#5718 Tailwind `LiveFeed.tsx`
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested, cypress passed

#5712 Fix alignment issue in Pain selector
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
Labels: tested, cypress passed

#5715 Make error messages consistent
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
Labels: tested

#5717 Tailwinds Log Lab Results page
  src/Components/Facility/Investigations/Table.tsx
  src/Components/Facility/Investigations/index.tsx
Labels: tested, cypress passed

#5670 Shows delete user button only for state admins or superuser
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed

#5669 Tailwinds Resources Filter
  cypress/e2e/resource_spec/filter.cy.ts
  src/Components/Common/DateRangeInputV2.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
  src/Components/Resource/ListFilter.tsx
Labels: tested, cypress passed

#5668 Tailwinds `ResourceDetails.tsx`
  src/Components/Resource/CommentSection.tsx
  src/Components/Resource/ResourceDetails.tsx
Labels: tested, cypress passed

#5667 Tailwinds `ResourceCreate.tsx`
  src/Components/Resource/ResourceCreate.tsx
Labels: tested, cypress passed

#5665 Tailwinds `LinkFacilityDialog.tsx`
  src/Components/Users/LinkFacilityDialog.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed

#5664 Tailwinds `ManageUsers.tsx`
  cypress/e2e/users_spec/user_crud.cy.ts
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed

#5662 Tailwinds Patient Home (Confirm Transfer Complete Dialog)
  src/Components/Patient/PatientHome.tsx
Labels: tested, cypress passed

#5661 Tailwinds Create Shift Form
  src/Components/Patient/ShiftCreate.tsx
Labels: tested, cypress passed

#5660 Tailwinds `SampleViewAdmin.tsx`
  src/Components/Patient/SampleViewAdmin.tsx
Labels: tested, cypress passed

#5657 Tailwinds `ManagePatients.tsx`
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress passed

#5656 Tailwinds `SetInventoryForm.tsx`
  src/Components/Facility/SetInventoryForm.tsx
Labels: tested, cypress passed

#5655 Tailwinds User Delete Dialog
  src/Components/Users/UserDeleteDialog.tsx
Labels: tested, cypress passed

#5653 Tailwinds `SampleTest.tsx`
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Patient/SampleTest.tsx
Labels: tested, cypress passed

#5650 Tailwinds `FacilityHome.tsx`
  src/Components/Facility/FacilityHome.tsx
Labels: tested, cypress passed

#5572 Replace Material UI components in src/Components/Shifting/ListFilter.tsx. Fixes #4996
  cypress/e2e/shifting_spec/filter.cy.ts
  src/Components/Shifting/Commons.tsx
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#5658 Tailwinds `SampleTestCard.tsx`
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, cypress passed

#5654 CareUI: Adds AutocompleteFormFields for State, District & LocalBody + Tailwinds Facility Filter
  src/Components/Common/DistrictAutocompleteFormField.tsx
  src/Components/Common/LocalBodyAutocompleteFormField.tsx
  src/Components/Common/StateAutocompleteFormField.tsx
  src/Components/Facility/FacilityFilter/LocalBodySelect.tsx
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested, cypress passed

#5649 Tailwinds / Migrates all usages of `RoleButton` to `ButtonV2` with `authorizedFor`
  src/Components/Common/RoleButton.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/MinQuantityList.tsx
Labels: tested, cypress passed

#5641 Handled the Rhythm card when no data is present
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested

#5728 Place Vitals Card at full-width at the very first of consultation updates section
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: tested, P1, cypress failed

#5740 Removes the blue vertical divider present at the start of the vitals canvas
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: tested, cypress failed

#5737 Fixes `z-` index of vitals component
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: tested, P1, cypress failed

#5732 Disable future date for Patient admission
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress failed

#5736 Fix header on Patient list page
  src/Components/Common/components/Page.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress failed

#5731 Add autosave to forms
  src/Components/Common/components/CollapseV2.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/Form.tsx
  src/Components/Form/FormContext.ts
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/Utils.ts
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/UserAdd.tsx
  src/Utils/AutoSave.tsx
Labels: tested, P1, cypress failed

#5751 Fix initial state of Create Shift form
  src/Components/Patient/ShiftCreate.tsx
Labels: urgent, tested, P1, cypress failed

#5754 Fixes phone number field initial state in user filters
  src/Components/Users/UserFilter.tsx
Labels: tested, cypress failed

#5752 Fixes padding in Sample Test Card
  src/Components/Patient/SampleTestCard.tsx
Labels: tested

#5755 Fix edit consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1, cypress failed

#5750 Restores `asset_class` disable edit logic
  src/Components/Facility/AssetCreate.tsx
Labels: urgent, tested, P1, cypress failed

#5759 Fixes crash in Sample Detail Page
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/models.tsx
Labels: urgent, tested, P1, cypress failed

#5761 Fix missing imports in Form component
  src/Components/Form/Form.tsx
Labels: tested, P1, cypress failed

#5757 Tailwind externalResult ListFilter
  src/Components/Common/WardAutocompleteFormField.tsx
  src/Components/ExternalResult/ListFilter.tsx
Labels: tested, cypress failed

#5700 removed mui usage in CriticalCare__Switch
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__NeurologicalMonitoringEditor.res
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__Switch.res
Labels: tested, cypress passed

#5677 Tailwind src/Components/Facility/Investigations/InvestigationTable
  src/Components/Facility/Investigations/InvestigationTable.tsx
Labels: tested, cypress passed

#5771 Auto refresh file list after upload
  src/Components/Patient/FileUpload.tsx
Labels: tested, cypress failed

#5769 fetch assets only when bed is assigned
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested, P1, cypress failed

#5659 Tailwind Feed and FeedButton
  src/Common/constants.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/FeedButton.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested, cypress failed

#5773 Hide CNS
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: urgent, P1

#5775 Hotfix: Skip libphonenumber's As You Type formatting
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: urgent, tested, P1, cypress failed

#5777 Fix icons in Live feed controller
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested

#5780 Add ventilator icon
  src/CAREUI/icons/UniconPaths.json
  src/Components/Assets/AssetTypes.tsx
Labels: tested, cypress failed

#5779 hide device in consultation page if not configured
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: urgent, tested, P1, cypress failed

#5498 Rename all instances of orgin_facility to origin_facility
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/Commons.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/Commons.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: waiting for back end, cypress failed

#5738 Asset Cypress : POM Approach
  cypress/e2e/assets_spec/asset_tab.cy.ts
  cypress/e2e/assets_spec/assets.cy.ts
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/e2e/assets_spec/filter.cy.ts
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/fixtures/external-result_sample.csv
  cypress/fixtures/externalresultsample.csv
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Asset/AssetFilters.ts
  cypress/pageobject/Asset/AssetPagination.ts
  cypress/pageobject/Asset/AssetQRScan.ts
  cypress/pageobject/Asset/AssetSearch.ts
  src/CAREUI/display/FilterBadge.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
Labels: cypress passed

#5787 Cypress Test | Facility Creation & Updation | POM Approach
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
Labels: cypress passed

#5784 Minor ui fixes in shifting and consultation
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Locale/en/Shifting.json
Labels: tested, cypress passed

#5782 Add validation to inventory management page
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested, cypress passed

#5647 Migrating to CareUI components in ResourceDetailsUpdate.tsx component
  src/Components/Resource/ResourceDetailsUpdate.tsx
Labels: tested, cypress passed

#5760 Fixed: Use stock adds to stock quantity instead of subracting from quantity
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested, P2, cypress passed

#5763 Removes usages of Legacy Components that are not covered by #5006
  src/Components/Common/DiagnosisSelect.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Common/components/Switch.tsx
  src/Components/ExternalResult/ExternalResultLocalbodySelector.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, cypress passed

#5663 Tailwinds Update Status Dialog
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested, cypress passed

#5792 Replace `AlertDialog` with `ConfirmDialog`
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/AddCard.tsx
  src/Components/Common/AlertDialog.tsx
  src/Components/Common/ConfirmDialog.tsx
  src/Components/Common/DateRangePicker.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/Facility/BedDeleteDialog.tsx
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/DiscontinuePrescription.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/ConfirmHomeFacilityUpdateDialog.tsx
  src/Components/Users/LinkFacilityDialog.tsx
  src/Components/Users/UnlinkFacilityDialog.tsx
  src/Components/Users/UnlinkSkillDialog.tsx
  src/Components/Users/UserDeleteDialog.tsx
Labels: tested, cypress passed

#5716 Tailwind src/Components/Facility/Investigations/Reports/*
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: tested, cypress passed

#5794 Fixed overflow and wrapping in vitals monitor
  src/Components/Facility/CentralNursingStation.tsx
  tailwind.config.js
Labels: tested, P1, cypress passed

#5719 Replaced material ui in FacilityCreate.tsx
  cypress/e2e/facility_spec/facility.cy.ts
  src/Components/Common/GLocationPicker.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, made_changes
