Repository ohcnetwork/care_fe, pull requests merged in 2023-08, with the labels that each got.

#5905 Fixed ventilator vitals monitor data overlapping waveforms
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: tested, cypress passed

#5975 Fix cypress patient test
  cypress/e2e/patient_spec/patient_crud.cy.ts
Labels: cypress passed

#5973 Change non-binary to transgender
  src/Common/constants.tsx
Labels: tested, P2, cypress passed

#5972 Fix month list in DateInput
  src/Components/Common/DateInputV2.tsx
Labels: tested, P1, cypress passed

#5413 Add support for creating multiple beds
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/BedManagement.tsx
  src/style/CAREUI.css
Labels: tested, waiting for back end

#5908 Fix patient import from external result
  src/Components/Patient/PatientRegister.tsx
Labels: tested, cypress passed

#5976 Dynamic aspect ratio for HL7 and Ventilator Vitals Monitors
  src/Common/hooks/useBreakpoints.ts
  src/Common/hooks/useWindowDimensions.ts
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/HL7VitalsRenderer.ts
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorWaveformsRenderer.ts
  src/Components/VitalsMonitor/types.ts
  src/Components/VitalsMonitor/useHL7VitalsMonitor.ts
  src/Components/VitalsMonitor/useVentilatorVitalsMonitor.ts
  src/Components/VitalsMonitor/utils.ts
Labels: tested, cypress passed

#5982 Add html support for login page's goal
  package-lock.json
  package.json
  src/Components/Auth/Login.tsx
Labels: tested, cypress passed

#5978 Minor changes in shifting form
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested, cypress passed

#5960 Add op_no and ip_OR_op filter for patients
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress passed

#5953 Adds support to type date
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangeInputV2.tsx
Labels: tested, P1, cypress passed

#5601 index field added as key to remove warnings
  src/Components/Common/Export.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested, cypress passed

#5993 Disable editing category from consultation form if a daily round exists
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1, cypress passed

#5989 add option to manually specify regenerate summary request
  src/Components/Facility/DischargeSummaryModal.tsx
Labels: tested, cypress passed

#5988 Hide discharge file tab on patient page
  src/Components/Patient/FileUpload.tsx
Labels: tested, P2, cypress passed

#5868 remove legacy feed components
  src/Components/Dashboard/HubDashboard.tsx
  src/Components/Hub/LiveFeedTile.tsx
  src/Router/AppRouter.tsx
Labels: good to merge, cypress passed

#5981 Add weekly working hours field for users
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, cypress passed

#6002 Fix vitals non-waveform content overflow
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: urgent, needs testing, cypress passed

#6013 Add plausible goals to track user actions
  src/Components/Common/Plausible.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: needs testing, P1

#6017 Change goal names for plausible tracking
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: cypress passed

#6019 Production Release; Plausible Events
  src/Components/Common/Plausible.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: cypress passed

#5997 added negative doctor count check for facility
  src/Components/Facility/DoctorCapacity.tsx
Labels: tested

#5995 Don't allow negative values for Bed capacity in facility
  src/Components/Facility/BedCapacity.tsx
Labels: tested

#6011 fixed tooltip visibility in mobile view
  src/CAREUI/display/RecordMeta.tsx
Labels: tested, cypress passed

#6026 Autoformat typed dates in DateInput
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangeInputV2.tsx
Labels: tested, P1, cypress passed

#5999 Adds generalized validator `PhoneNumberValidator`
  src/CAREUI/icons/UniconPaths.json
  src/Components/DeathReport/DeathReport.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FieldValidators.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
Labels: Backend, FrontEnd, tested, cypress passed

#6010 #6008: Made the "Update" buttons full width
  cypress/e2e/facility_spec/doctor_capacity_update.cy.ts
  cypress/fixtures/facility/capacity.json
  cypress/fixtures/facility/hospital_doctor.json
  cypress/fixtures/facility/hospital_doctor_id.json
  cypress/fixtures/facility/hospital_doctor_update.json
  cypress/fixtures/facility/patient_stats.json
  cypress/fixtures/general/get_current_user.json
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/DoctorsCountCard.tsx
Labels: tested, cypress passed

#6028 README: Update staging creds
  README.md
Labels: need Review, cypress passed

#6025 fix no data issue in notice borad on hard reload
  src/Components/Notifications/NoticeBoard.tsx
  src/Redux/actions.tsx
Labels: tested, cypress passed

#6036 Central Nursing Station: Dynamic aspect ratio for Vitals (variable timespan based on screen size 📱🖥️)
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/useVitalsAspectRatioConfig.ts
Labels: tested, cypress passed

#6034 🪄 Adds type safety for `CareIcon` names + ✨ reduced index.css size by 95% + Refactor string interpolated tw classes
  src/CAREUI/display/Chip.tsx
  src/CAREUI/display/Count.tsx
  src/CAREUI/icons/CareIcon.tsx
  src/Common/constants.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/PatientCategoryBadge.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientCategorySelect.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Users/ManageUsers.tsx
  tailwind.config.js
Labels: tested, Major Code Change, cypress passed

#5730 added referred to facility field in discharge form
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/models.tsx
Labels: tested, cypress passed

#6046 Adds utility CSS class `cui-form-button-group`; Fix button responsiveness in Doctor and Bed capacity forms
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/style/CAREUI.css
Labels: tested, cypress passed

#6048 Fix display of localized dates
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/Consultations/components/BinaryChronologicalChart.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, P1, cypress passed

#6057 Fix camera controls overlap with notifications
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested, cypress passed

#6065 Increase default limit for doctor connect list
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: tested, P1

#6063 Center align tooltip of `RecordMeta` relative time
  src/CAREUI/display/RecordMeta.tsx
Labels: tested, cypress passed

#6076 Plausible: Redact IDs in goal urls and removed patient id from goal trigger props
  src/Components/Common/Plausible.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested, good to merge, cypress passed

#6071 Added padding to count card on patients page
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge, cypress passed

#6066 Placed Non-waveform data above waveforms in mobile view
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested, good to merge, cypress passed

#6043 Add front-end validation for location creation form
  src/Components/Facility/AddLocationForm.tsx
Labels: tested, good to merge, cypress passed

#6042 Fix Triage table width when no data is available
  src/Components/Common/components/Table.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: tested, good to merge, cypress passed

#6064 Removes usages of `useSelector` and replace it with `useConfig` and `useAuthUser` instead.
  src/App.tsx
  src/Common/hooks/useAuthUser.ts
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useIsAuthorized.ts
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/ErrorPages/SessionExpired.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: need Review, tested, cypress passed

#6080 Improve BedTypeCard responsiveness
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: tested, cypress passed

#6081 Fix table overflow in Log lab results
  src/Components/Facility/Investigations/Table.tsx
Labels: tested, cypress passed

#6067 Fixed responsive issue in resource page and user page
  package-lock.json
  package.json
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Users/ManageUsers.tsx
  tailwind.config.js
Labels: question, tested, cypress passed

#6097 Fix End Date selector
  src/Components/Common/DateInputV2.tsx
Labels: tested, P1, cypress failed

#6087 add consultation bed specific asset relations
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Common/AssetSelect.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/models.tsx
Labels: tested, waiting for back end, cypress failed

#6124 Fix unlinking skills
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested, P1, cypress failed

#6127 Fix sw notification click action
  src/Components/Notifications/ShowPushNotification.tsx
Labels: tested, P1

#6126 add devcontainer config
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
Labels: cypress failed

#6070 Service workers local env
  src/index.tsx
  vite.config.ts
Labels: good to merge

#6133 Use chrome to run cypress tests in github actions
  .github/workflows/cypress.yaml
Labels: cypress failed

#6130 Minor UI Fix: Add responsiveness to virtual nursing assistant card
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
Labels: tested

#6115 Allow user to use a stock in inventory
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested, P1

#6113 Fixed responsive issue of 'Update Log' button in patient dashboard
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
Labels: tested

#6111 Fix Add Multiple Bed checkbox bug
  src/Components/Facility/AddBedForm.tsx
Labels: tested

#6105 Fixed typo in Date format in Asset management
  src/Components/Common/Uptime.tsx
Labels: tested

#6103 Show only Inventory items with no min value set
  src/Components/Facility/SetInventoryForm.tsx
Labels: tested

#6100 Fix Set Min quantity for inventory Notification malfunction
  src/Components/Facility/SetInventoryForm.tsx
Labels: tested

#6096 Added Responsiveness to File upload
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
Labels: tested

#6094 Remove overlap of bed section with dashboard on Assets Configure page
  src/Components/Assets/AssetType/HL7Monitor.tsx
Labels: tested

#6128 cypress maintenance fix
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  package-lock.json
  package.json
  src/Components/Common/DateInputV2.tsx
  src/Components/Patient/ManagePatients.tsx
  vite.config.ts
Labels: discussion, cypress passed

#6148 Fix C-PAP / PSV selector in critical care
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
Labels: tested, P1, cypress failed

#6146 Show only ventilator in link assets to bed
  src/Components/Common/AssetSelect.tsx
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested, P1, cypress passed

#6132 fix: merge ip and op number
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Locale/en/Common.json
Labels: tested, cypress passed

#6136 added ui to add and update health facility id
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
Labels: tested, P1, cypress failed, ABDM

#6164 Production Release; Aug Week 5
  .devcontainer/devcontainer.json
  .github/workflows/cypress.yaml
  .gitignore
  .vscode/launch.json
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  package-lock.json
  package.json
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetServiceEditModal.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Common/AssetSelect.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/Uptime.tsx
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/en/Common.json
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/Utils/VoiceRecorder.tsx
  src/index.tsx
  vite.config.ts
Labels: cypress failed

#6172 Minor UI Fix: Button background should not appear when loading
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#6171 Merged configure facility and configure health facility in one page
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Router/AppRouter.tsx
Labels: tested, reviewed

#6166 Add responsive design to Update Asset Service Record modal
  src/Components/Assets/AssetServiceEditModal.tsx
Labels: tested

#6160 fixes #6159; fix misalignment in option chips of async autocomplete.
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested, cypress failed

#6157 Disable Import Asset button until a file is uploaded
  src/Components/Assets/AssetImportModal.tsx
Labels: tested

#6147 Don't show Skills with already linked to the user
  src/Components/Common/SkillSelect.tsx
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#6104 Upgrade tailwindcss to v3.3.3
  package-lock.json
  package.json
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/style/index.css
  tailwind.config.js
Labels: tested, good to merge, cypress passed

#6029 Rename prescribed_medication to treatment_plan
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: urgent, tested, P1, cypress failed

#6176 Grouped Medicine Administrations in Prescriptions Table
  src/CAREUI/display/SubHeading.tsx
  src/Common/hooks/useRangePagination.ts
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/DiscontinuePrescription.tsx
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Components/Medicine/models.ts
  src/Redux/actions.tsx
  src/Utils/dayjs.ts
Labels: tested, cypress failed

#6182 Fix asset import from excel files
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetTypes.tsx
Labels: tested, cypress failed

#6183 Plausible Goals: Remove accidentally tracked Patient ID
  src/Components/Patient/PatientHome.tsx
Labels: need Review, cypress failed
