Repository ohcnetwork/care_fe, pull requests merged in 2023-10, with the labels that each got.

#6386 Revert "Prescriptions: Shrink discontinued prescriptions + Flip MAR t…
  src/Common/hooks/useRangePagination.ts
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Redux/actions.tsx
Labels: tested

#6388 Refactor Asset Model Import Formatting
  cypress/fixtures/sampleAsset.xlsx
  src/Common/constants.tsx
  src/Components/Assets/AssetImportModal.tsx
Labels: tested, cypress passed

#6333 Refactor: replaced Dispatch to useQuery/Request of src/Components/Auth/log…
  src/Components/Auth/Login.tsx
  src/Components/Auth/ResetPassword.tsx
  src/Redux/api.tsx
Labels: tested, cypress passed

#6352 Fix facility image hover effect height
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#6363 Split routes of App Router
  src/Components/Facility/FacilityConfigure.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Redux/actions.tsx
  src/Routers/AppRouter.tsx
  src/Routers/routes/AssetRoutes.tsx
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/ExternalResultRoutes.tsx
  src/Routers/routes/FacilityInventoryRoutes.tsx
  src/Routers/routes/FacilityLocationRoutes.tsx
  src/Routers/routes/FacilityRoutes.tsx
  src/Routers/routes/HCXRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/Routers/routes/SampleRoutes.tsx
  src/Routers/routes/ShiftingRoutes.tsx
  src/Routers/routes/UserRoutes.tsx
  src/Routers/types.ts
Labels: tested, cypress passed

#6365 Prescription: show prescribed on, by, and discontinued date in detail card
  src/CAREUI/display/RecordMeta.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: tested, cypress passed

#6377 Fixed bug in location picker in update facility page
  package-lock.json
  src/Components/Common/GLocationPicker.tsx
Labels: tested, cypress passed

#6375 Added cam auto reset in asset config page
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested, cypress passed

#6369 💊 Adds support for editing prescriptions + Adds `useSlug` hook
  src/Common/hooks/useSlug.ts
  src/Components/Form/Form.tsx
  src/Components/Form/FormFields/NumericWithUnitsFormField.tsx
  src/Components/Form/Utils.ts
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Components/Medicine/models.ts
  src/Components/Medicine/validators.ts
  src/Locale/en/Medicine.json
  src/Redux/api.tsx
Labels: tested, cypress passed

#6338 Assets date picker
  src/Components/Assets/AssetServiceEditModal.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Locale/en/Asset.json
  src/Locale/en/Facility.json
Labels: tested, good to merge, cypress passed

#6356 Add show unread notifications filter button
  src/Components/Notifications/NotificationsList.tsx
  src/Locale/en/Notifications.json
Labels: tested

#6398 Asset Create More: fix reset of `is_working` state
  src/Components/Facility/AssetCreate.tsx
Labels: tested, P2

#6400 Show asset import progress
  cypress/support/commands.ts
  src/Components/Assets/AssetImportModal.tsx
Labels: tested

#6389 Prescriptions: freeze columns and shrink discontinued
  src/Components/Medicine/PrescriptionAdministrationsTable.tsx
  src/Redux/actions.tsx
Labels: tested, cypress passed

#6404 Fix password reset
  src/Components/Auth/Login.tsx
  src/Components/Auth/ResetPassword.tsx
  src/Redux/api.tsx
Labels: tested, P1

#6407 Vitals Monitor: Shows relative time for blood pressure and hide if stale (30 mins)
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/types.ts
  src/Components/VitalsMonitor/useHL7VitalsMonitor.ts
Labels: urgent, tested

#6413 Fix date range end picker
  src/Components/Common/DateInputV2.tsx
Labels: tested

#6412 cypress fix: select non group ICD11 entity
  cypress/pageobject/Patient/PatientConsultation.ts
Labels: tested

#6405 Replaced date-fns utility functions from DateInputV2 component with day.js
  src/Components/Common/DateInputV2.tsx
Labels: tested, cypress passed

#6382 Aligned Service History & Transaction History in Asset Details
  src/Components/Assets/AssetManage.tsx
Labels: tested

#6364 Added AMC Warranty filters and expiry labels for assets
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, cypress passed

#6418 whitelisted jwt_token_refresh_interval
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Providers/AuthUserProvider.tsx
Labels: good to merge

#6424 Using the treeshakable api for echarts
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Components/Facility/Consultations/components/StackedLinePlot.tsx
Labels: tested, reviewed

#6431 Set page title to medicine
  src/Components/Facility/ConsultationDetails/ConsultationMedicinesTab.tsx
Labels: tested

#6408 Track camera feed views and display offline status
  src/Common/hooks/useMSEplayer.ts
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested

#6437 fixes nutrition tab showing nursing analysis
  src/Components/Facility/ConsultationDetails/ConsultationNutritionTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: urgent, tested, P1, reviewed

#5347 fix: add action and recommend discharge data on patient consultation page
  src/Common/constants.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/models.tsx
Labels: tested, cypress passed

#6368 Middleware override feature in asset location
  cypress/pageobject/Asset/AssetCreation.ts
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/FacilityConfigure.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/models.tsx
Labels: tested, cypress passed

#6402 Replaced useDispatch with useQuery and request in ExternalResult (src/Components/ExternalResult/** )
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/ExternalResult/models.ts
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/request/request.ts
Labels: tested, cypress passed

#6428 Added cypress test to verify warranty expiry label on an asset
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  src/CAREUI/display/Chip.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, cypress passed

#6451 Replaced export button Icon with relevant Export Icon
  src/Components/Common/Export.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#6374 Replaced dispatch with useQuery and request in Asset module
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetServiceEditModal.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#6415 Optimize lodash. Fixes #6006
  package-lock.json
  package.json
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/Uptime.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/Investigations/Reports/utils.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/Investigations/Table.tsx
  src/Components/Facility/LegacyFacilityCNS.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/Form.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Redux/fireRequest.tsx
  src/Utils/Notifications.js
Labels: tested, made_changes, cypress passed, reviewed

#6465 Fix CSS unintentended RTL style
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested

#6344 Replaced useDispatch with useQuery and request.
  src/Components/ABDM/ABHAProfileModal.tsx
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/LinkCareContextModal.tsx
  src/Components/ABDM/models.ts
  src/Components/Notifications/NotificationsList.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/request/request.ts
Labels: tested, cypress passed

#6466 Fixes JWT token refresh interval default fallback to 5 mins (instead of 15 mins)
  public/config.json
  src/Providers/AuthUserProvider.tsx
Labels: tested, P1

#6470 Fixed typo in pathParams of ConfigureHealthFacility and replaced useDispatch in ConfigureFacility
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/Facility/FacilityConfigure.tsx
  src/Components/Facility/models.tsx
  src/Redux/api.tsx
Labels: urgent, tested, P1, cypress passed, reviewed

#6478 New Cypress Test | Search using username | User Tab
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Users/UserSearch.ts
  src/CAREUI/display/FilterBadge.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested

#6477 Fix loadash-es import
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/Investigations/Reports/utils.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Utils/Notifications.js
Labels: tested

#6472 Fix session expiry detection
  src/Redux/fireRequest.tsx
  src/Routers/AppRouter.tsx
Labels: tested

#6135 Added test of patient_crud.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/patient_spec/patient_manage.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientNotes.tsx
Labels: need Review, tested, C4GT, cypress passed

#6490 Add GitHub Action for Linting on Pull Requests
  .github/workflows/linter.yml
Labels: need Review

#6494 Lint CI: Show errors only and fix existing lint errors
  .github/workflows/linter.yml
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
Labels: need Review

#6453 Show camera feed only for admin and doctor
  src/Components/Assets/AssetManage.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested, cypress passed

#6450 🛠️ Replaced useDispatch w. useQuery: DeathReport (src/Components/DeathReport/DeathReport.tsx)
  src/Components/DeathReport/DeathReport.tsx
  src/Redux/api.tsx
Labels: tested

#6440 Add medico-legal case toggle and filter
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Common/components/SwitchTabs.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Redux/api.tsx
Labels: tested

#6496 fix phone number parsing issue in abdm
  src/Components/Patient/PatientRegister.tsx
Labels: urgent, tested, P1, ABDM

#6499 Fix passing silent argument to linter
  .github/workflows/linter.yml
Labels: need Review, good to merge

#6474 Fix: Asset tab facility and location badges are malfunctioning
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, P1

#6485 Configure eslint for mdx files. Closes #3760
  .eslintrc.json
  package-lock.json
  package.json
  src/stories/Introduction.mdx
Labels: need Review

#6510 New Cypress Test | Advance Filters Functionality | User Tab
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Users/UserSearch.ts
  package-lock.json
Labels: need Review

#6511 Existing Cypress POM Conversion | Page Navigation | User Tab
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Users/UserSearch.ts
Labels: need Review

#6509 🛠️ ✅ Fixed User signout flow malfunctioning.
  src/Utils/utils.ts
Labels: need Review, tested

#6507 🛠️ ✅ Fixed Responsiveness Issue in Facility List Page / Facility Card
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#6482 Fixed pressure sore popup not closing after clicking outside
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
Labels: tested

#6513 New Cypress Test | Facility Redirection to view user page | User Tab
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Users/UserSearch.ts
  src/Components/Facility/FacilityUsers.tsx
Labels: need Review

#6514 Existing Cypress POM Conversion | Create New User & Verify its reflection along with validation | User Tab
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/pageobject/Users/UserCreation.ts
  src/Components/Users/ManageUsers.tsx
Labels: need Review

#6461 Replaced useDispatch w. useQuery/request: Resource (src/Components/Resource/**)
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/CommentSection.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Resource/models.ts
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#6526 Fixed bed number coming up two time in patients page.
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P1

#6515 Make header in patient dashboard more responsive. Fixes #6488
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested

#6456 Add location filter for patients
  src/Components/Common/LocationSelect.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested, cypress passed

#6253 Show only those facilties that aren't linked to user
  cypress/e2e/users_spec/user_creation.cy.ts
  src/Components/Common/FacilitySelect.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed
