Repository ohcnetwork/care_fe, pull requests merged in 2023-01, with the labels that each got.

#4453 Production Release; Dec Week 5
  .env
  cypress/e2e/users_spec/user_crud.cy.ts
  package-lock.json
  package.json
  public/config.json
  src/App.tsx
  src/Common/constants.tsx
  src/Common/env.tsx
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useExport.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Export.tsx
  src/Components/Common/Pagination.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/CriticalCareRecording/NeurologicalMonitoring/CriticalCare__NeurologicalMonitoringEditor.res
  src/Components/CriticalCareRecording/components/CriticalCare__Home.res
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Users/ManageUsers.tsx
  src/Redux/Reducer.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/utils.ts
  src/style/CAREUI.css
Labels: cypress failed

#4440 Fixed border-lines of login input fields
  src/CAREUI/interactive/LegendInput.tsx
Labels: tested

#4299 Add gram to PrescriptionBuilder units
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
Labels: tested

#4429 Autofill state and district from pincode
  src/Common/env.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/utils.ts
Labels: tested

#4464 hide the update log button if discharged in daily rounds list
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#4504 Add storybook to README, Fix issue with storybook not rendering all buttons
  README.md
  package.json
  src/CAREUI/misc/AuthorizedChild.tsx
  src/Components/Common/components/ButtonV2.tsx
Labels: needs testing

#4465 Use the standard `Cancel` and `Submit` buttons for Facility Notify modal
  src/Components/Facility/FacilityCard.tsx
Labels: tested, cypress failed

#4444 Improvements to Sign out button
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#4463 Autocomplete for location field in asset create form
  src/Components/Common/components/Switch.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: tested

#4511 Mention ICD for diagnosis field
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4510 Fixed responsive bug in asset details
  src/Components/Assets/AssetManage.tsx
  src/style/index.css
Labels: tested, cypress failed

#4439 Show modal for asset delete confirmation
  src/Components/Assets/AssetManage.tsx
Labels: tested, cypress failed

#4509 Fix padding for Pressure sore drop down
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
Labels: tested

#4466 fix: Missing ascending/descending icons in patient ordering filter
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested, cypress failed

#4427 fix: Improve facility filter for patients listing
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Router/AppRouter.tsx
Labels: tested, cypress failed

#4251 Add workflow to auto label issues as WIP
  .github/workflows/label-wip.yml
Labels: good to merge, stale

#4424 Disable picking future dates in consultation form's admission and symptoms onset date fields
  src/Components/Common/DateRangeInputV2.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
Labels: tested

#4487 Care UI Slideover, upgrades Notifications List and Mobile Sidebar
  src/CAREUI/interactive/SlideOver.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/style/CAREUI.css
Labels: tested, redesign

#4515 Switch to FieldLabel for PrescriptionBuilder and improve error messages
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4506 🔄 Auto update CARE
  src/Components/Common/UpdatableApp.tsx
  src/index.tsx
Labels: tested

#4503 Disable camera feed errors if not configured
  src/Common/hooks/useFeedPTZ.ts
Labels: tested

#4470 Prevent `updateQuery` invocation if invalid phone number length
  src/Components/Common/HelperInputFields.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4469 Made secondary button look like its not disabled
  src/style/index.css
Labels: tested, cypress failed

#4159 Switched to CARE UI components in facility tiles
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/CAREUI/display/Chip.tsx
  src/CAREUI/icons/CareIcon.tsx
  src/CAREUI/icons/UniconPaths.json
  src/CAREUI/icons/icon.js
  src/Common/constants.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TriageForm.tsx
  src/style/index.css
Labels: tested, cypress failed

#4502 Fix: Health details to COVID Details and Medical history (comorbidities)
  src/Components/Patient/PatientRegister.tsx
Labels: urgent, tested, P1

#4508 Use `URLSearchParam` instead of the deprecated `querystring`
  package-lock.json
  package.json
  src/Redux/fireRequest.tsx
Labels: needs testing

#4525 Fix issue with Autocomplete placeholder
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: tested

#4527 Migrate all existing usages `PhoneNumberField` to `PhoneNumberFormField` and deprecates the legacy component
  src/Components/Common/HelperInputFields.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#4529 Fixed patient link in FacilityCard
  src/Components/Facility/FacilityCard.tsx
Labels: urgent, tested, P1, cypress failed

#4532 Fix Patient List Breadcrumbs
  src/Common/hooks/useIsInitialRender.ts
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress failed

#4539 Fixed patient loading issue while directly using the link
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested, P1, cypress failed

#4547 Fixed Query Params bug
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Redux/fireRequest.tsx
Labels: tested, P1, cypress failed

#4543 Fixed hover bug for anchor ButtonV2s
  src/style/CAREUI.css
  src/style/index.css
Labels: tested, cypress failed

#4536 Display QR Code ID on asset details page
  src/Components/Assets/AssetManage.tsx
Labels: tested, peer-reviewed

#4533 Minor UI fix
  src/Components/Patient/PatientHome.tsx
Labels: tested, peer-reviewed

#4530 Use `cui-input-base` class for inputs pressure sore popup
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
  src/Components/CriticalCareRecording/components/CriticalCare__Dropdown.res
Labels: tested, cypress failed

#4535 Replaced DateInputV2 with TextFormField
  src/Components/Facility/AssetCreate.tsx
  src/Components/Form/FormFields/TextFormField.tsx
Labels: tested

#4391 Added total bed count display on Facility Home page
  package-lock.json
  package.json
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#4522 Added indicators for no updates in last 24 hours
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress failed

#4546 fix(patient): validation in medical history
  src/Components/Patient/PatientRegister.tsx
Labels: urgent, tested, P1

#4266 Handle situation when coverimg fails to upload also added hints for uploading coverimage
  src/Components/Facility/CoverImageEditModal.tsx
Labels: tested

#4557 Care UI: fix button `bg-color` being reset by styles from `index.css`
  src/style/CAREUI.css
Labels: important, urgent, tested

#4514 Changes for updating config.json pre-deploy
  Dockerfile
  public/config.json
  start.sh
Labels: cypress failed

#4549 Hide active tab indicator when `activeLink` is `undefined`
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, good to merge

#4518 Added option for declare death in decision after consultation
  src/Common/constants.tsx
Labels: tested, Team Discuss Required, cypress failed

#4462 Popups for "Edit/ Add Bed Capacity" & "Edit/Add Doctor Capacity"
  src/Components/Common/Dialog.tsx
  src/Components/Common/Steps.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Router/AppRouter.tsx
Labels: tested

#4582 Fixes form fields from being congested
  src/Components/Form/FormFields/FormField.tsx
Labels: needs testing, P1

#4573 fix: Discharging patients
  src/Components/Common/Dialog.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested, P1

#4416 fix: Replace existing usages of TextInputFieldV2 with TextFormField
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Components/Common/BedSelect.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#4561 Cypress fix 11 01
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/patient_spec/patient_crud.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  src/Components/Common/HelperInputFields.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: good to merge

#4378 fix: Tailwind the Add User page + cypress tests for user feature
  .eslintrc.json
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  cypress/fixtures/external-result_sample.csv
  src/Common/constants.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/UserDetails.tsx
  src/Components/Common/components/CheckBox.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested

#4605 Localizations for texts in `Auth`
  src/Components/Auth/Login.tsx
  src/Components/Auth/ResetPassword.tsx
  src/Locale/en/Auth.json
  src/Locale/en/Common.json
Labels: needs testing, cypress failed

#4598 Declare by death now leads to discharge of patient in Consultation form
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/FormFields/TextFormField.tsx
Labels: tested, P1

#4597 Fixes icon size to the standard size used for patient dashboard buttons
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#4593 UI fixes
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#4581 Disallow past dates for asset warranty
  src/Components/Facility/AssetCreate.tsx
Labels: tested

#4574 Fix filter buttons in advanced patient filters
  src/Components/Common/FilterButtons.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Patient/SampleFilters.tsx
Labels: tested

#4554 Show 18 cards per page on Users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4564 Made the tooltip of linked facility visible in Users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4583 fix: Tailwind delete user confirm dialog to use ConfirmDialog component
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Users/UnlinkFacilityDialog.tsx
Labels: tested, good to merge

#4570 Restrict User from unlinking facility of users of another district
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4577 Fix alignment of location picker
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#4505 Feat: Status during consultation
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested

#4568 Removed expired option from COVID disease status (Patient Registration)
  src/Common/constants.tsx
Labels: tested

#4612 fix: Minor bugs in consultation form
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
Labels: tested

#4621 Removed mui and added hover effect on download icon on Resources and Shifting page
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested, good to merge

#4618 Add preview for bed and doctor capacity in FacilityCreate
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#4591 View user facility in users tab as a slide over
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4596 Add asset class to the Assets advanced filters
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#4592 App history provider
  src/App.tsx
  src/CAREUI/misc/HistoryAPIProvider.tsx
  src/Common/hooks/useAppHistory.ts
  src/Components/Common/PageTitle.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/utils.ts
Labels: tested, cypress failed

#4650 danger variant for delete asset button
  src/Components/Assets/AssetManage.tsx
Labels: tested

#4634 Added link to home page on sidebar logo
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, cypress failed

#4626 CareUI: `bg-white` for `secondary` variant `ButtonV2`
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/style/CAREUI.css
Labels: tested, cypress failed

#4652 Tailwinds delete bed type and delete doctor type dialogs
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/DoctorsCountCard.tsx
Labels: tested, cypress failed

#4641 Added some margin above live feed in asset configure page
  src/Components/Assets/configure/CameraConfigure.tsx
Labels: tested

#4638 Disable View Linked Facility icon on users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4636 Added theme responsive favicons
  public/favicon-dark.ico
  public/favicon-light.ico
  public/index.html
  src/App.tsx
Labels: tested, cypress failed

#4560 File size constraints for patient consultation files
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4631 Prevent log update without bed
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress failed

#4572 Fixed date formatting in Sample Test exported file
  src/Common/hooks/useExport.tsx
  src/Components/Common/Export.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Utils/utils.ts
Labels: tested, cypress failed

#4669 Removed admission date past date validation in ConsultationForm
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, P1

#4627 Add state logo on login page and migrates envs to read from `/config.json`
  .env
  public/config.json
  src/Common/constants.tsx
  src/Common/env.tsx
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/TopBar.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/ManageUsers.tsx
  src/Router/AppRouter.tsx
  src/Utils/utils.ts
Labels: tested, good to merge, discussion, Major Code Change, cypress failed

#4551 Doctor Specialisation
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/Month.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Utils/utils.ts
Labels: needs testing, cypress failed

#4686 Removes state logo for preview deploys
  public/config.json
Labels: good to merge

#4677 Resolve crashing Sample Details page
  src/Components/Patient/SampleDetails.tsx
Labels: urgent, needs testing

#4694 make `FilterButtons` component responsive and add translations
  src/Components/Common/FilterButtons.tsx
  src/Locale/en/Common.json
Labels: urgent, needs testing, P1

#4703 fix clear patient filters
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested, P1
