Repository ohcnetwork/care_fe, pull requests merged in 2023-02, with the labels that each got.

#4632 Added max height limit on facility card
  src/Components/Facility/FacilityCard.tsx
Labels: tested

#4635 Revised sidebar indicator animation
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, cypress failed

#4651 Set max limit for bed capacity occupied input
  src/Components/Facility/BedCapacity.tsx
Labels: tested

#4670 Add additional review time options
  src/Common/constants.tsx
Labels: tested

#4672 Added scroll bar to avoid overflow of number of beds in facility page
  src/Components/Facility/BedTypeCard.tsx
Labels: tested

#4675 Improved sample test history section on patients page
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested

#4698 Made neurological monitoring tab ui responsive in tab devices
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: tested

#4699 render doctor's notes as multiline
  src/Components/Patient/PatientNotes.tsx
Labels: urgent, tested

#4715 IP No. required only for patients with admission as decision after consultation
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4736 Fix User role dropdown for user create
  src/Components/Users/UserAdd.tsx
Labels: tested, P1

#4730 fix: Bed Assignment necessary before filing log update for patients admitted
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, P1

#4706 Added more search parameters for asset list
  src/Components/Assets/AssetsList.tsx
Labels: tested, cypress failed

#4687 Added doctor connect feature for facilty
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4680 Optimized home facility update sidebar and changed designs
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress failed

#4603 fix: Minor UI fixes
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#4716 Improve DateRange to show end date picker after the start date is picked
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/DateRangeInputV2.tsx
Labels: tested

#4639 Improved UI of investigations, procedures, PRN prescription and prescription
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/SelectMenuV2.tsx
Labels: tested

#4690 Localizations for texts in Notifications
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Locale/en/Common.json
  src/Locale/en/Notifications.json
  src/Locale/en/index.js
Labels: needs testing

#4633 CareUI: Adds a higher-order `Form` component (not used anywhere)
  src/Components/Common/DiagnosisSelectFormField.tsx
  src/Components/Common/SymptomsSelect.tsx
  src/Components/Form/FieldValidators.ts
  src/Components/Form/Form.tsx
  src/Components/Form/FormContext.ts
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/Month.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/Form/SearchInput.tsx
  src/Components/Form/Utils.ts
Labels: need Review

#4737 Made filter buttons in the facility page consistent with the others
  package-lock.json
  src/Components/Facility/FacilityFilter/index.tsx
Labels: tested

#4034 Fixed feed full screen issue with iOS devices
  src/Components/Facility/Consultations/Feed.tsx
Labels: tested, cypress failed

#4704 Fixed bed select going under card in CameraConfigure
  src/Components/Assets/configure/CameraConfigure.tsx
Labels: urgent, tested, cypress failed

#4725 Fixed data type mismatch issue in medicine
  src/Components/Common/components/ResponsiveMedicineTables.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, cypress failed

#4455 feat: create, retrieve and delete skills of users from users tab
  public/images/no_facilities.svg
  public/images/no_skills.svg
  src/Components/Common/SkillSelect.tsx
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/UnlinkSkillDialog.tsx
  src/Components/Users/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: need Review, tested, P1

#4595 feat: skills in profile section
  src/Components/Users/UserProfile.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: needs testing, need Review, P1

#4688 Localizations for texts in Shifting
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Locale/en/Common.json
  src/Locale/en/Shifting.json
  src/Locale/en/index.js
Labels: needs testing

#4689 Localizations for texts in ErrorPages
  src/Components/ErrorPages/404.tsx
  src/Components/ErrorPages/InvalidReset.tsx
  src/Components/ErrorPages/SessionExpired.tsx
  src/Locale/en/ErrorPages.json
  src/Locale/en/index.js
Labels: needs testing, merge conflict

#4744 fix validation in edit profile
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
Labels: urgent, needs testing, P1, cypress failed

#4691 Localizations for texts in Hub
  src/Components/Hub/LiveFeedTile.tsx
  src/Locale/en/Common.json
  src/Locale/en/Hub.json
  src/Locale/en/index.js
Labels: needs testing

#4759 Fix error message when loading linked facilities
  src/Components/Users/ManageUsers.tsx
Labels: tested, P1

#4767 Restrict Add skills button to DistrictAdmin
  src/Components/Common/SkillSelect.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested, P1

#4671 Refactor Symptoms
  src/Common/constants.tsx
Labels: tested

#4772 Added skills in doctor connect
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: tested, P1, cypress failed

#4784 Add updated symptopms to DailyRound
  src/Components/CriticalCareRecording/Others/DailyRound__General.res
Labels: urgent, tested, P1

#4667 Disable button when loading on Configure Assets page
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
Labels: need Review, tested

#4774 preserve query params in `useLocationHistory`'s history stack
  src/CAREUI/misc/HistoryAPIProvider.tsx
Labels: tested, P1, cypress failed

#4766 Removed excess padding in total patients card
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#4741 Improve Patient Record Found Dialog
  src/Components/Facility/DuplicatePatientDialog.tsx
Labels: tested

#4776 fix: Show Reason for discharge on patient dashboard
  src/Components/Patient/PatientInfoCard.tsx
Labels: urgent, tested, P1, discussion

#4745 Revamp Upload Audio file component
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
  src/Utils/useRecorder.js
Labels: tested

#4746 Localizations for texts in ExternalResult
  src/Components/ExternalResult/Commons.tsx
  src/Components/ExternalResult/ExternalResultLocalbodySelector.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultItem.tsx
  src/Locale/en/Common.json
  src/Locale/en/ExternalResult.json
  src/Locale/en/index.js
Labels: needs testing

#3307 fix: remove raw css file import from .res files in critical care recording
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/PressureSore/styles.css
  src/Components/CriticalCareRecording/components/CriticalCare__DoubleRangeSlider.res
  src/Components/CriticalCareRecording/components/CriticalCare__PupilRangeSlider.res
  src/style/index.css
Labels: hold, changes required

#4738 Added Total Doctors Count card on Facility home page
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#3637 fix: parent url when clicking back icon
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Dashboard/HubDashboard.tsx
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
Labels: needs testing, need Review, P2

#4788 Consistent UI for filters across all pages
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Shifting/ListFilter.tsx
Labels: tested

#2536 Fix inconsistent type of visited countries attribute
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/models.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#4794 Debug Total Doctors count on Facility page
  src/Components/Facility/FacilityHome.tsx
Labels: needs testing, good to merge

#4805 Adds `skills` to `UserAssigned`
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Users/models.tsx
Labels: urgent, tested, P1

#4806 Set default value of sliders to their min value
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__NonInvasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
Labels: tested, good to merge

#4802 Hide query params on initial load
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge

#4801 UI fixes for User cards
  src/Components/Common/UserDetails.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#4796 Added Page Component to make padding across pages to be consistent
  src/Components/Common/PageTitle.tsx
  src/Components/Common/components/Page.tsx
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge

#4792 Migrates usages of deprecated `goBack` utility to use the new goBack provided by `useAppHistory`
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
  src/Utils/utils.ts
Labels: tested, good to merge

#4791 Disabled Proceed button of Edit File Name
  src/Components/Patient/FileUpload.tsx
Labels: tested, good to merge

#4782 Add hover effect to Cancel button in Advanced Filters
  src/Components/Common/FilterButtons.tsx
  src/style/CAREUI.css
Labels: tested, good to merge

#4771 Made the user add button consistent with others
  src/Components/Users/ManageUsers.tsx
Labels: tested, good to merge

#4432 Added a feature take cover Image photos directly from Care
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  package.json
  src/Components/Facility/CoverImageEditModal.tsx
  src/Locale/en/Common.json
  src/Locale/en/CoverImageEdit.json
  src/Locale/en/index.js
Labels: tested, good to merge

#4814 Adds Config: `SENTRY_DSN`
  public/config.json
  src/App.tsx
  src/Common/hooks/useConfig.ts
Labels: cypress failed

#4798 Resolved overlapping Icon and Goal content
  src/Components/Auth/Login.tsx
Labels: tested

#4740 Fix facility create page responsiveness and adds `RadioFormField` component
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/RadioInputsV2.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/Form.tsx
  src/Components/Form/FormFields/RadioFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
Labels: tested, good to merge, cypress failed

#4810 Change Ventilator Parameters to Respiratory Support
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, P1

#4816 Added No Facility found on Linked facility popup
  src/Components/Users/ManageUsers.tsx
Labels: tested

#4817 migrated all multilineinput to teaxtarefield in Shifting component
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested

#4840 Production Release; Fed Week 3
  .github/workflows/deploy.yaml
  cypress/e2e/facility_spec/facility.cy.ts
  cypress/e2e/users_spec/user_crud.cy.ts
  package.json
  public/config.json
  src/App.tsx
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
  src/Components/Common/FilterButtons.tsx
  src/Components/Common/PageTitle.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/UserDetails.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/components/Page.tsx
  src/Components/Common/components/RadioInputsV2.tsx
  src/Components/Common/prescription-builder/assets/medicines.json
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__Invasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__NonInvasive.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Form/Form.tsx
  src/Components/Form/FormFields/RadioFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/en/Common.json
  src/Locale/en/CoverImageEdit.json
  src/Locale/en/Facility.json
  src/Locale/en/index.js
  src/Utils/utils.ts
  src/style/CAREUI.css
Labels: cypress failed

#4853 Fixed minor ui responsive bug in view consultation page
  src/Components/CriticalCareRecording/CriticalCare__Index.res
Labels: tested

#4852 fix: notification is missing for critical care log update
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
Labels: tested

#4837 Minor UI fix
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#4833 Fixes Date field positions in Consultation Form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#4665 Made Pressure sore tab ui is unresponsive
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
Labels: tested

#4664 Improved the UI of Modal in Facility page
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#4609 Made the sidebar tooltip visible
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Notifications/NotificationsList.tsx
Labels: tested

#4856 Disable delete skill button for unauthorized users
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#4850 Removed extra space at end of Consulation page in mobile view
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#4848 fix: badges are malfunctioning in patient tab
  src/Common/hooks/useFilters.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P2

#4844 Added daily round symptoms to symptoms card, and updated time handling
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, cypress failed

#4838 Improvements to Home facility management
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UnlinkFacilityDialog.tsx
  src/Components/Users/UserAdd.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, P2

#4819 fix: Enhancement of the patient doctor connect
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: tested, P2

#4863 Fixes date validation in facility triage form
  src/Components/Facility/TriageForm.tsx
Labels: urgent, tested, P1

#4869 fixes Statement correction in patient critical care log update notification
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
Labels: tested

#4880 Updated README.md with new staff and doctor id credentials
  README.md
Labels: cypress failed

#4881 Production Release; Fed Week 4
  README.md
  src/Common/hooks/useFilters.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/UnlinkFacilityDialog.tsx
  src/Components/Users/UserAdd.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: cypress failed

#4891 Adding shorter review times.
  src/Common/constants.tsx
Labels: tested, fosshack

#4866 Remove "required" attribute from oxygen capacity fields in FaclityCreate
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#4865 Whatsapp number field bug resolved on add user page
  src/Components/Common/HelperInputFields.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested

#4854 Scoll date range select into view when export is clicked in Patients Page
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Utils/Notifications.js
Labels: tested

#4765 Fixed facility cover photo
  src/Components/Facility/FacilityCard.tsx
Labels: tested, good to merge

#4841 Bottom-align-description
  src/Components/Auth/Login.tsx
Labels: tested

#4858 UI fix
  src/Components/Patient/FileUpload.tsx
Labels: tested

#4892 Updating advanced filter fields
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested, fosshack

#4896 Add middleware_address validity check
  src/Components/Facility/UpdateFacilityMiddleware.tsx
Labels: tested

#4750 ESLint: warnings for string literals that aren't translated
  .eslintrc.json
  package-lock.json
  package.json
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/ResourceDetails.tsx
Labels: need Review, cypress failed

#5007 adds missing type definition package `@types/react-transition-group`
  package-lock.json
  package.json
Labels: need Review, cypress failed

#5008 Added thankyou note github workflow
  .github/workflows/thank-you.yml
Labels: cypress failed

#4495 Fix: create asset asking to select a facility when viewing asset of filtered facility
  src/Components/Assets/AssetsList.tsx
Labels: tested

#4898 Migrated (migration under facility) part 6
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddLocationForm.tsx
Labels: tested, good to merge

#5011 Update thank-you.yml
  .github/workflows/thank-you.yml
Labels: cypress failed
