Repository ohcnetwork/care_fe, pull requests merged in 2023-07, with the labels that each got.

#5808 Reset HL7/Ventilator socket url when not available
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, P1, cypress failed

#5800 fix pwa and theme colors
  index.html
  public/favicon-dark.ico
  public/favicon.ico
  public/images/icons/apple-touch-icon-180x180.png
  public/images/icons/logo.svg
  public/images/icons/maskable-icon-512x512.png
  public/images/icons/pwa-192x192.png
  public/images/icons/pwa-512x512.png
  public/images/icons/pwa-64x64.png
  src/App.tsx
  vite.config.ts
Labels: tested, cypress failed

#5814 Clear location data when facility filter is removed
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, P1, cypress failed

#5812 Make investigation table responsive / scrollable
  src/Components/Facility/Investigations/Table.tsx
Labels: tested, P2, cypress failed

#5816 add scrollbar to investigation table
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
Labels: tested, cypress failed

#5822 Fix incorrect type for csv export
  src/Common/hooks/useExport.tsx
Labels: tested, cypress failed

#5824 Production Release; July Week 1; Hotfix
  src/Common/hooks/useExport.tsx
Labels: cypress failed

#5825 Fix Cypress Failure | Facility Creation |
  cypress/e2e/facility_spec/facility.cy.ts
Labels: cypress passed

#5829 Removed extra padding on users page in mobile view
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress passed

#5826 Fix filter badges for Shifting and Resource
  src/Components/Resource/BadgesList.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/ListFilter.tsx
Labels: tested, cypress passed

#5821 Optional backdrop in slideover component
  src/CAREUI/interactive/SlideOver.tsx
Labels: tested, cypress passed

#5813 Remove default values for Manage Inventory page
  src/Components/Facility/AddInventoryForm.tsx
Labels: tested, cypress passed

#5810 Fix icon alignment in Sample Test History
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, cypress passed

#5720 Replace MaterialUI in FileUpload.tsx
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Patient/FileUpload.tsx
Labels: tested, made_changes, cypress passed

#5833 Cypress | Shift Filter | POM Approach
  cypress/e2e/shifting_spec/filter.cy.ts
  cypress/pageobject/Shift/ShiftFilters.ts
  src/CAREUI/interactive/FiltersSlideover.tsx
Labels: cypress passed

#5827 Unhide CNS and fix more responsiveness issues
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: urgent, tested, P1, cypress passed

#5793 Tailwind `src/Components/Patient/PatientRegister.tsx`
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/components/AccordionV2.tsx
  src/Components/Form/Form.tsx
  src/Components/Form/FormFields/CheckBoxFormField.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
Labels: tested, cypress passed

#5799 Tailwinds Daily Rounds Form
  src/Common/constants.tsx
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/TemperatureFormField.tsx
  src/Components/Common/components/Page.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Form/FormFields/RangeAutocompleteFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested, cypress passed

#5839 Uninstalls Material UI 👋🏻
  bsconfig.json
  package-lock.json
  package.json
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/UserSelect.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
  src/index.tsx
  src/style/index.css
  vite.config.ts
Labels: tested, P2, cypress failed

#5843 Add discharge_reason to patient filters
  src/Common/constants.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested, P1, cypress failed

#5851 Integrates Medibase Medicines (Pre-optimization version)
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/MedibaseAutocompleteFormField.tsx
  src/Components/Medicine/MedicineAdministrationsTable.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
  src/Components/Medicine/PrescriptionsTable.tsx
  src/Components/Medicine/models.ts
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/style/CAREUI.css
Labels: urgent, needs testing, P1, cypress passed

#5860 Fix missing badges on Shifting filter
  src/Components/Shifting/BadgesList.tsx
  src/Redux/actions.tsx
Labels: tested, P2, cypress passed

#5857 Replace screenfull package with useFullscreen hook
  package-lock.json
  package.json
  src/Common/hooks/useFullscreen.ts
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Hub/LiveFeedTile.tsx
Labels: tested, cypress passed

#5856 Fix emergency checkbox for Resource
  src/Components/Resource/ResourceDetailsUpdate.tsx
Labels: tested, cypress passed

#5855 Fix alignment of 'Preset Name'
  src/Components/Assets/configure/CameraConfigure.tsx
Labels: tested, cypress passed

#5850 Allow 10 digit number without country code
  src/Components/Users/UserFilter.tsx
Labels: tested, P2, cypress failed

#5841 Milestone 1.1: Add test to edit and delete and an already created asset.
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Asset/AssetSearch.ts
  cypress/pageobject/Login/LoginPage.ts
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested, cypress passed

#5789 Adds regex validation for `PhoneNumberFormField` same as in backend and validate `onBlur` instead of `onSubmit`
  src/Components/Form/FieldValidators.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: tested, P1, cypress passed

#5765 Fix linting errors and add ventilator icon
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/CriticalCareRecording/CriticalCare__API.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/ABGPlots.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/HCX/CreateClaimCard.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/update_locale.js
  src/Redux/actions.tsx
Labels: tested, cypress passed

#5872 Add support for custom branding
  package-lock.json
  package.json
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
Labels: tested, cypress failed

#5883 Add 10bedicu logo to homepage
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
Labels: needs testing

#5879 Add asset uptime
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Common/Uptime.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge, cypress failed

#5886 Replace care logo with 10bedicu logo
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/TopBar.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Router/AppRouter.tsx
Labels: needs testing, P1, cypress passed

#5889 External Results List: Apply `mobile_number` filter only if valid
  src/Components/ExternalResult/ResultList.tsx
Labels: tested, P2, cypress failed

#5887 Fix asset uptime status keys
  src/Components/Assets/AssetTypes.tsx
  src/Components/Common/Uptime.tsx
Labels: tested, P1, cypress passed

#5881 Fixed vitals monitor data overlapping waveforms
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested

#5878 fixed spacing and overflowing text in patient detail page
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested

#5861 Replace OnlineUsersSelect with Tailwind component
  src/Components/Common/ConfirmDialog.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Patient/PatientHome.tsx
Labels: tested, cypress passed

#5894 Fix asset uptime for phases of day
  src/Components/Common/Uptime.tsx
Labels: tested, cypress failed

#5798 Abdm
  package-lock.json
  package.json
  public/config.json
  src/CAREUI/icons/CareIcon.tsx
  src/Common/hooks/useConfig.ts
  src/Components/ABDM/ABHAProfileModal.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/LinkCareContextModal.tsx
  src/Components/ABDM/models.ts
  src/Components/Common/Dialog.tsx
  src/Components/Common/QRScanner.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/OtpFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/service-worker.ts
  src/vite-env.d.ts
  vercel.json
  vite.config.ts
Labels: tested, cypress failed

#5896 Fix asset uptime carryover
  src/Components/Common/Uptime.tsx
Labels: tested, cypress failed

#5899 show abha details in patient register page while updating
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested, P2, cypress failed

#5901 `AutocompleteFormField`: Fixes overlap of clear button and `optionIcon`
  src/CAREUI/icons/CareIcon.tsx
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Locale/en/Common.json
Labels: urgent, tested, P1, cypress failed

#5902 fix storybook vercel deployments
  package-lock.json
Labels: need Review

#5903 Moves prescriptions caution text to left (start)
  src/Components/Medicine/PrescriptionBuilder.tsx
Labels: tested

#5904 Production Release; July Week 4
  package-lock.json
  package.json
  public/config.json
  src/CAREUI/icons/CareIcon.tsx
  src/Common/hooks/useConfig.ts
  src/Components/ABDM/ABHAProfileModal.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/LinkCareContextModal.tsx
  src/Components/ABDM/models.ts
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Common/ConfirmDialog.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/QRScanner.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/TopBar.tsx
  src/Components/Common/Uptime.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/FormField.tsx
  src/Components/Form/FormFields/OtpFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/models.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Locale/en/Common.json
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/service-worker.ts
  src/vite-env.d.ts
  vercel.json
  vite.config.ts
Labels: cypress failed

#5910 update package lock
  package-lock.json
Labels: need Review, cypress failed

#5897 Use `package-lock.json` instead of `yarn.lock` in Docker build cache of Deploy CI
  .github/workflows/deploy.yaml
Labels: need Review, cypress failed

#5942 Asset Detail: Fix Updtime popover clipping out of window and fix missing Icons
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Common/Uptime.tsx
Labels: urgent, tested, P1, cypress passed

#5939 Mark 'Current Address' Field in Patient Registration as Mandatory and fix default checked state of copy address in edit form
  src/Components/Patient/PatientRegister.tsx
Labels: tested, cypress passed

#5933 Align fields in update shift request form
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, cypress passed

#5930 Minor UI fix: Justify end discharge buttons in consultation dashboard
  src/Components/Facility/ConsultationDetails.tsx
  src/Locale/en/Consultation.json
Labels: tested, cypress passed

#5928 Preserve investigations when consultation form is updated
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1, cypress passed

#5927 Fixes date time initial value formatting for Log update measured at, Discharge (death date time) and Bed start date time
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: urgent, tested, P1, cypress passed

#5917 Asset filter not displaying Ventilator
  src/Components/Assets/AssetFilter.tsx
Labels: tested, cypress passed

#5848 Added an icon for monitor view on patient dashboard
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/models.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
Labels: tested

#5945 Consultation Suggestions: Add field "Domiciliary Care Start Date" and deprecate "home isolation"
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: urgent, tested, P1, cypress passed

#5882 Fixed admitted on Invalid date issue in breadcrum on patient dashboard
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, good to merge

#5959 fix: doctor capacity dropdown in the facility creation page malfunctioning
  src/Components/Facility/DoctorCapacity.tsx
Labels: tested, P1, cypress passed

#5954 improve discharge summary notifications
  src/Components/Facility/DischargeSummaryModal.tsx
Labels: tested, cypress passed

#5947 Make patient category required in shifting
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, cypress passed

#5931 Set Min. Respiratory Rate to 0
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/Patient/DailyRounds.tsx
Labels: tested, cypress passed

#5963 Add discharge summary to file uploads section
  src/Components/Patient/FileUpload.tsx
Labels: tested

#5964 Fix autocomplete highlight
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: tested, cypress failed

#5965 Restrict month arrows in DatePicker
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/DischargeModal.tsx
Labels: needs testing, cypress failed
