Repository ohcnetwork/care_fe, pull requests merged in 2023-03, with the labels that each got.

#5017 Fix facility buttons hidden on small screens
  src/Components/Facility/FacilityCard.tsx
Labels: tested, P1

#5019 Fix facility card height
  src/Components/Facility/FacilityCard.tsx
Labels: tested, P1

#5028 Fixes incorrect validation check for asset warranty expiry
  src/Components/Facility/AssetCreate.tsx
Labels: urgent, tested, P1

#5037 Production Release; Mar Week 1
  .eslintrc.json
  .github/workflows/thank-you.yml
  package-lock.json
  package.json
  src/CAREUI/display/RecordMeta.tsx
  src/Common/constants.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/BedTypeCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/en/Common.json
  src/Utils/Notifications.js
  src/style/CAREUI.css
Labels: cypress failed

#5040 Removed the transfer flags from the patient list
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#5013 Added No linked facility text on users page
  src/Components/Users/ManageUsers.tsx
Labels: tested

#5029 Fixes asset import's facility select's cancel button
  src/Components/Assets/AssetsList.tsx
Labels: tested, cypress failed

#5022 Fix thank you workflow
  .github/workflows/thank-you.yml
Labels: need Review, tested, cypress failed

#4822 Changed default patient ordering and added defaults to useFilters
  src/Components/Patient/ManagePatients.tsx
Labels: tested, cypress failed

#5023 Added confirmation popup when replacing home facility
  src/Components/Users/ConfirmHomeFacilityUpdateDialog.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested

#5021 Auto sign out when `care_access_token` is no longer present in local storage.
  src/App.tsx
  src/Common/constants.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Auth/Login.tsx
  src/Components/Auth/ResetPassword.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Redux/fireRequest.tsx
  src/Router/AppRouter.tsx
  src/Utils/utils.ts
Labels: need Review, tested

#4895 Make Asset transactions work with qr_code_id
  src/Components/Assets/AssetManage.tsx
Labels: needs testing

#5051 fix: Pagination is malfunctioning for the facility location management page
  src/Components/Common/Pagination.tsx
Labels: urgent, tested, P1

#5039 Replace pain scale slider with pain editor component
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/CriticalCareRecording/HemodynamicParameters/DailyRound__HemodynamicParameters.res
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainEditor.res
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainViewer.res
  src/Components/CriticalCareRecording/Pain/DailyRound__Pain.res
  src/Components/CriticalCareRecording/components/Slider.res
  src/Components/CriticalCareRecording/types/CriticalCare__HemodynamicParameters.res
  src/Components/CriticalCareRecording/types/CriticalCare__Pain.res
  src/Components/CriticalCareRecording/types/CriticalCare__Types.res
Labels: tested

#5032 Error color change in patient creation form
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#5047 remove MUI circularProgress & grid
  src/Components/Auth/Login.tsx
  src/Components/Common/components/CircularProgress.tsx
Labels: need Review, tested

#5044 fix: Pressure sore reflection in view details page is malfunctioning
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
  src/Components/CriticalCareRecording/PressureSore/DailyRound__PressureSore.res
  src/Components/CriticalCareRecording/types/CriticalCare__PressureSore.res
Labels: urgent, tested, P1

#4726 Virtual Nursing Assistant Log Update Card for Automated Daily Rounds
  src/Components/Common/PatientCategoryBadge.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRounds/LoadingCard.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/Consultations/DailyRounds/VirtualNursingAssistantLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/index.js
Labels: Done, tested, redesign, cypress failed

#5031 Migrate Asset Class Icons to use Care Icons only
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#5066 Add owner tag to thank you workflow
  .github/workflows/thank-you.yml
Labels: needs testing, need Review, cypress failed

#5072 Fix SPO2 and Taken at for daily rounds
  src/Components/Patient/DailyRoundListDetails.tsx
Labels: tested

#5084 Show only occupied beds in consultation assign/shift bed dialog
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested, P1, cypress failed

#5076 Fix for Rhythm field not updating in Daily Rounds
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#5048 fix: Showing Consultation and discharge dates
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, P2

#5059 Highlight English as default language if no language preference present.
  src/Components/Common/LanguageSelectorLogin.tsx
Labels: tested

#5060 Removed material UI icons and replaced with Care icons in AssestList.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested

#5061 Replaced MUI modal with custom DialogModal Component in AssetImportMo…
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Common/Dialog.tsx
Labels: tested

#5062 Uninstall and replaces all Material UI icons with Care Icons
  package-lock.json
  package.json
  src/Components/Common/DateRangePicker.tsx
  src/Components/Common/LanguageSelector.tsx
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Common/utils/HelpToolTip.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/Consultations/NutritionPlots.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested

#5095 Make at least one of Preliminary or final diagnosis required
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1

#5091 fix: Location to be added in the bed selection dropdown
  src/Components/Common/BedSelect.tsx
Labels: tested, P1

#5085 Show upto 20 options in bed select
  src/Components/Common/BedSelect.tsx
Labels: tested, P1, cypress failed

#5068 Tailwinding + Multiple select option for AutocompleteFormField
  src/Components/Assets/AssetFilter.tsx
  src/Components/Common/Loading.tsx
  src/Components/Common/LocationSelect.tsx
Labels: tested

#5102 Fixes merge options logic of `useAsyncOptions`
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/DiagnosisSelectFormField.tsx
Labels: urgent, tested, P1, cypress failed

#5103 Made Investigation suggestion-time to non mandatory
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, P1, cypress failed

#5054 Resolves malfunctioning Add Doctor Capacity form
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Form/SelectMenuV2.tsx
Labels: tested, made_changes

#4818 Redesigned count block
  package.json
  src/CAREUI/display/Count.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/Consultations/NutritionPlots.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, cypress failed

#5089 Added red border on select input fields and removed MUI
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Users/UserAdd.tsx
Labels: tested

#5104 Add patient name and bed number to Patient ordering
  src/Common/constants.tsx
Labels: tested

#5116 Fix validation check on user creation page
  src/Components/Users/UserAdd.tsx
Labels: tested, P1

#5108 HCX Integration - Claims Disabled
  .env
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-p1-issues.yml
  .github/workflows/cypress.yaml
  .github/workflows/deploy.yaml
  .github/workflows/issue-automation.yml
  .github/workflows/label-deploy-failed.yml
  .github/workflows/label-merge-conflict.yml
  .github/workflows/label-wip.yml
  .github/workflows/ossar-analysis.yml
  .github/workflows/stale.yml
  netlify.toml
  package.json
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useMessageListener.ts
  src/Components/Common/Dialog.tsx
  src/Components/Common/PMJAYProcedurePackageAutocomplete.tsx
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/Facility/ConsultationClaims.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/HCX/ClaimCreatedModal.tsx
  src/Components/HCX/ClaimDetailCard.tsx
  src/Components/HCX/ClaimsItemsBuilder.tsx
  src/Components/HCX/CreateClaimCard.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/HCX/InsurerAutocomplete.tsx
  src/Components/HCX/PatientInsuranceDetailsEditor.tsx
  src/Components/HCX/PolicyEligibilityCheck.tsx
  src/Components/HCX/constants.ts
  src/Components/HCX/misc.ts
  src/Components/HCX/models.ts
  src/Components/HCX/validators.ts
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/Utils/utils.ts
  src/service-worker.ts
  vercel.json
Labels: do not merge, tested

#5125 Vertically center aligned State logo in Login page by modifying tailw…
  src/Components/Auth/Login.tsx
Labels: tested, peer-reviewed

#5036 Adds Facility Central Nusring Station
  src/App.tsx
  src/Common/constants.tsx
  src/Components/Common/Pagination.tsx
  src/Components/Facility/FacilityCNS.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/PatientVitalsCard.tsx
  src/Redux/actions.tsx
  src/Router/AppRouter.tsx
Labels: tested, cypress failed

#5138 Fixes Mean Arterial Pressure not reflecting in update log form
  src/Components/Patient/DailyRounds.tsx
Labels: urgent, tested, P1

#5135 remove MUI button or CircularProgress
  src/Components/Resource/CommentSection.tsx
Labels: tested

#5133 Shows more details in log update view detail page
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/models.tsx
Labels: tested

#5063 Replaced MUI components with custom components in ResetPassword.tsx
  src/Components/Auth/ResetPassword.tsx
Labels: tested

#5109 Minor UI enhancement
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#5127 Fixed excess scrolling issue in summary tab in patient consultation
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested

#5130 Removed MUI components
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#5155 Fix location select on asset creation page
  src/Components/Common/LocationSelect.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: tested, P1

#5165 Production Release; Mar Week 4
  src/App.tsx
  src/Common/constants.tsx
  src/Components/Auth/Login.tsx
  src/Components/Auth/ResetPassword.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Common/Pagination.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/FacilityCNS.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/PatientVitalsCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/models.tsx
  src/Components/Resource/CommentSection.tsx
  src/Redux/actions.tsx
  src/Router/AppRouter.tsx
Labels: cypress failed

#5173 Mark all components from HelperInputFields as Deprecated
  src/Components/Auth/ResetPassword.tsx
  src/Components/Common/DiagnosisSelect.tsx
  src/Components/Common/HelperInputFields.tsx
  src/Components/Common/UserSelect.tsx
  src/Components/Common/UserSelect2.tsx
  src/Components/Common/components/Switch.tsx
  src/Components/DeathReport/DeathReport.tsx
  src/Components/ExternalResult/ExternalResultLocalbodySelector.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/FacilityFilter/LocalBodySelect.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/Investigations/Table.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: need Review

#5129 Add loading spinner beside add button
  src/Components/Users/SkillsSlideOver.tsx
  src/Components/Users/SkillsSlideOverComponents.tsx
  src/Locale/en/Common.json
Labels: tested

#5150 added facility name in asset card
  src/Components/Assets/AssetsList.tsx
Labels: tested

#5159 Improved dependent select menus in patient registration form
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#5162 Add Booster dose to patient vaccination filter
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#5166 Replaced MUI components in `src/Components/Shifting/ListView.tsx.tsx`
  src/Components/Common/components/Page.tsx
  src/Components/Shifting/ListView.tsx
Labels: tested

#5178 Improve Telemedicine rel. fields in Consultation form and Adds `CheckBoxFormField`
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/FormFields/CheckBoxFormField.tsx
Labels: urgent, tested, P1

#5181 Filter active patients in CNS
  src/Components/Facility/FacilityCNS.tsx
  src/Components/Facility/FacilityCard.tsx
Labels: tested, cypress failed

#5160 Replaced MUI components in `src/Components/Shifting/ShiftDetails.tsx`
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ShiftDetails.tsx
Labels: tested

#5110 Updated Investigations suggested table
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Facility/Investigations/investigationsTab.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Resource/CommentSection.tsx
Labels: tested, cypress failed

#5185 Hide the history of illness field when brought by dead is selected
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#5183 Made the button with cross icon not appear in pressure sore preview mode
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
Labels: tested

#5182 Update Treatment Plan icon in Consultation Form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#5167 Show all available skills when adding a skill to user
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#5189 Replaces "Is Telemedicine" to "Is Telemedicine Required for the Patient" in Consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#5190 Refresh CNS every 30 seconds.
  src/Components/Facility/FacilityCNS.tsx
Labels: tested

#5186 Old discharged patient now getting unlinked from the feed and camera
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: urgent, tested, P1

#5184 disables app force updates
  src/index.tsx
Labels: need Review, cypress failed

#5191 added discharge date to LAMA and REF reasons
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, cypress failed

#5180 Improve weight and height fields in consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P2

#5195 ESLint: set `no-literal-string` only for JSX
  .eslintrc.json
Labels: need Review

#5194 fix padding below bed select field in consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#5211 ignore validation for `consultation_notes` if brought dead
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1
