Repository ohcnetwork/care_fe, pull requests merged in 2023-04, with the labels that each got.

#5217 adds script and envs for plausible analytics integration
  .env
  public/index.html
Labels: cypress failed

#5222 fixes bed types not shown when occupied = 0
  src/Components/Facility/FacilityHome.tsx
Labels: urgent, tested, P1

#5215 Removed extra loader under File upload
  src/Components/Patient/FileUpload.tsx
Labels: tested

#5212 Minor UI enhancement
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#5209 minor ui fix in investigation suggested dropdown
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
Labels: tested, cypress failed

#5207 Update experience commenced labels to "Years of experience".
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested

#5154 Added buttons for users card
  src/Components/Users/ManageUsers.tsx
Labels: tested

#5227 adds location filter to central nursing station
  src/Components/Facility/FacilityCNS.tsx
Labels: tested, P1, cypress failed

#5203 Enhanced Patient Sorting + Adds reusable component: `SortDropdownMenu` with locale support
  src/Common/constants.tsx
  src/Common/hooks/useFilters.tsx
  src/Components/Common/SortDropdown.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Locale/en/Common.json
  src/Locale/en/SortOptions.json
  src/Locale/en/index.js
Labels: tested

#5163 fix: Pain Scale data to be added in summary page
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainEditor.res
  src/Components/Facility/Consultations/PainDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: tested, P2

#5164 fix: icon for respiratory support
  src/Common/constants.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#5158 Generalize Filters Slideover
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/CAREUI/interactive/SlideOver.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/AdvancedFilterButton.tsx
  src/Components/Common/FilterButtons.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/FacilityFilter/LocalBodySelect.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
Labels: tested, redesign, cypress failed

#5225 Remove caching logic from serviceworker
  src/service-worker.ts
Labels: needs testing

#5243 Fix __WB_MANIFEST build error
  src/service-worker.ts
Labels: needs testing, P1

#5240 redact numeric sequences and uuids from plausible analytics
  index.html
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/CAREUI/interactive/SlideOver.tsx
  src/Common/constants.tsx
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/AdvancedFilterButton.tsx
  src/Components/Common/FilterButtons.tsx
  src/Components/Common/SortDropdown.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainEditor.res
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/Consultations/PainDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/FacilityCNS.tsx
  src/Components/Facility/FacilityFilter/LocalBodySelect.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientFilterV2.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserFilter.tsx
  src/Components/Users/UserProfile.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
  src/Locale/en/SortOptions.json
  src/Locale/en/index.js
  src/service-worker.ts
Labels: cypress failed

#5247 Fix patient card spacing when icon is present
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#5242 Disabled Auto-copy of medicines to recovered patient discharge pop-up
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested, P1

#5233 Refactor 'Description Advice' in ConsultationDetails component
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested, P1

#5216 Replaced Material UI components in UpdateFacilityMiddleware.ts
  src/Components/Facility/UpdateFacilityMiddleware.tsx
  src/style/CAREUI.css
Labels: tested

#5202 Added validation for 0 count in Add Bed Capacity
  src/Components/Facility/BedCapacity.tsx
Labels: tested

#5251 Added OP number to patient consultation form
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress failed

#5250 Changed discharge prescription template in the patient discharge pop-up
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, need Review, tested, P1

#5248 Fix button width on patient page for smaller screens
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#5206 Add severity category sort options
  src/Common/constants.tsx
  src/Components/Common/components/Menu.tsx
  src/Locale/en/SortOptions.json
Labels: urgent, tested, P1

#5157 Add support for freeflow text in Referred To Facility
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Common/components/SelectMenu.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/AutoCompleteAsync.tsx
Labels: urgent, tested, P1

#5199 Refactor patient category text: "Slightly Abnormal" to "Abnormal"
  src/Common/constants.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#5200 Fixed Page redirection malfunction issue in the facility cns page
  src/Components/Facility/FacilityCNS.tsx
Labels: tested, P2

#5259 Fixed icon missing issue in the linked skills slideover
  src/Components/Users/SkillsSlideOverComponents.tsx
Labels: urgent, tested, P1

#5261 Fixed oxygen support option in respiratory support
  src/Common/constants.tsx
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__None.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor__OxygenSupport.res
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested, P1, cypress failed

#5229 Adds `Script` component, load plausible analytics from useConfig instead of env, redact IDs in URLs
  .env
  index.html
  public/config.json
  src/App.tsx
  src/Common/hooks/useConfig.ts
  src/Components/Common/Plausible.tsx
  src/Components/Common/Script.tsx
Labels: need Review, cypress failed

#5267 Removed respiratory support badge when it is none
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#5268 Store prescription details on patient discharge
  src/Components/Facility/ConsultationDetails.tsx
Labels: needs testing, P1

#5270 Add discharge info card to consultation page
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/models.tsx
Labels: tested, P1

#5316 Add state logo to login page on mobile view
  src/Components/Auth/Login.tsx
Labels: tested, P1

#5313 Critical Care: Adds Catheter Care in Nursing Care
  src/Common/constants.tsx
  src/Components/CriticalCareRecording/NursingCare/CriticalCare__NursingCareEditor.res
  src/Components/CriticalCareRecording/types/CriticalCare__NursingCare.res
Labels: tested, P1, cypress failed

#5311 Show software update button on UserProfile
  src/Components/Common/UpdatableApp.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, P1

#5308 Change "Policy ID" to "Policy ID / Policy Name"
  src/Components/HCX/InsuranceDetailsBuilder.tsx
Labels: tested, P2

#5299 Add "Shift Patient" button to patient dashboard
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, P1

#5294 Consultation Form: Moved Diagnosis Field to a separate section
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress failed

#5283 Fix search input on various pages
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Shifting/BoardView.tsx
Labels: tested, P1

#5269 Added Custom Tailwind ToolTip in place of Material UI's tool tip
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
Labels: tested

#5275 Changed save configuration button width to full width
  src/Components/Assets/AssetType/HL7Monitor.tsx
Labels: tested

#5264 Fix for the session expired page
  src/Components/ErrorPages/SessionExpired.tsx
  src/Router/AppRouter.tsx
  src/Router/SessionRouter.tsx
Labels: tested

#5263 Replaced Material UI circular progress with tailwind custom component
  src/Components/Common/OnlineUsersSelect.tsx
Labels: tested

#5052 fix: reorder and group the patient filters
  src/Components/Common/components/AccordionV2.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientFilterV2.tsx
Labels: tested

#5321 Deletes unused legacy component: `HelpToolTip`
  src/Components/Common/utils/HelpToolTip.tsx
Labels: need Review, cypress failed

#5305 Change all absolute URLs attempting to access public/static contents to use relative URLs
  public/images/kerala-logo.png
  src/Common/constants.tsx
  src/Components/ErrorPages/404.tsx
  src/Components/ErrorPages/InvalidReset.tsx
  src/Components/ErrorPages/SessionExpired.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOverComponents.tsx
Labels: need Review, cypress failed

#5204 fix syntax error in `Auto Label WIP` workflow
  .github/workflows/label-wip.yml
Labels: need Review, github_actions

#5320 Consultation Form: Adds an asterisks for Diagnosis section title
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress failed

#5290 Import/Export button in external results page moved to next line
  src/Components/ExternalResult/ResultList.tsx
Labels: tested

#5288 Place buttons in new line in Search Facility Popup #5287
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
Labels: tested

#5286 fix ventilator type label unknown to none
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
Labels: tested, cypress failed

#5325 Update pull_request_template.md
  .github/pull_request_template.md
Labels: cypress failed

#5274 Fixed Malfunctioning of Patient category advance filter in patient tab
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested, P1

#5329 Cleanup: Deletes unused `PatientFilterV2.tsx`
  src/Components/Patient/PatientFilterV2.tsx
Labels: need Review, cypress failed

#5341 Fix facility filter in asset page
  src/Components/Assets/AssetFilter.tsx
Labels: tested

#5333 Refactor discharge badge on Patient Dashboard
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#5340 Consultation Form: Minor fixes for action field
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1

#5343 Production Release; Apr Week 3
  .github/pull_request_template.md
  .github/workflows/deploy.yaml
  .github/workflows/label-wip.yml
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  public/images/kerala-logo.png
  src/Common/constants.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/OnlineUsersSelect.tsx
  src/Components/Common/UpdatableApp.tsx
  src/Components/Common/components/AccordionV2.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/utils/HelpToolTip.tsx
  src/Components/CriticalCareRecording/NursingCare/CriticalCare__NursingCareEditor.res
  src/Components/CriticalCareRecording/types/CriticalCare__NursingCare.res
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
  src/Components/ErrorPages/404.tsx
  src/Components/ErrorPages/InvalidReset.tsx
  src/Components/ErrorPages/SessionExpired.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOverComponents.tsx
  src/Components/Users/UserProfile.tsx
  src/Router/AppRouter.tsx
  src/Router/SessionRouter.tsx
Labels: cypress failed

#5324 Migrated ShiftingBoard.tsx from MaterialUI to Custom Components
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested

#5176 Show errors on AddLocationForm
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/LocationManagement.tsx
Labels: tested

#5360 fixes respiratory support filters and adds badge
  src/Components/Patient/ManagePatients.tsx
  src/Locale/en/Common.json
Labels: urgent, tested, P1, cypress failed

#5349 Fix 2260
  src/Common/constants.tsx
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/CriticalCareRecording/types/CriticalCare__VentilatorParameters.res
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
  src/Components/Facility/Consultations/components/BinaryChronologicalChart.tsx
Labels: tested, cypress failed

#5369 Frontend changes for peacetime shifting
  src/Common/constants.tsx
  src/Common/hooks/useConfig.ts
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/models.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, merge conflict, cypress failed

#5362 Fixed malfunction of filters
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
  src/Locale/en/Common.json
Labels: tested, P2

#5323 UI changes to shifting form
  src/Components/Patient/PatientCategorySelect.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Locale/en/Shifting.json
Labels: tested

#5383 Made ambulance no. not mandatory in shift request create
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, cypress failed

#5378 Show all locations in CNS page by default and added a cancel button to setLoaction Modal
  src/Components/Facility/FacilityCNS.tsx
  src/Components/Facility/MonitorCard.tsx
Labels: tested

#5377 Fixed Bed capacity malfunctioning in the facility create page
  src/Components/Facility/FacilityCreate.tsx
Labels: tested

#5411 made the assigned to field only available to wartime mode
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: urgent, tested, P1, shifting

#5404 Mark patient as expired only after discharge in shifting
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: urgent, tested, P1, cypress failed

#5379 Changed the discharged logic in patient consultation dashboard
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress failed

#5415 tailwind shift update request form
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: tested, P2, cypress failed

#5419 Modify error message in the shift create form
  src/Components/Patient/ShiftCreate.tsx
Labels: tested

#5392 fix: patient category shifting form
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: urgent, tested, P1
