Repository ohcnetwork/care_fe, pull requests merged in 2023-05, with the labels that each got.

#5421 Renames "Pending" to "Shifting Approval Pending"
  src/Common/constants.tsx
Labels: tested, P1, cypress failed

#5409 added success notification
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested

#5298 Consultation Form: Navigate to Create Shift on submit if "Decision after consultation" is "Refer to another Hospital"
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, tested, P1, cypress failed, shifting

#5425 Disables multiple buttons for read only users
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Patient/FileUpload.tsx
  src/Locale/en/Asset.json
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/index.js
  src/Utils/VoiceRecorder.tsx
Labels: urgent, tested, P1, cypress failed

#5422 Permissions for 'Transfer to Rec. Facility button'
  src/Components/Patient/PatientHome.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested

#5355 Add "None" to patient action
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#5043 added camera feature in fileupload components
  src/Components/Patient/FileUpload.tsx
Labels: tested

#5431 fix cause of death not shown for expired
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested, cypress failed

#5434 hide time if discharge reason: Referred / LAMA / Recovered
  src/Components/Facility/ConsultationDetails.tsx
Labels: urgent, tested, cypress failed

#5444 Remove '_' from asset status in asset page filters
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetsList.tsx
Labels: need Review, tested, cypress failed

#5447 fix choose file button not working in consultation files
  src/Components/Patient/FileUpload.tsx
Labels: urgent, tested, P1, cypress failed

#5453 Production Release; May Week 2
  src/Common/constants.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Locale/en/Asset.json
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/index.js
  src/Utils/VoiceRecorder.tsx
Labels: cypress failed

#5450 Fixed misalignment of pain scale slider in critical care
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
Labels: tested, cypress failed

#5443 fix(resource): cant submit resource request
  src/Components/Resource/ResourceCreate.tsx
  src/Locale/en/Common.json
  src/Locale/en/Resource.json
  src/Locale/en/index.js
Labels: tested, P1, cypress failed

#5330 Improve support for toll free numbers
  src/Components/Common/HelperInputFields.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: tested, P1

#5455 Update package.json to fix care_fe local
  package.json
Labels: urgent, tested, P1, cypress failed

#5459 Updated Discharge Warning
  src/Components/Facility/DischargeModal.tsx
Labels: tested, good to merge, cypress failed

#5462 Production Release; May Week 3
  package.json
  src/Components/Common/HelperInputFields.tsx
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Locale/en/Common.json
  src/Locale/en/Resource.json
  src/Locale/en/index.js
Labels: cypress failed

#5461 Fix error messages for doctor capacity form
  src/Components/Facility/DoctorCapacity.tsx
Labels: tested

#5475 fix / readme typo
  README.md
Labels: good to merge

#5477 Revert "Update package.json to fix care_fe local (#5455)"
  package.json
Labels: tested, cypress failed

#5484 Fix : Asset cards in Asset list page is not a link. Unable to open in new tab
  src/Components/Assets/AssetsList.tsx
Labels: tested

#5458 Download Discharge Summary, Medicine Administration Records and upgraded Prescriptions
  src/Components/Common/ConfirmDialogV2.tsx
  src/Components/Common/PrescriptionBuilder.res
  src/Components/Common/components/ResponsiveMedicineTables.tsx
  src/Components/Common/prescription-builder/PRNPrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionBuilderTS.res
  src/Components/CriticalCareRecording/CriticalCare__MedicineEditor.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/Facility/ConsultationDetails.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/MedicineTables.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/DischargeSummaryModal.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FieldValidators.tsx
  src/Components/Form/Form.tsx
  src/Components/Form/FormFields/NumericWithUnitsFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/Form/Utils.ts
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/DiscontinuePrescription.tsx
  src/Components/Medicine/ManagePrescriptions.tsx
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/MedicineAdministrationsTable.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
  src/Components/Medicine/PrescriptionsTable.tsx
  src/Components/Medicine/models.ts
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/Medicine.json
  src/Locale/en/index.js
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Router/AppRouter.tsx
  src/Utils/utils.ts
Labels: tested, Major Code Change, cypress failed

#5510 Update loader across the platform to CARE logo
  src/Components/Common/Loading.tsx
  src/style/index.css
Labels: tested

#5502 Removed all dependency of react-csv
  package-lock.json
  package.json
  src/Common/hooks/useExport.tsx
  src/Components/Common/CSVLink.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: urgent, tested, P1

#5131 Add bed occupancy to facility card
  src/Components/Facility/FacilityCard.tsx
  src/Locale/en/Common.json
Labels: tested

#5497 Added response view to Update log
  src/Components/Common/PageTitle.tsx
  src/Components/Facility/ConsultationDetails.tsx
Labels: tested

#5499 Added Bed Type Chip in Bed Select Dropdown
  src/Components/Common/BedSelect.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Locale/en/Bed.json
  src/Locale/en/index.js
Labels: tested

#5500 Removed Duplicate patient records present in CSV export if patient has multiple policies associated with them
  src/Components/Common/Export.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P2

#5532 Update README.md
  README.md
Labels: cypress failed

#5535 Redirect to prescriptions only on admission
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, cypress failed

#5541 Set `autocomplete="off"` for all `ComboBox.Input`
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
Labels: tested, cypress failed

#5539 Added tooltip on occupancy chip in facility card
  src/Components/Facility/FacilityCard.tsx
Labels: needs testing

#5565 disables asset class field in asset update
  src/Components/Facility/AssetCreate.tsx
  src/Locale/en/Common.json
Labels: tested

#5514 Fix: Disable delete bed button if bed is occupied
  src/Components/Facility/BedManagement.tsx
Labels: tested

#5547 Notification message
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DischargeModal.tsx
Labels: tested, good to merge

#5525 changed the file name of exported file
  src/Common/hooks/useExport.tsx
Labels: tested

#5526 Fixed bed type chip allignment in bed select dropdown
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested

#5528 Keep search text
  src/Components/Form/AutoCompleteAsync.tsx
Labels: tested

#5538 Replace Material UI components in src/Components/ExternalResult/ResultList.tsx: Fixes #4940
  src/Components/ExternalResult/ResultList.tsx
Labels: tested

#5534 fixed auto collapse the DateFormField after user clicks on a date
  src/Components/Common/DateInputV2.tsx
Labels: tested

#5552 Adds Illustration when no notices available + Replaced Material UI components in NoticeBoard page
  package.json
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
  src/Components/Notifications/NoticeBoard.tsx
Labels: tested

#5556 Delete reactmui components
  src/Components/Facility/ConsultationCard.tsx
Labels: tested, good to merge

#5558 Removed MUI Components from AddLocationCard
  src/Components/Facility/AddLocationForm.tsx
Labels: tested

#5555 fix cursor
  src/Components/Patient/PatientNotes.tsx
Labels: tested, good to merge

#5553 Sachdevavaibhav/issue#4945
  src/Components/Facility/AssetCreate.tsx
Labels: tested, good to merge

#5545 Replace Material UI components in ./src/components/Facility/TriageForm.tsx
  src/Components/Facility/TriageForm.tsx
Labels: tested

#5529 Replaced Coronasafe Network branding to OHC network branding on login page of CARE
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
  src/Locale/en/Common.json
Labels: tested

#5569 fix phone number autofocus
  src/Components/Common/HelperInputFields.tsx
Labels: tested, P1, cypress failed
