Repository ohcnetwork/care_fe, pull requests merged in 2024-04, with the labels that each got.

#7514 Fix invalid page title while rendering consent form
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/support/commands.ts
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: tested

#7515 Fix invalid page title while rendering consent form
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/support/commands.ts
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: tested

#7508 Upgrade to node v20
  .github/workflows/cypress.yaml
  .node-version
  .nvmrc
  Dockerfile
  netlify.toml
  package-lock.json
  package.json
Labels: needs review

#7469 Perform type checks during build and fix all errors
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
  plugins/treeShakeCareIcons.ts
  src/Common/constants.tsx
  src/Common/utils.tsx
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetWarrantyCard.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Auth/Login.tsx
  src/Components/CameraFeed/NoFeedAvailable.tsx
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Common/Export.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Facility/AddBedForm.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/DoctorNote.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/PatientConsultationNotesList.tsx
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/CheckBoxFormField.tsx
  src/Components/Form/FormFields/DosageFormField.tsx
  src/Components/Form/FormFields/OtpFormField.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/HCX/validators.ts
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/models.ts
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Patient/models.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Users/UserAdd.tsx
  src/Redux/api.tsx
  tsconfig.json
  vite.config.mts
Labels: urgent, needs review, tested, P1, Major Code Change

#7359 Handle no option available case when local body returns empty response
  src/Components/Form/SelectMenuV2.tsx
Labels: tested, cypress passed

#7381 Migrate ICD11 and Medibase Medicine search to use `useQuery`
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_manage.cy.ts
  cypress/pageobject/Patient/PatientPrescription.ts
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Medicine/MedibaseAutocompleteFormField.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: needs review, tested, cypress passed

#7471 Implemented responsive design for approval letter in resource
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  src/Components/Resource/ResourceDetails.tsx
Labels: needs testing, needs review

#7411 Add Age field in patient registration
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/models.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/VitalsMonitor/VitalsMonitorHeader.tsx
  src/Utils/utils.ts
Labels: Backend, tested, P1

#7499 Add Cypress test to patient file upload
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/patient_spec/patient_detailpage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientFileupload.ts
  src/Components/Common/HeadedTabs.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/PatientHome.tsx
  src/Utils/VoiceRecorder.tsx
Labels: tested, cypress passed

#7528 fixes 'hide moitors without patient' checkbox not changing state in CNS
  src/Components/Facility/CentralNursingStation.tsx
Labels: needs review, tested

#7345 fix: Events(Beta) improvement
  src/CAREUI/display/Timeline.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
  src/Locale/en/Consultation.json
Labels: tested, cypress passed

#7539 fix date of birth responsiveness and age not shown in death report
  cypress/pageobject/Patient/PatientCreation.ts
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/utils.ts
Labels: needs review, tested

#7533 Replace `useDispatch` in Consultation Form
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: needs review, tested

#7517 Fixed scroll overlay in medicine dashboard
  src/Utils/useVisibility.ts
Labels: needs review, tested

#7404 fix: Removed unnecessary rendering of microphone permission warning info.
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
  src/Utils/useRecorder.js
Labels: tested, cypress passed

#7617 Fix asset qr scan
  src/Components/Assets/AssetsList.tsx
Labels: tested

#7625 Fix action clicks on Doctor Connect slideover
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: tested

#7626 Fix null dosage in Medicine Administrations
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Medicine/PrescrpitionTimeline.tsx
Labels: tested, P1

#7494 "Solved facility linking issue under manage facilities/view users"#7474
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Users/ManageUsers.tsx
Labels: needs review, tested

#7568 Fix Domiciliary Care discrepancy.
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, cypress passed

#7640 Remove recording indicator when recorder is stopped
  src/Utils/useRecorder.js
  src/Utils/useSegmentedRecorder.ts
Labels: tested

#7633 Add Restriction to redirect to facility page if user can't Create Fac…
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, cypress passed

#7614 Add combine action to merge dependabot prs
  .github/workflows/combine.yml
Labels: needs review, tested

#7328 Add Patient Filter for Review Missed
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested, reviewed

#7549 Fix: #7536
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested, reviewed

#7550 Fix: HL7 Vital Monitor error message is clipping out #7534
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
Labels: tested

#7553 Add option to mark notification as unread
  src/Components/Notifications/NotificationsList.tsx
  src/Locale/en/Notifications.json
  src/Redux/api.tsx
Labels: tested

#7565 Added support for various abha qr in scan and pull
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/models.ts
Labels: needs review, tested

#7666 Fix round type display and qr field
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Form/FormFields/TextFormField.tsx
Labels: tested

#7676 Fixes app crash upon clearing referred to facility field in discharge dialog
  src/Components/Facility/DischargeModal.tsx
Labels: needs review, tested, P1

#7675 Disable Discontinue, Administer, Archive Administration & Edit prescription for discharged patients; disallow titrated prescriptions for discharge prescriptions; and more...
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/PrescrpitionTimeline.tsx
  src/Locale/en/Medicine.json
Labels: needs review, tested, P1

#7691 Allow 'State Admin Read Only' to view Camera + Refactor permissions related code to reduce duplication
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Users/ManageUsers.tsx
  src/Routers/routes/FacilityLocationRoutes.tsx
  src/Utils/permissions.ts
  src/Utils/utils.ts
Labels: needs review, tested, P1

#7663 Add trailing slashes to api routes to avoid 301 responses from care
  src/Redux/api.tsx
Labels: needs review, tested

#7561 fix: Auto-close country codes dropdown when clicking outside the component
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: needs review, tested

#7556 Fix: unusual behaviour when removing selected Options
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: needs review, tested

#7537 Replace react-qr-reader with @yudiel/react-qr-scanner package
  package-lock.json
  package.json
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/QRScanner.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: needs review, tested

#7685 User Filters: Adds support for filtering by home facility
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, P1

#7315 Rearranged facility home layout
  src/Components/Facility/FacilityHome.tsx
Labels: needs review, tested

#7367 Introduced Reusable JSON Parser and Validator with Schema, File Preview, and Selected Import Support for XLSX/CSV Files
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/fixtures/externalresultsample.csv
  cypress/pageobject/Asset/AssetCreation.ts
  package-lock.json
  package.json
  public/External-Results-Template.csv
  src/Common/constants.tsx
  src/Common/schemaParser.ts
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Common/ExcelFIleDragAndDrop.tsx
  src/Components/Common/ExcelViewer.tsx
  src/Components/ExternalResult/ExternalResultImportModal.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Routers/routes/ExternalResultRoutes.tsx
  src/Utils/utils.ts
Labels: needs review, tested

#7541 Occupation dropdown frontend
  cypress/pageobject/Patient/PatientCreation.ts
  src/Common/constants.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested

#7652 Fixes profile page not able to retrieve details for superusers
  src/Components/Users/UserProfile.tsx
Labels: tested, reviewed

#7618 Add notification for inventory use stock.
  src/Components/Facility/AddInventoryForm.tsx
Labels: needs review, tested

#7637 add seperate subheading in doctor connect
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: needs review, tested

#7551 search by typing in symptoms
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  src/Components/Common/SymptomsSelect.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
Labels: needs review, tested

#6901 Added Timeline UI for Bed Activity
  src/CAREUI/display/Timeline.tsx
  src/Components/Facility/Consultations/BedActivityTimeline.tsx
  src/Components/Facility/Consultations/Beds.tsx
Labels: needs review, tested

#7564 TEMP: disable eslint in code climate
  .codeclimate.yml
Labels: needs review, tested

#7599 update middleware update notification
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/facility_spec/facility_manage.cy.ts
  src/Components/Facility/FacilityConfigure.tsx
  src/Locale/en/Facility.json
Labels: needs review, tested

#7694 Fixes alignment of "Year of Birth" text in patient registration form
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested, P1

#7594 Add Sorting filter on Discharged Patients page
  src/Common/constants.tsx
  src/Components/Facility/DischargedPatientsList.tsx
Labels: tested

#7707 Fix facility page live monitor button
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#7702 fix spacing of phone number fields in user filters
  src/Components/Users/UserFilter.tsx
Labels: tested

#7709 Enhancements to Doctor Connect Slideover
  cypress/e2e/users_spec/user_manage.cy.ts
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: needs review, tested

#7731 Update README to specify to use local backend for cypress tests
  README.md
Labels: needs review, tested

#7720 Add loading to external results.
  src/Components/ExternalResult/ResultList.tsx
Labels: tested

#7710 Change home facility indicator in linked facilities slideover
  src/Components/Users/ManageUsers.tsx
Labels: tested

#7688 'Treating Physician' field nomenclature changed to 'Treating Doctor'
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#7683 Adds missing required validation for death confirmed doctor in discharge as expired popup
  src/Components/Facility/DischargeModal.tsx
Labels: needs review, tested

#7743 Fixes issue preventing from administering down titration prescriptions
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/validators.ts
Labels: needs review, tested, P1
