Repository ohcnetwork/care_fe, pull requests merged in 2024-08, with the labels that each got.

#7914 Consultation Form Enhancement: No home facility docs
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/StaffCapacity.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Form/FieldValidators.tsx
  src/Components/Medicine/validators.ts
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
  src/Locale/en/Auth.json
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
Labels: needs review, tested

#8199 Handle exceptions raised by the addSourceBuffer method
  src/Common/hooks/useMSEplayer.ts
Labels: needs review, tested

#7588 Fix Incorrect error message for invalid QR code
  src/Components/Assets/AssetsList.tsx
  src/Locale/en/Notifications.json
Labels: tested

#8263 scroll to mandatory empty fields
  src/Components/Patient/DailyRounds.tsx
Labels: needs review, tested

#8261 Fix: Added online status to Doctor Connect
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: needs review, tested

#8254 Camera Feed: Ensure camera moves everytime the preset is clicked
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested, Camera Integration

#8255 Live Feed: Move to last accessed preset instead of last created
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested, Camera Integration

#8244 Increased Form Size & Updated Indicator Field
  src/Components/Medicine/ManagePrescriptions.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: tested

#8240 Fixed: Misalignment of placeholder text inside date component in the …
  src/Components/Common/DateInputV2.tsx
Labels: tested

#8245 Fixed: Transfer patient pop-up behavior
  src/Components/Facility/DuplicatePatientDialog.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#8248 Show weight and height as unspecified rather than 0
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationForm.tsx
Labels: needs review, tested

#8267 Cypress: fix incorrect patient category select's id
  cypress/pageobject/Patient/PatientLogupdate.ts
Labels: tested

#8259 Adds support for printing 🖨️ prescriptions 💊
  src/CAREUI/misc/PrintPreview.tsx
  src/Components/Medicine/ManagePrescriptions.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/PrintPreview.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/Medicine.json
  src/Routers/routes/ConsultationRoutes.tsx
Labels: urgent, tested, P1

#8183 Made Scribe work with Symptoms, Investigations, Diagnosis and Prescriptions
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Scribe/Scribe.tsx
  src/Components/Scribe/formDetails.ts
Labels: needs review, tested

#7609 Fix Notifications for Facility Cover Image Deletion
  src/Components/Facility/CoverImageEditModal.tsx
Labels: needs review, tested

#8270 Added sorting for events
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/Locale/en/SortOptions.json
Labels: urgent, tested, P1, reviewed

#8274 🛠️ Fixes issue with treating physician field being disabled when a search text entered yields no results; 🛠️ Migrate `UserAutocompleteFormField` to use `useQuery`
  src/Components/ABDM/ABDMFacilityRecords.tsx
  src/Components/ABDM/ABDMRecordsTab.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Notifications/NoticeBoard.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Resource/CommentSection.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/BadgesList.tsx
  src/Components/Shifting/CommentsSection.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/ManageUsers.tsx
  src/Redux/actions.tsx
Labels: needs review, tested, P1

#8280 Fixed date time format for edge cases
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
Labels: needs review, tested

#8291 Replace deprecated LOC options in Neurological Monitoring table
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: urgent, needs review, tested, P1

#8311 Skip commenting on stale issues and avoid auto-closing stale PRs
  .github/workflows/stale.yml
Labels: reviewed

#8313 Remove unused dependencies
  package-lock.json
  package.json
Labels: needs review

#8318 Remove unused dependencies
  package-lock.json
  package.json
Labels: needs review

#8320 Camera Feed: Persist last accessed position or preset
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/routes.ts
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested

#8331 Fix Scribe erroring out
  src/Components/Scribe/formDetails.ts
Labels: needs testing, needs review, P1

#8345 Fix camera preset save button disable logic for cases of last moved position
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested, P1

#8354 Use abort controller for submit requests for patient and consultation create
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/request/request.ts
Labels: needs testing, P1

#8355 Treating physician: Fixes an edge case where clearing query leads to field getting disabled
  src/Components/Common/UserAutocompleteFormField.tsx
Labels: tested

#8362 Use staging backend for cypress tests if PR base branch is staging
  .github/workflows/cypress.yaml
Labels: needs review, tested

#8352 Show "Save and Continue" for Progress Notes and Doctors Log
  src/Components/Patient/DailyRounds.tsx
  src/Locale/en/Common.json
Labels: tested, reviewed

#8350 Fixed rounds type changing for Scribe
  src/Components/Patient/DailyRounds.tsx
Labels: needs review, tested

#8344 Modified the fine text in Patient transfer pop-up to match with recent change
  src/Components/Facility/DuplicatePatientDialog.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Locale/en/Facility.json
Labels: tested, reviewed

#8339 Remove unused components and packages
  package-lock.json
  package.json
  src/Components/Common/Transition.tsx
  src/Components/Common/utils/Tooltip.tsx
Labels: needs review, tested

#8337 Fix Facility Notice functionality
  src/Components/Facility/FacilityCard.tsx
Labels: needs review, tested

#8384 Fixed word splitting issue
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
Labels: tested

#8368 Made General Instructions field in Consultation Form non mandatory
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#8392 Fixes neurological tab from crashing in older browsers
  src/Common/constants.tsx
  src/Components/LogUpdate/Sections/NeurologicalMonitoring.tsx
Labels: tested

#8393 Fixes neurological tab from crashing in older browsers
  src/Common/constants.tsx
  src/Components/LogUpdate/Sections/NeurologicalMonitoring.tsx
Labels: tested, P1

#8400 Fix Scroll Issue with Pressure Sores Popup
  src/CAREUI/display/PopupModal.tsx
  src/Components/LogUpdate/Sections/PressureSore/PressureSore.tsx
  src/Components/LogUpdate/components/PainChart.tsx
Labels: tested, reviewed

#8260 Migrate to Headless UI v2
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  cypress/pageobject/Users/ManageUserPage.ts
  cypress/pageobject/Users/UserCreation.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
  src/CAREUI/interactive/SlideOver.tsx
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CentralLiveMonitoring/LiveMonitoringFilters.tsx
  src/Components/CameraFeed/FeedAlert.tsx
  src/Components/Common/DateInputV2.tsx
  src/Components/Common/Dialog.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/UpdatableApp.tsx
  src/Components/Common/Uptime.tsx
  src/Components/Common/components/HelperComponents.tsx
  src/Components/Common/components/Menu.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/Consultations/BedActivityTimeline.tsx
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Medicine/DiscontinuePrescription.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Scribe/Scribe.tsx
  src/Components/VitalsMonitor/VitalsMonitorAssetPopover.tsx
  src/Locale/en/Medicine.json
Labels: urgent, tested, reviewed

#8386 Fixes: Issue #8265 Neurological Tables having incorrect vertical heights...
  src/Components/Facility/Consultations/NeurologicalTables.tsx
Labels: needs review, tested

#8381 Hide N/A and null values in event log #8376
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
Labels: needs review, tested

#8395 Update react-pdf; pdfjs worker; Fixes for i18n
  package-lock.json
  package.json
  public/pdf.worker.min.js
  src/Components/Common/FilePreviewDialog.tsx
  src/Locale/en/Common.json
Labels: test failed

#8402 Enable Facility Cover Image Uploads on Mobile Screens
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#8396 Improve Notes TextArea; Improve i18n
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Form/FormFields/AutoExpandingTextInputFormField.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Locale/en/Common.json
Labels: tested

#8405 Fix pdf previews
  package-lock.json
  package.json
  public/pdf.worker.min.js
  src/Components/Common/PDFViewer.tsx
  vite.config.mts
Labels: tested

#7891 Fix clipping issue login page
  src/Components/Auth/Login.tsx
Labels: needs testing

#8412 Fixes facility cover image from not reloading after upload
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Locale/en/Facility.json
Labels: needs testing, needs review

#8329 Refactored FileUpload component
  cypress/e2e/patient_spec/patient_fileupload.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  cypress/pageobject/Patient/PatientFileupload.ts
  cypress/pageobject/Resource/ResourcePage.ts
  src/Common/constants.tsx
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Common/components/SwitchTabs.tsx
  src/Components/Common/components/Tabs.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFilesTab.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Files/AudioCaptureDialog.tsx
  src/Components/Files/CameraCaptureDialog.tsx
  src/Components/Files/FileBlock.tsx
  src/Components/Files/FileUpload.tsx
  src/Components/HCX/ClaimCreatedModal.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/FileUploadPage.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientConsentRecordBlock.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
  src/Locale/en/FileUpload.json
  src/Locale/en/index.js
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/Utils/VoiceRecorder.tsx
  src/Utils/useFileManager.tsx
  src/Utils/useFileUpload.tsx
  src/Utils/useRecorder.js
  src/Utils/useTimer.tsx
Labels: needs review, tested

#8408 Removed unwanted printing of flow rate in preview
  src/Components/LogUpdate/CriticalCarePreview.tsx
Labels: tested, good to merge

#8328 Add Abdominal Drain and Change Rules to Ryles on Ouptput DropDown
  src/Components/LogUpdate/Sections/IOBalance.tsx
Labels: needs review, tested

#8391 Make Treating Doctor Field Optional for Domiciliary Care Patients
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#7970 Added patient category descriptions for ICU bed patients
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientCategorySelect.tsx
  src/Components/Scribe/formDetails.ts
  src/style/index.css
  tailwind.config.js
Labels: needs review, tested, waiting for backend

#8247 Add option to filter users by no home facility
  src/Components/Common/FacilitySelect.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
  src/Locale/en/Users.json
Labels: needs review, tested

#8446 remove fireRequestV2
  src/Redux/fireRequest.tsx
Labels: good to merge
