Repository ohcnetwork/care_fe, pull requests merged in 2024-12, with the labels that each got.

#9226 Fix: Reflect Updated Service Notes Immediately in Asset Details without page reload
  src/components/Assets/AssetManage.tsx
  src/components/Shifting/ShiftDetails.tsx
Labels: tested

#8954 Referral letter preview desktop
  src/CAREUI/misc/PrintPreview.tsx
  src/components/Shifting/ShiftDetails.tsx
  src/components/ui/card.tsx
Labels: tested

#9254 Tooltip added for treating docter skills in Patient details page
  src/components/Patient/PatientHome.tsx
Labels: tested, good to merge

#9220 Updated Non-Core Question Workflow
  .github/workflows/notify-non-core-qn.yml
Labels: reviewed

#9094 Add 'Update Details' Button in Community Nurse Log Update Details Page
  cypress/pageobject/Patient/PatientLogupdate.ts
  src/components/LogUpdate/CriticalCarePreview.tsx
  src/components/Patient/DailyRoundListDetails.tsx
  src/components/ui/button.tsx
Labels: tested

#9281 Sidebar Duotone icons
  src/CAREUI/icons/CareIcon.tsx
  src/CAREUI/icons/DuoTonePaths.json
  src/components/Assets/AssetsList.tsx
  src/components/Common/Sidebar/Sidebar.tsx
  src/components/Facility/DischargedPatientsList.tsx
  src/components/Facility/FacilityList.tsx
  src/components/Facility/FacilityUsers.tsx
  src/components/Notifications/NotificationsList.tsx
  src/components/Patient/ManagePatients.tsx
  src/components/Patient/SampleViewAdmin.tsx
  src/components/Users/ManageUsers.tsx
Labels: needs review, tested

#8834 Fixed Add a better search UI for patients index page #8691
  cypress/e2e/patient_spec/PatientHomepage.cy.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Patient/PatientCreation.ts
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Common/Page.tsx
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Facility/FacilityList.tsx
  src/components/Form/FormFields/PhoneNumberFormField.tsx
  src/components/Patient/ManagePatients.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/scroll-area.tsx
  src/hooks/useFilters.tsx
Labels: needs review, tested, merge conflict

#9138 Updated Test Details page form UI
  src/components/Patient/SampleDetails.tsx
  src/components/ui/badge.tsx
Labels: tested

#9319 Reorder Patient Search buttons
  src/components/Patient/ManagePatients.tsx
Labels: needs review, tested

#9331 Fix excessive vertical padding in all pages
  src/components/Common/Page.tsx
Labels: needs review, tested

#9116 removed lodash imports and dependencies and wrote js equivalents
  package-lock.json
  package.json
  public/locale/en.json
  src/Utils/Notifications.js
  src/Utils/utils.ts
  src/components/Common/ExcelFIleDragAndDrop.tsx
  src/components/Facility/Investigations/Reports/index.tsx
  src/components/Facility/Investigations/Reports/utils.tsx
  src/components/Facility/Investigations/ShowInvestigation.tsx
  src/components/Facility/Investigations/Table.tsx
  src/components/Form/AutoCompleteAsync.tsx
  src/components/Form/Form.tsx
  src/components/Patient/DiagnosesFilter.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Patient/SampleDetails.tsx
  src/components/Patient/SampleTestCard.tsx
  src/hooks/useDebounce.ts
Labels: needs testing, needs review

#9306 Fixed User Default View in Resource and Shifting
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Shifting/ShiftingBoard.tsx
  src/components/Shifting/ShiftingList.tsx
Labels: tested, reviewed

#9080 User Management Redesign and User Details Page
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersHomepage.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Users/ManageUserPage.ts
  cypress/pageobject/Users/UserCreation.ts
  cypress/pageobject/Users/UserSearch.ts
  public/locale/en.json
  src/Routers/routes/UserRoutes.tsx
  src/Utils/permissions.ts
  src/Utils/utils.ts
  src/common/validation.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Common/ConfirmDialog.tsx
  src/components/Common/FacilitySelect.tsx
  src/components/Common/LanguageSelector.tsx
  src/components/Common/Page.tsx
  src/components/Common/PageTitle.tsx
  src/components/Common/SkillSelect.tsx
  src/components/Common/Tabs.tsx
  src/components/Common/UserColumns.tsx
  src/components/Common/UserDetails.tsx
  src/components/Facility/FacilityUsers.tsx
  src/components/Form/Form.tsx
  src/components/Users/ConfirmFacilityModal.tsx
  src/components/Users/ConfirmHomeFacilityUpdateDialog.tsx
  src/components/Users/LinkFacilityDialog.tsx
  src/components/Users/LinkedFacilities.tsx
  src/components/Users/LinkedFacilitiesTab.tsx
  src/components/Users/LinkedSkills.tsx
  src/components/Users/LinkedSkillsTab.tsx
  src/components/Users/ManageUsers.tsx
  src/components/Users/SkillsSlideOver.tsx
  src/components/Users/SkillsSlideOverComponents.tsx
  src/components/Users/UnlinkSkillDialog.tsx
  src/components/Users/UserAdd.tsx
  src/components/Users/UserAddEditForm.tsx
  src/components/Users/UserAvatar.tsx
  src/components/Users/UserBanner.tsx
  src/components/Users/UserEditDetails.tsx
  src/components/Users/UserFormValidations.tsx
  src/components/Users/UserHome.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/Users/UserProfile.tsx
  src/components/Users/UserResetPassword.tsx
  src/components/Users/UserSummary.tsx
  src/components/Users/UserViewDetails.tsx
Labels: tested

#9354 fix infinite loading
  src/components/Form/AutoCompleteAsync.tsx
Labels: needs review, tested

#9337 Fix Infinite render on country code change
  src/components/Form/FormFields/PhoneNumberFormField.tsx
Labels: needs testing, needs review

#9368 Users Manage Test Fix
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/pageobject/Users/ManageUserPage.ts
Labels: urgent, needs review, tested

#9264 Fix: [Clear Button is active when no input is selected in Dropdown]
  src/components/Assets/AssetsList.tsx
  src/components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/components/Patient/ManagePatients.tsx
Labels: tested

#9265 Scribe Enhancements support PR
  public/locale/en.json
  src/style/CAREUI.css
Labels: needs review, tested

#9247 Bug-Fix: Patient's Age parsing discrepancy during XLS export in Sample Management System
  src/components/Patient/SampleViewAdmin.tsx
Labels: tested, reviewed

#9145 Facility bed capacity verification test
  cypress/e2e/facility_spec/FacilityCreation.cy.ts
  cypress/e2e/facility_spec/FacilityHomepage.cy.ts
  cypress/e2e/patient_spec/PatientConsultationCreation.cy.ts
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Facility/FacilityLocation.ts
  cypress/pageobject/Facility/FacilityManage.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientHome.ts
  cypress/pageobject/Patient/PatientTreatmentPlan.ts
  src/components/Facility/FacilityCard.tsx
  src/components/Patient/PatientHome.tsx
Labels: needs review, tested

#9330 Changes on Assigning/Reassigning/Unassigning Volunteer to Patient
  public/locale/en.json
  src/components/Patient/PatientHome.tsx
Labels: tested

#9387 Sample Test Details: Fix Padding and enclose status and result with i18n
  src/components/Patient/SampleDetails.tsx
Labels: needs review

#9396 fix: fixed enter key issue
  src/components/Form/Form.tsx
Labels: needs testing, reviewed

#9383 Fix: Added location for linked facility
  src/components/Users/LinkedFacilities.tsx
Labels: tested

#9404 User creation form bug fix
  src/components/Users/UserAddEditForm.tsx
  src/components/Users/UserFormValidations.tsx
Labels: needs review, tested, P1

#9410 Fixes timestamp alignment and adds 'Last Modified' section in patient management #9397
  src/components/Facility/ConsultationDetails/index.tsx
Labels: tested

#9378 Fix phone number field overflow in search component on firefox
  src/components/Form/FormFields/PhoneNumberFormField.tsx
Labels: needs testing, reviewed

#9458 Added Custom Headers Logic to Query
  src/Utils/request/query.ts
  src/Utils/request/types.ts
  src/Utils/request/utils.ts
Labels: reviewed

#9297 Fix: Duplicate network requests in Patient Details page
  src/components/Facility/PatientNotesList.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Patient/PatientDetailsTab/ImmunisationRecords.tsx
  src/components/Patient/PatientDetailsTab/Notes.tsx
  src/components/Patient/PatientDetailsTab/ShiftingHistory.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientHome.tsx
Labels: tested, reviewed

#9320 Search UI for discharge patients
  src/components/Facility/DischargedPatientsList.tsx
Labels: tested, reviewed

#9270 Fixes UI Bug Issue in Symptom Editor
  src/components/Common/DateInputV2.tsx
  src/components/Form/FormFields/AutocompleteMultiselect.tsx
  src/components/Form/FormFields/DateFormField.tsx
  src/components/Form/ModelCrudEditor.tsx
Labels: tested, reviewed

#9235 Occupancy bed tooltip fully visible in mobile view
  src/components/Common/Sidebar/Sidebar.tsx
  src/components/Facility/FacilityCard.tsx
  src/components/ui/tooltip.tsx
Labels: tested

#9437 Fix: UI changes in shifting and resources pages
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Shifting/ShiftingBoard.tsx
  src/components/Shifting/ShiftingList.tsx
Labels: tested, reviewed

#9427 Fix avatar upload stuck state and update header after changing avatar
  src/Utils/request/uploadFile.ts
  src/components/Common/AvatarEditModal.tsx
  src/components/Users/UserAvatar.tsx
Labels: tested

#9503 Fixed facility selection issue in UserAddEditForm
  cypress/e2e/patient_spec/PatientConsultationDischarge.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/components/Patient/PatientInfoCard.tsx
  src/components/Users/UserAddEditForm.tsx
Labels: urgent, needs review, tested, P1

#9522 refactor: changed npm to sheetjs cdn
  package-lock.json
  package.json
Labels: needs testing

#9491 FIXED: Warranty Card UI Improve Responsiveness and Text Overflow Handling
  src/components/Assets/AssetWarrantyCard.tsx
Labels: needs testing

#9413 FIXED: Implement Dropdown for Hidden Breadcrumb Paths Across the Platform
  src/components/Common/Breadcrumbs.tsx
  src/components/ui/breadcrumb.tsx
Labels: tested, reviewed

#9382 User Profile Replacement/Removal
  cypress/e2e/patient_spec/PatientConsultationDischarge.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  cypress/pageobject/Users/ManageUserPage.ts
  cypress/pageobject/Users/UserProfilePage.ts
  src/Routers/routes/UserRoutes.tsx
  src/components/Users/ManageUsers.tsx
  src/components/Users/UserHome.tsx
  src/components/Users/UserProfile.tsx
  src/components/Users/UserSoftwareUpdate.tsx
  src/components/Users/UserSummary.tsx
Labels: tested, reviewed

#9490 fix: remove overlapping of text and icons
  src/components/Shifting/ShiftingTable.tsx
Labels: needs review, tested

#9415 Fix: Discharge patient showing live
  src/components/Facility/ConsultationCard.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
Labels: tested, reviewed

#9317 Use shadcn Tooltip Components across FacilityCard
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/ta.json
  src/components/Facility/FacilityCard.tsx
Labels: tested

#9296 Add View Consultation Button
  public/locale/en.json
  src/components/Common/AuthorizedButton.tsx
  src/components/Patient/PatientHome.tsx
Labels: tested, reviewed

#9432 fix: DateInput and Actions button not optimised for mobile viewports
  src/components/Common/DateInputV2.tsx
  src/components/Patient/PatientHome.tsx
Labels: tested, reviewed

#9475 Fixed scroll issue in Shifting and Resource
  src/components/Kanban/Board.tsx
Labels: needs review, tested

#9558 Fix Resource Board Filtering Failure
  src/components/Kanban/Board.tsx
Labels: good to merge

#9400 New Patient Search and Register UI
  package-lock.json
  package.json
  public/locale/en.json
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/CAREUI/misc/SectionNavigator.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/Utils/request/api.tsx
  src/Utils/utils.ts
  src/components/Assets/AssetTypes.tsx
  src/components/Common/Breadcrumbs.tsx
  src/components/Common/Export.tsx
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Common/SortDropdown.tsx
  src/components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/components/Facility/ConsultationDetails/ConsultationContext.tsx
  src/components/Facility/ConsultationDetails/index.tsx
  src/components/Facility/DischargedPatientsList.tsx
  src/components/Facility/DuplicatePatientDialog.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Facility/FacilityList.tsx
  src/components/Facility/Investigations/investigationsTab.tsx
  src/components/Facility/TreatmentSummary.tsx
  src/components/Facility/models.tsx
  src/components/HCX/models.ts
  src/components/Patient/ManagePatients.tsx
  src/components/Patient/PatientDetailsTab/ImmunisationRecords.tsx
  src/components/Patient/PatientDetailsTab/ShiftingHistory.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientFilter.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Patient/Utils.ts
  src/components/Patient/models.tsx
  src/components/Shifting/ShiftDetails.tsx
  src/components/Shifting/ShiftDetailsUpdate.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/errors.tsx
  src/components/ui/input-with-error.tsx
  src/components/ui/input.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/hooks/useFilters.tsx
  src/pages/Facility/FacilitiesPage.tsx
  src/pluginTypes.ts
  src/types/emr/patient.ts
Labels: needs review

#9567 Fix export button styling on shifting and resource page and facility select modal on patient index
  src/components/Common/Export.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Shifting/ShiftingBoard.tsx
  src/components/Shifting/ShiftingList.tsx
Labels: needs testing, needs review

#9574 Always show "online" for authenticated user profiles
  src/components/Users/UserListAndCard.tsx
Labels: good to merge

#9528 Added medication statement question
  public/locale/en.json
  src/Utils/request/api.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/components/ui/date-range-picker.tsx
  src/types/emr/medicationStatement.ts
  src/types/questionnaire/base.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
Labels: merge conflict

#9596 Fix: the selected medicine issue in the placeholder
  src/components/Medicine/MedibaseAutocompleteFormField.tsx
Labels: tested, P1

#9190 Integrates useInfiniteQuery for data fetching and resolves Infinite Load issue in Notes.
  cypress/e2e/patient_spec/PatientDoctorNotes.cy.ts
  src/components/Facility/ConsultationDoctorNotes/index.tsx
  src/components/Facility/DoctorNote.tsx
  src/components/Facility/PatientConsultationNotesList.tsx
  src/components/Facility/PatientNoteCard.tsx
  src/components/Facility/PatientNotesList.tsx
  src/components/Facility/PatientNotesSlideover.tsx
  src/components/Facility/models.tsx
  src/components/Patient/PatientDetailsTab/Notes.tsx
  src/components/Patient/PatientNotes.tsx
  src/components/Patient/Utils.ts
Labels: needs review, tested

#9607 fixes address and patient note card multi-line issue
  src/components/Facility/PatientNoteCard.tsx
  src/components/Form/Form.tsx
Labels: tested, P1

#9585 Wired the components in Consultation Medication Tab with latest FHIR based models
  src/Utils/request/api.tsx
  src/Utils/request/types.ts
  src/Utils/request/utils.ts
  src/Utils/utils.ts
  src/components/Facility/ConsultationDetails/ConsultationContext.tsx
  src/components/Facility/ConsultationDetails/EncounterContext.tsx
  src/components/Medicine/AdministerMedicine.tsx
  src/components/Medicine/DiscontinueMedication.tsx
  src/components/Medicine/DiscontinuePrescription.tsx
  src/components/Medicine/EditPrescriptionForm.tsx
  src/components/Medicine/MedicineAdministration.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/components/Medicine/MedicineAdministrationSheet/index.tsx
  src/components/Medicine/MedicineAdministrationSheet/utils.ts
  src/components/Medicine/PrescriptionBuilder.tsx
  src/components/Medicine/PrescriptionDetailCard.tsx
  src/components/Medicine/PrescriptionTimeline.tsx
  src/components/Medicine/PrescriptionsTable.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/ui/date-time-picker.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterMedicinesTab.tsx
  src/pluginTypes.ts
  src/types/emr/medicationAdministration.ts
  src/types/emr/medicationRequest.ts
Labels: waiting for backend

#9298 Doctor notes enhancement
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/Utils/request/api.tsx
  src/Utils/textEditor.ts
  src/common/constants.tsx
  src/components/Common/DiscussionNotesEditor.tsx
  src/components/Common/FilePreviewCard.tsx
  src/components/Common/MentionDropdown.tsx
  src/components/Common/NotePreview.tsx
  src/components/Facility/ConsultationDoctorNotes/index.tsx
  src/components/Facility/DoctorNote.tsx
  src/components/Facility/DoctorNoteReplyPreviewCard.tsx
  src/components/Facility/PatientConsultationNotesList.tsx
  src/components/Facility/PatientNoteCard.tsx
  src/components/Facility/PatientNotesDetailedView.tsx
  src/components/Facility/PatientNotesList.tsx
  src/components/Facility/PatientNotesListComponent.tsx
  src/components/Facility/PatientNotesSlideover.tsx
  src/components/Facility/models.tsx
  src/components/Files/FileUpload.tsx
  src/components/Notifications/NotificationsList.tsx
  src/components/Patient/PatientDetailsTab/Notes.tsx
  src/components/Patient/PatientNotes.tsx
  src/components/ui/textarea.tsx
  src/hooks/useFileManager.tsx
  src/hooks/useFileUpload.tsx
Labels: tested, reviewed

#9620 Adds support for searching for `OrganizationSelector` and fix scroll for dropdown in sheet
  package-lock.json
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/ta.json
  src/components/ui/autocomplete.tsx
  src/components/ui/calendar.tsx
  src/components/ui/sidebar/app-sidebar.tsx
  src/hooks/useSlug.ts
  src/pages/Organization/components/OrganizationSelector.tsx
Labels: tested
