Repository ohcnetwork/care_fe, pull requests merged in 2024-11, with the labels that each got.

#8970 fixed: sample details page button position
  src/components/Patient/PatientHome.tsx
  src/components/Patient/SampleDetails.tsx
Labels: needs review, tested

#8921 Adding of clear and cancel button in create preset form
  src/components/CameraFeed/ConfigureCamera.tsx
  src/components/Form/FormFields/TextFormField.tsx
Labels: needs review, tested

#8940 checks for username and username in card overflow fix
  src/components/ABDM/LinkAbhaNumber/CreateWithAadhaar.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Users/ManageUsers.tsx
  src/components/Users/UserAdd.tsx
  src/components/Users/UserProfile.tsx
Labels: needs review, tested

#8979 Improve code splitting
  .envrc
  package-lock.json
  package.json
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/mr.json
  public/locale/ta.json
  src/Locale/TRANSLATION_CONTRIBUTION.md
  src/PluginEngine.tsx
  src/Routers/SessionRouter.tsx
  src/components/Auth/Login.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Auth/index.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Facility/Consultations/ABGPlots.tsx
  src/components/Facility/Consultations/DialysisPlots.tsx
  src/components/Facility/Consultations/NutritionPlots.tsx
  src/components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/components/Facility/Consultations/VentilatorPlot.tsx
  src/components/Facility/Consultations/components/LinePlot.tsx
  src/components/Facility/Consultations/components/ReactEcharts.tsx
  src/components/Facility/Consultations/components/StackedLinePlot.tsx
  src/components/Kanban/Board.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/Shifting/ShiftingBoard.tsx
  src/globals.d.ts
  src/i18n.ts
  vite.config.mts
Labels: needs review, tested

#9014 Fix same-day discharge date selection in DateInputV2 component
  src/components/Common/DateInputV2.tsx
Labels: urgent, needs review, tested, P1

#9006 Added dynamic lock icon and strong types
  cypress.config.ts
  src/components/Patient/PatientHome.tsx
Labels: tested, good to merge

#8999 Added No records found in ABDM and button placement adjusted in Investigation Reports Page
  public/locale/en.json
  src/components/ABDM/ABDMFacilityRecords.tsx
  src/components/Facility/Investigations/Reports/index.tsx
Labels: needs review, tested, Deploy-Failed

#9026 partially revert c9343d5 to fix investigation issues
  src/components/Facility/Investigations/Reports/index.tsx
  src/components/Facility/Investigations/Reports/utils.tsx
  src/components/Facility/Investigations/ShowInvestigation.tsx
Labels: needs testing, needs review

#9029 [production-patch] Fix investigations crashes and same day discharge
  src/components/Common/DateInputV2.tsx
  src/components/Facility/Investigations/Reports/index.tsx
  src/components/Facility/Investigations/Reports/utils.tsx
  src/components/Facility/Investigations/ShowInvestigation.tsx
Labels: urgent, tested

#9049 Update dependencies
  .devcontainer/devcontainer.json
  .husky/_/husky.sh
  .husky/pre-commit
  .node-version
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
Labels: needs testing, needs review

#9052 Update setup-care-apps scripts to remove existing apps that are not configured in env if any
  .gitignore
  scripts/setup-care-apps.js
Labels: needs review

#9068 Include icons used in enabled apps while treeshaking the icons
  plugins/treeShakeCareIcons.ts
Labels: urgent, tested, P1

#8967 Avatar in UserAutoComplete
  cypress/e2e/assets_spec/AssetHomepage.cy.ts
  cypress/e2e/assets_spec/AssetsCreation.cy.ts
  cypress/e2e/assets_spec/AssetsManage.cy.ts
  cypress/e2e/facility_spec/FacilityCreation.cy.ts
  cypress/e2e/facility_spec/FacilityHomepage.cy.ts
  cypress/e2e/facility_spec/FacilityInventory.cy.ts
  cypress/e2e/facility_spec/FacilityManage.cy.ts
  cypress/e2e/patient_spec/PatientBedManagement.cy.ts
  cypress/e2e/patient_spec/PatientConsultationCreation.cy.ts
  cypress/e2e/patient_spec/PatientDoctorConnect.cy.ts
  cypress/e2e/patient_spec/PatientFileUpload.ts
  cypress/e2e/patient_spec/PatientLogUpdate.cy.ts
  cypress/e2e/patient_spec/PatientPrescription.cy.ts
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/e2e/resource_spec/ResourcesHomepage.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  src/components/Common/UserAutocompleteFormField.tsx
  src/components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested

#9070 fix locale sort's path and fix format script to sort cypress dir
  cypress/e2e/facility_spec/FacilityLocation.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  cypress/pageobject/Patient/PatientPredefined.ts
  cypress/tsconfig.json
  package.json
  scripts/sort-locales.js
Labels: good to merge

#8960 Fix Conditional Rendering of TextAreaFormField for Sample Test Type
  public/locale/en.json
  src/components/Patient/SampleDetails.tsx
  src/components/Patient/SampleTest.tsx
  src/components/Patient/SampleTestCard.tsx
Labels: tested

#8938 Update tooltip position and rotation in Discussion Notes panel
  src/components/Facility/PatientNotesSlideover.tsx
Labels: needs review, tested

#9045 Add Cypress Test Suite for Facility Notice Board Functionality Verification
  cypress/e2e/facility_spec/FacilityHomepage.cy.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Facility/FacilityNotify.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/components/Common/Sidebar/SidebarItem.tsx
  src/components/Facility/FacilityCard.tsx
  src/components/Notifications/NoticeBoard.tsx
  src/components/Notifications/NotificationsList.tsx
Labels: needs review, tested

#9078 "fix icon overlap in edit consultation page." #9077
  src/components/Facility/ConsultationForm.tsx
Labels: needs testing, needs review

#9059 Fixed search icon and removed delete option
  src/Utils/request/api.tsx
  src/components/Form/SearchInput.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Shifting/ShiftDetails.tsx
Labels: good to merge

#8751 Dosage heading is misaligned in the prescription module #8645
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
Labels: tested

#8882 Update for List View in Shifting from Gird LayOut to List Layout
  .env
  public/locale/en.json
  src/components/Shifting/ShiftingList.tsx
Labels: needs review, tested

#9065 Fix: Investigation record error in mobile mode
  src/components/Facility/Investigations/InvestigationSuggestions.tsx
Labels: needs review, tested

#9047 fixes dropdown click events issue
  src/components/Common/Sidebar/SidebarUserCard.tsx
Labels: needs review, tested

#9038 Fix Notification Subscription Loading and Messaging Errors
  public/locale/en.json
  src/components/Notifications/NotificationsList.tsx
Labels: needs review, tested

#9007 New Cypress Test for HCX Workflow in the platform
  .github/workflows/cypress.yaml
  cypress/e2e/hcx_spec/HcxClaims.cy.ts
  cypress/e2e/patient_spec/PatientHomepage.cy.ts
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/pageobject/Hcx/HcxClaims.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientInsurance.ts
  src/components/Facility/ConsultationCard.tsx
  src/components/HCX/PolicyEligibilityCheck.tsx
  src/components/Patient/PatientHome.tsx
Labels: needs review, tested

#9004 Conditionaly renders pagination component if number of entries is more than results per page
  src/components/Common/Pagination.tsx
Labels: needs review, tested

#9054 Upgraded qrcode.react to latest version
  package-lock.json
  package.json
  src/components/ABDM/ABHAProfileModal.tsx
  src/components/Assets/AssetManage.tsx
  src/components/Shifting/ShiftDetails.tsx
Labels: tested, reviewed

#9024 Refactor Cypress Auth Test to POM and Improve Test Stability
  cypress/e2e/auth_spec/ForgotPassword.cy.ts
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/homepage_spec/UserLogin.cy.ts
  cypress/e2e/homepage_spec/redirect.cy.ts
  cypress/pageobject/Login/LoginPage.ts
  src/components/Auth/Login.tsx
Labels: needs review, tested

#9036 ABDM Plug FE
  cypress/e2e/facility_spec/FacilityManage.cy.ts
  src/App.tsx
  src/Routers/AppRouter.tsx
  src/Utils/pubsubContext.tsx
  src/Utils/request/api.tsx
  src/common/constants.tsx
  src/components/ABDM/ABDMFacilityRecords.tsx
  src/components/ABDM/ABDMRecordsTab.tsx
  src/components/ABDM/ABHAProfileModal.tsx
  src/components/ABDM/ConfigureHealthFacility.tsx
  src/components/ABDM/FetchRecordsModal.tsx
  src/components/ABDM/HealthInformation.tsx
  src/components/ABDM/LinkAbhaNumber/CreateWithAadhaar.tsx
  src/components/ABDM/LinkAbhaNumber/LinkWithOtp.tsx
  src/components/ABDM/LinkAbhaNumber/LinkWithQr.tsx
  src/components/ABDM/LinkAbhaNumber/index.tsx
  src/components/ABDM/LinkAbhaNumber/useMultiStepForm.ts
  src/components/ABDM/types/abha.ts
  src/components/ABDM/types/consent.ts
  src/components/ABDM/types/health-facility.ts
  src/components/ABDM/types/health-information.ts
  src/components/Facility/ConsultationDetails/ConsultationContext.tsx
  src/components/Facility/ConsultationDetails/index.tsx
  src/components/Facility/FacilityConfigure.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Users/UserAdd.tsx
  src/hooks/useCareApps.ts
  src/pluginTypes.ts
Labels: tested, reviewed

#8976 Center align `Loading` component based on remaining screen height
  src/components/Common/Loading.tsx
Labels: needs review, tested

#8889 added non-core-qn workflow
  .github/workflows/notify-non-core-qn.yml
Labels: changes required, Deploy-Failed

#8469 Migrated Scribe to a CARE App + Context
  cypress/pageobject/Patient/PatientLogupdate.ts
  public/locale/en.json
  src/CAREUI/interactive/KeyboardShortcut.tsx
  src/Routers/AppRouter.tsx
  src/Utils/request/api.tsx
  src/Utils/useSegmentedRecorder.ts
  src/Utils/useValueInjectionObserver.tsx
  src/Utils/useVoiceRecorder.ts
  src/components/Common/BloodPressureFormField.tsx
  src/components/Common/DateInputV2.tsx
  src/components/Common/TemperatureFormField.tsx
  src/components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Form/FormFields/Autocomplete.tsx
  src/components/Form/FormFields/AutocompleteMultiselect.tsx
  src/components/Form/FormFields/RadioFormField.tsx
  src/components/Form/FormFields/RangeAutocompleteFormField.tsx
  src/components/Form/FormFields/TextFormField.tsx
  src/components/Form/SelectMenuV2.tsx
  src/components/Patient/DailyRounds.tsx
  src/components/Scribe/Scribe.tsx
  src/components/Scribe/formDetails.ts
  src/components/Symptoms/SymptomsBuilder.tsx
  src/hooks/useRecorder.d.ts
  src/hooks/useRecorder.js
  src/pluginTypes.ts
  tailwind.config.js
Labels: needs review, tested

#9100 Fix bug with recursion
  src/components/Facility/ConsultationDetails/index.tsx
Labels: needs testing, needs review, P1

#9095 Remove redundant "Add Consultation" button
  src/components/Patient/PatientHome.tsx
Labels: needs testing

#9111 "disable "Save Button" if no file is selected." #9110
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, tested

#8977 Add Cypress Test Suite for Sample Test Request Workflow
  cypress/e2e/facility_spec/FacilityHomepage.cy.ts
  cypress/e2e/facility_spec/FacilityLocation.cy.ts
  cypress/e2e/hcx_spec/HcxClaims.cy.ts
  cypress/e2e/patient_spec/PatientConsultationCreation.cy.ts
  cypress/e2e/patient_spec/PatientConsultationDischarge.cy.ts
  cypress/e2e/patient_spec/PatientInvestigation.cy.ts
  cypress/e2e/patient_spec/PatientLogUpdate.cy.ts
  cypress/e2e/patient_spec/PatientPrescription.cy.ts
  cypress/e2e/sample_test_spec/SampleTestRequest.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientFileupload.ts
  cypress/pageobject/Sample/SampleTestCreate.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  src/components/Patient/PatientHome.tsx
  src/components/Patient/SampleDetails.tsx
  src/components/Patient/SampleTest.tsx
  src/components/Patient/SampleTestCard.tsx
  src/components/Patient/SampleViewAdmin.tsx
Labels: tested, reviewed

#9119 Tests to verify error handling and access restrictions during Facility Creation
  cypress/e2e/facility_spec/FacilityCreation.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
Labels: tested, reviewed

#9125 Login page input fields UI update
  src/CAREUI/interactive/LegendInput.tsx
  src/components/Auth/Login.tsx
Labels: needs review, tested

#9123 Fix: Bed capacity pop up errors
  src/components/Facility/BedCapacity.tsx
Labels: needs review, tested

#9032 Enhanced care config to validate env during build process
  package-lock.json
  package.json
  src/Integrations/Plausible.tsx
  src/Integrations/Sentry.tsx
  vite.config.mts
Labels: needs review, tested

#8907 Added SpO2 field in community log update for nurses
  public/locale/en.json
  src/components/Patient/DailyRounds.tsx
Labels: tested

#9131 Added a missing translation
  public/locale/en.json
Labels: needs review, tested

#9152 fix: Resolve creation of patient name despite having numeric values
  src/components/Patient/PatientRegister.tsx
Labels: tested, reviewed

#9118 Adjusted SpO2 thresholds and labels in DailyRounds component to match medical standards
  public/locale/en.json
  src/components/Patient/DailyRounds.tsx
Labels: tested, reviewed

#9133 Fix: Year Of Birth Field Validation Condition in Patient transfer form
  src/components/Facility/TransferPatientDialog.tsx
Labels: needs review, tested

#8935 Fix: TypeError in notification list
  src/components/Notifications/NotificationsList.tsx
Labels: needs review, tested

#9079 Enhancements to the nursing care procedures and routines tables
  src/components/Facility/ConsultationDetails/ConsultationNursingTab.tsx
  src/components/Facility/Consultations/LogUpdateAnalyseTable.tsx
  src/components/Facility/Consultations/NursingPlot.tsx
  src/components/Facility/models.tsx
Labels: needs review, tested

#9000 Add function to authorize user to register patient
  src/components/Facility/FacilityHome.tsx
  src/components/Patient/PatientRegister.tsx
Labels: needs review, tested

#9168 fix plausible site domain env validation
  vite.config.mts
Labels: needs review, tested, P1

#9182 Fix: Spo2 twice rendering and wrong thresholds
  src/components/Patient/DailyRounds.tsx
Labels: tested, P1, reviewed

#9177 Remove special character validations for names (patients and users)
  public/locale/en.json
  src/common/validation.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Users/UserAdd.tsx
Labels: needs review, tested

#9193 UI enhancement to Sample Test History
  src/components/Patient/SampleDetails.tsx
Labels: needs review, tested

#9172 Adjusted the view change button position
  src/components/Common/SortDropdown.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Shifting/ShiftingList.tsx
Labels: needs review, tested

#9203 Patient Home Page redesign
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientMedicalHistory.ts
  cypress/pageobject/Sample/SampleTestCreate.ts
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/mr.json
  src/CAREUI/display/Chip.tsx
  src/Routers/AppRouter.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/common/constants.tsx
  src/components/Common/Breadcrumbs.tsx
  src/components/Common/Menu.tsx
  src/components/Common/Page.tsx
  src/components/Facility/ConsultationCard.tsx
  src/components/Facility/ConsultationDetails/index.tsx
  src/components/Patient/InsuranceDetails.tsx
  src/components/Patient/InsuranceDetailsCard.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Patient/PatientDetailsTab/ImmunisationRecords.tsx
  src/components/Patient/PatientDetailsTab/Notes.tsx
  src/components/Patient/PatientDetailsTab/SampleTestHistory.tsx
  src/components/Patient/PatientDetailsTab/ShiftingHistory.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Patient/SampleTestCard.tsx
  src/components/Patient/models.tsx
  src/components/Shifting/ShiftingBlock.tsx
  src/components/Shifting/ShiftingList.tsx
  src/components/Shifting/ShiftingTable.tsx
  src/components/Users/ManageUsers.tsx
Labels: needs testing, needs review

#9159 Update Camera Capture Component
  src/components/Files/CameraCaptureDialog.tsx
Labels: needs review, tested

#9180 Fix Camera Capture on Retake and Close
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Files/CameraCaptureDialog.tsx
  src/hooks/useFileUpload.tsx
Labels: tested

#9221 Fix duplicated content in patient consultation
  src/components/Facility/ConsultationDetails/index.tsx
Labels: needs review, tested, P1

#9207 Solved the problem of overlapping notifications during updates
  package-lock.json
  src/components/Users/UserProfile.tsx
Labels: tested

#9222 Fix loading state management in useQuery when requests are aborted
  src/Utils/request/request.ts
  src/Utils/request/useMutation.ts
  src/Utils/request/useQuery.ts
Labels: needs review, tested

#8985 Fix: Breadcrumbs redirection to patient edit consultation form
  src/components/Facility/ConsultationDetails/index.tsx
  src/components/Patient/PatientConsentRecords.tsx
Labels: tested

#9196 Implemented Next and Previous button for files preview
  src/components/Common/FilePreviewDialog.tsx
  src/components/Files/FileUpload.tsx
  src/components/Patient/FileUploadPage.tsx
  src/hooks/useFileManager.tsx
Labels: tested

#9242 Fix: Date of Birth to Year of Birth on Patient Details Page when DOB is Missing
  public/locale/en.json
  src/components/Patient/PatientDetailsTab/Demography.tsx
Labels: tested

#8930 Rewriting UsersCreation.cy.ts according to POM approach
  cypress/e2e/facility_spec/FacilityLocation.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  cypress/pageobject/Users/UserCreation.ts
  cypress/pageobject/Users/UserProfilePage.ts
  cypress/pageobject/utils/constants.ts
Labels: tested, reviewed

#9200 Fixed Breadcrumb to Display Detailed Name Instead of ID
  src/components/Patient/SampleDetails.tsx
  src/components/Patient/models.tsx
  src/components/Shifting/ShiftDetails.tsx
Labels: tested

#9251 Fix : Advanced Filters Autofilling on Revisit to Patient Tab
  src/components/Patient/ManagePatients.tsx
Labels: needs testing, needs review

#9245 Add edit button to immunisation section; replaced buttons with shadcn buttons across PatientsDetail section
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Patient/PatientDetailsTab/ImmunisationRecords.tsx
Labels: tested
