Repository ohcnetwork/care_fe, pull requests merged in 2024-09, with the labels that each got.

#8450 Refactor care config to use camelCase variables and remove `useConfig` hook
  .example.env
  .storybook/vite.config.mts
  care.config.ts
  index.html
  src/App.tsx
  src/Common/constants.tsx
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/ExternalResult/ExternalResultImportModal.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/FacilityBedCapacity.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/Medicine/PrintPreview.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Scribe/Scribe.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Integrations/Plausible.tsx
  src/Integrations/Sentry.tsx
  src/Providers/AppConfigProvider.tsx
  src/Providers/AuthUserProvider.tsx
  src/Providers/index.tsx
  src/Redux/fireRequest.tsx
  src/Routers/AppRouter.tsx
  src/Utils/request/request.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.mts
Labels: needs review

#8453 Fixes PR template tags
  .github/pull_request_template.md
Labels: needs review

#8452 Removes Storybook
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/vite.config.mts
  README.md
  package-lock.json
  package.json
  src/Components/Patient/Waveform.tsx
  src/Utils/useTimer.tsx
  src/stories/Care UI/ButtonV2.stories.tsx
  src/stories/Care UI/Form Fields/DateFormField.stories.tsx
  src/stories/Care UI/Form Fields/DateRangeFormField.stories.tsx
  src/stories/Care UI/Form Fields/MultiSelectFormField.stories.tsx
  src/stories/Care UI/Form Fields/SelectFormField.stories.tsx
  src/stories/Care UI/Slideover.stories.tsx
  src/stories/Introduction.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Labels: good to merge

#8378 Adds validation for max dosage in PRN prescription #8324
  src/Components/Medicine/validators.ts
  src/Locale/en/Common.json
  src/Locale/en/Medicine.json
Labels: tested

#8419 Fix allowed extensions not working for file input
  src/Utils/useFileUpload.tsx
Labels: tested, good to merge, reviewed

#8448 Fixed icd11 diagnosis multiselect field making unnecessary requests
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Patient/DiagnosesFilter.tsx
Labels: tested, reviewed

#8379 Switched to uploadFile from axios in scribe
  src/Components/Scribe/Scribe.tsx
Labels: tested, reviewed

#8411 Fixes unknown option for heartbeat rhythm; adds i18n to vitals section
  src/Common/constants.tsx
  src/Components/LogUpdate/CriticalCarePreview.tsx
  src/Components/LogUpdate/Sections/Vitals.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Common.json
  src/Locale/en/LogUpdate.json
Labels: needs review, tested

#8295 Improve Treament Summary Report
  src/Components/Facility/TreatmentSummary.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
  src/Routers/routes/ConsultationRoutes.tsx
Labels: needs review, tested

#8363 Navigate to session expired page instead of showing notification
  src/Utils/request/handleResponse.ts
Labels: needs review, tested

#8464 Removes auto fill for uploaded file name
  src/Utils/useFileUpload.tsx
Labels: needs review, tested

#8461 Added translations for home page
  cypress/e2e/facility_spec/facility_creation.cy.ts
  src/Components/Facility/FacilityHome.tsx
  src/Locale/en/Common.json
  src/Locale/en/Facility.json
Labels: needs review, tested, translations

#8462 Fixed User page Spacing and added translations
  src/Components/Facility/FacilityUsers.tsx
  src/Locale/en/Common.json
  src/Locale/en/Users.json
Labels: needs review, tested, translations

#8369 Add suggestion chips instead of autofilling diagnosis
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Scribe/formDetails.ts
Labels: tested

#8445 Remove proxy and clean up config
  .env
  .envrc
  .example.env
  .github/workflows/cypress.yaml
  README.md
  care.config.ts
  cypress.config.ts
  cypress/support/commands.ts
  index.html
  netlify.toml
  src/App.tsx
  src/Common/constants.tsx
  src/Common/hooks/useConfig.ts
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/GLocationPicker.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/ExternalResult/ExternalResultImportModal.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/FacilityBedCapacity.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/Medicine/PrintPreview.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Components/Scribe/Scribe.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Integrations/Plausible.tsx
  src/Integrations/Sentry.tsx
  src/Providers/AppConfigProvider.tsx
  src/Providers/AuthUserProvider.tsx
  src/Providers/index.tsx
  src/Redux/Reducer.tsx
  src/Redux/api.tsx
  src/Redux/fireRequest.tsx
  src/Routers/AppRouter.tsx
  src/Utils/request/request.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.mts
Labels: needs review

#8440 Adds support for "Still watching" prompt to prevent users from idling when watching stream
  .example.env
  care.config.ts
  src/Components/CameraFeed/CentralLiveMonitoring/index.tsx
  src/Components/CameraFeed/StillWatching.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
  src/Locale/en/Asset.json
  src/Utils/useTimer.tsx
  src/vite-env.d.ts
Labels: needs review, tested

#8485 Bump cypress version and remove unnecessary imports of "local-cypress"
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  cypress/e2e/assets_spec/assets_creation.cy.ts
  cypress/e2e/assets_spec/assets_manage.cy.ts
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/forget_password.cy.ts
  cypress/e2e/auth_spec/redirect.cy.ts
  cypress/e2e/auth_spec/roles.cy.ts
  cypress/e2e/external_results_spec/external_result.cy.ts
  cypress/e2e/external_results_spec/filter.cy.ts
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/facility_spec/facility_homepage.cy.ts
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_discharge.cy.ts
  cypress/e2e/patient_spec/patient_fileupload.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/e2e/patient_spec/patient_manage.cy.ts
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/e2e/resource_spec/filter.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/e2e/sample_test_spec/sample_test.cy.ts
  cypress/e2e/shifting_spec/filter.cy.ts
  cypress/e2e/shifting_spec/shifting.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/e2e/users_spec/user_profile.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Patient/PatientFileupload.ts
  cypress/pageobject/Patient/PatientPrescription.ts
  cypress/pageobject/Users/UserProfilePage.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package-lock.json
  package.json
Labels: needs review, tested

#8490 Fixes state admin unable to to switch back to live patients tab from discharged tab
  src/Components/Patient/ManagePatients.tsx
Labels: bug, needs review, tested, P1

#8481 Fixed the add location button positioning in desktop view
  src/Components/Facility/LocationManagement.tsx
Labels: needs review, tested

#8493 Removes symptoms onset date range filter from patient filters
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested

#8466 Remove clear all filters when no filters are applied.
  src/Components/Facility/DischargedPatientsList.tsx
Labels: needs review, tested

#8414 Made AutocompleteFormField open immediately on focus
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested

#8501 Fixes Autocomplete input erroring when combobox input is cleared
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested

#8496 Fixes PDF Viewer clipping out in different display zoom settings
  src/Components/Common/PDFViewer.tsx
Labels: tested, reviewed

#8477 Procedures: consultation #8366
  src/Components/Facility/ConsultationForm.tsx
  src/Locale/en/Consultation.json
Labels: tested, reviewed

#8487 Adds support for 🔍 Zoom In & Out for 🖨️ Print Preview component
  src/CAREUI/interactive/Zoom.tsx
  src/CAREUI/misc/PrintPreview.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#8497 Reorder classnames only on pre-commit
  .prettierrc.json
  package.json
Labels: needs review, tested

#8417 Added: Warning for unsupported browsers
  .gitignore
  package-lock.json
  package.json
  src/Components/Auth/Login.tsx
  src/Components/ErrorPages/BrowserWarning.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#8528 Update documentation README.md : Supported -browsers script
  .gitignore
  README.md
Labels: needs review

#7817 Frontend Adjustments for ABDM Plug Conversion
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/e2e/users_spec/user_profile.cy.ts
  src/Components/ABDM/ABHAProfileModal.tsx
  src/Components/ABDM/FetchRecordsModal.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/LinkCareContextModal.tsx
  src/Components/ABDM/models.ts
  src/Components/ABDM/types/abha.ts
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/HCX/CreateClaimCard.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Redux/api.tsx
Labels: needs review, tested, waiting for backend

#8554 New Cypress test for the patient discussion notes
  cypress/e2e/patient_spec/PatientDoctorNotes.cy.ts
  cypress/e2e/patient_spec/PatientManage.cy.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientDoctorNotes.ts
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Locale/en/Consultation.json
  src/Utils/utils.ts
Labels: needs review, tested

#8533 RadioFormField: changed optionDisplay to optionLabel in RadioFormField
  package-lock.json
  src/Components/ExternalResult/ResultUpdate.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Form/FormFields/RadioFormField.tsx
  src/Components/LogUpdate/Sections/BloodSugar.tsx
  src/Components/LogUpdate/Sections/NeurologicalMonitoring.tsx
  src/Components/LogUpdate/Sections/RespiratorySupport/OxygenSupport.tsx
  src/Components/LogUpdate/Sections/RespiratorySupport/index.tsx
  src/Components/LogUpdate/Sections/Vitals.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Resource/ResourceCreate.tsx
  src/Components/Resource/ResourceDetailsUpdate.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: needs review, tested

#8531 Fixes Facility cover image edit button malfunctioning
  src/Components/Facility/FacilityHome.tsx
Labels: needs review, tested

#8441 Updated TreatmentSummary component by integrating it with PrintPreview Component #8430
  cypress/pageobject/Asset/AssetFilters.ts
  cypress/pageobject/Asset/AssetSearch.ts
  cypress/pageobject/Patient/PatientInsurance.ts
  cypress/pageobject/Patient/PatientMedicalHistory.ts
  scripts/generate-build-version.js
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Locale/en/Consultation.json
  src/style/index.css
Labels: needs review, tested

#8522 Adds Community Nurse's Log; improved Nursing Care section UI
  cypress/e2e/patient_spec/PatientLogUpdate.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails/ConsultationNursingTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/ABGPlots.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Facility/Consultations/DialysisPlots.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/Consultations/NursingPlot.tsx
  src/Components/Facility/Consultations/NutritionPlots.tsx
  src/Components/Facility/Consultations/PainDiagrams.tsx
  src/Components/Facility/Consultations/PressureSoreDiagrams.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/Consultations/VentilatorPlot.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/LogUpdate/CriticalCarePreview.tsx
  src/Components/LogUpdate/Sections/NursingCare.tsx
  src/Components/LogUpdate/Sections/Vitals.tsx
  src/Components/LogUpdate/Sections/index.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/LogUpdate.json
  src/Locale/hi/LogUpdate.json
  src/Locale/kn/LogUpdate.json
  src/Locale/ml/LogUpdate.json
  src/Locale/ta/LogUpdate.json
Labels: tested, P1

#8437 Revamp media player
  package-lock.json
  package.json
  src/Common/hooks/useHLSPlayer.ts
  src/Common/hooks/useMSEplayer.ts
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedOld.tsx
  src/Components/CameraFeed/FeedAlert.tsx
  src/Components/CameraFeed/FeedNetworkSignal.tsx
  src/Components/CameraFeed/routes.ts
  src/Components/CameraFeed/useFeedPTZ.ts
  src/Components/CameraFeed/useOperateCamera.ts
  src/Components/CameraFeed/usePlayer.tsx
  src/Components/CameraFeed/utils.ts
  src/Components/CameraFeed/videoPlayer.tsx
  src/Components/Facility/Consultations/Feed.tsx
  src/Components/Facility/Consultations/FeedButton.tsx
Labels: tested

#8566 correct i18n keys for daily rounds round type filter
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
Labels: needs testing, needs review, P1

#8568 Adds new set of nursing care procedures
  src/Common/constants.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/LogUpdate/Sections/NursingCare.tsx
  src/Locale/en/LogUpdate.json
Labels: needs review, P1

#8570 Patient Registration: Adds social profile section
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/e2e/users_spec/user_profile.cy.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  src/Common/constants.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Patient.json
  src/Locale/en/index.js
Labels: needs review, tested, P1

#8574 Remove supported browsers instruction from README
  README.md
Labels: needs review

#8498 Updated blood pressure range and remove hyphen for infusion "nor-adrenaline"
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/Consultations/Mews.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/RangeFormField.tsx
  src/Components/LogUpdate/CriticalCarePreview.tsx
  src/Components/LogUpdate/Sections/IOBalance.tsx
  src/Components/LogUpdate/Sections/Vitals.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/models.tsx
  src/Components/Scribe/formDetails.ts
  src/Locale/en/Common.json
  src/Locale/en/LogUpdate.json
  src/Locale/hi/LogUpdate.json
  src/Locale/kn/LogUpdate.json
  src/Locale/ml/LogUpdate.json
  src/Locale/ta/LogUpdate.json
Labels: tested

#8416 Removed hacks for loading investigations in Consultation Form, updated type definitions
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/models.tsx
Labels: tested, reviewed

#8420 HCX Plug
  cypress.config.ts
  cypress/e2e/assets_spec/AssetHomepage.cy.ts
  cypress/e2e/patient_spec/PatientPrescription.cy.ts
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/pageobject/Patient/PatientInsurance.ts
  cypress/pageobject/Users/ManageUserPage.ts
  public/config.json
  public/env.json
  src/CAREUI/icons/CareIcon.tsx
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Common/PMJAYProcedurePackageAutocomplete.tsx
  src/Components/Facility/ConsultationClaims.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/models.tsx
  src/Components/Files/AudioCaptureDialog.tsx
  src/Components/Files/CameraCaptureDialog.tsx
  src/Components/Files/FileUpload.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/HCX/ClaimCard.tsx
  src/Components/HCX/ClaimCardCommunication.tsx
  src/Components/HCX/ClaimCardInfo.tsx
  src/Components/HCX/ClaimCreatedModal.tsx
  src/Components/HCX/ClaimsItemsBuilder.tsx
  src/Components/HCX/CreateClaimCard.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/HCX/InsurerAutocomplete.tsx
  src/Components/HCX/PatientInsuranceDetailsEditor.tsx
  src/Components/HCX/PolicyEligibilityCheck.tsx
  src/Components/HCX/models.ts
  src/Components/Patient/InsuranceDetails.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Locale/en/Common.json
  src/Locale/en/FileUpload.json
  src/Locale/en/HCX.json
  src/Locale/en/index.js
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Routers/AppRouter.tsx
  src/Routers/routes/HCXRoutes.tsx
  src/Utils/useFileUpload.tsx
Labels: needs review

#8594 Fixes file upload missing pagination component (staging patch)
  src/Components/Files/FileUpload.tsx
Labels: needs testing, needs review, P1

#8456 Cleanup bed types
  cypress/e2e/facility_spec/FacilityCreation.cy.ts
  cypress/e2e/facility_spec/FacilityManage.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/BedCapacity.tsx
  src/Components/Facility/FacilityBedCapacity.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Locale/en/Facility.json
Labels: tested, reviewed

#8597 Fixes file upload missing pagination component
  src/Components/Files/FileUpload.tsx
Labels: tested

#8603 Show IV/NIV Badge only for active consultations
  cypress/e2e/patient_spec/PatientLogUpdate.cy.ts
  package-lock.json
  package.json
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#7933 Reenabled discharge patient admitted to filter
  src/Components/Patient/PatientFilter.tsx
Labels: needs review, tested

#8536 Fixed bug with sidebar indicator
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: needs review, tested

#7805 Reply feature for doctor notes
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/DoctorNote.tsx
  src/Components/Facility/DoctorNoteReplyPreviewCard.tsx
  src/Components/Facility/PatientConsultationNotesList.tsx
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Facility/PatientNotesList.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Redux/api.tsx
Labels: needs review, tested

#7772 Added facility hubs
  src/Common/constants.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Facility/FacilityBlock.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/SpokeFacilityEditor.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Form/ModelCrudEditor.tsx
  src/Locale/en/Common.json
  src/Redux/api.tsx
Labels: tested, reviewed

#8575 Adding cache control headers
  nginx/nginx.conf
Labels: needs review

#8638 Fixed fileupload name bug
  src/Components/Files/FileUpload.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Locale/en/FileUpload.json
  src/Utils/useFileUpload.tsx
Labels: tested, P1

#8648 Fixed Translation in switch bed pop-up
  src/Components/Facility/Consultations/BedActivityTimeline.tsx
Labels: needs review, tested

#8629 Fix: Clearing Facilities Field Causes White Screen #8610
  cypress/e2e/patient_spec/PatientConsultationCreation.cy.ts
  cypress/e2e/patient_spec/PatientPrescription.cy.ts
  src/Components/Users/UserAdd.tsx
Labels: hacktoberfest-accepted, tested

#8639 fix: Show validation error message on facility cover image upload (#8625)
  src/Components/Facility/CoverImageEditModal.tsx
  src/Utils/request/uploadFile.ts
Labels: needs testing, hacktoberfest-accepted

#8650 Fix camera feed fullscreen bug
  src/Components/CameraFeed/CameraFeed.tsx
Labels: needs review, tested

#8656 Fixed translation of Spo2 in criticalcare
  src/Components/LogUpdate/Sections/Vitals.tsx
Labels: tested

#8673 Fixed the Patient age formatting in shifting board
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested
