Repository ohcnetwork/care_fe, pull requests merged in 2024-01, with the labels that each got.

#6932 added the draft feature in the doctor's notes
  src/Components/Facility/PatientNotesSlideover.tsx
Labels: tested

#6910 Remove scroll bar when header text overflows in patient details.
  src/Components/Patient/PatientHome.tsx
Labels: tested

#6779 Show icu admission date on consultations dashboard
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#6946 Fixed None option in medical history selection input
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#6953 Hide delete facility option for users who dont have access
  cypress/e2e/patient_spec/patient_crud.cy.ts
  src/Components/Facility/FacilityHome.tsx
Labels: tested

#6973 Make daily round responsive on smaller screens
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
Labels: tested

#6986 Fix blood pressure being negative values when field is cleared
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Facility/Consultations/Mews.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/models.tsx
Labels: tested

#6987 Blood Pressure: Temp. fix to treat negative values as undefined
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
Labels: needs testing, P1

#6992 Fix: hide Monitors without a patient checkbox filter is not toggling
  src/Components/Facility/CentralNursingStation.tsx
Labels: needs testing

#6950 Updated DOB Date Format in Patient details page
  src/Components/Patient/PatientHome.tsx
Labels: tested

#6889 Migrate `useDispatch` with `useQuery/request` in `src/Components/Common/**`
  src/Components/Common/AssetSelect.tsx
  src/Components/Common/BedSelect.tsx
  src/Components/Common/DistrictAutocompleteFormField.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Common/LocalBodyAutocompleteFormField.tsx
  src/Components/Common/LocationSelect.tsx
  src/Components/Common/SkillSelect.tsx
  src/Components/Common/StateAutocompleteFormField.tsx
  src/Components/Common/Uptime.tsx
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Facility/models.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#7006 Fixes buggy prefetch condition for local body and district autocompletes
  src/Components/Common/DistrictAutocompleteFormField.tsx
  src/Components/Common/LocalBodyAutocompleteFormField.tsx
  src/Utils/request/types.ts
Labels: tested, P1

#6807 Refactor discharge_reason data type to Integer
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
Labels: needs testing, P1

#6464 Adds user type: Nurse and Nurse (readonly)
  README.md
  src/Common/constants.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Users/UserAdd.tsx
  src/Routers/AppRouter.tsx
Labels: waiting for back end

#7011 Fixes incorrect loading state when login form is invalid (no credentials provided)
  src/Components/Auth/Login.tsx
Labels: tested

#7009 prevent resetting the filters cache on page load
  src/Common/hooks/useFilters.tsx
Labels: tested, P2, cypress passed

#7015 Update weekly_working_hours to allow null value
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
Labels: tested

#7020 Fixes `undefined` shown in Doctor Notes for Nurse user types
  src/Common/constants.tsx
  src/Components/Facility/models.tsx
Labels: tested, P1

#7024 Reset preview image for camera file selector
  src/Components/Patient/FileUpload.tsx
Labels: tested

#7029 Display live monitoring button to only State Admin, District Admin and Doctor.
  src/Components/Facility/FacilityHome.tsx
  src/Routers/routes/FacilityLocationRoutes.tsx
  src/Utils/AuthorizeFor.tsx
Labels: tested, reviewed

#6988 Cache only the advance filters
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, reviewed

#6982 Added new routes to prescriptions.
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/models.ts
  src/Locale/en/Medicine.json
Labels: tested, reviewed

#7040 New Cypress Test | Facility Configuration | Facility Module
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/e2e/facility_spec/locations.cy.ts
  cypress/fixtures/facilitycoverimage.jpg
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Facility/FacilityLocation.ts
  cypress/pageobject/Facility/FacilityManage.ts
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityHome.tsx
Labels: need Review

#7044 Whitelist file types in file upload
  src/Components/Patient/FileUpload.tsx
Labels: tested, P1, reviewed

#7000 Improve Abha linking process
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/Common/components/Menu.tsx
Labels: tested, P1, ABDM, reviewed

#7068 Add break-all class to SelectMenuV2 component
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: tested

#7069 Abdm M3
  package-lock.json
Labels: Deploy-Failed

#7072 Hide nav menu item "Dashboard" if not configured in config
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, reviewed

#7059 Fixed uneven cards in Patients List
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge, reviewed

#7051 Enhancements to backend setup of Cypress CI
  .github/workflows/cypress.yaml
Labels: tested, good to merge, cypress passed, reviewed

#7031 Fix inconsistent removal of facility filters
  src/Components/Facility/HospitalList.tsx
Labels: tested, good to merge, reviewed

#7026 changed the variant of the button to show a filter is active
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
Labels: tested, good to merge, reviewed

#6958 Add more symptoms and move OTHERS to bottom
  src/Common/constants.tsx
Labels: tested, good to merge

#6956 Enhance UI of Shifting Board
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested, reviewed

#6791 Changed to current date time instead of date time at which app was loaded.
  src/Components/Facility/ConsultationForm.tsx
Labels: tested

#7091 fixes missing sidebar nav animation
  src/Components/Common/Sidebar/Sidebar.tsx
Labels: tested, reviewed

#7090 Add api.data.gov.in to CSP
  netlify.toml
  vite.config.ts
Labels: tested, reviewed

#7092 Fix facility cover upload when using camera
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Patient/FileUpload.tsx
Labels: tested, reviewed

#7096 Adds support to remove all filters via `useFilters`'s utility method and fixes issues with patient advanced filters
  src/Common/hooks/useFilters.tsx
  src/Components/Assets/AssetFilter.tsx
  src/Components/ExternalResult/ListFilter.tsx
  src/Components/Facility/FacilityFilter/index.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Resource/ListFilter.tsx
  src/Components/Shifting/ListFilter.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, reviewed

#7097 Relax CSP for styles and connect URLs
  netlify.toml
Labels: tested

#7098 Fix camera feed not working on asset configure page for IOS devices
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: tested, reviewed

#7099 Add mime_type to upload request for sample results
  src/Components/Patient/UpdateStatusDialog.tsx
Labels: tested, reviewed

#7100 Add blob: data: for media-src CSP
  netlify.toml
  vite.config.ts
Labels: tested, reviewed

#7062 Adds support for filtering patients by diagnoses
  src/Common/hooks/useAsyncOptions.ts
  src/Components/Diagnosis/utils.ts
  src/Components/Patient/DiagnosesFilter.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Redux/api.tsx
  src/Utils/request/useQuery.ts
  src/Utils/request/utils.ts
  src/Utils/utils.ts
Labels: tested, P2, reviewed

#7105 Update Content-Security-Policy script-src directive to allow 'blob' as a source
  netlify.toml
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/models.ts
  src/Redux/api.tsx
  vite.config.ts
Labels: tested

#7116 Switch to report only for CSP
  netlify.toml
  vite.config.ts
Labels: tested, reviewed

#7001 Fixed close Button in Treatment Summary
  src/Components/Facility/TreatmentSummary.tsx
Labels: tested, reviewed

#7004 Replace `useDispatch` with `useQuery` in Asset Management, Location Management, Facility Cover Image Popup, Doctor Capacity and Triage
  cypress/pageobject/Asset/AssetCreation.ts
  src/Components/Assets/AssetTypes.tsx
  src/Components/Facility/AddLocationForm.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/DoctorCapacity.tsx
  src/Components/Facility/DoctorsCountCard.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/request/utils.ts
Labels: tested, reviewed

#7041 Replaced useDispatch with useQuery/request in Inventory Management
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/InventoryList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/MinQuantityList.tsx
  src/Components/Facility/MinQuantityRequiredModal.tsx
  src/Components/Facility/SetInventoryForm.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: need Review, tested
