Repository ohcnetwork/care_fe, pull requests merged in 2024-02, with the labels that each got.

#7153 Fix investigation report pagination when first page is empty
  src/Components/Facility/Investigations/Reports/index.tsx
Labels: tested, reviewed

#7157 Fix filters cache restoration logic + cleaner URL query params and filters cache + fixes state management of facility, lsg body and district in patient filters
  src/Common/hooks/useFilters.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/FacilitySelect.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Utils/FiltersCache.tsx
  src/Utils/utils.ts
Labels: tested, P1, reviewed

#7160 Improve resolution images uploaded via camera
  src/Components/Patient/FileUpload.tsx
Labels: tested, reviewed

#7117 Add Facility Notify button for District/State Admins
  src/Components/Facility/FacilityCard.tsx
Labels: tested, reviewed

#7133 Fix: Disable add counsultations button when patient is discharged
  src/Components/Facility/ConsultationCard.tsx
Labels: tested, reviewed

#7137 Redesign the facility card image to 1:1
  src/Components/Facility/FacilityCard.tsx
Labels: tested, reviewed

#7161 Add max validation for doctor experience years in add user form
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
Labels: tested, reviewed

#7084 Replaced useDispatch with useQuery/request in Treatment Summary and Transfer Patient.
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Facility/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, good to merge, reviewed

#7071 only loading discontinued prescriptions instead of all prescriptions
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
Labels: tested, reviewed

#7077 Redesign Patient Info Card
  cypress/pageobject/Patient/PatientConsultation.ts
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Common/components/AccordionV2.tsx
  src/Components/Diagnosis/DiagnosesListAccordion.tsx
  src/Components/Diagnosis/LegacyDiagnosesList.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/Consultations/Mews.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Utils/utils.ts
Labels: tested, reviewed

#7162 Limit the decimal points in the Facility GPS Location field upto 7.
  src/Components/Facility/FacilityCreate.tsx
Labels: need Review, tested

#7149 Live update socket URL on middleware hostname change in Asset Configure
  src/Components/Assets/AssetType/HL7Monitor.tsx
Labels: need Review, tested

#7144 Removed 0 in Link Facility sidebar
  src/Components/Users/ManageUsers.tsx
Labels: need Review, tested

#6960 Fixes responsiveness in Facilty Home
  src/Components/Facility/FacilityHome.tsx
Labels: tested, reviewed

#7191 Make log update button responsive
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested

#7189 fixes improper string interpolation in relative dates causing 'false' to be present when withoutSuffix is disabled
  src/Utils/utils.ts
Labels: need Review, tested, P1

#7114 show notification when health id registration fails
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/pageobject/Facility/FacilityManage.ts
  src/Components/ABDM/ConfigureHealthFacility.tsx
Labels: tested, ABDM, reviewed

#7202 Fix bed check for log update button
  cypress/e2e/users_spec/user_creation.cy.ts
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, good to merge

#7134 Update username validation on useradd
  src/Common/validation.tsx
  src/Components/Users/UserAdd.tsx
Labels: urgent, needs testing, P1

#7204 Fix update log filters on page change
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: need Review, tested

#6952 Show Asset Downtime on assets lists page
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/AssetsList.tsx
Labels: tested, reviewed

#7207 Add min_encounter_date validation
  public/config.json
  src/Common/hooks/useConfig.ts
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, reviewed

#7199 Add Search Box to Resource
  src/Components/Resource/BadgesList.tsx
  src/Components/Resource/Commons.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Locale/en/Resource.json
Labels: tested, reviewed

#7196 fix: hide the diagonses card if it's empty
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: tested, reviewed

#7190 Add facility name to ReportTable component
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Facility/Investigations/Reports/types.ts
  src/Components/Facility/Investigations/Reports/utils.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, reviewed

#7180 Hide Asset Type
  cypress/e2e/assets_spec/asset_homepage.cy.ts
  cypress/e2e/assets_spec/assets_creation.cy.ts
  cypress/e2e/sample_test_spec/filter.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Asset/AssetFilters.ts
  src/Components/Assets/AssetFilter.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Facility/AssetCreate.tsx
Labels: tested, reviewed

#7163 Increase the Add button height in skills slideover.
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested, reviewed

#7125 Set Form Drafts to expire after 24 hours
  src/Utils/AutoSave.tsx
Labels: tested, reviewed

#7210 Update Uptime endpoint for AssetUptime
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Common/Uptime.tsx
  src/Redux/api.tsx
Labels: tested

#6977 Added support for multi-line text input for Doctor Notes
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Form/FormFields/AutoExpandingTextInputFormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
Labels: tested, reviewed

#6919 Add edit option for doctor notes
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/DoctorNote.tsx
  src/Components/Facility/PatientConsultationNotesList.tsx
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Facility/PatientNotesList.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Redux/api.tsx
Labels: tested, reviewed

#7078 Replace useDispatch in Patient Files (src/Components/Patient/)
  src/CAREUI/display/Timeline.tsx
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/SampleDetails.tsx
  src/Components/Patient/SampleFilters.tsx
  src/Components/Patient/SamplePreview.tsx
  src/Components/Patient/SampleTest.tsx
  src/Components/Patient/SampleTestCard.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Patient/ShiftCreate.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: need Review, tested

#7221 Allows "MESSAGE" type push notifications to show notification
  src/service-worker.ts
Labels: need Review, tested

#7147 Minor ui spacing fix
  src/Components/Patient/ManagePatients.tsx
Labels: tested, reviewed

#6990 Events UI
  src/Components/Common/components/SwitchTabs.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
  src/Components/Facility/ConsultationDetails/Events/iconMap.ts
  src/Components/Facility/ConsultationDetails/Events/types.ts
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/HCX/misc.ts
  src/Components/Patient/PatientInfoCard.tsx
  src/Redux/api.tsx
Labels: tested, reviewed

#7241 Fix lint errors
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
Labels: reviewed

#7195 Increased the respiratory rate
  src/Components/CriticalCareRecording/HemodynamicParameters/CriticalCare__HemodynamicParametersEditor.res
  src/Components/Patient/DailyRounds.tsx
Labels: tested, P1, reviewed

#7211 Fix edit clipping
  src/Components/Facility/LocationManagement.tsx
Labels: tested, reviewed

#7174 Migrate useDispatch to useQuery for 📂 File Upload module
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Components/Patient/models.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, reviewed

#7118 Replace font-awesome icons by CareIcon component
  package-lock.json
  package.json
  src/CAREUI/display/FilterBadge.tsx
  src/CAREUI/icons/CareIcon.tsx
  src/Common/constants.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/Assets/AssetImportModal.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Common/CareIcon.res
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Common/PageTitle.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/CriticalCareRecording/CriticalCare__Index.res
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainEditor.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreEditor.res
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/components/CriticalCare__InputGroupError.res
  src/Components/DeathReport/DeathReport.tsx
  src/Components/ExternalResult/ExternalResultUpload.tsx
  src/Components/ExternalResult/ResultItem.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/AssetCreate.tsx
  src/Components/Facility/Consultations/Beds.tsx
  src/Components/Facility/Consultations/LiveFeed.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityBedCapacity.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityDoctorList.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityHomeTriage.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Facility/InventoryLog.tsx
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/TreatmentSummary.tsx
  src/Components/Notifications/NotificationsList.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceDetails.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftDetails.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
  src/style/index.css
Labels: tested, reviewed

#7229 Upgrade Vite and Storybook
  .eslintrc.json
  .storybook/main.ts
  .storybook/vite.config.mts
  package-lock.json
  package.json
  src/Components/Common/PrescriptionBuilder.res
  src/Components/Common/prescription-builder/components/Prescription__Builder.res
  src/Components/Common/prescription-builder/components/Prescription__Picker.res
  src/service-worker.ts
  tsconfig.json
  vite.config.mts
Labels: tested, reviewed

#7236 add state logo in sidebar
  src/Common/hooks/useConfig.ts
  src/Components/Auth/Login.tsx
  src/Components/Common/TopBar.tsx
  src/Routers/SessionRouter.tsx
Labels: tested, reviewed

#7263 Remove extra text from Sample Card
  src/Components/Patient/SampleTestCard.tsx
Labels: tested

#7246 New Cypress Test | All Combination of Patient Consultation Creation | Patient Consultation Module (#7165)
  cypress/e2e/death_report_spec/death_report.cy.ts
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_manage.cy.ts
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientDeathReport.ts
  cypress/pageobject/Patient/PatientInvestigation.ts
  cypress/pageobject/Patient/PatientPredefined.ts
  cypress/pageobject/Patient/PatientPrescription.ts
  cypress/pageobject/Patient/PatientTreatmentPlan.ts
  cypress/pageobject/Shift/ShiftCreation.ts
  cypress/pageobject/constants.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  src/Components/Common/prescription-builder/InvestigationBuilder.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Common/prescription-builder/PrescriptionMultiselect.tsx
  src/Components/Common/prescription-builder/ProcedureBuilder.tsx
  src/Components/DeathReport/DeathReport.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Diagnosis/DiagnosesListAccordion.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: need Review, cypress passed

#7264 Fix Translations in login page
  src/CAREUI/interactive/LegendInput.tsx
  src/Components/Auth/Login.tsx
  src/Components/Common/LanguageSelectorLogin.tsx
  src/Locale/en/Auth.json
  src/Locale/kn/Auth.json
  src/Locale/ml/Auth.json
  src/Locale/mr/Auth.json
  src/Locale/ta/Auth.json
  src/Providers/HistoryAPIProvider.tsx
Labels: tested, reviewed

#7237 Fixes issues with redirection on login
  cypress/e2e/auth_spec/redirect.cy.ts
  cypress/pageobject/Login/LoginPage.ts
  src/Providers/AuthUserProvider.tsx
Labels: tested, reviewed

#7235 removed unused filters from notifications slideover
  src/Common/constants.tsx
Labels: tested, cypress passed, reviewed

#7230 Add Uptime tracking to Location Management
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/Uptime.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Redux/api.tsx
Labels: tested, reviewed

#7228 Introduce (i) Button Popover Component in HL7Monitor and VentilatorPatientVitalsMonitor
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/VitalsMonitor/HL7PatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VentilatorPatientVitalsMonitor.tsx
  src/Components/VitalsMonitor/VitalsMonitorAssetPopover.tsx
  src/Components/VitalsMonitor/VitalsMonitorFooter.tsx
  src/Components/VitalsMonitor/VitalsMonitorHeader.tsx
  src/Components/VitalsMonitor/types.ts
Labels: tested, reviewed

#7216 Replace useDispatch with useQuery and request in PatientRegistration form.
  src/Components/ExternalResult/models.ts
  src/Components/Patient/PatientRegister.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested, reviewed

#7267 Fixes abort controller not working in `useQuery`
  src/Utils/request/useQuery.ts
Labels: tested, reviewed

#7172 fix: Replace useDispatch w. useQuery/request for Investigations module (src/Components/Facility/Investigations)
  src/Components/Facility/Investigations/InvestigationSuggestions.tsx
  src/Components/Facility/Investigations/Reports/index.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Components/Facility/Investigations/index.tsx
  src/Components/Facility/Investigations/investigationsTab.tsx
  src/Components/Facility/models.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Redux/api.tsx
Labels: tested, cypress passed, reviewed

#7266 fix: Irregular flow of responsive design in patient details
  src/Components/Common/RelativeDateUserMention.tsx
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/SampleTestCard.tsx
Labels: tested, reviewed

#7261 fix: overflow of fields in the user management cards
  src/Components/Common/UserDetailsComponet.tsx
  src/Components/Users/ManageUsers.tsx
Labels: tested, reviewed

#7250 Improves Input Field UI for phone number input
  src/Common/static/countryPhoneAndFlags.json
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
Labels: tested, cypress passed, reviewed
