Repository ohcnetwork/care_fe, pull requests merged in 2024-07, with the labels that each got.

#8101 Adds support for editing preset name
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: needs review, tested, P1

#8110 Fixes vertical alignment of patients age in patients list page
  src/Components/Patient/ManagePatients.tsx
Labels: needs review, tested

#8118 Improvements to fullscreen support in Camera Feed
  src/CAREUI/display/NetworkSignal.tsx
  src/Common/hooks/useFullscreen.ts
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/FeedNetworkSignal.tsx
  src/Components/CameraFeed/FeedWatermark.tsx
Labels: needs review, tested

#7975 Updated ABHA popup UI
  src/Components/ABDM/ABHAProfileModal.tsx
Labels: needs review, tested

#8075 Adds additional units and route to prescriptions
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/models.ts
  src/Locale/en/Medicine.json
Labels: needs review, tested, P1

#8109 Progress Notes: Adds support for filing Resp. support and Neurological Monitoring data
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/Patient/DailyRounds.tsx
Labels: needs review, tested, P1

#8086 Fix multi-select dropdown for facilities in user creation module
  src/Components/Common/FacilitySelect.tsx
  src/Components/Form/AutoCompleteAsync.tsx
Labels: needs review, tested

#8124 Shows encounter duration in discharge confirmation dialog
  src/Components/Facility/DischargeModal.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Locale/en/Consultation.json
Labels: needs review, tested

#8126 Phone number field: Adds helper icon to improve how supported phone number types are shown
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/en/Common.json
  src/Utils/utils.ts
Labels: needs review, tested

#8125 Add caution for encounter date field if date is beyond 30 days.
  src/Components/Facility/ConsultationForm.tsx
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
Labels: needs review, tested

#8145 Fixes oxygen flow rate not getting submitted in Critical Care
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
Labels: needs review, tested, P1

#8146 Fixes discharge form resetting
  src/Components/Facility/DischargeModal.tsx
Labels: needs testing, P1, reviewed

#8168 fixes responsiveness issue in asset configure presets
  src/Components/Facility/Consultations/LiveFeed.tsx
Labels: needs review, tested

#8155 Fixes location management page not opening from CNS if no patient present in monitor
  src/Components/Facility/models.tsx
  src/Components/VitalsMonitor/VitalsMonitorHeader.tsx
Labels: needs review, tested

#8137 Show medicine's generic in prescriptions table and details card
  cypress/pageobject/Patient/PatientPrescription.ts
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: needs review, tested

#8156 Improve visual feedback when filters are applied in CNS and Live Feed page
  src/Components/CameraFeed/CentralLiveMonitoring/LiveMonitoringFilters.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#8003 Added consent indicators and filters
  src/Common/hooks/useFilters.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: tested, P1

#8174 Fix no gap in users page
  src/Components/Users/ManageUsers.tsx
Labels: needs review, tested

#8123 Block expired patients from being transfered
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/pageobject/Patient/PatientTransfer.ts
  cypress/support/index.ts
  package-lock.json
  package.json
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/TransferPatientDialog.tsx
  src/Components/Facility/models.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: urgent, tested, P1, reviewed

#8185 Fixes spacing issue in patient list phone number field and search inputs
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#8193 Hides Consent Records Banner
  src/Components/Patient/ManagePatients.tsx
Labels: needs testing, needs review

#8188 Added primary color to selected section on consultation page fix #8186
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: needs review, tested

#8184 Removed View Discharge Patients button fix #8164
  src/Components/Facility/FacilityHome.tsx
Labels: needs review, tested

#8175 Added a last online filter for users
  src/Common/constants.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: needs review, tested, waiting for backend

#8211 Add popup to acknowledge discharge
  cypress/e2e/patient_spec/patient_discharge.cy.ts
  src/Common/hooks/useConfirmedAction.ts
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#8140 Enhancements to Camera Feed Component
  src/CAREUI/display/NetworkSignal.tsx
  src/CAREUI/interactive/KeyboardShortcut.tsx
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
  src/Components/CameraFeed/FeedButton.tsx
  src/Components/CameraFeed/FeedControls.tsx
  src/Components/CameraFeed/useOperateCamera.ts
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Diagnosis/DiagnosesListAccordion.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#8210 Merge Develop to Staging v24.31.0
  cypress/e2e/patient_spec/patient_discharge.cy.ts
  src/CAREUI/display/NetworkSignal.tsx
  src/CAREUI/interactive/KeyboardShortcut.tsx
  src/Common/constants.tsx
  src/Common/hooks/useConfirmedAction.ts
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
  src/Components/CameraFeed/FeedButton.tsx
  src/Components/CameraFeed/FeedControls.tsx
  src/Components/CameraFeed/useOperateCamera.ts
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Diagnosis/DiagnosesListAccordion.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
  src/Locale/en/Common.json
Labels: Deploy-Failed

#8215 Fixes last active filter badge showing up when filters other than the last active filter is applied
  src/Components/Users/ManageUsers.tsx
Labels: needs review, tested

#8224 Run formatter on entire project
  src/CAREUI/interactive/LegendInput.tsx
  src/CAREUI/interactive/Switch.tsx
  src/Common/static/countryPhoneAndFlags.json
  src/Components/ABDM/ABDMRecordsTab.tsx
  src/Components/Assets/AssetManage.tsx
  src/Components/Common/ExcelFIleDragAndDrop.tsx
  src/Components/Facility/Consultations/NeurologicalTables.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Facility/Investigations/Reports/ReportTable.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventSeperator.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/Components/Medicine/ResponsiveMedicineTables.tsx
  src/Components/Users/UserAdd.tsx
  src/Locale/en/Auth.json
  src/Locale/en/Bed.json
  src/Locale/en/Common.json
  src/Locale/en/Consultation.json
  src/Locale/en/Diagnosis.json
  src/Locale/en/Facility.json
  src/Locale/en/Medicine.json
  src/Locale/en/Users.json
  src/Locale/kn/Auth.json
  src/Locale/ml/Auth.json
  src/Locale/mr/Auth.json
  src/Locale/ta/Auth.json
Labels: needs review

#8216 Changes 'CONSULTATION NOTES' to 'GENERAL INSTRUCTIONS (ADVICE)'
  src/CAREUI/display/Timeline.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
  src/Locale/en/Consultation.json
Labels: needs review, tested

#8223 fix #8220 made date component responsive
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Symptoms/SymptomsBuilder.tsx
Labels: needs review, tested

#8233 Adds prompt for ICD11 search field #8232
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested
