Repository ohcnetwork/care_fe, pull requests merged in 2024-05, with the labels that each got.

#7761 New Cypress Test | MEWS Score | Patient Consultation Module
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
Labels: good to merge, reviewed

#7273 Fix : Minimum value in forms should be greater than 0
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/TriageForm.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#7323 #7308 fix : use "hidden" css property to toggle b/w Login & Forgot Password
  src/Components/Auth/Login.tsx
Labels: needs review, tested

#7480 fixes "Set average weekly working hour" button in user tab is not responsive Fixes #7309
  src/Components/Users/ManageUsers.tsx
Labels: tested, reviewed

#7488 Add "needs testing" label if contributor comments "ready for testing"
  .github/workflows/auto-testing-label.yml
Labels: tested

#7496 Icon overlapping with text in text-box of Doctor's Notes. #7495
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Form/FormFields/AutoExpandingTextInputFormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
Labels: needs review, tested

#7644 Fixed #7610 Toggle Emergency Contact No. From Phone Number
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested

#7735 Adds IP Days chip for admission encounters
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#7757 Hides nurse read only user type
  src/Common/constants.tsx
Labels: needs review, tested

#7645 [FIXED] Modified Notification related to Patient Log update successfully
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  src/Components/Patient/DailyRounds.tsx
Labels: tested

#7730 Disable multiple buttons for discharged patients
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Patient/FileUpload.tsx
  src/Utils/VoiceRecorder.tsx
Labels: needs review, tested

#7714 disable ratelimiting for cypress action
  .github/workflows/cypress.yaml
Labels: tested, good to merge, reviewed

#7746 occupation field options are in alphabetical order
  src/Common/constants.tsx
Labels: needs review, tested

#7749 Increase no. of users shown in the User Autocomplete Input
  src/Components/Common/UserAutocompleteFormField.tsx
Labels: needs review, tested

#6993 Collect postpartum data
  cypress/e2e/assets_spec/assets_creation.cy.ts
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/e2e/facility_spec/inventory.cy.ts
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_fileupload.cy.ts
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientFileupload.ts
  cypress/pageobject/Patient/PatientTransfer.ts
  cypress/pageobject/Users/ManageUserPage.ts
  cypress/pageobject/Users/UserCreation.ts
  cypress/pageobject/Users/UserProfilePage.ts
  cypress/pageobject/Users/UserSearch.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  plugins/treeShakeCareIcons.ts
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Components/Users/ManageUsers.tsx
  src/Utils/utils.ts
Labels: needs review, tested

#7715 Changed WhatsApp message: doctor connect
  src/Common/constants.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Users/models.tsx
Labels: tested, P1

#7380 Updated Preview UIs and Changes to Painscale
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
Labels: needs review, tested, P1

#7788 Hide discharge reason filter for non state admin users
  src/Components/Patient/PatientFilter.tsx
Labels: needs review, tested

#7774 Adds support for doctors and nurses discussions threads in Discussion Notes
  cypress/e2e/patient_spec/patient_manage.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/ConsultationDoctorNotes/index.tsx
  src/Components/Facility/DoctorNote.tsx
  src/Components/Facility/PatientConsultationNotesList.tsx
  src/Components/Facility/PatientNotesList.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientNotes.tsx
  src/Redux/api.tsx
Labels: needs review, tested, P1, Doctor Notes

#7193 ABDM M3
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/pageobject/Facility/FacilityManage.ts
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Components/ABDM/ABDMFacilityRecords.tsx
  src/Components/ABDM/ABDMRecordsTab.tsx
  src/Components/ABDM/FetchRecordsModal.tsx
  src/Components/ABDM/HealthInformation.tsx
  src/Components/ABDM/types/abha.ts
  src/Components/ABDM/types/consent.ts
  src/Components/ABDM/types/health-information.ts
  src/Components/Common/DateInputV2.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Users/models.tsx
  src/Redux/api.tsx
  src/Routers/AppRouter.tsx
  src/service-worker.ts
Labels: tested, cypress passed, ABDM, reviewed

#7816 fixes: #7813. Removed COVID Status and added Last Discharged Reason with better alignment in Patient details page
  src/Components/Patient/PatientHome.tsx
Labels: needs review, tested

#7804 fixes: manage patient button is not properly responsive #7799
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#7797 Update antental filter logic to filter by last menstruation start date within 9 months
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: needs review, tested, P1

#7792 Fixes text from overflowing in select menu dropdowns
  src/Components/Form/SelectMenuV2.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested, P2

#7777 Migrate useDisaptch to useQuery/request in Discharge Summary popup and Consultation Updates Tab
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/DischargeSummaryModal.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: needs review, tested

#7770 fixed usages of font sizes to respect browser's
  src/Components/CameraFeed/NoFeedAvailable.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Patient/Waveform.tsx
Labels: needs review, tested

#7773 Capitalized patient names
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/DuplicatePatientDialog.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested

#7750 Update asset import template to include `VENTILATOR` class
  public/asset-import-template.xlsx
  public/config.json
Labels: needs review, tested

#7639 [FIXED] Improved the change password handling in profile edit page
  src/Components/Users/UserProfile.tsx
Labels: needs review, tested

#7498 Restrict Unauthorized Users from Accessing Facility's Patient Registration
  src/Components/Common/FacilitySelect.tsx
  src/Components/ExternalResult/FacilitiesSelectDialogue.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested

#7808 Fixed alignment in users page
  src/Components/Users/ManageUsers.tsx
Labels: needs review, tested

#7785 Update dependencies and re-lock without legacy peer deps
  .npmrc
  Dockerfile
  README.md
  package-lock.json
  package.json
  plugins/treeShakeCareIcons.ts
Labels: tested

#7664 update area of specialisation of doctor
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/e2e/resource_spec/resources.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/FacilityStaffList.tsx
  src/Components/Facility/StaffCapacity.tsx
  src/Components/Facility/StaffCountCard.tsx
  src/Locale/en/Facility.json
  tailwind.config.js
Labels: needs review, tested

#7744 Updated discharged patients page
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: needs review, tested

#7829 Removes unused field `temperature_measured_at`
  src/Components/Facility/Consultations/DailyRounds/VirtualNursingAssistantLogUpdateCard.tsx
  src/Components/Patient/models.tsx
Labels: Backend, needs review, tested

#7837 Revert "Updated discharged patients page (#7744)"
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: tested

#7826 Events: Set as default tab; Fixes nested objects not rendered in events; Limit precision for numeric values;
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
Labels: Backend, needs review, tested

#7847 Improve events UI
  src/Components/Facility/ConsultationDetails/Events/GenericEvent.tsx
Labels: needs review, tested

#7845 Abdm m3 improvements
  src/Components/ABDM/ABDMRecordsTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
Labels: needs review, tested, P1, ABDM

#7803 New Cypress Test | Titrated dosage and Individual administration | Patient Prescription Module
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/pageobject/Patient/PatientPrescription.ts
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/ManagePrescriptions.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: needs review, tested, cypress passed

#7861 Abdm improvements
  src/Common/hooks/useNotificationSubscriptionState.ts
  src/Components/ABDM/ABDMFacilityRecords.tsx
  src/Components/ABDM/FetchRecordsModal.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
Labels: urgent, tested, ABDM

#7822 Show skills of treating doctor in consultation dashboard
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested, P1

#7853 Updated discharged patients page
  src/CAREUI/misc/PaginatedList.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/PatientFilter.tsx
Labels: needs review, tested, waiting for backend

#7292 Update Security Policy to redirect to issue page
  SECURITY.md
Labels: needs review, tested

#7699 Disable the Bed List of Already occupied Beds (front-end change)
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Components/Common/BedSelect.tsx
Labels: needs review, tested, waiting for backend

#7671 Allow only admins to delete a location or a bed
  src/Components/Facility/BedManagement.tsx
  src/Components/Facility/LocationManagement.tsx
Labels: needs review, tested

#7875 Show standardized labels for patient categorization
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  src/Common/constants.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: urgent, tested, P1, reviewed

#7879 Fixes procedures not working in Edit Consultation form due to spelling mistake
  src/Components/Facility/ConsultationForm.tsx
Labels: urgent, needs review, tested, P1

#7881 CNS: Skip filtering by `bed_occupied` if "hide monitors without patient" is unchecked
  src/Components/Facility/CentralNursingStation.tsx
Labels: needs review, tested, P1

#7819 Show loading state when switching tabs in Discussion Notes
  src/Components/Facility/PatientConsultationNotesList.tsx
  src/Components/Facility/PatientNotesList.tsx
Labels: tested

#7725 Make the switch bed card styling consistent.
  src/Components/Facility/Consultations/Beds.tsx
Labels: needs review, tested

#7865 Fix placeholder overlapping in search input
  src/Components/Form/SearchInput.tsx
Labels: needs review, tested

#7904 removed consent badge from patient home
  src/Components/Patient/PatientHome.tsx
Labels: needs review, tested

#7907 fixed camera overlay bug and changed default name
  src/Components/Patient/PatientConsentRecords.tsx
  src/Utils/useFileUpload.tsx
Labels: needs review, tested

#7915 Improve camera preset selection UI in camera feed
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: urgent, needs review, tested

#7905 added skeleton loader for consent records
  src/Components/Patient/PatientConsentRecordBlock.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Utils/useFileManager.tsx
  src/style/index.css
Labels: needs review, tested

#7885 Adds watermark to Camera Feed and disables access to context menu.
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/FeedWatermark.tsx
Labels: needs review, tested

#7888 Add cypress test: filter user by home facility
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Users/UserSearch.ts
Labels: needs review, tested

#7908 Hide skills already linked to the user
  src/Components/Common/SkillSelect.tsx
Labels: tested, reviewed

#7909 Fix scroll functionality in the consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, reviewed

#7923 Removes consent records view from consultation overview tab
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: needs review, tested

#7924 fixes badges overlapping with IP days in patient consultation page
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#7833 Prescriptions: Default Discontinued Prescriptions Collapsed
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: needs review, tested

#7889 Removes "Bed Status" for Domiciliary Care encounters
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#7928 fixes presets overflow issue in live monitoring
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
Labels: needs review, tested, P1

#7926 Adds support specifying and filtering by ration card category for patients
  src/Common/constants.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientFilter.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
  src/Locale/en/Common.json
Labels: needs review, tested

#7584 Add Medicine Prescription Log Summary Section
  src/Components/Facility/ConsultationDetails/ConsultationMedicinesTab.tsx
  src/Components/Medicine/MedicinePrescriptionSummary.tsx
  src/Locale/en/Medicine.json
Labels: needs review, tested

#7522 [Enhancement] Ventilator Parameters Input - Validate Consultation Bed for Linked Ventilator Asset is resolved
  src/Components/Common/DialogModal.res
  src/Components/CriticalCareRecording/CriticalCare__API.tsx
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
  src/Components/Facility/Consultations/Beds.res
Labels: needs review, tested

#7839 Adds support for Doctors Log Update round type (v1)
  src/Components/Facility/ConsultationDetails/Events/types.ts
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/models.tsx
  src/Redux/api.tsx
Labels: urgent, needs review, tested, P1, waiting for related PR

#7930 Adds cypress tests for Doctors Log Update & Symptoms V2
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  src/Components/Patient/DailyRounds.tsx
  src/Components/Symptoms/SymptomsBuilder.tsx
  src/Components/Symptoms/SymptomsCard.tsx
Labels: needs review

#7931 fixes up/down arrow of numeric inputs not clickable in facility create and other places
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
  src/Components/Patient/PatientRegister.tsx
Labels: needs review, tested

#7940 Disable switching to "Refer to another facility"/"Declare Death" in Decision after consultation in edit consultation form
  src/Common/constants.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Form/FormFields/Autocomplete.tsx
  src/Components/Form/FormFields/AutocompleteMultiselect.tsx
  src/Components/Form/FormFields/SelectFormField.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
  src/Components/Form/SelectMenuV2.tsx
  src/Locale/en/Consultation.json
Labels: needs review, tested, P1

#7935 Camera Feed: Improve watermark and preset sizes in mobile view
  src/CAREUI/display/NetworkSignal.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/FeedWatermark.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested

#7949 Hide time if no time was captured in relative time tooltip
  src/CAREUI/display/RecordMeta.tsx
Labels: needs review, tested

#7952 Reorder perinatal status
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
Labels: tested

#7954 Reorder fields in Daily Rounds
  src/Components/Patient/DailyRounds.tsx
Labels: tested
