Repository ohcnetwork/care_fe, pull requests merged in 2024-10, with the labels that each got.

#8668 Migrate `useDispatch` to `request` for exports
  src/Common/hooks/useExport.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Export.tsx
  src/Components/ExternalResult/ResultList.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/HospitalList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/SampleViewAdmin.tsx
  src/Components/Resource/ListView.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ListView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
Labels: tested

#8659 Fix: Infinite Loading State When Notification is blocked or granted
  src/Components/Notifications/NotificationsList.tsx
  src/Locale/en/Notifications.json
  src/Locale/hi/Notifications.json
  src/Locale/kn/Notifications.json
  src/Locale/ml/Notifications.json
  src/Locale/ta/Notifications.json
Labels: hacktoberfest-accepted, tested

#8647 Remove "read more" for prescription notes in detailed view
  src/Components/Medicine/PrescriptionDetailCard.tsx
Labels: hacktoberfest-accepted, tested

#8586 Remove facility cover image upload tooltip
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Locale/en/Facility.json
  src/Locale/hi/Facility.json
  src/Locale/kn/Facility.json
  src/Locale/ml/Facility.json
  src/Locale/ta/Facility.json
Labels: hacktoberfest-accepted, tested

#8390 Added Diagnosis at Discharge field when patient is discharged
  src/Common/hooks/useSlug.ts
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Locale/en/Consultation.json
Labels: hacktoberfest-accepted, tested

#8690 Updated README to include info on translations
  README.md
  src/Locale/TRANSLATION_CONTRIBUTION.md
Labels: needs review

#8632 fix: add bed notification
  src/Components/Facility/AddBedForm.tsx
  src/Locale/en/Bed.json
Labels: tested, changes required

#8512 Enable features from backend feature flags
  .example.env
  care.config.ts
  src/App.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Scribe/Scribe.tsx
  src/Components/Users/models.tsx
  src/Integrations/index.tsx
  src/Utils/featureFlags.tsx
Labels: needs review, tested, Carried over

#8694 Fix: Qualification field for nurse user type
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  cypress/pageobject/Users/UserProfilePage.ts
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserAdd.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Locale/en/Common.json
Labels: hacktoberfest-accepted, tested, P1

#8689 Reduce the Notification Message display timings
  src/Utils/Notifications.js
Labels: needs testing

#8693 Fix: Facility page view in mobile phones ..
  src/Components/Facility/FacilityCard.tsx
Labels: needs review, hacktoberfest-accepted, tested

#8703 Send only known BP attributes
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/LogUpdate/Sections/Vitals.tsx
Labels: tested, P1

#8710 store the camera position correctly in camera preset create
  src/Components/Assets/AssetType/ONVIFCamera.tsx
Labels: tested

#8704 Manage Prescriptions Page: Moving Print Button Inside
  src/Components/Medicine/ManagePrescriptions.tsx
Labels: tested

#8692 Allows configuring available languages through env and adds Hindi to CARE
  .env
  .example.env
  care.config.ts
  src/Components/Common/LanguageSelector.tsx
  src/Components/Common/LanguageSelectorLogin.tsx
  src/Locale/config.ts
  src/Locale/en/index.ts
  src/Locale/hi/HCX.json
  src/Locale/hi/Patient.json
  src/Locale/hi/index.ts
  src/Locale/kn/index.ts
  src/Locale/ml/index.ts
  src/Locale/mr/index.js
  src/Locale/mr/index.ts
  src/Locale/ta/index.js
  src/Locale/ta/index.ts
  src/Locale/update_locale.js
  src/i18n.ts
  src/vite-env.d.ts
Labels: needs review, tested

#8680 Re-build sidebar UI
  care.config.ts
  components.json
  cypress/e2e/auth_spec/auth.cy.ts
  cypress/e2e/auth_spec/roles.cy.ts
  cypress/e2e/patient_spec/PatientDoctorNotes.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/pageobject/Login/LoginPage.ts
  cypress/pageobject/Users/ManageUserPage.ts
  index.html
  package-lock.json
  package.json
  public/favicon-light.ico
  public/favicon.ico
  public/images/care_logo.svg
  public/images/care_logo_gray.svg
  public/images/care_logo_mark.svg
  public/images/ohc_logo_light.svg
  src/Common/hooks/useBreakpoints.ts
  src/Components/Auth/Login.tsx
  src/Components/Common/Avatar.tsx
  src/Components/Common/Loading.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Facility/CentralNursingStation.tsx
  src/Routers/AppRouter.tsx
  src/Utils/utils.ts
  src/lib/utils.ts
  src/style/index.css
  tailwind.config.js
  tsconfig.json
  vite.config.mts
Labels: needs testing

#8730 Hide Spokes on Facility Create Page
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, cypress passed

#8721 Fix: Error Messages Persist in UserAdd Component
  src/Components/Users/UserAdd.tsx
Labels: tested

#8688 fix: Add user media ready and camera permission denied notifications
  src/Components/Facility/CoverImageEditModal.tsx
  src/Locale/en.json
  src/Locale/hi.json
  src/Locale/kn.json
  src/Locale/ml.json
  src/Locale/ta.json
Labels: hacktoberfest-accepted, tested

#8716 fix: Removed useQuery from wrapper
  src/Components/Facility/LocationManagement.tsx
Labels: needs review, tested

#8741 Patient Registration Form: Move restore draft button beside generate/link abha number
  src/Components/Form/Form.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Utils/AutoSave.tsx
Labels: needs testing

#8765 Fixes restore draft from performing form submits
  src/Utils/AutoSave.tsx
Labels: needs testing, needs review

#8757 Fixed the update details button width in resource details page
  src/Components/Resource/ResourceDetails.tsx
Labels: needs review, tested

#8766 Fixed the type issue in the cypress test file
  cypress/e2e/assets_spec/AssetHomepage.cy.ts
  cypress/e2e/assets_spec/AssetsCreation.cy.ts
  cypress/e2e/patient_spec/PatientFileUpload.ts
  cypress/e2e/sample_test_spec/SampleTestHomepage.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Asset/AssetFilters.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Facility/FacilityHome.ts
  cypress/pageobject/Facility/FacilityManage.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientHome.ts
  cypress/pageobject/Patient/PatientInsurance.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  cypress/pageobject/Patient/PatientMedicalHistory.ts
  cypress/pageobject/Resource/ResourcePage.ts
  cypress/pageobject/Users/ManageUserPage.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Labels: needs review, tested

#8713 Revamped resource and shifting boards to the KanbanBoard component and removed react-dnd
  package-lock.json
  package.json
  src/Components/Facility/models.tsx
  src/Components/Kanban/Board.tsx
  src/Components/Patient/models.tsx
  src/Components/Resource/ResourceBoard.tsx
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
  src/Components/Shifting/ShiftingBoard.tsx
  src/Locale/en.json
  src/Routers/routes/ResourceRoutes.tsx
  src/Routers/routes/ShiftingRoutes.tsx
Labels: needs review, tested

#8755 Added units for pressure-sore
  src/Components/LogUpdate/Sections/PressureSore/PressureSore.tsx
  src/Locale/en.json
Labels: hacktoberfest-accepted, tested, good to merge

#8754 Added ORAL as default for all route
  src/Components/Medicine/PrescriptionBuilder.tsx
Labels: hacktoberfest-accepted, tested, good to merge

#8702 Death report is missing patient age
  src/Components/DeathReport/DeathReport.tsx
Labels: hacktoberfest-accepted, tested, good to merge

#8784 Fixes multiple tiny issues
  public/favicon-light.ico
  public/favicon.ico
  src/App.tsx
  src/CAREUI/misc/PaginatedList.tsx
  src/CAREUI/misc/ThemedFavicon.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/Assets/AssetsList.tsx
  src/Components/Common/Breadcrumbs.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/FacilityBlock.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Facility/LocationManagement.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientConsentRecordBlock.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
  src/Locale/en.json
  src/Routers/AppRouter.tsx
Labels: needs review, tested

#8660 WIP: Care Plugin Support
  .cursorrules
  .env.docker
  .example.env
  .gitignore
  .nvmrc
  .prettierrc.json
  README.md
  care.config.ts
  cypress/e2e/users_spec/UsersHomepage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  package-lock.json
  package.json
  scripts/setup-care-apps.js
  src/App.tsx
  src/CAREUI/display/Timeline.tsx
  src/CAREUI/icons/CareIcon.tsx
  src/CAREUI/icons/icon.js
  src/CAREUI/interactive/LegendInput.tsx
  src/Common/hooks/useCareApps.ts
  src/Components/CameraFeed/CentralLiveMonitoring/index.tsx
  src/Components/Common/ErrorBoundary.tsx
  src/Components/Common/Sidebar/Sidebar.tsx
  src/Components/Common/Sidebar/SidebarItem.tsx
  src/Components/Common/SortDropdown.tsx
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Facility/FacilityList.tsx
  src/Components/Notifications/ShowPushNotification.tsx
  src/Components/Users/UserProfile.tsx
  src/Locale/en.json
  src/PluginEngine.tsx
  src/Redux/api.tsx
  src/Routers/AppRouter.tsx
  src/Routers/routes/AssetRoutes.tsx
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/FacilityInventoryRoutes.tsx
  src/Routers/routes/FacilityLocationRoutes.tsx
  src/Routers/routes/FacilityRoutes.tsx
  src/Routers/routes/HCXRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/Routers/routes/SampleRoutes.tsx
  src/Routers/routes/ShiftingRoutes.tsx
  src/Routers/routes/UserRoutes.tsx
  src/Utils/useTimer.tsx
  src/pluginTypes.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.mts
Labels: changes required

#8801 Updated README: updated CARE logo
  README.md
Labels: needs review, tested

#8728 Fixing: Switch Blood Pressure and temperature dropdown to use TextFormField with type="number" instead of a dropdown #8644
  cypress/e2e/patient_spec/PatientLogUpdate.cy.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Common/TemperatureFormField.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Locale/en.json
Labels: needs review, tested

#8793 Map preview on mobile fix
  src/Components/Common/GLocationPicker.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: needs review, tested

#8771 Added Infinite Scrolling and Previous Item Persistence in Notifications
  src/Components/Notifications/NotificationsList.tsx
Labels: needs review, tested

#8679 Investigations Print Preview Page
  src/Components/Facility/Investigations/InvestigationTable.tsx
  src/Components/Facility/Investigations/InvestigationsPrintPreview.tsx
  src/Components/Facility/Investigations/ShowInvestigation.tsx
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
Labels: needs review, tested

#8782 Updated UI for facility cards and avatar component
  cypress/pageobject/Facility/FacilityHome.ts
  src/CAREUI/display/Count.tsx
  src/Components/Common/Avatar.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Facility/FacilityBlock.tsx
  src/Components/Facility/FacilityCard.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Locale/en.json
Labels: needs review, tested

#8813 Sort only `en` locale file in the sort-locale script; Update docker and CI to use `npm run install-all`
  .devcontainer/devcontainer.json
  .github/workflows/cypress.yaml
  Dockerfile
  scripts/sort-locales.js
Labels: needs review

#8823 Corrected redirection of cancel button
  src/Components/Patient/PatientRegister.tsx
Labels: good to merge

#8253 📷 Support for linking multiple cameras to a bed
  cypress/pageobject/Asset/AssetCreation.ts
  src/CAREUI/interactive/KeyboardShortcut.tsx
  src/Common/constants.tsx
  src/Components/Assets/AssetConfigure.tsx
  src/Components/Assets/AssetType/HL7Monitor.tsx
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Assets/AssetTypes.tsx
  src/Components/Assets/configure/CameraConfigure.tsx
  src/Components/Assets/configure/MonitorConfigure.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedOld.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
  src/Components/CameraFeed/CameraPresetSelect.tsx
  src/Components/CameraFeed/ConfigureCamera.tsx
  src/Components/CameraFeed/FeedAlert.tsx
  src/Components/CameraFeed/FeedControls.tsx
  src/Components/CameraFeed/routes.ts
  src/Components/CameraFeed/useFeedPTZ.ts
  src/Components/CameraFeed/useOperateCamera.ts
  src/Components/CameraFeed/utils.ts
  src/Components/Common/MonitorAssetPopover.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/FacilityUsers.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Locale/en.json
  src/Locale/hi.json
  src/Locale/kn.json
  src/Locale/ml.json
  src/Locale/ta.json
  src/Redux/actions.tsx
  src/Utils/transformUtils.ts
Labels: needs review, tested

#8824 fix: close profile dropdown on first click when navigating
  src/Components/Common/Sidebar/SidebarUserCard.tsx
Labels: tested

#8790 Shifting csv generation fix
  src/Components/Shifting/BoardView.tsx
Labels: needs review, tested

#8340 Abdm V3 Plug Support
  cypress/e2e/users_spec/UsersManage.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  netlify.toml
  package-lock.json
  package.json
  src/Common/constants.tsx
  src/Components/ABDM/ABDMFacilityRecords.tsx
  src/Components/ABDM/ABDMRecordsTab.tsx
  src/Components/ABDM/ABHAProfileModal.tsx
  src/Components/ABDM/ConfigureHealthFacility.tsx
  src/Components/ABDM/FetchRecordsModal.tsx
  src/Components/ABDM/HealthInformation.tsx
  src/Components/ABDM/LinkABHANumberModal.tsx
  src/Components/ABDM/LinkAbhaNumber/CreateWithAadhaar.tsx
  src/Components/ABDM/LinkAbhaNumber/LinkWithOtp.tsx
  src/Components/ABDM/LinkAbhaNumber/LinkWithQr.tsx
  src/Components/ABDM/LinkAbhaNumber/index.tsx
  src/Components/ABDM/LinkAbhaNumber/useMultiStepForm.ts
  src/Components/ABDM/LinkCareContextModal.tsx
  src/Components/ABDM/models.ts
  src/Components/ABDM/types/abha.ts
  src/Components/ABDM/types/health-facility.ts
  src/Components/Common/components/ButtonV2.tsx
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/Utils.ts
  src/Components/Patient/models.tsx
  src/Locale/en.json
  src/Redux/api.tsx
  src/Utils/request/request.ts
Labels: needs review, tested, waiting for backend

#8797 Increase width of medical history details text area for mobile view in patient registration form #8763
  src/Components/Patient/PatientRegister.tsx
Labels: tested

#8748 Added 3rd Party Software Licenses Page
  .github/workflows/generate-sbom.yml
  public/be-sbom.json
  public/bom.json
  src/Components/Auth/Login.tsx
  src/Components/Licenses/LicensesPage.tsx
  src/Components/Licenses/SBOMViewer.tsx
  src/Components/Licenses/be-sbom.json
  src/Components/Licenses/fe-sbom.json
  src/Components/Licenses/licenseUrls.json
  src/Locale/en.json
  src/Routers/SessionRouter.tsx
Labels: needs review, tested

#8731 Uninstall react-redux and axios
  cypress/pageobject/Facility/FacilityCreation.ts
  package-lock.json
  package.json
  src/Components/Facility/ConsultationDetails/index.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Facility/FacilityFilter/DistrictSelect.tsx
  src/Redux/Reducer.tsx
  src/Redux/actions.tsx
  src/Redux/api.tsx
  src/Redux/fireRequest.tsx
  src/index.tsx
Labels: tested, cypress passed

#8394 Improve validation check for phone number in patient list page #8189
  src/Components/Form/FieldValidators.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, good to merge

#8853 Fixed age formatting in the shifting list view
  src/Components/Shifting/ListView.tsx
Labels: needs testing, needs review

#8837 fix: added tooltip for Discussion Notes Icons #8618
  src/Components/Facility/PatientNoteCard.tsx
  src/Components/Facility/PatientNotesSlideover.tsx
  src/Locale/en.json
Labels: tested, reviewed

#8836 Fixes Add Validation for Insurance Input Fields in Patient Registration Form #8672
  src/Components/HCX/validators.ts
  src/Components/Patient/PatientRegister.tsx
  src/Locale/en.json
Labels: tested

#8807 Fixed Misaligned text when there's no data
  src/Components/Shifting/ListView.tsx
Labels: needs testing, needs review, tested

#8722 Fix comment overflow and ensure content fits within div
  src/Components/Resource/CommentSection.tsx
  src/Components/Shifting/CommentsSection.tsx
Labels: tested, reviewed

#8606 Allow users to set profile pictures
  cypress/pageobject/Facility/FacilityManage.ts
  src/Common/hooks/useAuthUser.ts
  src/Components/Common/Avatar.tsx
  src/Components/Common/AvatarEditModal.tsx
  src/Components/Common/AvatarEditable.tsx
  src/Components/Common/LanguageSelector.tsx
  src/Components/Common/Sidebar/SidebarUserCard.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Users/UserProfile.tsx
  src/Components/Users/models.tsx
  src/Locale/en.json
  src/Locale/hi.json
  src/Locale/kn.json
  src/Locale/ml.json
  src/Locale/ta.json
  src/Providers/AuthUserProvider.tsx
  src/Redux/api.tsx
Labels: tested

#8855 Remove asset detail popup in asset configure's camera feed
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/ConfigureCamera.tsx
  src/Components/Common/AssetInfoPopover.tsx
  src/Components/VitalsMonitor/VitalsMonitorFooter.tsx
Labels: hacktoberfest-accepted, tested

#8879 Fixed incorrect redirection after adding lab result and aligned view and print buttons
  src/Components/Facility/Investigations/ViewInvestigations.tsx
  src/Components/Facility/Investigations/index.tsx
Labels: tested

#8851 First added diagnosis in create consultation removal
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisBuilder.tsx
Labels: tested

#8839 Bed management UI enhancement
  cypress/e2e/assets_spec/AssetHomepage.cy.ts
  cypress/e2e/facility_spec/FacilityHomepage.cy.ts
  cypress/pageobject/Asset/AssetPagination.ts
  src/Components/Facility/BedManagement.tsx
  src/Locale/en.json
Labels: tested

#8852 Ventilator mode/Oxygen modality data as exclusive of each other
  src/components/LogUpdate/Sections/RespiratorySupport/OxygenSupport.tsx
  src/components/LogUpdate/Sections/RespiratorySupport/index.tsx
Labels: tested

#8864 Redundant API calls in Vitals tab
  src/Locale/en.json
  src/components/Facility/ConsultationDetails/index.tsx
  src/components/Facility/Consultations/PainDiagrams.tsx
  src/components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/components/Facility/models.tsx
Labels: needs review, tested

#8812 CNS: filter by locations changes
  src/Locale/en.json
  src/components/Common/LocationSelect.tsx
  src/components/Facility/CentralNursingStation.tsx
Labels: tested, waiting for backend, reviewed

#8809 Add field validation to resolve the Update Profile Issue
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/e2e/users_spec/UsersProfile.cy.ts
  cypress/pageobject/Facility/FacilityLocation.ts
  src/components/Form/FormFields/PhoneNumberFormField.tsx
  src/components/Users/UserProfile.tsx
Labels: needs review, tested

#8891 Adds support for `useMutation` hook
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  src/Utils/request/useMutation.ts
  src/components/Medicine/CreatePrescriptionForm.tsx
Labels: tested

#8917 Fixes security issue with Avatar Edit Modal
  src/components/Common/AvatarEditModal.tsx
Labels: urgent, tested, P1

#8881 Prevent infinite load when avatar upload fails
  src/components/Common/AvatarEditModal.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Users/UserProfile.tsx
Labels: tested, reviewed

#8827 Fixes greyed out 'Active Manage Bed' button in Location Management Page #8814
  src/components/Facility/LocationManagement.tsx
Labels: tested, merge conflict, reviewed

#8825 Modified the UI of events log and switch tab
  src/Locale/en.json
  src/components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/components/Facility/ConsultationDetails/Events/EventsList.tsx
  src/components/Facility/Consultations/DailyRoundsFilter.tsx
  src/components/Facility/Consultations/DailyRoundsList.tsx
Labels: needs review, tested

#8776 Log Update: Rounding off the PCO2 values to nearest integer
  src/components/Form/FormFields/RangeFormField.tsx
  src/components/LogUpdate/Sections/BloodSugar.tsx
  src/components/LogUpdate/Sections/Vitals.tsx
Labels: needs review, tested

#8830 Fix: Permission Handling Issues in Microphone and Camera Capture Dialogs
  src/Locale/en.json
  src/Utils/useRecorder.js
  src/Utils/useSegmentedRecorder.ts
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Files/CameraCaptureDialog.tsx
Labels: tested, changes required, Deploy-Failed

#8504 Added support for time in dateinput component
  cypress/e2e/patient_spec/PatientConsultationCreation.cy.ts
  cypress/e2e/patient_spec/PatientRegistration.cy.ts
  cypress/e2e/users_spec/UsersCreation.cy.ts
  cypress/pageobject/Asset/AssetCreation.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientCreation.ts
  cypress/pageobject/Patient/PatientTreatmentPlan.ts
  cypress/pageobject/Shift/ShiftFilters.ts
  cypress/pageobject/Users/UserCreation.ts
  cypress/pageobject/Users/UserProfilePage.ts
  cypress/support/commands.ts
  src/CAREUI/interactive/SlideOver.tsx
  src/components/ABDM/FetchRecordsModal.tsx
  src/components/Assets/AssetServiceEditModal.tsx
  src/components/Common/DateInputV2.tsx
  src/components/Common/DateRangeInputV2.tsx
  src/components/Common/DateTextInput.tsx
  src/components/Common/SortDropdown.tsx
  src/components/Common/prescription-builder/InvestigationBuilder.tsx
  src/components/Common/prescription-builder/ProcedureBuilder.tsx
  src/components/DeathReport/DeathReport.tsx
  src/components/Facility/AssetCreate.tsx
  src/components/Facility/ConsultationForm.tsx
  src/components/Facility/Consultations/Beds.tsx
  src/components/Facility/Consultations/DailyRoundsFilter.tsx
  src/components/Facility/DischargeModal.tsx
  src/components/Facility/TriageForm.tsx
  src/components/Form/FormFields/DateFormField.tsx
  src/components/Form/FormFields/DateRangeFormField.tsx
  src/components/Form/FormFields/Utils.ts
  src/components/Medicine/AdministerMedicine.tsx
  src/components/Medicine/MedicineAdministration.tsx
  src/components/Patient/DailyRounds.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Symptoms/SymptomsBuilder.tsx
  src/components/Users/UserAdd.tsx
  src/components/Users/UserProfile.tsx
  src/style/index.css
Labels: needs review, tested

#8912 Added UserAvatar in userlist and users page
  src/components/Common/UserAutocompleteFormField.tsx
  src/components/Form/FormFields/Autocomplete.tsx
  src/components/Users/ManageUsers.tsx
  src/components/Users/models.tsx
Labels: needs review, tested

#8948 Show avatar in autocomplete conditionally
  src/components/Common/UserAutocompleteFormField.tsx
  src/components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested

#8959 Removed Avatar from AutoCompleteField
  src/components/Common/UserAutocompleteFormField.tsx
  src/components/Form/FormFields/Autocomplete.tsx
Labels: needs review, tested

#8962 update lodash imports to be tree shakable
  src/Utils/Notifications.js
  src/components/Common/ExcelFIleDragAndDrop.tsx
  src/components/Facility/Investigations/InvestigationsPrintPreview.tsx
  src/components/Facility/Investigations/Reports/index.tsx
  src/components/Facility/Investigations/Reports/utils.tsx
  src/components/Facility/Investigations/ShowInvestigation.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Patient/SampleDetails.tsx
  src/components/Patient/SampleTestCard.tsx
Labels: reviewed

#8934 Updated UI for list view for Resources and Shifting
  src/Redux/api.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/Routers/routes/ShiftingRoutes.tsx
  src/components/Facility/models.tsx
  src/components/Resource/ListView.tsx
  src/components/Resource/ResourceBadges.tsx
  src/components/Resource/ResourceBlock.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceCommentSection.tsx
  src/components/Resource/ResourceCommons.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Resource/ResourceFilter.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Resource/models.ts
  src/components/Shifting/BoardView.tsx
  src/components/Shifting/ListView.tsx
  src/components/Shifting/ShiftDetails.tsx
  src/components/Shifting/ShiftDetailsUpdate.tsx
  src/components/Shifting/ShiftingBadges.tsx
  src/components/Shifting/ShiftingBlock.tsx
  src/components/Shifting/ShiftingBoard.tsx
  src/components/Shifting/ShiftingCommentsSection.tsx
  src/components/Shifting/ShiftingCommons.tsx
  src/components/Shifting/ShiftingFilters.tsx
  src/components/Shifting/ShiftingList.tsx
  src/components/Shifting/models.ts
Labels: needs review, tested

#8952 Facility staff management bug fixes
  src/Locale/en.json
  src/common/constants.tsx
  src/components/Facility/FacilityStaffList.tsx
  src/components/Facility/StaffCapacity.tsx
Labels: needs review, tested, P1

#8943 HCX Plug FE
  src/CAREUI/display/Timeline.tsx
  src/PluginEngine.tsx
  src/Redux/api.tsx
  src/Routers/AppRouter.tsx
  src/Routers/routes/HCXRoutes.tsx
  src/Utils/types.ts
  src/components/Assets/AssetTypes.tsx
  src/components/CameraFeed/routes.ts
  src/components/Common/PMJAYProcedurePackageAutocomplete.tsx
  src/components/Common/RelativeDateUserMention.tsx
  src/components/Diagnosis/types.ts
  src/components/Facility/ConsultationClaims.tsx
  src/components/Facility/DischargeModal.tsx
  src/components/Facility/DoctorVideoSlideover.tsx
  src/components/Facility/models.tsx
  src/components/HCX/ClaimCard.tsx
  src/components/HCX/ClaimCardCommunication.tsx
  src/components/HCX/ClaimCardInfo.tsx
  src/components/HCX/ClaimCreatedModal.tsx
  src/components/HCX/ClaimsItemsBuilder.tsx
  src/components/HCX/CreateClaimCard.tsx
  src/components/HCX/InsuranceDetailsBuilder.tsx
  src/components/HCX/constants.ts
  src/components/HCX/misc.ts
  src/components/HCX/models.ts
  src/components/HCX/validators.ts
  src/components/Medicine/models.ts
  src/components/Patient/InsuranceDetails.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegister.tsx
  src/components/Patient/models.tsx
  src/pluginTypes.ts
  tailwind.config.js
Labels: tested, reviewed

#8947 Fix avatars with initials in webkit
  src/components/Common/Avatar.tsx
Labels: tested, reviewed

#8895 Fix#8815 fixed clear button functionaly and center aligned arrow dropdown arrow
  src/components/Facility/SpokeFacilityEditor.tsx
  src/components/Form/AutoCompleteAsync.tsx
Labels: needs review, tested
