Repository ohcnetwork/care_fe, pull requests merged in 2024-03, with the labels that each got.

#7257 fix: Limit number of facilities a single user can be linked to
  src/Components/Users/ManageUsers.tsx
  src/Locale/en/Users.json
  src/Locale/en/index.js
  src/Redux/api.tsx
Labels: needs review, tested, cypress passed

#7294 Use Cypress split for forked prs
  .github/workflows/cypress.yaml
  cypress.config.ts
  package-lock.json
  package.json
Labels: tested, good to merge, reviewed

#7148 Adds support for viewing discharged patients of a facility
  src/Components/Common/components/Menu.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Facility/FacilityHome.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Redux/api.tsx
  src/Routers/routes/FacilityRoutes.tsx
Labels: tested

#7320 Rearrange tabs in patient dashboard
  src/Common/constants.tsx
Labels: tested, cypress passed, reviewed

#7253 Auto-close dropdown when single select option is selected in a multi select dropdown
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/users_spec/user_manage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  cypress/pageobject/Users/ManageUserPage.ts
  src/Common/constants.tsx
  src/Components/Form/MultiSelectMenuV2.tsx
Labels: tested, cypress passed

#7305 Improve File Preview
  package-lock.json
  package.json
  public/pdf.worker.min.js
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Common/PDFViewer.tsx
  src/Components/Patient/FileUpload.tsx
  tailwind.config.js
Labels: tested

#7314 Fix: Improving Facility type options
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  src/Common/constants.tsx
  src/Components/Common/prescription-builder/PrescriptionDropdown.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/FacilityCreate.tsx
Labels: tested, P1, Cypress Test Pending

#7357 Rewording Telemedicine-consultation form
  src/Components/Facility/ConsultationForm.tsx
Labels: tested, reviewed

#7366 "Fix issue #7361: Block users from entering date out of range"
  src/Components/Common/DateInputV2.tsx
Labels: tested, reviewed

#7303 Issue: 7132 - Disallow Add Consultation updates for active consultations without bed assigned
  src/Components/Facility/ConsultationCard.tsx
  src/Components/Patient/PatientHome.tsx
Labels: needs review, tested

#7353 Improve District filter in User Management
  cypress/e2e/users_spec/user_homepage.cy.ts
  cypress/pageobject/Users/UserSearch.ts
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/UserFilter.tsx
Labels: tested, reviewed

#7368 replaced all axios with native fetch and XMLHttpRequest
  src/Common/hooks/useMSEplayer.ts
  src/Components/Assets/AssetType/ONVIFCamera.tsx
  src/Components/Facility/CoverImageEditModal.tsx
  src/Components/Patient/FileUpload.tsx
  src/Components/Patient/UpdateStatusDialog.tsx
  src/Utils/request/uploadFile.ts
  src/Utils/request/utils.ts
Labels: tested, reviewed

#7418 Fixes patient no. not being sent to backend if updated to empty string
  src/Components/Facility/ConsultationForm.tsx
Labels: needs review, tested

#6565 Add titrated prescription dosage type
  cypress/pageobject/Patient/PatientPrescription.ts
  src/Components/Form/FormFields/DosageFormField.tsx
  src/Components/Form/FormFields/NumericWithUnitsFormField.tsx
  src/Components/Medicine/AdministerMedicine.tsx
  src/Components/Medicine/CreatePrescriptionForm.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/Components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
  src/Components/Medicine/PrescriptionsTable.tsx
  src/Components/Medicine/PrescrpitionTimeline.tsx
  src/Components/Medicine/models.ts
  src/Components/Medicine/validators.ts
  src/Locale/en/Medicine.json
Labels: tested, reviewed

#7400 New Cypress Test | Normal Log Update for Admission and Non- Admission Patients | Patient Consultation Module
  cypress/e2e/patient_spec/patient_consultation.cy.ts
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  cypress/pageobject/Patient/PatientConsultation.ts
  cypress/pageobject/Patient/PatientLogupdate.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package-lock.json
  package.json
  src/CAREUI/display/Timeline.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/Consultations/DailyRounds/DefaultLogUpdateCard.tsx
  src/Components/Facility/Consultations/PrimaryParametersPlot.tsx
  src/Components/Patient/DailyRoundListDetails.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: work-in-progress

#7152 Track occupation of patient
  cypress/e2e/patient_spec/patient_registration.cy.ts
  cypress/pageobject/Patient/PatientCreation.ts
  src/Common/constants.tsx
  src/Components/Patient/PatientHome.tsx
  src/Components/Patient/PatientRegister.tsx
  src/Components/Patient/models.tsx
Labels: tested, reviewed

#7339 Refactored condition of Different Districts in External Result
  src/Components/ExternalResult/ExternalResultUpload.tsx
Labels: needs review, tested

#7408 fix: added validation for doctor experience input.
  src/Components/Users/UserProfile.tsx
Labels: tested, reviewed

#7396 Update Click to chat button for WhatsApp
  src/Components/Facility/DoctorVideoSlideover.tsx
Labels: tested, reviewed

#7392 Fix file upload UI
  src/Components/Patient/FileUpload.tsx
Labels: tested, reviewed

#7390 Solved File Management Exceptions
  src/Components/Patient/FileUpload.tsx
Labels: tested, reviewed

#7391 Issue resolved "Handle the 0 Input in the Pressure sore and Pain Scale component"
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
  src/Components/CriticalCareRecording/PressureSore/CriticalCare__PressureSoreInputModal.res
Labels: tested, reviewed

#7358 Improves discharged tab switch behaviour
  src/Components/Common/components/SwitchTabs.tsx
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/ManagePatients.tsx
  src/Locale/en/Facility.json
Labels: tested, P1, reviewed

#7446 Removes support for exporting All Patients
  src/Components/Common/Export.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested, P2

#7457 Removes support for exporting All Patients
  src/Components/Common/Export.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: needs review

#7472 Fixes high cpu usage in medicines tab, pagination not working, incorrect last modified date and type errors
  src/Common/hooks/useRangePagination.ts
  src/Components/Medicine/MedicineAdministrationSheet/index.tsx
  src/Components/Medicine/MedicineAdministrationSheet/utils.ts
Labels: needs review, tested, P1

#7198 Improving Doctor Connect UI
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Redux/api.tsx
Labels: tested, cypress passed

#7443 Show asset down on assets manage page
  src/Components/Assets/AssetManage.tsx
Labels: tested, cypress passed

#7448 added toast messages on facility and skills dialog
  src/Components/Users/ManageUsers.tsx
  src/Components/Users/SkillsSlideOver.tsx
Labels: tested, cypress passed

#7449 edit padding in shifting board and resource board pages in mobile screen
  src/Components/Resource/ResourceBoardView.tsx
  src/Components/Shifting/BoardView.tsx
Labels: needs review, tested

#7450 E-chart vitals precision problem fixed
  src/Components/Facility/Consultations/components/LinePlot.tsx
  src/Utils/utils.ts
Labels: needs review, tested

#7455 Don't allow negative values for quantity in Manage Inventory and Minimum Quantity Required page
  src/Components/Facility/AddInventoryForm.tsx
  src/Components/Facility/SetInventoryForm.tsx
Labels: tested, cypress passed

#7136 Extend Update Log to bottom of the screen
  src/Components/Facility/Consultations/DailyRoundsList.tsx
Labels: tested

#7461 Added consent form to patient consultation
  src/Common/constants.tsx
  src/Components/Common/PageTitle.tsx
  src/Components/Common/components/Page.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Facility/ConsultationDetails/ConsultationUpdatesTab.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/FileUpload.tsx
  src/Redux/actions.tsx
Labels: tested, P1
