Repository ohcnetwork/care_fe, pull requests merged in 2024-06, with the labels that each got.

#7964 clean special characters in phone number in whatsapp link
  src/Components/Facility/DoctorVideoSlideover.tsx
  src/Components/Patient/PatientHome.tsx
Labels: needs review, tested

#7965 Camera Feed Fixes: Gracefully handle full-screen errors for unsupported devices; fixes clipping of content in certain sizes in landscape mode
  src/CAREUI/misc/Fullscreen.tsx
  src/Components/CameraFeed/AssetBedSelect.tsx
  src/Components/CameraFeed/CameraFeed.tsx
  src/Components/CameraFeed/CameraFeedWithBedPresets.tsx
  src/Components/CameraFeed/FeedAlert.tsx
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested

#7974 Add support for retries in Scribe
  src/Components/Scribe/Scribe.tsx
Labels: needs review, tested

#7958 Fix sort button width
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/Components/Common/SortDropdown.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: tested

#7973 Show ICD-11 Diagnosis functionality unavailable error if issues with Redis
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/AddICD11Diagnosis.tsx
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/ConsultationDiagnosisEntry.tsx
  src/Components/Diagnosis/DiagnosesListAccordion.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Patient/DiagnosesFilter.tsx
Labels: needs review, tested

#7895 Added padding in the user tab for "No users found"
  src/Components/Users/ManageUsers.tsx
Labels: needs review, tested, changes required

#7989 Show link asset popup only for IV and NIV resp. support types
  src/Components/CriticalCareRecording/VentilatorParametersEditor/CriticalCare__VentilatorParametersEditor.res
Labels: needs review, tested, P1

#7946 Restructured Consent Records
  src/Common/constants.tsx
  src/Components/Common/FilePreviewDialog.tsx
  src/Components/Facility/ConsultationForm.tsx
  src/Components/Facility/models.tsx
  src/Components/Patient/PatientConsentRecordBlock.tsx
  src/Components/Patient/PatientConsentRecords.tsx
  src/Components/Patient/PatientInfoCard.tsx
  src/Components/Patient/models.tsx
  src/Redux/api.tsx
  src/Utils/useFileManager.tsx
  src/Utils/useFileUpload.tsx
Labels: tested

#7992 Fix log update submit button disabled even after symptoms changed
  src/Components/Patient/DailyRounds.tsx
  src/Components/Symptoms/SymptomsBuilder.tsx
Labels: needs review, tested, P1

#7991 show uncategorised text for diagnosis without chapters
  src/Components/Diagnosis/ConsultationDiagnosisBuilder/PrincipalDiagnosisSelect.tsx
  src/Components/Diagnosis/types.ts
Labels: needs review, tested, P1

#7738 Hide Facility link and unlink button for non-admin users
  src/Components/Users/ManageUsers.tsx
Labels: tested

#7982 Fix autolabel workflow error and removes needs testing label if changes are requested
  .github/workflows/auto-testing-label.yml
Labels: needs review, tested

#7983 Drop unused `context` from Form Fields due to unnecessary complexity
  .storybook/vite.config.mts
  src/Components/Common/BloodPressureFormField.tsx
  src/Components/Common/PMJAYProcedurePackageAutocomplete.tsx
  src/Components/Common/RouteToFacilitySelect.tsx
  src/Components/Common/UserAutocompleteFormField.tsx
  src/Components/Form/FormContext.ts
  src/Components/Form/FormFields/DateFormField.tsx
  src/Components/Form/FormFields/DateRangeFormField.tsx
  src/Components/Form/FormFields/Month.tsx
  src/Components/Form/FormFields/PhoneNumberFormField.tsx
  src/Components/Form/FormFields/TextAreaFormField.tsx
  src/Components/Form/FormFields/TextFormField.tsx
  src/Components/Form/FormFields/Utils.ts
  src/Components/HCX/ClaimsItemsBuilder.tsx
  src/Components/HCX/InsuranceDetailsBuilder.tsx
  src/Components/HCX/InsurerAutocomplete.tsx
  vite.config.mts
Labels: needs review, tested

#7988 Doctor's Log Update- Progress Note and other improvements
  cypress/e2e/facility_spec/facility_manage.cy.ts
  cypress/pageobject/Facility/FacilityCreation.ts
  src/Components/Medicine/PrescriptionBuilder.tsx
  src/Components/Medicine/PrescriptionDetailCard.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested, P1

#7994 Added label to painscale preview
  src/Components/CriticalCareRecording/Pain/CriticalCare__PainInputModal.res
Labels: needs review, tested

#8017 Issues/7971/aspect ratio of bed icon
  src/Components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#8001 fix: fixed zooming problem
  src/Components/Common/FilePreviewDialog.tsx
Labels: needs review, tested

#7990 Show IP/OP number in patients list page
  src/Components/Facility/DischargedPatientsList.tsx
  src/Components/Patient/ManagePatients.tsx
Labels: needs review, tested, P1

#8013 Show confirmation dialog for updating preset in consultation feed
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: needs review, tested

#8039 Changed Doctors Log to progress notes
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
Labels: needs review, tested

#8041 Fixes pagination for shifting board
  src/Components/Shifting/ShiftingBoard.tsx
Labels: tested, reviewed

#7978 New Cypress Test | Bulk Administration of Medicine | Prescription Module
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/pageobject/Patient/PatientPrescription.ts
  src/Components/Medicine/MedicineAdministration.tsx
  src/Components/Medicine/MedicineAdministrationSheet/BulkAdminister.tsx
Labels: stale

#8049 Show notifications on prescription edit / failure
  src/Components/Form/Form.tsx
  src/Components/Medicine/EditPrescriptionForm.tsx
Labels: tested, reviewed

#8056 Fixed Log Update Details Page Crashing
  src/Components/CriticalCareRecording/Others/DailyRound__General.res
  src/Components/CriticalCareRecording/types/CriticalCare__Others.res
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
  src/Components/Facility/Consultations/DailyRoundsList.tsx
  src/Components/Patient/DailyRounds.tsx
Labels: needs testing, needs review

#8072 Update button text in bed modal
  cypress/pageobject/Patient/PatientLogupdate.ts
  src/Components/Facility/Consultations/Beds.tsx
Labels: tested, reviewed

#8071 Added 4 additional review after choices
  src/Common/constants.tsx
Labels: tested, reviewed

#8067 Cleanup daily round type text mapping
  cypress/e2e/patient_spec/patient_logupdate.cy.ts
  src/Components/CriticalCareRecording/Recording/CriticalCare__Recording.res
  src/Components/Facility/Consultations/DailyRounds/LogUpdateCardAttribute.tsx
  src/Components/Facility/Consultations/DailyRoundsFilter.tsx
  src/Components/Patient/DailyRounds.tsx
  src/Locale/en/Consultation.json
Labels: tested, cypress passed, reviewed

#8076 Fixes Tooltip clipping in for preset save button
  src/Components/Facility/ConsultationDetails/ConsultationFeedTab.tsx
Labels: tested

#7697 Rework Shifting Process for "Complete" stage
  src/Components/Common/FacilitySelect.tsx
  src/Components/Facility/DischargeModal.tsx
  src/Components/Form/AutoCompleteAsync.tsx
  src/Components/Shifting/ShiftDetailsUpdate.tsx
  src/Locale/en/Shifting.json
Labels: needs review, tested

#8092 Make voice autofill popup scrollable on content overflow
  src/Components/Scribe/Scribe.tsx
Labels: needs review, tested
