Repository ohcnetwork/care_fe, pull requests merged in 2025-10, with the labels that each got.

#13571 feat: Added Ability to Prefill Default Option in Choice-Type Question within a Questionnaire
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/types/questionnaire/question.ts
Labels: Tested ✅, Type Changes

#13905 Added support for "Set Primary" option for queues
  src/pages/Facility/queues/QueueFormSheet.tsx
  src/pages/Facility/queues/QueuesIndex.tsx
  src/types/tokens/tokenQueue/tokenQueue.ts
Labels: reviewed, Type Changes

#13860 add support for disabling clear filters
  src/components/ui/multi-filter/MultiFilter.tsx
  src/components/ui/multi-filter/filterConfigs.tsx
  src/components/ui/multi-filter/selectedFilterBar.tsx
  src/components/ui/multi-filter/utils/Utils.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Encounters/EncounterHistorySelector.tsx
  src/pages/Encounters/EncounterList.tsx
Labels: needs review, Tested ✅

#13910 adds support for cloning a role
  public/locale/en.json
  src/pages/Admin/Roles/RolesIndex.tsx
Labels: needs review

#13946 Enable customized patient searches from plugs
  src/components/Common/SearchInput.tsx
  src/components/Patient/PatientIndex.tsx
  src/pluginTypes.ts
Labels: needs testing, reviewed

#13779 add github actions workflows for auto-assigning PRs and updating labels based on status
  .github/workflows/auto-assign.yml
  .github/workflows/labeling-pr.yml
  .github/workflows/pr-checklist.yml
Labels: needs testing, needs review

#13981 Refactor Autocomplete component: remove shortcutDisplay prop, adjust …
  src/components/ui/autocomplete.tsx
Labels: needs testing, needs review

#13982 Added Pagination for encounter list in PatientHome
  src/pages/Encounters/tabs/devices.tsx
  src/pages/Encounters/tabs/diagnostic-reports.tsx
  src/pages/Patient/home/PatientHomeEncounters.tsx
Labels: needs testing, needs review

#13992 fix workflow: support team roles and current sprint options
  .github/workflows/auto-assign.yml
Labels: needs testing, needs review

#13998 fixes questionnaire print route not found in clinical history
  src/Routers/routes/ConsultationRoutes.tsx
Labels: needs testing, needs review

#13996 show only active instances/bed in location sheet
  src/components/Location/LocationSheet.tsx
Labels: needs testing, needs review

#14001 Fix: Navigation from Appointment details to Queue board and to Appointment details page
  src/pages/Appointments/components/AppointmentTokenCard.tsx
  src/pages/Facility/services/HealthcareServiceShow.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/Schedule.tsx
Labels: needs testing, needs review

#14000 Fix: Questionnaire print breaking for clinical history qnr response tab
  src/Routers/routes/ConsultationRoutes.tsx
Labels: needs testing, needs review

#14003 feat: ResourceCategoryList - add search functionality for categories
  src/components/Common/ResourceCategoryList.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionForm.tsx
Labels: needs testing, needs review
