Repository ohcnetwork/care_fe, pull requests merged in 2025-07, with the labels that each got.

#12761 Changed the description in user edit sheet
  public/locale/en.json
  src/pages/Organization/components/EditUserSheet.tsx
Labels: needs testing

#12763 Update whitespace handling in QuestionnaireResponsesList
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: Frontend

#12723 Improve valueset select UX for repeatable choice question
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: Tested ✅, reviewed

#12749 Use ShadCN Select for Language Selector in User Profile Page
  public/locale/en.json
  src/components/Common/LanguageSelector.tsx
Labels: Tested ✅, reviewed

#12862 Adde Reason for Cancellation field in Cancel
  src/pages/Appointments/AppointmentDetail.tsx
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApi.ts
Labels: Changes Required

#12780 Margin to improve the UI in Rename Dialog
  src/hooks/useFileManager.tsx
Labels: Tested ✅, reviewed

#12796 Fix: Show only encounter-type questionnaires in search
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
Labels: Tested ✅, reviewed

#12853 Encounter overview enhancements
  cypress/e2e/dashboard_spec/questionnaire.cy.ts
  cypress/e2e/facility_spec/settings_spec/labs_spec/observation.cy.ts
  cypress/e2e/patient_spec/patient_creation.cy.ts
  cypress/pageObject/Patients/PatientDepartments.ts
  cypress/pageObject/dashboard/Questionnaire.ts
  public/locale/en.json
  src/components/Common/Charts/ObservationHistoryTable.tsx
  src/components/Facility/ConsultationDetails/OverviewSideBar.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/MedicationStatementTable.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/components/Tags/TagAssignmentSheet.tsx
  src/hooks/useSidebarAutoCollapse.tsx
  src/pages/Encounters/EncounterHistorySelector.tsx
  src/pages/Encounters/EncounterProperties.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterObservationsTab.tsx
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
  src/pages/Facility/services/pharmacy/MedicationRequestList.tsx
  src/pages/Patient/History/MedicationHistory.tsx
  src/pages/Patient/History/index.tsx
Labels: Tested ✅

#12925 fixes allergies not displayed in timeline view (clinical history)
  src/components/Patient/allergy/list.tsx
Labels: needs review, P1

#12927 Dispense list paid tab - logic fixed
  src/pages/Facility/services/pharmacy/DispensedMedicationList.tsx
Labels: needs review, Tested ✅

#12934 Allow Diagnostic Report without Specimen Definition
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportForm.tsx
  src/types/files/filesApi.ts
Labels: needs testing, needs review

#12938 Add patient identifier and tags in encounter header; accounts in encounter properties and move external identifier to sidebar
  src/components/Facility/ConsultationDetails/OverviewSideBar.tsx
  src/pages/Encounters/EncounterHeader.tsx
  src/pages/Encounters/EncounterProperties.tsx
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
  src/types/emr/encounter/encounter.ts
Labels: needs testing, needs review

#12753 Fix: Pinch for zooming for image/file preview and dragging for img
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Common/FilePreviewDialog.tsx
  src/components/Common/PDFViewer.tsx
  src/hooks/useFileManager.tsx
Labels: Tested ✅, P2

#12848 added useFacilitySilently and useLocationSilently
  src/components/Questionnaire/MedicationValueSetSelect.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/pages/Facility/locations/utils/useCurrentLocation.ts
  src/pages/Facility/services/serviceRequests/components/ChargeItemCard.tsx
  src/pages/Facility/utils/useCurrentFacility.tsx
Labels: needs review, Tested ✅

#12940 Show parent for patient tags
  public/locale/en.json
  src/pages/Admin/TagConfig/TagConfigList.tsx
  src/pages/Admin/TagConfig/TagConfigView.tsx
  src/pages/Admin/TagConfig/components/TagConfigTable.tsx
  src/pages/Encounters/EncounterHeader.tsx
  src/types/emr/tagConfig/tagConfig.ts
Labels: Tested ✅

#12852 Sorted Comments
  src/components/Resource/ResourceCommentSection.tsx
Labels: Tested ✅

#12813 validation message clear on checkbox toggle
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
Labels: Tested ✅

#12814 close country dropdown on selection
  src/components/ui/phone-input.tsx
Labels: Tested ✅

#12946 Fixes encounter switching with files tab due to filters cache restoration
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/DrawingSubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/hooks/useFilters.tsx
Labels: Tested ✅, P2

#12935 Disallow bed creation without a parent location
  public/locale/en.json
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/types/base/batch/batchApi.ts
Labels: Tested ✅

#12854 Fix: Valueset Search working during symptom dropdown
  src/components/Questionnaire/ValueSetSearchContent.tsx
Labels: Tested ✅, reviewed

#12945 Trim white-spaces in remark in create schedule template sheet
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: Tested ✅

#12791 Update the camera UI and integrate support for switching between multiple cameras
  public/images/camera_block.svg
  public/locale/en.json
  src/Utils/useMediaDevicePermission.ts
  src/components/Files/CameraCaptureDialog.tsx
  src/hooks/useMediaStream.ts
Labels: needs review, Tested ✅

#12747 Fix : Delete Avatar Shows Uploading Transition Instead of Deleting
  src/components/Common/AvatarEditModal.tsx
Labels: Tested ✅

#12832 Fix: Allow administering medicine at the same time as it was added #12693
  src/components/Medicine/MedicationAdministration/MedicineAdminForm.tsx
Labels: needs review, Tested ✅

#12717 Fix: Disable Past Dates and Highlight Today in Schedule Creation Date Picker
  src/components/ui/calendar.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
Labels: Changes Required

#12914 fix: make Create New button responsive on mobile
  src/pages/Facility/settings/product/ProductForm.tsx
Labels: Tested ✅, reviewed

#12932 Disallow add consent and link device for completed encounter
  src/Routers/routes/PatientRoutes.tsx
  src/components/Consent/ConsentFormSheet.tsx
  src/pages/Encounters/ConsentDetail.tsx
  src/pages/Encounters/tabs/EncounterConsentsTab.tsx
  src/pages/Encounters/tabs/EncounterDevicesTab.tsx
Labels: needs testing, reviewed

#12913 Patient identifier filter
  cypress/e2e/patient_spec/patient_creation.cy.ts
  public/locale/en.json
  src/components/Patient/PatientIdentifierFilter.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/types/emr/patient/patientApi.ts
Labels: needs review, Tested ✅

#12953 Payment Reconciliation List - Minor fixes
  src/pages/Facility/billing/paymentReconciliation/PaymentsData.tsx
  src/types/billing/paymentReconciliation/paymentReconciliation.ts
Labels: needs review, Tested ✅

#12983 multi practitioner select: limit avatar display to 5
  src/pages/Appointments/components/MultiPractitionerSelect.tsx
Labels: needs review, Tested ✅

#12978 Enhance DiagnosticReportForm: Integrate new translations, update allowed file extensions
  public/locale/en.json
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportForm.tsx
Labels: needs testing, needs review

#12988 fix: public registration query params
  src/pages/PublicAppointments/PatientSelect.tsx
Labels: needs review, Tested ✅

#12987 Add support for tags in appointment question
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Tags/TagAssignmentSheet.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/types/scheduling/PublicAppointmentApi.ts
  src/types/scheduling/schedule.ts
Labels: needs review, Tested ✅

#12976 fix: add trim validation for required patient form fields
  src/components/Patient/PatientRegistration.tsx
Labels: Tested ✅, reviewed

#13011 Patient form - Pincode fixes
  cypress/pageObject/facility/FacilityCreation.ts
  public/locale/en.json
  src/common/validation.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Facility/models.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Patient/PatientRegistration.tsx
  src/pages/Patient/Utils.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/types/emr/patient/patient.ts
  src/types/emr/patient/publicPatientApi.ts
  src/types/facility/facilityApi.ts
Labels: question, needs review, Tested ✅, needs-triage

#12911 Fix : Crop and Zoom State Persist Across Profile Image Uploads
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#12907 added patient name and redirect it to patient detail page
  src/components/Patient/PatientDetailsTab/Accounts.tsx
  src/pages/Facility/billing/account/AccountList.tsx
Labels: needs review, Tested ✅

#12951 Allow plugs to append to admin navbar
  src/Routers/AppRouter.tsx
  src/components/ui/sidebar/admin-nav.tsx
  src/pluginTypes.ts
Labels: needs review, Tested ✅

#12786 Fix : Letter Avatar Displays When Updating Profile Image
  src/components/Common/Avatar.tsx
Labels: needs review, Tested ✅

#12981 Fix: Sheet over Sheet Invalidate issue
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionForm.tsx
Labels: needs testing, reviewed

#12730 Fix : Phone Numbers and Map Links Don't Appear Clickable
  src/components/Common/ContactLink.tsx
  src/components/Facility/FacilityMapLink.tsx
Labels: needs review, Tested ✅

#12920 Prevent GIF upload as profile avatar
  public/locale/en.json
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#12950 fix: Facility Type dropdown responsiveness in Edit Facility page
  cypress/pageObject/facility/FacilityCreation.ts
  public/locale/en.json
  src/components/Facility/FacilityForm.tsx
Labels: Tested ✅

#13016 Refactor: Update appointment status filtering and enhance UI with new translations
  public/locale/en.json
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, Tested ✅, P1

#12524 fix: Misalignment and inconsistency in the UI of 'Add Files' dropdown in encounter files
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Questionnaire/QuestionTypes/FileQuestion.tsx
Labels: needs review, Tested ✅

#12838 Change amount fields from number to string
  public/locale/en.json
  src/components/Billing/ChargeItem/ChargeItemPriceDisplay.tsx
  src/components/Billing/Invoice/AddChargeItemSheet.tsx
  src/components/Patient/AccountSheet.tsx
  src/components/Questionnaire/QuestionTypes/ChargeItemQuestion.tsx
  src/components/ui/monetary-display.tsx
  src/pages/Facility/billing/PaymentReconciliationSheet.tsx
  src/pages/Facility/billing/account/AccountList.tsx
  src/pages/Facility/billing/account/AccountShow.tsx
  src/pages/Facility/billing/account/components/ChargeItemsTable.tsx
  src/pages/Facility/billing/account/components/EditChargeItemSheet.tsx
  src/pages/Facility/billing/invoice/EditInvoiceSheet.tsx
  src/pages/Facility/billing/invoice/InvoiceShow.tsx
  src/pages/Facility/billing/invoice/InvoicesData.tsx
  src/pages/Facility/billing/invoice/PrintInvoice.tsx
  src/pages/Facility/billing/paymentReconciliation/PaymentReconciliationShow.tsx
  src/pages/Facility/billing/paymentReconciliation/PrintPaymentReconciliation.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/services/serviceRequests/components/AddMultipleChargeItemsSheet.tsx
  src/pages/Facility/services/serviceRequests/components/ChargeItemCard.tsx
  src/pages/Facility/settings/billing/discount/discount-components/DiscountMonetaryComponentForm.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionDetail.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionForm.tsx
  src/pages/Facility/settings/chargeItemDefinitions/utils.ts
  src/types/base/monetaryComponent/monetaryComponent.ts
  src/types/billing/account/Account.ts
  src/types/billing/chargeItem/chargeItem.ts
  src/types/billing/chargeItemDefinition/chargeItemDefinition.ts
  src/types/billing/invoice/invoice.ts
  src/types/billing/paymentReconciliation/paymentReconciliation.ts
Labels: needs review, Tested ✅

#12974 Enhancement to Practitioner Selector
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/Appointments/components/PractitionerSelector.tsx
Labels: needs review, Tested ✅

#13028 Implemented new camera ui to AvatarEditModel
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#12788 Fixes Login Mode parameter not changing when switching tabs #12767
  src/components/Auth/Login.tsx
Labels: needs review, Tested ✅

#13060 Minor fix: Fix UI for tagpopover loading state and add translation
  public/locale/en.json
  src/components/Tags/TagAssignmentSheet.tsx
Labels: needs review, Tested ✅

#13037 feat: fix misalignment of Deceased tag in patient encounters list
  src/components/Encounter/EncounterInfoCard.tsx
Labels: needs review, Tested ✅

#12638 Selected organization appearing in Selected Organizations list
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
Labels: needs review, Tested ✅

#13015 Added image crop indicator to the avatar model
  public/locale/en.json
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#13036 Enhance appointment management by replacing 'reason_for_visit' with 'note'
  public/locale/en.json
  public/locale/ml.json
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/types/emr/patient/publicPatientApi.ts
  src/types/facility/facilityApi.ts
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApi.ts
Labels: needs review, Tested ✅, P2

#12977 Add History button to all three accordions - Alleriges, diagnosis and symptoms
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Patient/EncounterAccordionLayout.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/list.tsx
Labels: needs review, Tested ✅

#12961 Enhance specimen collection details: added 'collected_by' and 'performed_by'
  public/locale/en.json
  src/pages/Facility/services/serviceRequests/ServiceRequestShow.tsx
  src/pages/Facility/services/serviceRequests/components/ProcessSpecimen.tsx
  src/pages/Facility/services/serviceRequests/components/SpecimenWorkflowCard.tsx
  src/types/emr/specimen/specimen.ts
Labels: needs review, Tested ✅

#13078 Minor UI Fix: Health Profile section for tablet/medium screen
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
Labels: needs review, Tested ✅

#12654 Fix: Entering just whitespace in input fields still creates empty entries
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Resource/ResourceForm.tsx
Labels: needs review, Tested ✅

#12998 Fix: login error translation
  src/components/Auth/Login.tsx
Labels: needs review, Tested ✅

#13089 Add filters in EncounterHistorySelector
  public/locale/en.json
  src/Utils/utils.ts
  src/components/Common/DateRangeFilter.tsx
  src/components/Tags/TagAssignmentSheet.tsx
  src/components/ui/filter-select.tsx
  src/pages/Encounters/EncounterHeader.tsx
  src/pages/Encounters/EncounterHistorySelector.tsx
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
Labels: needs review, Tested ✅

#13171 Enhance UserForm validation for password requirements in edit mode
  src/components/Users/UserForm.tsx
Labels: needs testing, needs review

#13167 Fixes mismatch in allergies querykey (#12599)
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
Labels: needs testing

#13164 Fix timezone issue in location assign sheet and medicine administrations
  src/components/Location/LocationSheet.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
Labels: Tested ✅

#13017 Questionnaire Editor: Add Question Button at Bottom
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: Tested ✅

#13183 Fixes role search bar not filtering roles list
  src/pages/Admin/Roles/RolesIndex.tsx
Labels: Tested ✅

#13185 Fixes crash: cannot access `initializeResponses` before initialization
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: Tested ✅
