Repository ohcnetwork/care_fe, pull requests merged in 2025-01, with the labels that each got.

#9632 Fixes deploy: missing plugin map missing import; calendar component; and other minor fixes
  .github/workflows/cypress.yaml
  .github/workflows/deploy.yaml
  Dockerfile
  package-lock.json
  package.json
  scripts/setup-care-apps.ts
  src/Utils/request/errorHandler.ts
  src/Utils/request/uploadFile.ts
  src/components/Resource/ResourceFilter.tsx
  src/components/Users/CreateUserForm.tsx
  src/components/ui/calendar.tsx
Labels: needs review, tested

#9642 Fixes sidebar shown for session expired
  src/Routers/AppRouter.tsx
Labels: needs review

#9631 Minor enhancements
  src/components/Common/UserSelector.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
  src/pages/FacilityOrganization/components/LinkFacilityUserSheet.tsx
  src/pages/Organization/components/LinkUserSheet.tsx
Labels: needs testing, needs review

#9680 Patients age is correctly defined
  src/Utils/utils.ts
Labels: tested, reviewed

#9684 remove unused code
  src/Utils/request/api.tsx
  src/components/Common/AccordionV2.tsx
  src/components/Common/AuthorizedButton.tsx
  src/components/Common/BloodPressureFormField.tsx
  src/components/Common/CollapseV2.tsx
  src/components/Common/HeadedTabs.tsx
  src/components/Common/LanguageSelector.tsx
  src/components/Common/LanguageSelectorLogin.tsx
  src/components/Common/QRScanner.tsx
  src/components/Common/Readmore.tsx
  src/components/Common/RelativeDateUserMention.tsx
  src/components/Common/RouteToFacilitySelect.tsx
  src/components/Common/Table.tsx
  src/components/Common/TemperatureFormField.tsx
  src/components/Form/FieldValidators.tsx
  src/components/Form/FormFields/AutoExpandingTextInputFormField.tsx
  src/components/Form/FormFields/AutocompleteMultiselect.tsx
  src/components/Form/FormFields/CheckBoxFormField.tsx
  src/components/Form/FormFields/DosageFormField.tsx
  src/components/Form/FormFields/Month.tsx
  src/components/Form/FormFields/NumericWithUnitsFormField.tsx
  src/components/Form/FormFields/OtpFormField.tsx
  src/components/Form/FormFields/RangeAutocompleteFormField.tsx
  src/components/Form/FormFields/RangeFormField.tsx
  src/components/Form/FormFields/TextFormField.tsx
  src/components/Form/ModelCrudEditor.tsx
  src/components/Medicine/AdministerMedicine.tsx
  src/components/Medicine/DiscontinueMedication.tsx
  src/components/Medicine/EditPrescriptionForm.tsx
  src/components/Medicine/MedicineAdministration.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationEventCell.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationEventSeperator.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTable.tsx
  src/components/Medicine/MedicineAdministrationSheet/AdministrationTableRow.tsx
  src/components/Medicine/MedicineAdministrationSheet/BulkAdminister.tsx
  src/components/Medicine/MedicineAdministrationSheet/utils.ts
  src/components/Medicine/MedicinePrescriptionSummary.tsx
  src/components/Medicine/PrescriptionDetailCard.tsx
  src/components/Medicine/PrescriptionTimeline.tsx
  src/components/Medicine/PrescriptionsTable.tsx
  src/components/Medicine/ResponsiveMedicineTables.tsx
  src/components/Medicine/models.ts
  src/components/Medicine/routes.ts
  src/components/Medicine/validators.ts
  src/components/Notifications/models.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Symptoms/SymptomsBuilder.tsx
  src/components/Symptoms/SymptomsCard.tsx
  src/components/Symptoms/api.ts
  src/components/Symptoms/types.ts
  src/components/Symptoms/utils.ts
  src/hooks/useNotificationSubscriptionState.ts
  src/i18n.ts
  src/types/emr/medicationRequest.ts
Labels: needs review

#9685 Updated UX for ValueSetSelect component
  public/locale/en.json
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: good to merge

#9643 Prefill Searched Phone Number in Patient Creation form
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientRegistration.tsx
Labels: reviewed

#9692 Horizontal scroll bar used
  src/pages/Organization/components/OrganizationSelector.tsx
Labels: question, needs-triage

#9696 Fix: Display Modify date and i18n Localization in Patient Encounter Page
  public/locale/en.json
  src/pages/Encounters/EncounterShow.tsx
  src/types/emr/encounter.ts
Labels: tested

#9666 Added no user assingned message
  public/locale/en.json
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
Labels: changes required

#9746 Fix : Facility name in facility users page
  src/components/Facility/FacilityUsers.tsx
Labels: changes required

#9758 Implementing Auto-Hide Functionality for Sidebar
  src/components/ui/sidebar/nav-main.tsx
Labels: changes required, merge conflict

#9736 Replaced ButtonV2's with Button in entire codebase
  public/locale/en.json
  src/CAREUI/display/Callout.tsx
  src/CAREUI/display/Chip.tsx
  src/CAREUI/display/PopupModal.tsx
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/CAREUI/interactive/Zoom.tsx
  src/CAREUI/misc/PaginatedList.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Common/AvatarEditModal.tsx
  src/components/Common/ButtonV2.tsx
  src/components/Common/ConfirmDialog.tsx
  src/components/Common/ExcelFIleDragAndDrop.tsx
  src/components/Common/ExcelViewer.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Common/Menu.tsx
  src/components/Common/Pagination.tsx
  src/components/Common/UpdatableApp.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Files/CameraCaptureDialog.tsx
  src/components/Files/FileBlock.tsx
  src/components/Files/FileUpload.tsx
  src/components/Form/Form.tsx
  src/components/Patient/PatientConsentRecordBlock.tsx
  src/components/Patient/PatientConsentRecords.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/Patient/PatientDetailsTab/ResourceRequests.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Resource/ResourceCommentSection.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Users/ConfirmFacilityModal.tsx
  src/components/Users/UnlinkFacilityDialog.tsx
  src/components/Users/UserAvatar.tsx
  src/components/Users/UserDeleteDialog.tsx
  src/components/Users/UserResetPassword.tsx
  src/components/Users/UserSummary.tsx
  src/components/ui/button.tsx
  src/hooks/useFileManager.tsx
  src/pages/Encounters/tabs/EncounterFeedTab.tsx
  src/pages/FacilityOrganization/FacilityOrganizationIndex.tsx
  src/pages/FacilityOrganization/components/CreateFacilityOrganizationSheet.tsx
  src/style/CAREUI.css
Labels: needs review

#9723 Care Loading icon in organization and facility users
  public/locale/en.json
  src/components/Facility/FacilityUsers.tsx
  src/pages/FacilityOrganization/FacilityOrganizationIndex.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: changes required

#9772 Fix cancel button in update encounter form
  public/locale/en.json
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs testing, needs review

#9617 Patient encounter notes
  public/locale/en.json
  src/Utils/request/api.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/types/notes/messages.ts
  src/types/notes/threads.ts
Labels: changes required

#9780 Updated Auto-Hide Functionality for Sidebar without hook
  src/components/ui/sidebar/facility-switcher.tsx
  src/components/ui/sidebar/nav-user.tsx
  src/components/ui/sidebar/organization-switcher.tsx
Labels: tested

#9728 Fix Online Status Indicator in Organization Tab
  public/locale/en.json
  src/components/Users/UserListAndCard.tsx
  src/components/ui/sidebar/facility-switcher.tsx
  src/pages/FacilityOrganization/FacilityOrganizationUsers.tsx
  src/pages/FacilityOrganization/components/EditFacilityUserRoleSheet.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/components/EditUserRoleSheet.tsx
Labels: tested, reviewed

#9867 Fix: Search Bar Reset
  src/pages/Encounters/EncounterList.tsx
Labels: tested

#9865 Adds `query.debounced` and updated queries that require debouncing
  public/locale/en.json
  src/Utils/request/README.md
  src/Utils/request/query.ts
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Common/UserSelector.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/hooks/useDebouncedState.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Facility/FacilitiesPage.tsx
  src/pages/FacilityOrganization/FacilityOrganizationView.tsx
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationView.tsx
  src/pages/Organization/components/OrganizationSelector.tsx
Labels: needs testing, needs review

#9799 Refactor Scheduling and Appointments; support for delete schedule, cancel booking, improved date filter in appointments page, etc.
  public/locale/en.json
  src/CAREUI/display/Callout.tsx
  src/CAREUI/interactive/WeekdayCheckbox.tsx
  src/Routers/AppRouter.tsx
  src/Routers/PatientRouter.tsx
  src/Routers/PublicRouter.tsx
  src/Routers/routes/ScheduleRoutes.tsx
  src/Utils/request/errorHandler.ts
  src/Utils/request/utils.ts
  src/Utils/types.ts
  src/components/Facility/FacilityUsers.tsx
  src/components/Form/FormFields/DateFormField.tsx
  src/components/Form/FormFields/FormField.tsx
  src/components/Form/FormFields/RadioFormField.tsx
  src/components/Form/FormFields/SelectFormField.tsx
  src/components/Form/FormFields/TextAreaFormField.tsx
  src/components/Form/FormFields/TextFormField.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/components/Schedule/ScheduleTemplateForm.tsx
  src/components/Schedule/ScheduleTemplatesList.tsx
  src/components/Schedule/api.ts
  src/components/Schedule/types.ts
  src/components/Users/UserAvailabilityTab.tsx
  src/components/Users/UserHome.tsx
  src/components/ui/sidebar/facility-nav.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/Appointments/components/AppointmentTokenCard.tsx
  src/pages/Appointments/utils.ts
  src/pages/Patient/Utils.tsx
  src/pages/Patient/index.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/pages/PublicAppointments/Success.tsx
  src/pages/PublicAppointments/auth/PatientLogin.tsx
  src/pages/Scheduling/ScheduleExceptions.tsx
  src/pages/Scheduling/ScheduleTemplates.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
  src/types/scheduling/PublicAppointmentApi.ts
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApis.ts
  src/types/user/userApi.ts
Labels: needs testing, needs review

#9708 Fix: Switch to shadcn form in userResetPassword
  public/locale/en.json
  src/Utils/request/api.tsx
  src/Utils/request/errorHandler.ts
  src/Utils/request/types.ts
  src/components/Auth/Login.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Form/Form.tsx
  src/components/Form/FormContext.ts
  src/components/Users/CreateUserForm.tsx
  src/components/Users/UserFormValidations.tsx
  src/components/Users/UserResetPassword.tsx
  src/components/ui/input-password.tsx
  src/components/ui/input.tsx
  src/pluginTypes.ts
Labels: tested

#9864 Fix spacing in user list, remove scrollbar on large screens, and adjust schedule appointment button
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Users/UserListAndCard.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: needs review, tested

#9933 Appointments: Update relative date filters; configurable default filter
  care.config.ts
  public/locale/en.json
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review

#9927 Populate encounter edit options based on questionnaire tags
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/hooks/useQuestionnaireOptions.ts
Labels: needs testing, needs review

#9857 Facility Id in User Profile for Nav User
  src/components/Common/Breadcrumbs.tsx
  src/components/Common/PageTitle.tsx
  src/components/Users/UserHome.tsx
  src/components/ui/sidebar/app-sidebar.tsx
  src/components/ui/sidebar/nav-user.tsx
Labels: needs review, tested

#9755 Update license Component for Github SBOM
  .github/workflows/generate-sbom.yml
  .gitignore
  package-lock.json
  package.json
  public/be-sbom.json
  public/bom.json
  public/locale/en.json
  scripts/generate-sbom-data.ts
  src/Routers/PublicRouter.tsx
  src/components/Licenses/LicensesPage.tsx
  src/components/Licenses/SBOMViewer.tsx
  src/components/Licenses/be-sbom.json
  src/components/Licenses/fe-sbom.json
  src/pages/Licenses/Licenses.tsx
  src/pages/Licenses/components/license-urls.json
  src/types/license.ts
Labels: needs review

#9900 remove appVersion null condition
  src/components/Common/UpdatableApp.tsx
Labels: needs review, tested

#9748 Public Facilities Filters
  public/locale/en.json
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Common/UserSelector.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/hooks/useOrganizationLevel.ts
  src/pages/Facility/FacilitiesPage.tsx
  src/pages/Facility/FacilityDetailsPage.tsx
  src/pages/Facility/components/FacilityCard.tsx
  src/pages/Organization/components/OrganizationFilter.tsx
  src/pages/Organization/components/OrganizationLevel.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/pages/PublicAppointments/auth/PatientLogin.tsx
Labels: needs review, tested

#9855 Replaced Empty Div With Avatar When SideBar is Closed
  src/components/ui/sidebar/nav-main.tsx
Labels: hold, discussion required

#9838 Confirm Dialog For Navigation on Edited Questionnaire Form
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs testing, needs review

#9952 Add max phone number length to user creation form
  src/components/Facility/CreateFacilityForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Users/CreateUserForm.tsx
Labels: needs review

#9858 Enhance Patient Search: User-Friendly Error Message and Accessibility Improvements
  public/locale/en.json
  src/pages/Patients/VerifyPatient.tsx
Labels: needs testing, needs review, Deploy-Failed

#9944 Minor enhancement: restrict lsgd filter to 2 levels
  src/pages/Organization/components/OrganizationFilter.tsx
  src/pages/Organization/components/OrganizationLevel.tsx
Labels: needs testing, needs review

#9970 Fix infinite loop issue due to incorrect dependencies in SearchByMultipleFields
  src/components/Common/SearchByMultipleFields.tsx
Labels: needs testing, P1

#9973 Add silent for useQuery in useQuestionnaireOptions
  src/Utils/request/query.ts
  src/Utils/request/types.ts
  src/hooks/useQuestionnaireOptions.ts
Labels: needs testing, needs review

#9870 Enabled auto-switch feature for DOB input on the Patient Registration page
  src/components/Patient/PatientRegistration.tsx
Labels: changes required

#9972 Add retries for fetching SBOM data
  scripts/generate-sbom-data.ts
Labels: needs review

#9942 Fix : DOM Nesting in BreadCrumbs.tsx
  src/components/Common/Breadcrumbs.tsx
Labels: needs review, tested

#9782 Fixed the misalignments in the mobile view of /encounter/encounterId/updates page
  src/components/Common/PageTitle.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/pages/Encounters/tabs/EncounterPlotsTab.tsx
Labels: needs review, tested

#9994 Fix: Profile Syncing
  src/components/Users/UserAvatar.tsx
Labels: tested

#9977 User Availabilities Exception related fixes
  public/locale/en.json
  src/components/Users/UserAvailabilityTab.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
Labels: needs review, tested

#9954 Updated the User Management Design
  public/locale/en.json
  src/components/Facility/FacilityUsers.tsx
  src/components/Users/UserListAndCard.tsx
Labels: needs review, tested

#9778 Fix the Facilties tab overflow in Organization Layout
  src/pages/FacilityOrganization/FacilityOrganizationView.tsx
  src/pages/Organization/OrganizationView.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: needs review, tested

#10014 Set the primary background color on the weekday when selected
  src/CAREUI/interactive/WeekdayCheckbox.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
Labels: question, changes required, needs-triage

#9988 Added height to scribe button placeholder
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs review, tested, P2

#9995 Refactor questionnaire response and migrated to TanStack's query
  public/locale/en.json
  src/components/Facility/ConsultationDetails/QuestionnaireResponseView.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/index.tsx
  src/hooks/useQuestionnaireOptions.ts
Labels: tested

#9735 DOB Values Limit in patient registration form
  src/components/Patient/PatientRegistration.tsx
Labels: needs testing

#9990 public appointment: hide reschedule button
  src/pages/Patient/components/AppointmentDialog.tsx
Labels: needs review, tested

#9851 Feat: Update the design and shortcut key for SearchByMultipleOptions
  public/locale/en.json
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Users/CreateUserForm.tsx
  src/components/Users/UserResetPassword.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Facility/FacilitiesPage.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/components/GovtOrganizationSelector.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: tested

#10061 Appointment Booked Success Page: remove hack for tz conversion;
  src/pages/PublicAppointments/Success.tsx
Labels: needs review

#9859 Encounter Qustions dropdown values moved to constants and i18 applied for all strings
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/types/emr/encounter.ts
Labels: needs review

#10002 Fix : Filter badges visibility in resource page on selecting same date
  src/hooks/useFilters.tsx
Labels: needs testing, needs review

#10055 Fixed text overflow in search results to prevent UI distortion
  public/locale/en.json
  src/pages/FacilityOrganization/FacilityOrganizationView.tsx
  src/pages/Organization/OrganizationView.tsx
Labels: changes required

#10009 Feat: Disallow Relative import
  .eslintrc.json
  package-lock.json
  package.json
  src/Routers/AppRouter.tsx
  src/Routers/routes/questionnaireRoutes.tsx
  src/Utils/request/types.ts
  src/Utils/types.ts
  src/components/Common/Charts/ObservationChart.tsx
  src/components/Common/Charts/ObservationHistoryTable.tsx
  src/components/ErrorPages/DefaultErrorPage.tsx
  src/components/Facility/DuplicatePatientDialog.tsx
  src/components/Facility/EncounterCard.tsx
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/index.tsx
  src/components/Questionnaire/show.tsx
  src/components/Resource/ResourceCommentSection.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Users/UserSummary.tsx
  src/components/ui/chart.tsx
  src/components/ui/sidebar/patient-switcher.tsx
  src/pages/Facility/FacilitiesPage.tsx
  src/pages/Facility/components/FacilityCard.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
  src/types/emr/diagnosis/diagnosis.ts
  src/types/emr/encounter.ts
  src/types/emr/newPatient.ts
  src/types/emr/observation.ts
  src/types/emr/symptom/symptom.ts
  src/types/facilityOrganization/facilityOrganization.ts
  src/types/organization/organization.ts
  src/types/organization/organizationApi.ts
  src/types/questionnaire/questionnaireApi.ts
  src/types/questionnaire/questionnaireResponse.ts
  src/types/resourceRequest/resourceRequest.ts
Labels: needs review

#9958 Fix: UI Update Suggestions: Appointment Page (Date Picker Filter)
  src/components/ui/calendar.tsx
  src/components/ui/date-range-picker.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs testing

#10084 Default EOL to "LF" in prettier.json
  .github/workflows/deploy.yaml
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .prettierrc.json
  .vscode/launch.json
  crowdin.yml
  cypress/docs/cypress.md
  src/CAREUI/icons/DuoTonePaths.json
  src/CAREUI/icons/UniconPaths.json
  src/Utils/request/README.md
Labels: needs review

#9956 Support for rescheduling appointment
  public/locale/en.json
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/Patient/components/AppointmentDialog.tsx
  src/types/facility/facility.ts
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApis.ts
Labels: needs review, tested

#10042 Feat: Created shadcn `MultiSelectOption` comp
  public/locale/en.json
  src/components/Facility/FacilityForm.tsx
  src/components/Form/FormFields/SelectFormField.tsx
  src/components/Form/MultiSelectMenuV2.tsx
  src/components/ui/multi-select.tsx
Labels: tested, reviewed

#10034 Resolve Button Hover Color Problem in Requests Table Status Field
  src/components/Patient/PatientDetailsTab/ResourceRequests.tsx
Labels: needs testing, needs review

#10019 Enhancement : Geographic Details Auto-fill in Facility Creation Form
  src/components/Facility/FacilityForm.tsx
Labels: needs testing, needs review

#10083 Make ComboboxQuantityInput reactive to parent state change
  src/components/Common/ComboboxQuantityInput.tsx
Labels: needs testing, needs review

#10072 Fix Actions-section responsiveness
  src/components/Files/FilesTab.tsx
Labels: needs testing, needs review

#10077 Fix: FacilityData not populating on Edit
  public/locale/en.json
  src/components/Facility/FacilityForm.tsx
  src/components/Facility/FacilityHome.tsx
  src/pages/Organization/components/EditFacilitySheet.tsx
Labels: question, needs-triage

#9996 MultiValueSetField for Medication Request Instructions
  public/locale/en.json
  src/components/Medicine/MedicationsTable.tsx
  src/components/Medicine/MedicineAdministrationSheet/index.tsx
  src/components/Medicine/MultiValueSetSelect.tsx
  src/components/Medicine/utils.ts
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/components/Questionnaire/structured/types.ts
  src/pages/Encounters/PrintPrescription.tsx
  src/types/emr/medicationStatement.ts
  src/types/questionnaire/form.ts
Labels: needs review, tested

#9982 Move all the Skeletons to seperate file
  public/locale/en.json
  src/components/Common/SkeletonLoading.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Facility/FacilityUsers.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/pages/FacilityOrganization/FacilityOrganizationIndex.tsx
  src/pages/FacilityOrganization/FacilityOrganizationUsers.tsx
  src/pages/FacilityOrganization/FacilityOrganizationView.tsx
  src/pages/FacilityOrganization/components/FacilityOrganizationLayout.tsx
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationIndex.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/OrganizationView.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
  src/pages/Organization/components/OrganizationLayoutSkeleton.tsx
Labels: needs testing, needs review

#9974 OTP appointment reschedule
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/patient_spec/patient_creation.cy.ts
  public/locale/en.json
  src/Routers/PatientRouter.tsx
  src/pages/Patient/components/AppointmentDialog.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/types/facility/facility.ts
Labels: needs testing, needs review

#10090 GovtOrganization Selector
  src/hooks/useGovtOrganizationLevel.ts
  src/pages/Organization/components/GovtOrganizationSelector.tsx
Labels: needs review, tested, Cypress Test Pending

#10105 GovtSelector isLoading Spinner
  src/hooks/useGovtOrganizationLevel.ts
  src/pages/Organization/components/GovtOrganizationSelector.tsx
Labels: needs testing, needs review

#10047 Fix FileUploadDialog overflow | Use ShadCN component
  src/components/Files/FilesTab.tsx
Labels: needs review, tested

#10039 Fix : View(list/card/board) retention for encounters/resource/users pages
  src/Routers/routes/ResourceRoutes.tsx
  src/Utils/ViewCache.ts
  src/Utils/useView.ts
  src/components/Auth/Login.tsx
  src/components/Common/View.tsx
  src/components/Facility/FacilityUsers.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceList.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, tested

#10017 Minor Changes In Encounter Page
  public/locale/en.json
  src/components/Patient/ManageEncounterOrganizations.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/pages/Encounters/EncounterShow.tsx
Labels: needs review, tested

#10091 Fix: Date & Time selection box is clipping out on mobile devices
  src/components/Common/DateInputV2.tsx
  src/components/Symptoms/SymptomsBuilder.tsx
Labels: needs review, tested

#10112 Fix : Date field overflow in exception form in mobile view
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: needs testing, needs review

#10080 Fix: Incorrect Icon in Patient nav bar | Facility switcher hovering and some minor fixes
  src/components/ui/dropdown-menu.tsx
  src/components/ui/sidebar/facility-switcher.tsx
  src/components/ui/sidebar/organization-switcher.tsx
  src/components/ui/sidebar/patient-nav.tsx
  src/pages/Patient/index.tsx
Labels: changes required

#10102 Upgrade to `Eslint` v9
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/CAREUI/interactive/SlideOver.tsx
  src/Locale/update_locale.js
  src/Utils/pubsubContext.tsx
  src/Utils/useSegmentedRecorder.ts
  src/components/Common/Avatar.tsx
  src/components/Common/ExcelFIleDragAndDrop.tsx
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Form/AutoCompleteAsync.tsx
  src/components/Form/FormFields/PhoneNumberFormField.tsx
  src/components/Form/FormFields/TextAreaFormField.tsx
  src/components/Form/FormFields/TextFormField.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/allergy/AllergyTable.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/ui/command.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
  src/hooks/useFileManager.tsx
  src/hooks/useFileUpload.tsx
  src/hooks/useToast.ts
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/types/facility/facility.ts
Labels: needs review

#10115 Rebuild questionnaireForm updateHandler
  public/locale/en.json
  src/components/Common/ComboboxQuantityInput.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionTypes/BooleanQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/NotesInput.tsx
  src/components/Questionnaire/QuestionTypes/NumberQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/Questionnaire/QuestionTypes/TextQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/ui/date-time-picker.tsx
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
  src/types/emr/medicationStatement.ts
  src/types/emr/symptom/symptom.ts
Labels: needs review, tested

#9992 Prefill Structured Data; Add Edit Links for Structured
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/ta.json
  src/Utils/request/api.tsx
  src/components/Common/ComboboxQuantityInput.tsx
  src/components/Facility/ConsultationDetails/EncounterContext.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Medicine/MedicationRequestTable/utils.ts
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionTypes/BooleanQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/NotesInput.tsx
  src/components/Questionnaire/QuestionTypes/NumberQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/Questionnaire/QuestionTypes/TextQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/data/StructuredFormData.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/components/ui/date-time-picker.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/PrintPrescription.tsx
  src/pages/Encounters/tabs/EncounterMedicinesTab.tsx
  src/pages/Encounters/tabs/EncounterUpdatesTab.tsx
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
  src/types/emr/diagnosis/diagnosis.ts
  src/types/emr/medicationRequest/medicationRequestApi.ts
  src/types/emr/medicationStatement.ts
  src/types/emr/medicationStatement/medicationStatementApi.ts
  src/types/emr/symptom/symptom.ts
  src/types/emr/symptom/symptomApi.ts
  src/types/questionnaire/form.ts
Labels: needs review, tested

#10147 changed latitude longitude type to a number in facility create form
  src/common/validation.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Facility/models.tsx
Labels: needs review, tested

#10205 Confirm Alert for Patient Registration
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs review, tested

#10198 Fix: Adjust Image Upload Button Width in Edit Cover Photo and Avatar Modal for Mobile View
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, tested

#10134 Added dpg badge to readme
  README.md
Labels: needs review, tested

#10214 Switch to `PhoneInput`
  .example.env
  care.config.ts
  cypress/pageObject/Users/UserCreation.ts
  cypress/pageObject/facility/FacilityCreation.ts
  package-lock.json
  package.json
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/mr.json
  public/locale/ta.json
  src/Utils/utils.ts
  src/Utils/validators.ts
  src/common/constants.tsx
  src/common/static/countryPhoneAndFlags.json
  src/common/validation.tsx
  src/components/Auth/Login.tsx
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Form/FieldValidators.tsx
  src/components/Form/FormFields/PhoneNumberFormField.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Users/UserForm.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/ui/phone-input.tsx
  src/pages/PublicAppointments/auth/PatientLogin.tsx
  src/vite-env.d.ts
Labels: needs review, tested, P1

#10251 Disable Unnecessary Browser Pop-up on Patient Registration Form
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs testing, needs review

#10260 Patient Age and Facility Location Edits
  src/Utils/utils.ts
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientRegistration.tsx
  src/types/emr/patient.ts
Labels: needs review, tested

#10166 Fix: Facility Creation Form: Pincode Autofill Overwrites Pre-filled Geographic Data & Added Similar Approach in User Creation Form
  src/components/Facility/FacilityForm.tsx
  src/components/Users/UserForm.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/components/AddUserSheet.tsx
Labels: needs review, tested

#10092 Feat: Display total no. of entities with heading in Organization
  public/locale/en.json
  src/components/Facility/FacilityUsers.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/OrganizationView.tsx
  src/pages/Organization/components/EntityBadge.tsx
Labels: needs review, tested

#10054 Add Real-Time Validation for `CreateUserForm` and Standardize UI Across Forms
  public/locale/en.json
  src/components/Auth/ResetPassword.tsx
  src/components/Users/UserForm.tsx
  src/components/Users/UserFormValidations.tsx
  src/components/Users/UserResetPassword.tsx
Labels: tested, reviewed

#10133 Handle overflow in File Preview
  src/components/Files/FilesTab.tsx
Labels: needs review, tested

#10106 Fix the accessibility issue by adding DialogTitle to DialogContent and making the facility title responsive
  public/locale/en.json
  src/components/Facility/FacilityHome.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/ui/sidebar.tsx
Labels: needs review, tested

#10333 Fix: Use headers.set() instead of headers.append() in makeHeaders
  src/Utils/request/utils.ts
Labels: needs review, tested

#10321 Set theme color to white in vite PWA manifest
  vite.config.mts
Labels: needs review

#10330 updated vite dev server config to listen on all network interfaces
  vite.config.mts
Labels: needs review

#10331 Remove automatic picker show for date and time inputs
  src/components/ui/input.tsx
Labels: needs review

#10334 Rm whatsapp phone number, hide email for updates
  cypress/pageObject/Users/UserCreation.ts
  src/components/Common/UserColumns.tsx
  src/components/Users/UserAvatar.tsx
  src/components/Users/UserForm.tsx
  src/components/Users/UserHome.tsx
  src/components/Users/UserSummary.tsx
  src/types/user/user.ts
Labels: tested, reviewed

#10280 Dob/Age and Lat/Log Override
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/ui/sidebar/nav-user.tsx
Labels: needs review, tested

#10291 Remove pin-code autofill feature
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/pageObject/facility/FacilityCreation.ts
  src/Providers/PatientUserProvider.tsx
  src/Utils/permissions.ts
  src/Utils/request/api.tsx
  src/Utils/utils.ts
  src/common/constants.tsx
  src/components/Common/FacilitySelect.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/Users/models.tsx
  src/components/ui/sidebar/patient-nav.tsx
  src/hooks/useStateAndDistrictFromPincode.ts
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Facility/hooks/useFacilityFilters.ts
  src/pages/Patient/Utils.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/types/emr/patient.ts
  src/types/scheduling/schedule.ts
Labels: tested, reviewed

#10294 fix responsiveness of date field and gender in public patient registration form
  src/components/ui/date-field.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs review, tested

#10326 Fix Camera Capture and Upload Workflow
  src/components/Files/CameraCaptureDialog.tsx
  src/components/Files/FilesTab.tsx
  src/hooks/useFileUpload.tsx
Labels: needs review, tested

#10230 Fix: Resource Letter printing issue
  src/CAREUI/misc/PrintPreview.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/components/Resource/PrintResourceLetter.tsx
  src/components/Resource/ResourceDetails.tsx
  src/style/index.css
Labels: needs testing, needs review

#10308 Resources redesign
  public/locale/en.json
  public/locale/hi.json
  public/locale/kn.json
  public/locale/ml.json
  public/locale/ta.json
  src/CAREUI/display/Count.tsx
  src/CAREUI/interactive/FiltersSlideover.tsx
  src/CAREUI/interactive/SlideOver.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/Routers/types.ts
  src/Utils/AutoSave.tsx
  src/Utils/primitives.ts
  src/Utils/useSegmentedRecorder.ts
  src/common/constants.tsx
  src/components/Common/DateInputV2.tsx
  src/components/Common/DateRangeInputV2.tsx
  src/components/Common/DateTextInput.tsx
  src/components/Common/GLocationPicker.tsx
  src/components/Common/QuantityInput.tsx
  src/components/Common/SortDropdown.tsx
  src/components/Common/Spinner.tsx
  src/components/Common/UserDetails.tsx
  src/components/Common/View.tsx
  src/components/Facility/FacilityBlock.tsx
  src/components/Form/FormFields/DateRangeFormField.tsx
  src/components/Form/SearchInput.tsx
  src/components/Form/Utils.ts
  src/components/Kanban/Board.tsx
  src/components/Patient/PatientDetailsTab/ResourceRequests.tsx
  src/components/Resource/ResourceBadges.tsx
  src/components/Resource/ResourceBlock.tsx
  src/components/Resource/ResourceBoard.tsx
  src/components/Resource/ResourceCommons.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
  src/components/Resource/ResourceFilter.tsx
  src/components/Resource/ResourceList.tsx
  src/components/ui/sidebar/facility-nav.tsx
  src/pages/Encounters/tabs/EncounterFeedTab.tsx
  src/types/notes/notes.ts
  src/types/permission/permission.ts
Labels: needs testing, needs review
