Repository ohcnetwork/care_fe, pull requests merged in 2025-09, with the labels that each got.

#13484 Added EncounterHover Card and Resolved Overview tab responsivenes issue
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Patient/vitals/list.tsx
  src/components/ui/hover-card.tsx
  src/pages/Encounters/EncounterHistorySelector.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/overview.tsx
Labels: Tested ✅, reviewed

#13477 Added base unit in product knowledge
  public/locale/en.json
  src/components/Common/ComboboxQuantityInput.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/pages/Facility/services/inventory/internalTransfer/ReceiveItem.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyDeliveryTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDetail.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDispatch.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToDispatchSupplyRequestTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToReceiveSupplyRequestTable.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeView.tsx
  src/types/emr/medicationRequest/medicationRequest.ts
  src/types/inventory/productKnowledge/productKnowledge.ts
Labels: Tested ✅, reviewed, Type Changes

#13459 Refactor auth related API routes and types
  src/Providers/AuthUserProvider.tsx
  src/Utils/request/api.tsx
  src/components/Auth/Authenticate.tsx
  src/components/Auth/Login.tsx
  src/components/Auth/ResetPassword.tsx
  src/components/Users/TOTPSetupDialog.tsx
  src/components/Users/TwoFactorAuth.tsx
  src/components/Users/UserResetPassword.tsx
  src/hooks/useAuthUser.ts
  src/types/auth/auth.ts
  src/types/auth/authApi.ts
  src/types/auth/otp.ts
Labels: needs review, Tested ✅, Type Changes

#13428 UI Fix: Move See Details button to bottom in Product Knowledge page
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeList.tsx
Labels: Tested ✅, reviewed

#13157 Update Storage guidlines Unit field to use `UCUM_TIME_UNITS` with codeschema
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeView.tsx
  src/types/inventory/productKnowledge/productKnowledge.ts
Labels: Tested ✅, reviewed, Type Changes

#13584 Fix css for autocomplete component in valueset preview
  src/components/ValueSet/ValueSetPreview.tsx
Labels: Tested ✅

#13455 Medication Request & Service request - Add Requester
  public/locale/en.json
  src/components/Common/UserSelector.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ServiceRequestQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/pages/Facility/services/serviceRequests/components/ServiceRequestDetails.tsx
  src/types/emr/medicationRequest/medicationRequest.ts
  src/types/emr/serviceRequest/serviceRequest.ts
  src/types/user/user.ts
Labels: needs review, Tested ✅, Type Changes

#13471 Allow dispense of unpaid consumable/medicines
  public/locale/en.json
  src/components/Medicine/MedicationRequestTable/DispenseHistory.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/pages/Facility/billing/account/CreateInvoice.tsx
  src/pages/Facility/billing/account/components/CreateInvoiceSheet.tsx
  src/pages/Facility/services/pharmacy/DispensedMedicationList.tsx
  src/pages/Facility/services/pharmacy/DispensesView.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/services/pharmacy/PrescriptionsView.tsx
  src/pages/Facility/services/serviceRequests/PatientHeader.tsx
  src/types/emr/medicationDispense/medicationDispense.ts
  src/types/inventory/product/inventory.ts
Labels: needs testing, needs review, Type Changes

#13593 Pharmacy - Return excess stock
  public/locale/en.json
  src/Routers/AppRouter.tsx
  src/components/Common/ComboboxQuantityInput.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/pages/Facility/locations/LocationLayout.tsx
  src/pages/Facility/services/inventory/internalTransfer/ReceiveItem.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyDeliveryCreate.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyDeliveryTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDetail.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDispatch.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToDispatch.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToDispatchSupplyRequestTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToReceiveSupplyRequestTable.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeView.tsx
  src/types/emr/medicationRequest/medicationRequest.ts
  src/types/inventory/productKnowledge/productKnowledge.ts
Labels: needs testing, needs review, Type Changes

#13506 Fix: 2FA Dialog Retains Previous Error Message After Closing #13478
  src/components/Users/TwoFactorAuth.tsx
Labels: Tested ✅, reviewed

#13508 fix: User Page UI of org breaks in Tablet View
  src/pages/Organization/OrganizationUsers.tsx
Labels: Tested ✅, reviewed

#13610 New: Add consumable dispensing functionality
  public/locale/en.json
  src/components/Consumable/ConsumableSelector.tsx
  src/components/Consumable/DispenseConsumableButton.tsx
  src/components/Consumable/DispenseConsumableDrawer.tsx
  src/components/Medicine/MedicationRequestTable/DispenseHistory.tsx
  src/components/ui/sidebar/facility/location/location-switcher.tsx
  src/pages/Encounters/tabs/overview/summary-panel-actions.tab.tsx
  src/pages/Encounters/utils/EncounterProvider.tsx
Labels: needs testing, needs review

#13412 Enhance AddChargeItemSheet and CreateInvoicePage with charge item addition functionality
  src/components/Billing/Invoice/AddChargeItemSheet.tsx
  src/pages/Facility/billing/account/AccountShow.tsx
  src/pages/Facility/billing/account/CreateInvoice.tsx
  src/pages/Facility/billing/account/components/AddChargeItemsBillingSheet.tsx
  src/pages/Facility/billing/account/components/ChargeItemsTable.tsx
Labels: needs testing, needs review

#13653 Enhance ManageToken component with TokenCard and improved print functionality
  public/locale/en.json
  src/pages/Facility/queues/ManageToken.tsx
  src/pages/Facility/queues/TokenCard.tsx
  src/types/location/utils.ts
Labels: Type Changes

#13576 feat: Add facility command dialog and keyboard shortcuts for patient registration
  public/locale/en.json
  src/Routers/routes/FacilityRoutes.tsx
  src/Utils/formatKeyboardShortcut.ts
  src/Utils/keyboardShortcutUtils.ts
  src/components/Facility/FacilityCommandDialog.tsx
  src/config/keyboardShortcuts.json
  src/hooks/useEncounterShortcuts.ts
  src/hooks/useFacilityShortcuts.ts
  src/pages/Facility/FacilityLayout.tsx
  src/pages/Facility/queues/ManageToken.tsx
  src/types/shortcuts.ts
Labels: needs testing, needs review, Type Changes

#13272 Multi Filter
  cypress/e2e/patient_spec/patient_questionnaire.cy.ts
  cypress/pageObject/Patients/PatientEncounter.ts
  public/locale/en.json
  src/components/Common/DateRangeFilter.tsx
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionnaireProperties.tsx
  src/components/Tags/TagAssignmentSheet.tsx
  src/components/ui/multi-filter/date-filter.tsx
  src/components/ui/multi-filter/filter-header.tsx
  src/components/ui/multi-filter/filter-list.tsx
  src/components/ui/multi-filter/filter.tsx
  src/components/ui/multi-filter/generic-filter.tsx
  src/components/ui/multi-filter/multi-filter.tsx
  src/components/ui/multi-filter/selected-filter-bar.tsx
  src/components/ui/multi-filter/tag-filter.tsx
  src/components/ui/multi-filter/utils/navigation-helper.tsx
  src/components/ui/multi-filter/utils/useMultiFilter.tsx
  src/components/ui/multi-filter/utils/useMultiFilterNavigationShortcuts.tsx
  src/components/ui/multi-filter/utils/useMultiFilterSearch.tsx
  src/components/ui/multi-filter/utils/useMultiFilterState.tsx
  src/components/ui/multi-filter/utils/utils.ts
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/Encounters/EncounterHistorySelector.tsx
  src/pages/Encounters/EncounterList.tsx
  src/types/emr/tagConfig/tagConfig.ts
Labels: needs review, Tested ✅, Type Changes

#13451 Refactor LocationMultiSelect + other minnor fix
  src/components/Location/LocationMultiSelect.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionForm.tsx
  src/pages/Facility/settings/healthcareService/HealthcareServiceForm.tsx
Labels: needs review, Tested ✅, Merge Conflict

#13447 Corrections for updated Scheduling/Token Architecture
  src/components/Users/UserAvailabilityTab.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/Appointments/utils.ts
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApi.ts
Labels: Work in Progress 🚧, stale, Type Changes

#13767 fix structuredHandlers to handle empty arrays for allergies, medications, symptoms, and diagnoses
  src/components/Questionnaire/structured/handlers.ts
Labels: needs testing, reviewed

#13768 fix: limit 100 is set for fetching facility organizations
  src/pages/Appointments/components/MultiPractitionerSelect.tsx
Labels: needs review, Tested ✅

#13689 feat: Added Questionnaire Responses Tab in Encounters
  public/locale/en.json
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/responses.tsx
  vite.config.mts
Labels: needs testing, reviewed

#13735 Remove the add product from product list under the facility settings
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/product/ProductList.tsx
Labels: needs testing, needs review

#13793 Token subqueue datatype correction
  src/pages/Encounters/AppointmentEncounterHeader.tsx
  src/pages/Facility/queues/ManageQueueFinishedTab.tsx
  src/pages/Facility/queues/OngoingQueueTokenCard.tsx
  src/types/tokens/token/token.ts
Labels: Type Changes

#13794 Add expiry in lot dropdown during dispense
  src/components/Consumable/DispenseDrawer.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyDeliveryCreate.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
Labels: Tested ✅, reviewed

#13826 Receive Stock shortcuts
  src/config/keyboardShortcuts.json
  src/pages/Facility/services/inventory/SupplyDeliveryList.tsx
  src/pages/Facility/services/inventory/internalTransfer/ReceiveItem.tsx
Labels: needs review, Tested ✅

#13834 Add PatientTokensList component and integrate into Patient Home
  public/locale/en.json
  src/common/utils.ts
  src/components/Facility/EncounterCard.tsx
  src/components/Tokens/CreateTokenForm.tsx
  src/components/Tokens/PatientTokensList.tsx
  src/pages/Facility/queues/TokenCard.tsx
  src/pages/Patient/VerifyPatient.tsx
  src/pages/Patient/home/PatientHomeTabs.tsx
  src/types/scheduling/scheduleApi.ts
  src/types/tokens/token/token.ts
Labels: Type Changes

#13769 Added FormDialog box to list forms
  public/locale/en.json
  src/hooks/useEncounterShortcuts.ts
  src/pages/Encounters/tabs/overview/FormsDialog.tsx
  src/pages/Encounters/tabs/overview/quick-actions.tsx
Labels: Tested ✅, reviewed

#13844 tag selector mobile fix
  src/components/ui/multi-filter/tagFilter.tsx
Labels: needs testing, needs review, P1

#13847 Adds ChargeItemDefinitionPicker based on resource type and sub-type; update bed CID selector and schedule manage charges
  public/locale/en.json
  src/components/Common/ChargeItemDefinitionPicker.tsx
  src/components/Common/ResourceCategoryPicker.tsx
  src/pages/Facility/services/serviceRequests/components/AddMultipleChargeItemsSheet.tsx
  src/pages/Scheduling/components/ScheduleChargeItemDefinitionSelector.tsx
Labels: needs testing, needs review

#13395 Refactor: Replace AlertDialog with ConfirmActionDialog in common usage
  cypress/pageObject/Patients/PatientDepartments.ts
  cypress/pageObject/Patients/PatientDetails.ts
  cypress/pageObject/Patients/PatientLocation.ts
  cypress/pageObject/Patients/PatientPrescription.ts
  cypress/pageObject/facility/FacilityDevices.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  public/locale/en.json
  src/components/CareTeam/CareTeamSheet.tsx
  src/components/Common/ConfirmActionDialog.tsx
  src/components/ErrorPages/BrowserWarning.tsx
  src/components/Location/LocationSheet.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/pages/Admin/TagConfig/components/TagConfigTable.tsx
  src/pages/Admin/organizations/AdminOrganizationView.tsx
  src/pages/Apps/PlugConfigEdit.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDetail.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/services/pharmacy/MedicationDispenseList.tsx
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportReview.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionView.tsx
  src/pages/Facility/settings/billing/discount/discount-codes/DiscountCodeSettings.tsx
  src/pages/Facility/settings/billing/discount/discount-components/DiscountComponentSettings.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionDetail.tsx
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationTable.tsx
  src/pages/Facility/settings/observationDefinition/ObservationDefinitionView.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Facility/settings/organizations/components/EditFacilityUserRoleSheet.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionDetail.tsx
  src/pages/Organization/components/EditUserRoleSheet.tsx
  src/pages/Scheduling/ScheduleExceptions.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
  src/types/organization/organizationApi.ts
Labels: needs review, Tested ✅, Type Changes

#13747 Fix for missing descriptions in sheets and dialogues
  src/components/Common/CriticalActionConfirmationDialog.tsx
  src/components/ValueSet/ValueSetPreview.tsx
Labels: needs review, Tested ✅

#13845 Adds support for dept. filter in booking form's practitioner selector
  src/components/Schedule/ResourceSelector.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/BookAppointment/BookAppointmentSheet.tsx
  src/pages/Appointments/components/MultiPractitionerSelect.tsx
  src/pages/Appointments/components/PractitionerSelector.tsx
Labels: needs review, Tested ✅

#13861 Made few Changes with Empty State and ShortcutBadges
  src/Utils/keyboardShortcutComponents.tsx
  src/components/Common/ResourceCategoryList.tsx
  src/components/Consumable/DispenseDrawer.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Tokens/PatientTokensList.tsx
  src/components/ui/empty-state.tsx
  src/pages/Admin/Roles/RolesIndex.tsx
  src/pages/Admin/TagConfig/TagConfigView.tsx
  src/pages/Admin/TagConfig/components/TagConfigTable.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/BookAppointment/BookingsList.tsx
  src/pages/Facility/billing/account/AccountList.tsx
  src/pages/Facility/queues/QueuesIndex.tsx
  src/pages/Facility/services/FacilityServices.tsx
  src/pages/Facility/services/inventory/InventoryList.tsx
  src/pages/Facility/services/inventory/externalSupply/components/PurchaseOrderTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyDeliveryTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToDispatchSupplyRequestTable.tsx
  src/pages/Facility/services/inventory/internalTransfer/ToReceiveSupplyRequestTable.tsx
  src/pages/Facility/services/pharmacy/DispensedMedicationList.tsx
  src/pages/Facility/services/pharmacy/MedicationDispenseList.tsx
  src/pages/Facility/services/serviceRequests/components/MultiQRCodePrintSheet.tsx
  src/pages/Facility/services/serviceRequests/components/ObservationHistorySheet.tsx
  src/pages/Facility/services/supply/components/SupplyDeliveryTable.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionListComponent.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionListComponent.tsx
  src/pages/Facility/settings/healthcareService/HealthcareServiceList.tsx
  src/pages/Facility/settings/observationDefinition/ObservationDefinitionList.tsx
  src/pages/Facility/settings/product/ProductList.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeListComponent.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionsList.tsx
  src/pages/Facility/settings/tokenCategory/TokenCategoryList.tsx
  src/pages/Patient/home/PatientHomeEncounters.tsx
  src/pages/settings/patientIdentifierConfig/PatientIdentifierConfigList.tsx
Labels: needs review

#13136 Refactor ValueSetSelect : Make white trigger as default for mobile and some Cleanup
  src/components/Medicine/InstructionsPopover.tsx
  src/components/Questionnaire/EntitySelectionSheet.tsx
  src/components/Questionnaire/MedicationValueSetSelect.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
Labels: needs review, Tested ✅

#13874 Patient Index Search: Fix auto identifier config sort and phone number auto-fill in patient registration
  src/components/Common/SearchInput.tsx
  src/components/Patient/PatientIndex.tsx
Labels: Tested ✅

#13555 Cleaned up onEdit and onArchive in useFileManager
  public/locale/en.json
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileListTable.tsx
  src/components/Files/FileSubTab.tsx
  src/hooks/useFileManager.tsx
  src/pages/Encounters/ConsentDetail.tsx
  src/pages/Facility/services/diagnosticReports/DiagnosticReportView.tsx
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportForm.tsx
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportReview.tsx
Labels: question, needs review, Tested ✅, needs-triage

#13882 Refactor shortcut handling across various components
  src/CAREUI/misc/PrintPreview.tsx
  src/Routers/routes/ScheduleRoutes.tsx
  src/components/Billing/Invoice/AddChargeItemSheet.tsx
  src/components/Billing/Invoice/EditInvoiceTable.tsx
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Facility/ShortcutCommandDialog.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Tokens/CreateTokenForm.tsx
  src/components/ui/nav-tabs.tsx
  src/config/keyboardShortcuts.json
  src/context/ShortcutContext.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/components/TokenGenerationSheet.tsx
  src/pages/Facility/billing/PaymentReconciliationSheet.tsx
  src/pages/Facility/billing/account/AccountShow.tsx
  src/pages/Facility/billing/account/CreateInvoice.tsx
  src/pages/Facility/billing/account/components/AddChargeItemsBillingSheet.tsx
  src/pages/Facility/billing/account/components/ChargeItemsTable.tsx
  src/pages/Facility/billing/account/components/EditChargeItemSheet.tsx
  src/pages/Facility/billing/invoice/InvoiceShow.tsx
  src/pages/Facility/billing/paymentReconciliation/PaymentReconciliationShow.tsx
  src/pages/Facility/queues/ManageToken.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/services/pharmacy/MedicationDispenseList.tsx
  src/pages/Patient/VerifyPatient.tsx
Labels: Tested ✅, reviewed

#13473 Refactor OTP API routes and types
  src/Providers/AuthUserProvider.tsx
  src/Providers/PatientUserProvider.tsx
  src/Utils/request/api.tsx
  src/components/Auth/Login.tsx
  src/components/Common/LoginHeader.tsx
  src/components/ui/sidebar/patient-nav.tsx
  src/hooks/useAuthUser.ts
  src/pages/Landing/LandingPage.tsx
  src/pages/Patient/Utils.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pages/PublicAppointments/auth/PatientLogin.tsx
  src/types/auth/auth.ts
  src/types/auth/authApi.ts
  src/types/auth/otp.ts
  src/types/emr/patient/patient.ts
  src/types/emr/patient/publicPatientApi.ts
  src/types/otp/otp.ts
  src/types/otp/otpApi.ts
Labels: needs review, Tested ✅, Type Changes

#13896 Replace string icons with CareIcon component in various tables and empty states
  src/components/ui/empty-state.tsx
  src/pages/Facility/billing/account/components/ChargeItemsTable.tsx
  src/pages/Facility/billing/paymentReconciliation/PaymentsData.tsx
  src/pages/Facility/services/pharmacy/MedicationDispenseHistory.tsx
  src/pages/Facility/services/pharmacy/MedicationRequestList.tsx
Labels: needs review

#13607 Update category type and its usage in files
  public/locale/en.json
  src/components/Patient/PatientDetailsTab/ResourceRequests.tsx
  src/components/Resource/PrintResourceLetter.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Resource/ResourceForm.tsx
  src/components/Resource/ResourceList.tsx
  src/types/resourceRequest/resourceRequest.ts
Labels: Tested ✅, P1, Type Changes
