Repository ohcnetwork/care_fe, pull requests merged in 2025-06, with the labels that each got.

#12479 FIXED: Excessive API Calls on Every Keystroke While Searching Users in "Assign User to Patient" Dialog
  src/components/Common/UserSelector.tsx
Labels: needs review, Tested ✅

#12469 Fix: Tab key does not navigate correctly across form fields in user create form
  src/components/Users/UserForm.tsx
  src/components/ui/input-password.tsx
Labels: needs review, Tested ✅

#12514 Added support for selecting another practitioner when rescheduling
  src/pages/Appointments/AppointmentDetail.tsx
Labels: needs review, Tested ✅

#12511 Added Medication Statement view to Encounter Page
  public/locale/en.json
  src/components/Medicine/MedicationRequestTable/index.tsx
Labels: needs review, Tested ✅

#12443 Fix some types and cleanup in Specimen Definition Form
  src/components/Common/ComboboxQuantityInput.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionForm.tsx
  src/types/emr/medicationRequest/medicationRequest.ts
  src/types/emr/specimenDefinition/specimenDefinition.ts
Labels: needs testing, needs review, Merge Conflict

#12522 Improve the questionnaire visualisation on encounter dashboard
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/ui/input.tsx
Labels: needs review, Tested ✅

#12388 Fix:Input area collapse with Save button in Drawings tab
  src/components/Common/Drawings/ExcalidrawEditor.tsx
  src/components/Files/DrawingSubTab.tsx
Labels: needs review, Tested ✅

#12494 Choice Qns: Dropdown for repeatable
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionTypes/NumberQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionTypes/TextQuestion.tsx
  src/components/Questionnaire/QuestionTypes/TimeQuestion.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#12430 fix: Avoid unnecessary re-renders and handle page crash in Header of Report Builder
  src/pages/Encounters/ReportBuilder/HeaderBuilder.tsx
Labels: Tested ✅

#12490 Fix : Replace Native Date Inputs with DatePicker Component in Device Form
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: Tested ✅, reviewed

#12552 Revert Generate Discharge Summary tab
  .unimportedrc.json
  src/Utils/request/api.tsx
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Files/FilesTab.tsx
Labels: P1

#12520 Monthly filtering in Schedule and Exception
  src/components/Users/UserAvailabilityTab.tsx
Labels: reviewed

#12566 fix: resolves validation errors shown after clicking fill my details in resource request form
  src/components/Resource/ResourceForm.tsx
Labels: needs review, Tested ✅

#12580 Fix : Previous Thread Title Persists in New Discussion Dialog
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: Tested ✅, reviewed

#12481 FIXED: Improve Image Loading Performance in Carousel (LCP/INP Impact)
  src/components/Common/AvatarEditModal.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Files/CameraCaptureDialog.tsx
Labels: needs review, Tested ✅

#12463 Added Mobile resposiveness to Questionnaire page
  src/components/Questionnaire/QuestionTypes/QuantityQuestion.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#12496 Change default subject type to encounter in new questionnaire
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#12590 Fixes #12585; Improve Questionnaire Visualisation - Stick to single column layout if content has long values to prevent excess whitespace
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: Tested ✅, P1

#12613 Fixed discussion notes input being hidden at bottom
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: needs review, Tested ✅, P1

#12596 Users are able to create Valueset during questionnaire creation.
  public/locale/en.json
  src/Routers/routes/adminRoutes.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/SelectOrCreateValueset.tsx
  src/components/ValueSet/ValueSetEditor.tsx
Labels: Tested ✅, P1, reviewed

#12618 Fix : Show only unselected options in repeatable choice questions
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
Labels: needs review, Tested ✅, P1

#12629 Questionnaire select bug fix
  cypress/pageObject/Patients/PatientEncounter.ts
  public/locale/en.json
  src/components/Encounter/EncounterInfoCard.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: Tested ✅, P1

#12531 Fix: appointment structured question 'required' flag support
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/types/questionnaire/batch.ts
Labels: urgent, Tested ✅, P1

#12573 Fix: Hide the zone and milli seconds in the time date component of questionnaire
  src/components/Facility/ConsultationDetails/PrintQuestionnaireQuestionnaireResponses.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Questionnaire/QuestionTypes/DateQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/types/questionnaire/form.ts
Labels: urgent, needs testing, needs review, P1

#12652 made multi choice background consistent with other components
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
Labels: Tested ✅

#12653 enable radio select while clicked anywhere in the container in questionnaire
  src/components/Questionnaire/QuestionTypes/BooleanQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
Labels: needs review, Tested ✅

#12667 Added Booked by details into the Card
  src/pages/Appointments/AppointmentDetail.tsx
Labels: reviewed

#12679 Fix multiple values not being shown in questionnaire group
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs testing, needs review, P1

#12690 Sub-question error resolved
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs testing, P1, reviewed

#12656 Fix: Unable to Submit Consent Edit Form
  src/components/Consent/ConsentFormSheet.tsx
Labels: Tested ✅, reviewed

#12662 Refactored RadioGroup into a reusable component.
  cypress/pageObject/Patients/PatientCreation.ts
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionTypes/BooleanQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/RadioInput.tsx
  src/components/Resource/ResourceForm.tsx
  src/pages/Encounters/ReportBuilder/LayoutBuilder.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs review, Tested ✅

#12617 FIXED: "Unable to preventDefault inside passive event listener" warning for image preview drag
  src/components/Common/FilePreviewDialog.tsx
Labels: needs review, Tested ✅

#12607 move form related states to form schema
  src/components/Patient/PatientRegistration.tsx
Labels: needs testing, needs review

#12021 Allow edit of questionnaire structured records with `entered-in-error` status
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
Labels: needs review, Tested ✅

#12696 fix appointment creation issue at patient level
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/structured/handlers.ts
Labels: Tested ✅, reviewed

#12648 Navigation to patient for Completed Encounters
  public/locale/en.json
  src/components/Encounter/EncounterInfoCard.tsx
  src/pages/Patients/VerifyPatient.tsx
Labels: needs review, Tested ✅

#12668 Refactor Badge component to enhance styling and functionality
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Encounter/EncounterInfoCard.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Facility/EncounterCard.tsx
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Location/LocationCard.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/ValueSet/ValueSetList.tsx
  src/components/ui/badge.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/PrintPrescription.tsx
  src/pages/Encounters/ReportBuilder/ReportCard.tsx
  src/pages/Encounters/tabs/EncounterConsentsTab.tsx
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/devices/DevicesList.tsx
  src/pages/Facility/settings/devices/components/DeviceCard.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationTable.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationList.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Organization/components/EntityBadge.tsx
  src/pages/Patient/index.tsx
  src/types/device/device.ts
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
  src/types/emr/diagnosis/diagnosis.ts
  src/types/emr/encounter.ts
  src/types/emr/medicationStatement.ts
  src/types/emr/symptom/symptom.ts
  src/types/questionnaire/questionnaire.ts
  src/types/scheduling/schedule.ts
  src/types/valueset/valueset.ts
Labels: needs testing, needs review, redesign

#12705 fix:Show numeric keyboard for number question in IOS devices
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/NumberQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuantityQuestion.tsx
  src/components/ui/date-field.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: needs review, Tested ✅

#12697 Update html identifier for question IDs
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs review, Tested ✅

#12702 Adds ordering filters for appointments and files
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: Tested ✅, reviewed

#12678 fix: Trigger expiration date validation on manufacture date change
  cypress/pageObject/facility/FacilityDevices.ts
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: Tested ✅

#12681 Fix: AutoComplete not getting scroll and focused on error
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/CodingEditor.tsx
  src/components/Resource/ResourceForm.tsx
  src/components/Users/UserForm.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/button.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationFormSheet.tsx
  src/pages/Organization/components/GovtOrganizationSelector.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs review, Tested ✅

#12733 Allow mark as fullfilled as long as appointment is `in_consultation` as status
  src/pages/Appointments/AppointmentDetail.tsx
Labels: Tested ✅, P1

#12731 fixed medication history button alignment
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
Labels: needs testing, needs review

#12603 Appointment slot picker improvements
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/types/scheduling/schedule.ts
  src/types/scheduling/scheduleApi.ts
Labels: Tested ✅, reviewed

#12742 Enhance Autocomplete component with clear button
  src/components/Resource/ResourceForm.tsx
  src/components/ui/autocomplete.tsx
  src/pages/Organization/components/GovtOrganizationSelector.tsx
  src/pages/Organization/components/OrganizationLevel.tsx
Labels: Tested ✅
