Repository ohcnetwork/care_fe, pull requests merged in 2025-08, with the labels that each got.

#13189 show critical action confirmation dialog for facility delete
  public/locale/en.json
  public/locale/ml.json
  src/components/Common/CriticalActionConfirmationDialog.tsx
  src/components/Facility/FacilityDeleteDialog.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Users/UserDeleteDialog.tsx
Labels: Tested ✅

#13127 feat: add reschedule appointment warning to AppointmentDetail component + trim
  public/locale/en.json
  src/pages/Appointments/AppointmentDetail.tsx
Labels: needs review, Tested ✅

#13030 Labeling the PRs based on the changes in src/types/**
  .github/labeler.yml
  .github/workflows/labeling-pr.yml
Labels: needs review, stale

#13105 add pr checklist enforcement workflow
  .github/pull_request_template.md
  .github/workflows/pr-checklist.yml
Labels: needs review

#13188 Refactor Encounter and CreateEncounterForm + added patient identifier filter
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Patient/PatientIdentifierFilter.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/EncounterProperties.tsx
  src/types/emr/encounter/encounter.ts
Labels: needs review, Tested ✅

#13233 Fix: Access the AppointmentsPage through the URL + refresh
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, Tested ✅, P2

#13246 Allow check-in / start consultation upto 24 hours after the slot's start time
  src/pages/Appointments/AppointmentDetail.tsx
Labels: needs review, Tested ✅

#13174 Improvements to empty state for questionnaire questions and sub-questions
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/ui/empty-state.tsx
  src/pages/Facility/services/inventory/internalTransfer/SupplyRequestDispatch.tsx
Labels: Tested ✅

#13205 Fixes the viewport issue (on iphone mainly)
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: Tested ✅

#13191 fix: Make tabs responsive for Mobile View UI of Resource Page
  src/components/Resource/ResourceList.tsx
Labels: needs review, Tested ✅

#12982 Fix : Avatar Camera Capture Shows Old Crop on Second Attempt
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#13221 fix: #13218 fixed typo in Location Selector Description
  public/locale/en.json
Labels: Tested ✅

#13250 feat: add app update option to user menu in sidebar
  src/components/ui/sidebar/nav-user.tsx
  src/hooks/useAppUpdates.tsx
Labels: needs review, Tested ✅

#13263 Adds support for searching by name in appointments via encounter
  src/components/Patient/PatientEncounterOrIdentifierFilter.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, Tested ✅

#13258 changed from <p> to <div> and no hydration error
  src/components/ValueSet/ValueSetList.tsx
Labels: needs testing

#13355 Charge item definition zod validation fix
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionForm.tsx
Labels: needs review, Tested ✅, P1

#13352 Dispense medicine from encounter overview
  public/locale/en.json
  src/components/Facility/ConsultationDetails/OverviewSideBar.tsx
  src/components/ui/sidebar/facility/location/location-switcher.tsx
  src/pages/Facility/services/pharmacy/MedicationBillForm.tsx
Labels: needs review, Tested ✅, P1

#13300 Refactored RoleSelect component
  cypress/pageObject/Patients/PatientDepartments.ts
  cypress/pageObject/Patients/PatientDetails.ts
  cypress/pageObject/Users/UserCreation.ts
  src/components/Common/RoleSelect.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/pages/Facility/settings/organizations/components/EditFacilityUserRoleSheet.tsx
  src/pages/Facility/settings/organizations/components/LinkFacilityUserSheet.tsx
  src/pages/Organization/components/EditUserRoleSheet.tsx
  src/pages/Organization/components/LinkUserSheet.tsx
Labels: needs review, Tested ✅

#13161 Adjusted the mobile responsiveness of Treatment summary UI
  src/CAREUI/misc/PrintPreview.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs review, Tested ✅

#13273 fix: update reschedule appointment warning text for clarity
  public/locale/en.json
  src/pages/Appointments/AppointmentDetail.tsx
Labels: Tested ✅, reviewed

#13375 Adds support for configurable govt. org depth requirement for Patient Registration
  .example.env
  care.config.ts
  public/locale/en.json
  src/components/Patient/PatientRegistration.tsx
  src/pages/Organization/components/GovtOrganizationSelector.tsx
Labels: Tested ✅, P1

#12722 Fix Responsive issue for Questionnaire Editor
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#13180 Resolved patient registration deceased datetime validation bug
  src/components/Patient/PatientRegistration.tsx
Labels: needs review, Tested ✅

#12785 Fixes PDF.js worker path resolution for Vite compatibility
  src/components/Common/PDFViewer.tsx
  vite.config.mts
Labels: needs review, Tested ✅, stale

#13353 Fix : Country flag does not update after first selection
  src/components/ui/phone-input.tsx
Labels: Tested ✅, reviewed

#13346 Allow rendering for stock with no charge items
  src/pages/Facility/services/inventory/ReceiveStockTable.tsx
Labels: question, needs review, Tested ✅, needs-triage

#13299 diagnosis date format fix
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
Labels: needs review, Tested ✅

#13420 refactor: unnecessary FormDescription wrappers around FormField components
  src/components/Patient/PatientRegistration.tsx
Labels: Tested ✅

#13031 Apply charge item def in Service Request & Charge Item Question
  src/components/Questionnaire/QuestionTypes/ChargeItemQuestion.tsx
  src/components/Questionnaire/QuestionTypes/ServiceRequestQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/pages/Facility/services/serviceRequests/components/AddMultipleChargeItemsSheet.tsx
  src/types/billing/chargeItem/chargeItem.ts
  src/types/billing/chargeItem/chargeItemApi.ts
  src/types/questionnaire/form.ts
Labels: needs review, Tested ✅, Type Changes

#13430 Adds support for HSN code in product knowledge
  public/locale/en.json
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeForm.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeList.tsx
  src/pages/Facility/settings/productKnowledge/ProductKnowledgeView.tsx
  src/types/inventory/productKnowledge/productKnowledge.ts
Labels: Type Changes

#13368 Fix: Make billing payment filters responsive for tablets (#13364)
  src/pages/Facility/billing/paymentReconciliation/PaymentsData.tsx
Labels: needs review, Tested ✅

#13194 feat: add confirmation dialogs for favorite removal and bulk removal
  public/locale/en.json
  src/components/Questionnaire/ValueSetSearchContent.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: needs review, Tested ✅

#13086 Fixes layout misalignment in Observation Definition form
  public/locale/en.json
  src/components/Questionnaire/ValueSetSelect.tsx
  src/pages/Facility/settings/observationDefinition/ObservationDefinitionForm.tsx
Labels: needs review, Tested ✅

#13166 Make `queryKeys` consistent for Specimen, Activity and Observation Definition
  src/components/Questionnaire/QuestionTypes/ChargeItemQuestion.tsx
  src/pages/Facility/services/serviceRequests/components/AddMultipleChargeItemsSheet.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionForm.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionDetail.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionForm.tsx
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionsList.tsx
  src/pages/Facility/settings/chargeItemDefinitions/UpdateChargeItemDefinition.tsx
  src/pages/Facility/settings/observationDefinition/ObservationDefinitionForm.tsx
  src/pages/Facility/settings/observationDefinition/ObservationDefinitionView.tsx
  src/pages/Facility/settings/specimen-definitions/CreateSpecimenDefinition.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionDetail.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionsList.tsx
  src/pages/Facility/settings/specimen-definitions/UpdateSpecimenDefinition.tsx
Labels: needs review, Tested ✅, stale

#13265 Fix : Image Rotation State Persists Across Different Files in Preview
  src/components/Common/FilePreviewDialog.tsx
Labels: needs testing

#13434 Fix: prevent new tags from being deleted from dropdowns
  src/components/Questionnaire/CreateQuestionnaireTagSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs testing

#13469 fix service card link
  src/pages/Facility/services/FacilityServices.tsx
  src/pages/Facility/settings/healthcareService/HealthcareServiceList.tsx
  src/pages/Facility/settings/healthcareService/ServiceCard.tsx
Labels: bug, Tested ✅, reviewed

#13253 Fix: Render MedicationValueSetSelect when enableProduct is true in EntitySelectionSheet
  src/components/Questionnaire/EntitySelectionSheet.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
Labels: Tested ✅

#13012 Fix: Prevent invalid character input in questionnaire number fields
  src/components/ui/input.tsx
Labels: needs review, Tested ✅

#13213 fix: ensure valid patient_preparation
  public/locale/en.json
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionForm.tsx
Labels: needs review, Tested ✅

#13457 Enhance Location Components: Set limit for LocationTreeNode
  src/pages/Facility/locations/LocationNavbar.tsx
Labels: needs review, Tested ✅

#13247 Refactor file API routes and types
  src/Utils/request/api.tsx
  src/common/constants.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Files/ArchivedFileDialog.tsx
  src/components/Files/AudioPlayerDialog.tsx
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileListTable.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientDetailsTab/PatientFiles.tsx
  src/components/Patient/models.tsx
  src/components/Questionnaire/QuestionTypes/FileQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/structured/types.ts
  src/hooks/useFileManager.tsx
  src/hooks/useFileUpload.tsx
  src/pages/Encounters/ConsentDetail.tsx
  src/pages/Encounters/tabs/files.tsx
  src/pages/Facility/services/diagnosticReports/DiagnosticReportPrint.tsx
  src/pages/Facility/services/diagnosticReports/DiagnosticReportView.tsx
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportForm.tsx
  src/pages/Facility/services/serviceRequests/components/DiagnosticReportReview.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationFormSheet.tsx
  src/types/consent/consent.ts
  src/types/facility/facility.ts
  src/types/files/file.ts
  src/types/files/fileApi.ts
  src/types/files/files.ts
  src/types/files/filesApi.ts
  src/types/questionnaire/form.ts
Labels: needs review, Tested ✅, Type Changes

#13498 support for scheduling to any resource type
  src/components/Schedule/ScheduleHome.tsx
  src/components/Users/UserAvailabilityTab.tsx
  src/components/ui/sidebar/facility/location/location-nav.tsx
  src/pages/Facility/locations/LocationLayout.tsx
  src/pages/Scheduling/ScheduleExceptions.tsx
  src/pages/Scheduling/ScheduleTemplates.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
Labels: Work in Progress 🚧

#13288 Move user related routes and type clean up
  src/Providers/AuthUserProvider.tsx
  src/Utils/request/api.tsx
  src/Utils/types.ts
  src/atoms/user-atom.ts
  src/components/Users/UserAvatar.tsx
  src/components/Users/models.tsx
  src/components/ui/sidebar/app-sidebar.tsx
  src/components/ui/sidebar/facility/facility-nav.tsx
  src/components/ui/sidebar/facility/facility-switcher.tsx
  src/hooks/useAuthUser.ts
  src/pages/UserDashboard.tsx
  src/types/emr/medicationAdministration/medicationAdministration.ts
  src/types/emr/medicationRequest/medicationRequest.ts
  src/types/emr/medicationStatement.ts
  src/types/emr/patient/patient.ts
  src/types/resourceRequest/resourceRequest.ts
  src/types/user/user.ts
  src/types/user/userApi.ts
Labels: needs review, Tested ✅, waiting for related PR, Type Changes

#13491 Fix: Search filter for Patient identifier config and Tag config
  src/pages/Admin/TagConfig/TagConfigList.tsx
  src/pages/settings/patientIdentifierConfig/PatientIdentifierConfigList.tsx
Labels: Tested ✅, reviewed

#13483 Fix: Inconsistent Empty State Messages in Definition Pages
  public/locale/en.json
  src/pages/Facility/settings/chargeItemDefinitions/ChargeItemDefinitionsList.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionsList.tsx
Labels: Tested ✅

#13440 Fix: Adjust filter container width for mobile on Accounts page
  src/pages/Facility/billing/account/AccountList.tsx
Labels: Tested ✅

#13282 fix : Hide delete button for group question if only one sub-question exists
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#13342 feat: Improve the responsiveness in header UI of questionnaire page
  src/components/Questionnaire/QuestionnaireList.tsx
Labels: Tested ✅
