Repository ohcnetwork/care_fe, pull requests merged in 2025-02, with the labels that each got.

#10344 Replaced older components in the useFileManager with shadcn component
  public/locale/en.json
  src/components/Files/FileUpload.tsx
  src/hooks/useFileManager.tsx
Labels: changes required

#10187 fix: typo diary_free to dairy_free
  public/locale/en.json
  public/locale/ml.json
  src/types/emr/encounter.ts
Labels: waiting for backend

#10264 Added translations in encounter page and minor fixes in patient registration form
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegistration.tsx
Labels: invalid, changes required, Deploy-Failed

#10345 Replace useTanStack with useQuery
  src/components/Files/FileBlock.tsx
  src/components/Files/FileUpload.tsx
  src/components/Patient/FileUploadPage.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
Labels: tested, reviewed

#10369 Fix DateTimeQuestion response update logic from creating duplicates
  src/components/Facility/ConsultationDetails/ObservationsList.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
Labels: tested, P1

#10348 Cleanup: Remove unused dependencies and components
  .example.env
  .github/workflows/label-merge-conflict.yml
  care.config.ts
  package-lock.json
  package.json
  public/asset-import-template.xlsx
  src/common/schemaParser.ts
  src/common/utils.tsx
  src/components/Common/AvatarEditable.tsx
  src/components/Common/ExcelFIleDragAndDrop.tsx
  src/components/Common/ExcelViewer.tsx
  src/components/Common/Export.tsx
  src/components/Medicine/MedicationRequestTable/utils.ts
  src/components/Patient/allergy/AllergyTable.tsx
  src/components/ui/chart.tsx
  src/components/ui/drawer.tsx
  src/hooks/useActiveLink.ts
  src/hooks/useConfirmedAction.ts
  src/hooks/useExport.tsx
  src/hooks/useMergeState.js
  src/hooks/useOrganization.ts
  src/pages/Facility/settings/notifications.tsx
  src/pages/Facility/settings/users.tsx
  src/types/emr/medicationAdministration.ts
  src/types/location/locationEncounter.ts
  src/vite-env.d.ts
Labels: needs review, tested

#10383 Remove hardcoded date placeholder in ThreadItem component
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/types/notes/messages.ts
Labels: needs review, tested

#10382 remove hardcoded date encounter notes
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/types/notes/messages.ts
Labels: needs review, tested

#10350 Migration to useQuery: Removed `PaginatedList.tsx` and Update Dependent Components
  src/CAREUI/misc/PaginatedList.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Facility/models.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/components/Resource/ResourceCommentSection.tsx
Labels: tested, reviewed

#10366 Fix : User Detail Responsiveness
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Organization/components/AddUserSheet.tsx
Labels: tested, reviewed

#10379 fix: improved tablet view responsiveness
  src/pages/Encounters/EncounterList.tsx
Labels: tested

#10359 Fix: Improve Mobile Responsiveness and Layout for Edit User Form
  src/components/Users/UserForm.tsx
  src/components/ui/date-picker.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
Labels: needs review, tested

#10289 Medicine administration UI
  public/locale/en.json
  src/CAREUI/display/SubHeading.tsx
  src/Utils/request/api.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminDialog.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminForm.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminSheet.tsx
  src/components/Medicine/MedicationAdministration/utils.ts
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Medicine/MedicationsTable.tsx
  src/components/Medicine/MultiValueSetSelect.tsx
  src/components/Medicine/utils.ts
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Resource/ResourceList.tsx
  src/components/ui/button.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/date-range-picker.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/types/emr/medicationAdministration/medicationAdministration.ts
  src/types/emr/medicationAdministration/medicationAdministrationApi.ts
  src/types/emr/medicationRequest.ts
  src/types/emr/medicationRequest/medicationRequestApi.ts
Labels: needs review, tested

#10418 added PatientDetailsTabDemographyGeneralInfo plaggable
  src/components/Facility/FacilityHome.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/pluginTypes.ts
Labels: tested

#10219 Fix : Cancelled requests in appointments page and Remove files button from actions
  src/components/Patient/PatientHome.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, tested

#10408 Questionnaire hide tooltip
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
Labels: good to merge

#10397 Filter allergies by encounter if encounter is marked as completed
  src/components/Patient/allergy/list.tsx
  src/pages/Encounters/tabs/EncounterUpdatesTab.tsx
Labels: needs review

#10410 Tweaked Print Preview Width
  src/CAREUI/misc/PrintPreview.tsx
Labels: tested, reviewed

#10423 Remove extra padding in appointment details page | Current status dropdown
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: tested, reviewed

#9814 Implement multiple file to pdf support
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Common/FilePreviewDialog.tsx
  src/components/Common/PDFViewer.tsx
  src/components/Files/FilesTab.tsx
  src/hooks/useFileUpload.tsx
Labels: needs review, tested

#10104 Fix: Facility Organization Dropdown
  public/locale/en.json
  src/components/ui/autocomplete.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationSelector.tsx
Labels: needs review, tested

#10440 Encounter overview and sidebar Redesign
  public/locale/en.json
  src/components/Facility/ConsultationDetails/ObservationsList.tsx
  src/components/Facility/ConsultationDetails/OverviewSideBar.tsx
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/pages/Encounters/tabs/EncounterUpdatesTab.tsx
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
  src/types/emr/diagnosis/diagnosis.ts
  src/types/emr/symptom/symptom.ts
Labels: tested, changes required

#10446 Get error for specific inputs when updated
  src/components/Files/FilesTab.tsx
Labels: needs review, tested

#10441 Add support for Location Assignment Question
  src/common/constants.tsx
  src/components/Auth/Login.tsx
  src/components/Common/LoginHeader.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Location/LocationSearch.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/QuestionTypes/LocationQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/components/Questionnaire/data/StructuredFormData.tsx
  src/components/Questionnaire/show.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/types/emr/encounter.ts
  src/types/location/association.ts
  src/types/location/locationApi.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
Labels: needs review, tested

#10445 Fixed background and font for appointments card
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/utils.ts
Labels: needs review, tested

#10448 Questionnaire Response List | Display multi values
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs review, tested

#10479 Fixes login errors being shown twice due to nested `useMutation`
  src/Utils/FiltersCache.tsx
  src/components/Auth/Login.tsx
  src/pages/Appointments/components/AppointmentTokenCard.tsx
Labels: tested, P1

#10462 Fix: Bugs in Public Patient Registration Form
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: tested, P1

#10499 Switch to using cn and variants for AlertDialogAction (#10466)
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/show.tsx
  src/pages/Apps/PlugConfigEdit.tsx
  src/pages/Facility/settings/organizations/components/EditFacilityUserRoleSheet.tsx
  src/pages/Organization/components/EditUserRoleSheet.tsx
Labels: needs testing

#10485 Sanitize html before rendering it unsafely
  src/components/ui/markdown.tsx
Labels: needs testing, needs review, P1

#10218 Minor fixes in resource creation form
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceList.tsx
Labels: needs testing, needs review

#10419 FIXED:- Improve Visibility of Status, Role, and Contact numbers on User Management Page List View for Mobile Screens
  src/components/Users/UserListAndCard.tsx
Labels: needs testing

#10367 Replaced the older components with ShadCN components in the ResourceCreate Page
  public/locale/en.json
  src/components/Common/FacilitySelect.tsx
  src/components/Form/AutoCompleteAsync.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
  src/hooks/useDebounce.ts
Labels: tested

#10384 File Archiving, Perms, Card Layout
  public/locale/en.json
  src/components/Files/ArchivedFileDialog.tsx
  src/components/Files/AudioPlayerDialog.tsx
  src/components/Files/FileUploadDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientDetailsTab/PatientFiles.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: tested, reviewed

#10463 Add missing i18n translations
  public/locale/en.json
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Resource/PrintResourceLetter.tsx
  src/pages/Facility/overview.tsx
Labels: needs testing, reviewed

#10523 Added confirmation before marking encounter as complete
  public/locale/en.json
  src/components/Patient/PatientInfoCard.tsx
Labels: tested

#10518 User Form: Pass in Org to GovtSelector only if Org is Govt
  src/components/Users/UserForm.tsx
Labels: needs testing, needs review

#10511 Improves responsiveness of Encounter Medicines tab
  src/components/Medicine/MedicationRequestTable/index.tsx
Labels: tested

#10156 Enhancements to Encounter Discussion/Notes | Fix Translation
  public/locale/en.json
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: tested, reviewed

#10415 Date handling in DOB section
  src/components/Patient/PatientRegistration.tsx
  src/components/ui/date-field.tsx
Labels: tested, reviewed

#10539 Refactor Breadcrumbs: Restrict to Locations.
  public/locale/en.json
  src/CAREUI/icons/Index.tsx
  src/components/Common/Breadcrumbs.tsx
  src/components/Common/Page.tsx
  src/components/Common/PageTitle.tsx
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Patient/FileUploadPage.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Users/UserHome.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationIndex.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: tested, reviewed

#10402 Fix: Resource filters in mobile view
  src/components/Resource/ResourceList.tsx
Labels: needs review, tested

#10172 Fix `PatientUsers` card | Dialog | AddUserSheet | UserSelector Overflow | Change Remove-button background | Modify Translation
  public/locale/en.json
  src/components/Common/UserSelector.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/ui/tooltip.tsx
Labels: tested, reviewed

#10558 Fix: Redesign the Open view of Department/Teams
  public/locale/en.json
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
Labels: needs review, tested

#10510 Migrated Dialog and ConfirmDialog with shadCN component
  public/locale/en.json
  src/components/Common/AvatarEditModal.tsx
  src/components/Common/ConfirmDialog.tsx
  src/components/Common/Dialog.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Facility/DuplicatePatientDialog.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Files/CameraCaptureDialog.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Users/UserAvatar.tsx
  src/components/Users/UserDeleteDialog.tsx
  src/components/Users/UserSummary.tsx
  src/hooks/useFileManager.tsx
  src/hooks/useFileUpload.tsx
Labels: tested, reviewed

#10554 Enhance LocationSearch: Use "instance" for search & Adjust Input Padding
  src/components/Location/LocationSearch.tsx
  src/components/Questionnaire/QuestionTypes/LocationQuestion.tsx
Labels: needs testing, needs review

#10593 fix: use formatDisplayName on UserDashboard
  src/components/Users/UserAvatar.tsx
  src/pages/UserDashboard.tsx
Labels: tested

#10604 Removed Unnecessary Tabs component
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Common/Tabs.tsx
  src/components/Files/FileBlock.tsx
  src/components/Files/FileUpload.tsx
  src/components/Patient/FileUploadPage.tsx
  src/hooks/useFileManager.tsx
Labels: tested

#10576 Combined ResourceCreate page and ResourceDetailsUpdate page
  public/locale/en.json
  src/CAREUI/display/Card.tsx
  src/Routers/routes/FacilityRoutes.tsx
  src/Routers/routes/ResourceRoutes.tsx
  src/Utils/request/api.tsx
  src/Utils/request/useQuery.ts
  src/components/Common/HelperComponents.tsx
  src/components/Common/UserAutocompleteFormField.tsx
  src/components/Form/FieldValidators.tsx
  src/components/Form/FormFields/Autocomplete.tsx
  src/components/Form/FormFields/FormField.tsx
  src/components/Form/FormFields/RadioFormField.tsx
  src/components/Form/FormFields/SelectFormField.tsx
  src/components/Form/FormFields/TextFormField.tsx
  src/components/Form/FormFields/Utils.ts
  src/components/Form/MultiSelectMenuV2.tsx
  src/components/Form/SelectMenuV2.tsx
  src/components/Resource/ResourceCreate.tsx
  src/components/Resource/ResourceDetailsUpdate.tsx
  src/components/Resource/ResourceForm.tsx
  src/components/Users/UserForm.tsx
  src/components/ui/autocomplete.tsx
  src/types/resourceRequest/resourceRequest.ts
  src/types/user/userApi.ts
Labels: needs review, tested

#10614 Fix: Handle null gender values in user profiles
  src/components/Users/UserForm.tsx
Labels: reviewed

#10631 🧹 Remove unused configs, utilities, APIs, styles + enable React `StrictMode`
  .example.env
  care.config.ts
  package-lock.json
  src/Utils/request/README.md
  src/Utils/request/api.tsx
  src/Utils/request/handleResponse.ts
  src/Utils/request/query.ts
  src/Utils/request/request.ts
  src/Utils/request/types.ts
  src/Utils/request/utils.ts
  src/Utils/utils.ts
  src/common/constants.tsx
  src/components/Facility/models.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminDialog.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminSheet.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/models.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/index.tsx
  src/style/CAREUI.css
  src/style/index.css
  src/types/emr/medicationAdministration/medicationAdministration.ts
  src/types/emr/medicationAdministration/medicationAdministrationApi.ts
  src/types/emr/medicationStatement/medicationStatementApi.ts
  src/vite-env.d.ts
  vite.config.mts
Labels: needs testing, needs review

#10636 resolved Appointments select practitioner options Bug: popover inconsistent spacing between options within the popover content
  src/pages/Appointments/AppointmentsPage.tsx
Labels: tested

#10640 Fix: Breadcrumb Navigation Fails to Return to Parent in Department/Teams
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
Labels: needs review, tested

#10646 Fix autocomplete unable to pre-fill in certain usages; Adds utility fn. to merge autocomplete options; Fixes facility select in resource form edge case
  src/Utils/utils.ts
  src/components/Resource/ResourceForm.tsx
  src/components/ui/autocomplete.tsx
Labels: needs review, tested, P1

#10568 Fix: Redesign the User view of Department/Teams
  public/locale/en.json
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Facility/settings/organizations/components/CreateFacilityOrganizationSheet.tsx
  src/pages/Organization/components/AddUserSheet.tsx
Labels: needs testing, needs review

#10633 Fix: Facility switcher and Organization switcher edge case handled
  src/components/ui/sidebar/app-sidebar.tsx
Labels: needs review

#10619 fixed location sheet UI bug
  src/pages/Facility/settings/locations/LocationForm.tsx
Labels: needs review

#10598 Add phone number search for organization users
  src/pages/Organization/OrganizationUsers.tsx
Labels: tested

#10662 Show hyphen when no severity in SymptomTable
  src/components/Patient/symptoms/SymptomTable.tsx
Labels: needs testing

#10570 Discharge Summary
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/Utils/request/api.tsx
  src/Utils/utils.ts
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Files/FilesTab.tsx
  src/components/Location/LocationHistorySheet.tsx
  src/components/Location/LocationTree.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: needs review

#10458 Enhance Comment Section UI with Redesigned User Icon and Styling
  src/components/Resource/ResourceCommentSection.tsx
Labels: needs review, tested

#10609 Prevent auto focus issue in Org. Patient Search
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Resource/ResourceList.tsx
  src/pages/Encounters/EncounterList.tsx
Labels: tested, reviewed

#10717 Fix: Query Parameters Not Reset on Department Page Upon Performing Search
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
Labels: tested, P1, reviewed

#10700 Add count to resource and encounter page
  src/components/Resource/ResourceList.tsx
  src/pages/Encounters/EncounterList.tsx
Labels: needs testing

#10413 fix: Organization Users page needs responsiveness
  src/components/Common/UserSelector.tsx
  src/components/Users/UserListAndCard.tsx
  src/pages/Facility/settings/organizations/components/EditFacilityUserRoleSheet.tsx
  src/pages/Facility/settings/organizations/components/LinkFacilityUserSheet.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/components/LinkUserSheet.tsx
Labels: needs testing, needs review

#10380 Redesign the Facility Details Page
  public/locale/en.json
  src/components/Common/ContactLink.tsx
  src/components/Facility/FacilityHome.tsx
Labels: needs testing

#10630 Solved type error using a custom method
  src/components/Common/AvatarEditModal.tsx
Labels: tested, reviewed

#10642 Patient Tabs Fixes
  public/locale/en.json
  public/locale/ml.json
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/PatientFiles.tsx
  src/components/Patient/PatientDetailsTab/ResourceRequests.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: needs testing

#10703 Questionnaire tags search and popover
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
Labels: needs review, tested

#10678 Questionnaire List & Edit UI Redesign
  public/locale/en.json
  src/components/Questionnaire/CloneQuestionnaireSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/Questionnaire/show.tsx
  src/components/Resource/ResourceForm.tsx
  src/components/ui/input.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: needs review, merge conflict

#10745 Adding patient Id to props in Encounter Files
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: tested

#10747 Questionnaire list & create minor fixes
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireList.tsx
Labels: tested

#10663 Refactor padding in Page component | Resource and Prescription Preview responsiveness
  src/components/Common/Page.tsx
  src/components/Resource/PrintResourceLetter.tsx
  src/components/Resource/ResourceList.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/PrintPrescription.tsx
Labels: tested, reviewed

#10625 Generate link to the package manager in SBOM page using PURL
  src/pages/Licenses/Licenses.tsx
  src/pages/Licenses/utils.ts
  src/types/license.ts
Labels: needs review, tested

#10579 Re-design Encounter Card
  src/common/constants.tsx
  src/components/Facility/EncounterCard.tsx
Labels: tested, reviewed

#10741 Fixing Valueset editor refetching bug
  src/components/ValueSet/ValueSetEditor.tsx
Labels: tested, reviewed

#10547 Fix Bugs in User and Facility Avatar Upload and Deletion Workflow
  src/components/Common/AvatarEditModal.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Users/UserAvatar.tsx
Labels: needs review, tested

#10753 Fix cursor pointer issue in Settings page - prevent pointer symbol on hover
  src/Providers/HistoryAPIProvider.tsx
  src/components/Facility/FacilityHome.tsx
Labels: needs review, tested

#10283 Add Confirmation Pop-up to Prevent Accidental Exception Deletions
  public/locale/en.json
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Scheduling/ScheduleExceptions.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: tested

#10560 Basic CRUD pages for Devices
  public/locale/en.json
  src/components/Location/LocationSearch.tsx
  src/pages/Facility/settings/devices/CreateDevice.tsx
  src/pages/Facility/settings/devices/DeviceDetail.tsx
  src/pages/Facility/settings/devices/DevicesList.tsx
  src/pages/Facility/settings/devices/UpdateDevice.tsx
  src/pages/Facility/settings/devices/components/AssociateLocationSheet.tsx
  src/pages/Facility/settings/devices/components/DeviceCard.tsx
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/organizations/components/CreateFacilityOrganizationSheet.tsx
  src/types/common/contactPoint.ts
  src/types/device/device.ts
  src/types/device/deviceApi.ts
  src/types/location/location.ts
Labels: needs review, tested, P2

#10659 Profile redirection in Users Card and Design sync with dept Users design
  src/components/Users/UserListAndCard.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Organization/OrganizationUsers.tsx
Labels: tested, reviewed

#10613 Fix: Medicine Section Bugs
  public/locale/en.json
  src/CAREUI/misc/PrintPreview.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Medicine/MedicationsTable.tsx
  src/pages/Encounters/PrintPrescription.tsx
Labels: needs review, tested

#10732 Fix overflow of medication details for better responsiveness
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
Labels: needs review, tested

#10759 Added Symptoms onset date field in encounters overview
  src/components/Patient/symptoms/SymptomTable.tsx
Labels: tested, reviewed

#10754 Potential fix for code scanning alert no. 116: DOM text reinterpreted as HTML
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, tested

#10738 Fix: Bugs in valueset page
  public/locale/en.json
  src/components/ValueSet/ValueSetEditor.tsx
  src/components/ValueSet/ValueSetForm.tsx
  src/components/ValueSet/ValueSetList.tsx
  src/types/valueset/valueset.ts
Labels: needs review, tested

#10411 Redesign: Departments page root view
  public/locale/en.json
  src/pages/Facility/settings/organizations/FacilityOrganizationIndex.tsx
Labels: needs review, tested

#10672 Fix: Add a new list view to locations in the facility settings
  public/locale/en.json
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/locations/components/LocationListView.tsx
Labels: needs review, tested

#10796 Redirect on updating questionnaire
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: tested

#10563 Treatment Summary UI Enhancement
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/Common/PrintTable.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationsTable.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
  src/components/Patient/symptoms/list.tsx
Labels: needs review, tested

#10837 API queries: fail fast and retry only for network errors and HTTP 502/503/504s
  src/App.tsx
Labels: needs review

#10751 Location Edit Form and Files Fixes
  src/components/Files/FilesTab.tsx
Labels: needs review, tested

#10766 Add tooltips to facility, organization, and patient switchers
  src/components/ui/sidebar/facility-switcher.tsx
  src/components/ui/sidebar/organization-switcher.tsx
  src/components/ui/sidebar/patient-switcher.tsx
Labels: tested, reviewed

#10764 Fix: Disable submit/save buttons until changes are made on any Edit/Update details page
  src/components/Facility/FacilityForm.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Resource/ResourceForm.tsx
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: tested, reviewed

#10755 Add Facility Map Link
  .example.env
  care.config.ts
  public/locale/en.json
  src/Utils/utils.ts
  src/components/Facility/FacilityHome.tsx
  src/components/Facility/FacilityMapLink.tsx
  src/pages/Facility/FacilityDetailsPage.tsx
  src/pages/Facility/components/FacilityCard.tsx
  src/vite-env.d.ts
Labels: needs review, tested

#10792 Encounter Info Card
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Patient/PatientInfoCard.tsx
Labels: tested, reviewed

#10592 Cypress: User Avatar Modification
  cypress/e2e/users_spec/user_avatar.cy.ts
  cypress/fixtures/avatar.jpg
  cypress/fixtures/users.json
  cypress/pageObject/Users/UserAvatar.ts
  src/components/Common/AvatarEditModal.tsx
  src/components/Users/UserAvatar.tsx
Labels: needs review, tested

#10839 Fix: Inconsistent Feature Badge Styling Across Pages
  src/common/constants.tsx
  src/components/Facility/FacilityHome.tsx
  src/pages/Facility/Utils.tsx
Labels: needs review, tested

#10767 fix: Improve responsiveness in Encounter medicine tab
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
Labels: tested, reviewed

#10802 bugfix:fix Overapping greenindicator and scrollbar in Patient Details
  src/components/Patient/PatientHome.tsx
Labels: tested

#10810 Added Location sheet, removed Location Question
  public/locale/en.json
  src/components/Location/LocationHistorySheet.tsx
  src/components/Location/LocationSearch.tsx
  src/components/Location/LocationSheet.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Questionnaire/QuestionTypes/LocationQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/data/StructuredFormData.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/types/emr/encounter.ts
  src/types/location/association.ts
  src/types/location/locationApi.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
Labels: needs review, tested

#10778 Fix : Alignment of Country List in Phone Number Search
  src/components/ui/phone-input.tsx
Labels: tested, changes required

#10635 Ensure DialogContent Accessibility by Adding Description Support
  public/locale/en.json
  src/components/Common/AvatarEditModal.tsx
  src/components/ui/sidebar.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: question, tested, merge conflict, reviewed, needs-triage

#10835 Fixed facility home actions styles
  src/components/Facility/FacilityHome.tsx
Labels: tested
