Repository ohcnetwork/care_fe, pull requests merged in 2025-04, with the labels that each got.

#11639 fixed and added appropriate loader in facility/departments
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
Labels: tested

#11561 FIX: Toast notification now appears on creating a new device
  public/locale/en.json
  src/pages/Facility/settings/devices/CreateDevice.tsx
  src/pages/Facility/settings/devices/UpdateDevice.tsx
Labels: tested, reviewed

#11578 Fix: Make Duplicate Patient Pop-up scrollable on mobile devices
  src/components/Facility/DuplicatePatientDialog.tsx
Labels: tested, reviewed

#11571 Addressing some bugs in the Encounter manage consents
  public/locale/en.json
  src/components/Consent/ConsentSheet.tsx
  src/components/Consent/LinkConsentDialog.tsx
Labels: tested, reviewed

#11282 Fix Facility Name Display, Alignment Issues in Appointment Card & Removed Extra spans from Buttons
  src/pages/Patient/index.tsx
  src/pages/PublicAppointments/Schedule.tsx
Labels: tested, reviewed

#11685 Fixes avatar edit and cover photo dialogs responsiveness
  src/components/Common/AvatarEditModal.tsx
Labels: tested, reviewed

#11161 Fix : Form Validation Error Messages Not Displaying
  public/locale/en.json
  src/CAREUI/icons/Index.tsx
  src/components/Encounter/CreateEncounterForm.tsx
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/types/common/contactPoint.ts
  src/types/emr/encounter.ts
Labels: tested, reviewed

#11534 Added loader to the patient details dashboard
  src/pages/Patients/VerifyPatient.tsx
Labels: tested

#11676 Hide ongoing slots in and fix practitioners avatar not being shown in public appointment booking
  src/Routers/routes/ScheduleRoutes.tsx
  src/Utils/request/api.tsx
  src/components/Users/models.tsx
  src/components/ui/sidebar/app-sidebar.tsx
  src/hooks/useAuthUser.ts
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/Facility/FacilityDetailsPage.tsx
  src/pages/Facility/components/UserCard.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/pages/PublicAppointments/Success.tsx
  src/pluginTypes.ts
Labels: needs testing, needs review

#11609 Refactor PatientSelect component to use PatientCard for improved UI (desktop and mobile)
  src/pages/PublicAppointments/PatientSelect.tsx
Labels: Tested ✅, reviewed

#11554 Show archived on deleted users
  src/components/Consent/LinkConsentDialog.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/Users/models.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/types/user/user.ts
Labels: Tested ✅, reviewed

#11696 Set Care Team for Encounter
  public/locale/en.json
  src/components/CareTeam/CareTeamSheet.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/types/careTeam/careTeam.ts
  src/types/careTeam/careTeamApi.ts
  src/types/emr/encounter.ts
Labels: needs review, Tested ✅

#11705 Adjust medication statement validation for end date
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
Labels: Tested ✅, reviewed

#11699 Refactor QuestionnaireSearch, ValueSetSelect, and Autocomplete components to use Sheet for mobile UI, replacing CommandDrawer.
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/command.tsx
  src/components/ui/drawer.tsx
Labels: needs testing, needs review, P1

#11518 Redesign: Location Settings Page
  src/pages/Facility/locations/LocationNavbar.tsx
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/locations/LocationMap.tsx
  src/pages/Facility/settings/locations/LocationSettings.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationInfoCard.tsx
  src/pages/Facility/settings/locations/components/LocationListView.tsx
Labels: Tested ✅, reviewed

#11727 Facility Creation - Fix Organization Required
  public/locale/en.json
  src/components/Facility/FacilityForm.tsx
  src/pages/Organization/components/GovtOrganizationSelector.tsx
Labels: needs review, Tested ✅, P1

#11713 Care Team fixes
  public/locale/en.json
  src/components/CareTeam/CareTeamSheet.tsx
  src/components/Common/UserSelector.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: needs review, Tested ✅

#11453 Cypress tests for Adding new Location
  cypress/e2e/patient_spec/patient_location.cy.ts
  cypress/fixtures/users.json
  cypress/pageObject/Patients/PatientLocation.ts
  cypress/support/commands.ts
  src/components/Location/LocationActionButtons.tsx
  src/components/Location/LocationCardWrapper.tsx
  src/components/Location/LocationSearch.tsx
  src/components/Location/LocationSheet.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/pages/Facility/settings/locations/LocationSettings.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
Labels: needs review, Tested ✅

#11732 Fix : Search History Remains After Sheet Close/Reopen.
  src/components/Consent/ConsentSheet.tsx
Labels: Tested ✅

#11663 Fix: Minor Resources Form UI and `UserSelector` display option alignment
  src/components/Common/UserSelector.tsx
  src/components/Resource/ResourceForm.tsx
  src/pages/Appointments/components/PractitionerSelector.tsx
Labels: needs review, Tested ✅

#11545 Autofill feature to fill duration for multiple slots
  public/locale/en.json
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
Labels: Tested ✅, reviewed

#11721 Three-Dot Menu Misalignment on Mobile – Should Align to the Right of User Name #11690
  src/pages/UserDashboard.tsx
Labels: needs review, Tested ✅

#11728 fix: Remove nullable which causes passing null values in 'assigned facility' field during Resource Request Update
  src/components/Resource/ResourceForm.tsx
  src/types/resourceRequest/resourceRequest.ts
Labels: needs review, Tested ✅, Merge Conflict

#11768 Show device type filter only if there are types registered in care
  src/pages/Facility/settings/devices/DevicesList.tsx
Labels: needs review, Tested ✅

#11754 fix: Hide 'Scheduled Appointment' button in Appointment tab of Patient Details page
  src/components/Patient/PatientDetailsTab/Appointments.tsx
Labels: Tested ✅, reviewed

#11719 Added : Edit option for department/team
  public/locale/en.json
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Facility/settings/organizations/components/CreateFacilityOrganizationSheet.tsx
  src/types/facilityOrganization/facilityOrganization.ts
  src/types/facilityOrganization/facilityOrganizationApi.ts
Labels: needs review, Tested ✅

#11343 feat: show unsupported browser warning on all pages
  src/Routers/AppRouter.tsx
  src/Routers/PatientRouter.tsx
  src/Routers/PublicRouter.tsx
  src/components/Auth/Login.tsx
  src/components/ErrorPages/BrowserWarning.tsx
Labels: needs review, Tested ✅

#11798 docs: update API credentials in README for care.ohc.network
  README.md
Labels: needs review

#11776 Fix: Add bottom spacing to container to resolve last card visual overlap
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
Labels: needs testing

#11814 fixes print preview
  src/CAREUI/interactive/Zoom.tsx
  src/CAREUI/misc/PrintPreview.tsx
Labels: needs review, Tested ✅, P1

#11797 Replace history when updating filters; Upgrade raviger to beta
  package-lock.json
  package.json
  src/hooks/useFilters.tsx
Labels: needs review, Tested ✅

#11621 `DiagnosisQuestion` and `SymptomQuestion` to Use ShadCN Table Component in large screen and Minor UI enhancement in AllergyQuestion
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/types/emr/allergyIntolerance/allergyIntolerance.ts
Labels: Tested ✅, reviewed

#11821 Migrate raviger to v5
  package-lock.json
  package.json
  src/hooks/useFilters.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
Labels: needs review

#11780 fix: Update PatientNavUser and PatientSwitcher to show in mobile view
  src/components/ui/sidebar/nav-user.tsx
  src/components/ui/sidebar/patient-switcher.tsx
Labels: needs review, Tested ✅

#11820 Improved table styling of Admin Roles view
  public/locale/en.json
  src/pages/Admin/Role/RolesIndex.tsx
Labels: needs review, Tested ✅

#11831 fixe calender layout in tablet screen
  src/pages/Appointments/BookAppointment.tsx
Labels: Tested ✅

#11800 Replace autocomplete for tags and orgs in create questionnaire
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
  src/components/Questionnaire/QuestionnaireProperties.tsx
Labels: needs review, Tested ✅

#11403 Support for loading recent and favourite valuesets
  public/locale/en.json
  src/components/Questionnaire/ValueSetSelect.tsx
  src/types/valueset/valuesetApi.ts
Labels: needs review, Tested ✅

#11808 fix: Update the Depatment Design to Match Location Design
  src/pages/Facility/settings/organizations/FacilityOrganizationList.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationNavbar.tsx
Labels: Tested ✅, reviewed

#11817 Questionnaire Download & Import
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: Tested ✅, reviewed

#11763 Allow geo org update for users
  public/locale/en.json
  src/components/Facility/FacilityHome.tsx
  src/components/Users/UserForm.tsx
  src/components/Users/UserSummary.tsx
  src/components/Users/UserViewDetails.tsx
  src/types/organization/organization.ts
Labels: needs review, Tested ✅

#11689 FIXED: Input Overflow in Edit Administration Dialog
  src/components/Medicine/MedicationAdministration/MedicineAdminDialog.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminForm.tsx
Labels: Tested ✅, reviewed

#11779 Fix minor styling issues
  src/components/Questionnaire/QuestionLabel.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs review, Tested ✅

#11853 update renovate config to include only patch version upgrades in combined dep. upgrades
  renovate.json
Labels: needs review

#11893 chore: run `setup` script in dev server if `pluginMap` doesn't already exists
  README.md
  package.json
Labels: needs review

#11938 Added facilityId prop to PatientHomeActions and PatientRegistrationForm plugin hook
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientRegistration.tsx
  src/pluginTypes.ts
Labels: needs testing, needs review

#11892 Fix device list not showing correct icon and make add device button responsive
  src/pages/Facility/settings/devices/DevicesList.tsx
  src/pages/Facility/settings/devices/components/DeviceCard.tsx
  src/pages/Facility/settings/devices/components/DeviceTypeIcon.tsx
Labels: needs testing

#11877 Removed the questionnaire print button from the treatment summary page
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs review, Tested ✅

#11906 fixes the alignment issue of view detail button of encounter info card within the Beds card
  src/components/Encounter/EncounterInfoCard.tsx
  src/pages/Facility/locations/LocationContent.tsx
Labels: Tested ✅, reviewed

#11872 Choice Qn: render as radio btn when choices <= 5
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
Labels: urgent, Work in Progress 🚧, reviewed

#11936 Made Treatment Summary centrally aligned
  src/components/Patient/TreatmentSummary.tsx
Labels: needs review, Tested ✅

#11851 Feat: Enable coding for group in question type within questionnaire
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#11884 Fix: Hide Login Banner on landing page on patient is logged in
  src/components/Common/LoginHeader.tsx
  src/pages/Landing/LandingPage.tsx
Labels: needs review, Tested ✅

#11925 chore: add schedule for automated dependency updates in renovate.json
  renovate.json
Labels: needs review

#11875 Implemented Device type and Icon in Device creation
  public/locale/en.json
  src/pages/Facility/settings/devices/CreateDevice.tsx
  src/pages/Facility/settings/devices/UpdateDevice.tsx
Labels: Tested ✅, reviewed

#11967 fix: adjust keys in choice qns so that qns with same choices work
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
Labels: needs testing, reviewed

#11975 exclude unnecessary `available` from location search for device location association
  src/components/Location/LocationSearch.tsx
Labels: needs review, Tested ✅

#11815 fix: Mark as Discharge
  public/locale/en.json
  src/components/Encounter/EncounterActions.tsx
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/types/emr/encounter.ts
Labels: needs review, Tested ✅, P1

#11759 Fix: Make Update Location Dialog Fully Responsive on Mobile Devices
  src/components/Location/BedStatusLegend.tsx
  src/components/Location/LocationActionButtons.tsx
  src/components/Location/LocationCard.tsx
  src/components/Location/LocationSheet.tsx
Labels: needs review, Tested ✅

#11287 Fix: Minor Questionnaire Edit bugs
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅

#11993 feat: Add EntitySelectionSheet in MedicationRequestQuestion
  public/locale/en.json
  src/components/Questionnaire/EntitySelectionSheet.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: needs testing, needs review

#12013 fixed navigation route to the associated organization.
  src/pages/Facility/settings/devices/DeviceShow.tsx
Labels: Tested ✅

#12080 Update verification status in DiagnosisQuestion to include dirty flag
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
Labels: Tested ✅, P1, reviewed

#12084 Patient registration checkbox fix
  src/components/Patient/PatientRegistration.tsx
Labels: urgent, needs review, Tested ✅

#12053 🐛 Fix: Mobile sidebar state issue (#12038)
  src/components/ui/sidebar.tsx
Labels: needs review, Tested ✅

#11996 Enhancement: Update the cap logic in the Quick Finder so it dynamically adjusts the maximum value can be selected
  src/components/ui/relative-date-picker.tsx
Labels: needs review, Tested ✅

#12030 fix: The Active Tab Not Updating When Navigating to Sub-Location
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/devices/components/DeviceLocationTimelineCard.tsx
  src/pages/Facility/settings/devices/components/ManageLocationSheet.tsx
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationSettings.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
Labels: needs review, Tested ✅

#11960 fix: Questionnaire is Hidden When Encounter Status is Marked as "Discharged"
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/types/emr/encounter.ts
Labels: Tested ✅

#11914 Modify placeholder of Select inputs for Appointment booking
  public/locale/en.json
  src/pages/Organization/components/OrganizationFilter.tsx
  src/pages/Organization/components/OrganizationLevel.tsx
Labels: Tested ✅

#11856 Fix: Verify Patient Encounter Card Link
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/CareTeam/CareTeamSheet.tsx
  src/components/Common/Drawings/DrawingTab.tsx
  src/components/Encounter/EncounterActions.tsx
  src/components/Files/FilesTab.tsx
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Patient/PatientDetailsTab/PatientDrawingsTab.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterDrawingsTab.tsx
  src/pages/Encounters/tabs/EncounterMedicinesTab.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
  src/pages/Encounters/tabs/EncounterPlotsTab.tsx
  src/pages/Patients/VerifyPatient.tsx
Labels: needs review, Tested ✅

#10946 Feature: multi-select for orgs in locations
  cypress/pageObject/Patients/PatientVerify.ts
  public/locale/en.json
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/Patient/LinkDepartmentsSheet.tsx
  src/components/ui/autocomplete.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationSelector.tsx
  src/types/location/locationApi.ts
Labels: urgent, Tested ✅

#11837 Enable infinite scrolling in UserSelector
  src/components/Common/UserSelector.tsx
Labels: needs review, Tested ✅, cypress passed

#11873 Fixed code verification in valueset
  public/locale/en.json
  src/components/ValueSet/CodingField.tsx
  src/components/ValueSet/ValueSetForm.tsx
Labels: needs review, Tested ✅

#11542 Collapsible sections added in encounter overview
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/ui/accordion.tsx
Labels: needs review, Tested ✅, cypress passed

#11767 Fix: Location Association Sheet Search Bar Filtering and Blank Sheet on second time opening same sheet
  public/locale/en.json
  src/components/Location/BedListing.tsx
  src/components/Location/LocationHistory.tsx
  src/components/Location/LocationNavigation.tsx
  src/components/Location/LocationSheet.tsx
Labels: needs review, Tested ✅

#11729 fix: Allow users to order locations and change to table view in desktop
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Common/AnimatedWrapper.tsx
  src/hooks/useLocationManagement.ts
  src/pages/Facility/locations/LocationNavbar.tsx
  src/pages/Facility/settings/locations/LocationMap.tsx
  src/pages/Facility/settings/locations/LocationSettings.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationTable.tsx
  src/types/location/location.ts
Labels: Tested ✅

#12101 Follow Up : Use in-built behaviour of command for filtering in UserSelector
  src/components/Common/UserSelector.tsx
Labels: needs review, Tested ✅

#12099 Made choice question controlled
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
Labels: needs review, Tested ✅

#12148 Fixing misalignment for form items
  src/components/Facility/FacilityForm.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminForm.tsx
  src/components/Resource/ResourceForm.tsx
  src/components/Users/UserForm.tsx
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
Labels: needs review, Tested ✅, P1

#12052 Bug: End Date value is still 'ongoing' in Encounters despite having the status completed #12003
  src/components/Encounter/EncounterActions.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
Labels: needs review, Tested ✅, P1

#12173 Add filter for encounter actions
  src/hooks/useQuestionnaireOptions.ts
Labels: needs review, Tested ✅

#11678 Fix : Expand Tree items by clicking row/text instead of arrow icon
  src/pages/Facility/locations/LocationList.tsx
  src/pages/Facility/locations/LocationNavbar.tsx
  src/pages/Facility/settings/locations/LocationSettings.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationNavbar.tsx
Labels: needs review, Tested ✅

#11795 Fix : Validation Error Messages Persist After Fixing Input Values
  src/components/Patient/PatientRegistration.tsx
Labels: needs review, Tested ✅

#11927 Added edit button to system valuesets without saving
  public/locale/en.json
  src/components/ValueSet/ValueSetEditor.tsx
  src/components/ValueSet/ValueSetForm.tsx
  src/components/ValueSet/ValueSetList.tsx
Labels: Tested ✅

#11984 Change styling to wrap text in Symptoms table on encounter overview page
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/symptoms/SymptomTable.tsx
Labels: needs review, Tested ✅

#12044 Fix : unnecessary workflow triggers
  .github/workflows/cypress.yaml
Labels: needs review, Tested ✅

#12002 bug fix: Show proper validation error during bed stay completion (fixes: #11998)
  src/components/Location/LocationCardWrapper.tsx
  src/components/Location/LocationSheet.tsx
Labels: needs review, Tested ✅

#12185 Modified the patient name generator in cypress
  cypress/e2e/patient_spec/patient_details.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/pageObject/Patients/PatientFiles.ts
  cypress/utils/commonUtils.ts
Labels: needs review, Tested ✅

#12188 Fix: Display error message if file upload fails
  src/components/Files/FileUploadDialog.tsx
Labels: needs testing, needs review
