Repository ohcnetwork/care_fe, pull requests merged in 2025-03, with the labels that each got.

#10882 Enable Patient Edit button for deceased Patient
  public/locale/en.json
  public/locale/ml.json
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientRegistration.tsx
Labels: needs review, tested, P1

#10913 Made file preview dialog responsive
  src/components/Common/AvatarEditModal.tsx
  src/components/Common/FilePreviewDialog.tsx
Labels: needs review, tested

#10916 Fix: Added cancel button in `ValueSetForm`
  src/components/ValueSet/ValueSetForm.tsx
Labels: needs testing, needs review

#10919 style: Enhance button styling in CreateEncounterForm
  src/components/Encounter/CreateEncounterForm.tsx
Labels: reviewed

#10922 Fix: User Dashboard Responsive Issue causing unnecessary horizontal scroll
  public/locale/en.json
  src/pages/UserDashboard.tsx
Labels: tested, P2

#10895 Removed the unwanted padding in the bottom of the patient details page
  src/components/Patient/PatientHome.tsx
Labels: needs testing

#10984 fixed User Card Layout Issue – Improper Text Overflow
  src/components/Users/UserListAndCard.tsx
Labels: tested

#10943 Fix : Notes Overflowing Out Of Screen Issue.
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: tested, reviewed

#10546 Fix Button Overflow and Minor Responsive Issues on Mobile View
  public/locale/en.json
  public/locale/hi.json
  public/locale/ml.json
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
  src/components/Users/UserAvailabilityTab.tsx
  src/components/ui/sidebar/admin-nav.tsx
  src/pages/Patients/VerifyPatient.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
Labels: needs review, tested

#10886 fix: Disable 'Save Valueset' button when there is no changes
  src/components/ValueSet/ValueSetForm.tsx
Labels: tested, reviewed

#10714 Improve responsiveness of User Details page
  src/components/Users/UserBanner.tsx
  src/components/Users/UserViewDetails.tsx
Labels: needs review, tested

#10891 Fix: Auto-fill Geo Details on Create Facility Page
  src/components/Facility/FacilityForm.tsx
Labels: needs review, tested

#10939 fix: Update sidebar navigation logic for admin dashboard
  src/components/ui/sidebar/app-sidebar.tsx
Labels: tested, reviewed

#10553 fix: Adjust containers flexibility and inconsistency
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
Labels: needs review, tested

#10841 Status Filters and Search for valueset list
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/ValueSet/ValueSetList.tsx
  src/hooks/useFilters.tsx
Labels: needs review, tested

#10950 Add Support for Location Association History of Devices
  public/locale/en.json
  src/pages/Facility/settings/devices/DeviceDetail.tsx
  src/pages/Facility/settings/devices/DeviceLocationHistory.tsx
  src/pages/Facility/settings/devices/components/AssociateLocationSheet.tsx
  src/pages/Facility/settings/devices/components/DeviceLocationCard.tsx
  src/pages/Facility/settings/layout.tsx
  src/types/device/device.ts
  src/types/device/deviceApi.ts
Labels: needs testing, needs review

#10997 Facilities public listing: adjust grid
  src/pages/Facility/FacilitiesPage.tsx
Labels: needs testing

#10953 Improved scrolling behaviour in notes while fetching next page
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: needs review, tested

#10712 Questionnaire and valueset list view enhancement
  src/Routers/AppRouter.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/ValueSet/ValueSetList.tsx
Labels: tested

#11073 Minor layout fixes
  src/Routers/AppRouter.tsx
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Questionnaire/QuestionTypes/DateTimeQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Resource/ResourceDetails.tsx
Labels: needs review, tested, P1

#11041 Fix: Brush up on the Facility General/Home page design
  src/components/Facility/FacilityHome.tsx
Labels: needs review, tested

#10981 card ui fix: inconsistent ui in the card
  src/pages/Organization/OrganizationView.tsx
Labels: needs review, tested

#10978 Fix : Button Refreshes Entire Organizations
  public/locale/en.json
  src/components/Patient/LinkDepartmentsSheet.tsx
Labels: needs review, tested

#10940 feat:Add Resend OTP button at the login page
  .example.env
  care.config.ts
  public/locale/en.json
  src/components/Auth/Login.tsx
Labels: needs review, tested

#10681 Refactor Tooltip Implementations to Use TooltipComponent for Consistent and Simplified Management also Add TooltipComponent to FacilityHomepage
  src/components/Common/FilePreviewDialog.tsx
  src/components/Facility/FacilityHome.tsx
  src/components/Files/ArchivedFileDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/ui/tooltip.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: question, needs review, tested

#10773 bugfix:Remove arrow icon from cancel button in Create Questionnaire
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: tested, changes required

#11085 Release to staging
  src/Routers/AppRouter.tsx
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/components/Facility/EncounterCard.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Patient/PatientDetailsTab/EncounterHistory.tsx
  src/components/Patient/PatientDetailsTab/HealthProfileSummary.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/allergy/list.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Patient/symptoms/list.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterMedicinesTab.tsx
  src/pages/Encounters/tabs/EncounterUpdatesTab.tsx
  src/types/questionnaire/batch.ts
  src/types/scheduling/scheduleApi.ts
Labels: merge conflict

#10988 Patient Questionnaire: Org Access
  care.config.ts
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Patient/EncounterQuestionnaire.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientDetailsTab/patientUpdates.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: needs testing, needs review

#11111 Fixes the typographer quote replacement issue
  src/components/ui/markdown.tsx
Labels: needs review, tested

#10821 Fix: Add a new map view to the locations section of a facility settings
  package-lock.json
  package.json
  public/locale/en.json
  src/index.tsx
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/locations/LocationMap.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationInfoCard.tsx
  src/types/location/location.ts
Labels: needs review, tested

#10808 Display year of birth when age is entered in public patient registration page
  public/locale/en.json
  src/components/Patient/PatientRegistration.tsx
  src/pages/Patient/Utils.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs review, tested

#11127 Fix double scroll
  src/Routers/AppRouter.tsx
Labels: question, needs-triage

#10819 Fixed : Newly Added Patient Is Not Instantly Visible in the patient-switcher
  src/Providers/PatientUserProvider.tsx
  src/components/ui/sidebar/patient-switcher.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs testing, needs review

#10684 Added pagination to Appointments List view
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, tested

#10696 Fix : Search Bar Dropdown Visibility
  src/components/Questionnaire/CloneQuestionnaireSheet.tsx
Labels: needs testing, needs review

#10815 Support For BULK beds creation in location
  public/locale/en.json
  src/pages/Facility/settings/locations/LocationForm.tsx
  src/pages/Facility/settings/locations/LocationSheet.tsx
Labels: tested, changes required

#10921 fix: Add cancel button and disable save button
  src/pages/Facility/settings/devices/UpdateDevice.tsx
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: needs testing, needs review

#11144 Fix : Profile Initials Disappear After Deletion
  src/components/Common/Avatar.tsx
Labels: question, needs-triage

#11117 Update organization navigation
  src/pages/Facility/settings/organizations/FacilityOrganizationIndex.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
Labels: needs review, tested

#11011 Adds support for disabling cache entirely for `useFilters` and update places wherever necessary
  src/components/Facility/FacilityUsers.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationView.tsx
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationUsers.tsx
Labels: needs review, tested

#10680 Adds support for drawing 🎨 by integrating excalidraw
  package-lock.json
  package.json
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/Routers/routes/PatientRoutes.tsx
  src/Utils/request/types.ts
  src/components/Common/Drawings/DrawingTab.tsx
  src/components/Common/Drawings/ExcalidrawEditor.tsx
  src/components/Patient/PatientDetailsTab/PatientDrawingsTab.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/lib/utils.ts
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterDrawingsTab.tsx
  src/types/metaAritifact/metaArtifact.ts
  src/types/metaAritifact/metaArtifactApi.ts
  vite.config.mts
Labels: needs review, tested, P2, merge conflict

#10969 Encounter Locations view
  public/locale/en.json
  src/Routers/routes/PatientRoutes.tsx
  src/components/Encounter/EncounterInfoCard.tsx
  src/components/ui/sidebar/facility-nav.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/EncountersOverview.tsx
  src/pages/Facility/locations/LocationContent.tsx
  src/pages/Facility/locations/LocationList.tsx
  src/pages/Facility/locations/LocationNavbar.tsx
Labels: needs testing, needs review

#11216 Layout Fixes for Smaller Devices
  src/Routers/AppRouter.tsx
  src/components/Resource/ResourceForm.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: needs testing, needs review

#11221 Adds support for serching practicioners and refactor practicioner selector to be reusable component
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/BookAppointment.tsx
  src/pages/Appointments/components/PractitionerSelector.tsx
Labels: needs review

#11122 Improve UX for age & dob radio-group
  src/pages/PublicAppointments/PatientRegistration.tsx
Labels: needs testing, needs review

#11205 fixed department description overflow properly
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
Labels: needs review, tested

#10838 Added Validations to Valueset form Name and Slug fields along with translations for error messages.
  public/locale/en.json
  src/components/ValueSet/ValueSetForm.tsx
Labels: needs review, tested

#10968 Fix : Questionnaire Navigation main section not working
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: needs review, tested

#11246 Fix: Nav Redirection from discharge summary file upload page is not working
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/Encounter/EncounterActions.tsx
  src/components/Files/FilesTab.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
Labels: needs review, tested, P1

#11230 Fix: Username validation in user creation form
  src/components/Users/UserForm.tsx
Labels: needs review, tested

#11066 Redesigned the dashboard for the user organisation page
  cypress/tsconfig.json
  package-lock.json
  public/locale/en.json
  src/pages/UserDashboard.tsx
Labels: question, needs testing, needs review, needs-triage

#11310 Integrate pigeon-maps and add location selection feature in FacilityForm
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Facility/FacilityForm.tsx
  src/components/Facility/LocationPicker.tsx
Labels: needs review, tested, P1

#11233 Improve autocomplete experience ✨ on iOS mobiles 📱
  package-lock.json
  package.json
  src/components/Questionnaire/ValueSetSelect.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/command.tsx
  src/components/ui/drawer.tsx
Labels: needs review, tested, P1

#11312 Fix: Crash on Appointment Selection in questionnaire Preview
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/AppointmentQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
Labels: needs review

#11228 fix: Add mobile navigation handling for sidebar (Auto hide)
  src/components/ui/sidebar/app-sidebar.tsx
  src/components/ui/sidebar/facility-switcher.tsx
  src/components/ui/sidebar/nav-main.tsx
  src/components/ui/sidebar/nav-user.tsx
  src/components/ui/sidebar/organization-switcher.tsx
Labels: tested, reviewed

#11328 Hide Tabs when resources are not available in UserDashboard
  public/locale/en.json
  src/pages/UserDashboard.tsx
Labels: needs testing, needs review

#11337 Add location search functionality to LocationPicker component
  public/locale/en.json
  src/Utils/request/query.ts
  src/Utils/request/types.ts
  src/components/Common/GeoLocationPicker.tsx
  src/components/Facility/FacilityForm.tsx
  src/components/Facility/LocationPicker.tsx
  src/components/ui/autocomplete.tsx
Labels: tested, P1

#11231 Disabled exception creation for non schedulable users
  public/locale/en.json
  src/components/Users/UserAvailabilityTab.tsx
  src/pages/Scheduling/ScheduleExceptions.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/useIsUserSchedulableResource.ts
Labels: tested

#11348 Updated the FE wordings for availability in exceptions
  public/locale/en.json
Labels: question, needs-triage

#11360 Adds support for search in valueset select in questionnaire editor
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs testing, needs review, P1

#11235 Truncated questionnaire name
  src/components/Questionnaire/QuestionnaireList.tsx
Labels: needs testing, needs review

#11369 Remove system column from table
  src/components/ValueSet/ValueSetList.tsx
Labels: question, needs testing, needs-triage

#11397 User Create | Password setup link by email
  public/locale/en.json
  src/components/Users/UserForm.tsx
Labels: needs testing, needs review

#11391 Refactor authentication components to use InputOTP
  src/components/Auth/Authenticate.tsx
  src/components/Auth/Login.tsx
  src/components/Users/TOTPSetupDialog.tsx
Labels: needs testing, needs review

#11374 Improved Filter Labels for Clarity ( for patient types and status in encounters )
  public/locale/en.json
  src/pages/Encounters/EncounterList.tsx
Labels: needs testing

#11314 Fixed content overflow in location page for smaller devices
  src/pages/Facility/settings/layout.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
Labels: needs testing, reviewed

#11394 Add Support for Valueset Options in Choice Question & Quantity
  src/components/Facility/ConsultationDetails/QuestionnaireResponseView.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuantityQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
Labels: tested, P1

#11071 Added print feature for medication administrations
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/Utils/utils.ts
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationAdministration/PrintMedicationAdministration.tsx
Labels: needs review, tested, P1

#11227 Add support for Prefix and Suffix
  public/locale/en.json
  src/CAREUI/display/RecordMeta.tsx
  src/Utils/utils.ts
  src/common/constants.tsx
  src/components/Common/UserSelector.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
  src/components/Patient/MedicationStatementList.tsx
  src/components/Patient/PatientDetailsTab/Appointments.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/Users/UserAvatar.tsx
  src/components/Users/UserBanner.tsx
  src/components/Users/UserForm.tsx
  src/components/Users/UserListAndCard.tsx
  src/components/Users/UserViewDetails.tsx
  src/components/Users/models.tsx
  src/components/ui/autocomplete.tsx
  src/components/ui/sidebar/nav-user.tsx
  src/pages/Appointments/AppointmentsPage.tsx
  src/pages/Appointments/components/PractitionerSelector.tsx
  src/pages/Encounters/PrintPrescription.tsx
  src/pages/Facility/components/UserCard.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Facility/settings/organizations/components/EditFacilityUserRoleSheet.tsx
  src/pages/Facility/settings/organizations/components/LinkFacilityUserSheet.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/components/EditUserRoleSheet.tsx
  src/pages/Organization/components/LinkUserSheet.tsx
  src/pages/PublicAppointments/Schedule.tsx
  src/pages/UserDashboard.tsx
  src/types/user/user.ts
Labels: question, needs testing, reviewed, needs-triage

#10900 Replaced headlessui popover with shadcn popover in UpdatableApp; Uninstall headlessui
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Common/UpdatableApp.tsx
  src/hooks/useAppUpdates.tsx
Labels: needs review, tested

#10899 Fix : Auto Comment Box Expansion
  src/components/ui/auto-expanding-textarea.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: tested, reviewed

#11251 Encounter Quick Access - New Questionnaire
  cypress/pageObject/Patients/PatientEncounter.ts
  public/locale/en.json
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Questionnaire/QuestionnaireSearch.tsx
Labels: tested, P1, reviewed

#11426 fix: style error message when javascript is blocked
  index.html
Labels: needs review, tested

#11136 Minor UI enhancements in Questionniares and Valuesets list pages
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireList.tsx
  src/components/ValueSet/ValueSetList.tsx
Labels: tested

#11116 Adds support for device plugins
  public/locale/en.json
  src/PluginEngine.tsx
  src/components/Location/LocationSearch.tsx
  src/components/Location/LocationSheet.tsx
  src/hooks/useCareApps.tsx
  src/pages/Encounters/AssociateDeviceSheet.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterDevicesTab.tsx
  src/pages/Encounters/tabs/EncounterOverviewTab.tsx
  src/pages/Facility/settings/devices/DeviceEncounterHistory.tsx
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/devices/DevicesList.tsx
  src/pages/Facility/settings/devices/components/AssociateLocationSheet.tsx
  src/pages/Facility/settings/devices/components/DeviceCard.tsx
  src/pages/Facility/settings/devices/components/DeviceEncounterCard.tsx
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
  src/pages/Facility/settings/devices/components/DeviceSelector.tsx
  src/pages/Facility/settings/devices/components/EncounterOverviewDevices.tsx
  src/pages/Facility/settings/devices/hooks/usePluginDevices.ts
  src/pages/Facility/settings/layout.tsx
  src/pluginTypes.ts
  src/types/device/device.ts
  src/types/device/deviceApi.ts
Labels: needs review, tested, P1

#10736 Fix : Patient search bar auto focus on visiting
  src/components/Common/SearchByMultipleFields.tsx
  src/components/Patient/PatientIndex.tsx
Labels: tested

#11088 Redesigned public page as per the figma design
  public/images/dots.svg
  public/images/patient_background.png
  public/images/staff_background.png
  public/locale/en.json
  src/CAREUI/icons/DuoTonePaths.json
  src/pages/Landing/LandingPage.tsx
Labels: tested

#11422 hide the view button when facility id is not present
  src/components/Patient/PatientDetailsTab/Appointments.tsx
Labels: changes required

#11269 Added print feature for questionnaire responses
  public/locale/en.json
  src/Routers/routes/ConsultationRoutes.tsx
  src/components/Facility/ConsultationDetails/PrintQuestionnaireQuestionnaireResponses.tsx
  src/components/Facility/ConsultationDetails/PrintQuestionnaireResponse.tsx
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs review, tested, P1

#11018 Enhance Expired On Label Styling on Encounter and Patient details Page for Better Visibility
  public/locale/en.json
  src/components/Encounter/EncounterInfoCard.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#11124 Add Breadcrumbs for Organization View in Organization Layout
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationLayout.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: tested, reviewed

#11240 Appointments Count and Navigation in Availability Page Calendar
  public/locale/en.json
  src/components/Users/UserAvailabilityTab.tsx
Labels: needs review, tested

#11372 Fix : Search Bar Box Visibility
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, tested

#11305 Bug UI breakout in user list view #11279
  src/components/Facility/FacilityUsers.tsx
Labels: needs review, tested

#11267 Fix: Display Property not updating after code verification in Valueset Form
  src/components/ValueSet/ValueSetForm.tsx
Labels: tested, reviewed

#11302 Remove duplicate addition for symptoms and diagnosis
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
Labels: tested, reviewed

#11238 fix:Scrolling issue in Facility Features Dropdown in Mobile View
  src/components/ui/multi-select.tsx
Labels: needs review, tested

#11142 Fix: Enhance LocationMap with interactive features and tooltips
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/locations/LocationMap.tsx
Labels: tested, reviewed

#11037 Retain sidebar collapse state on reload
  src/Routers/AppRouter.tsx
  src/Routers/PatientRouter.tsx
  src/hooks/useSidebarState.ts
Labels: tested

#11434 Update React Day Picker; Build Relative Picker
  package-lock.json
  package.json
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/DateQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/ui/calendar.tsx
  src/components/ui/relative-date-picker.tsx
Labels: needs review, tested

#11278 Added consent creation flows
  public/images/placeholder.svg
  public/locale/en.json
  src/components/Common/PDFViewer.tsx
  src/components/Consent/ConsentSheet.tsx
  src/components/Consent/LinkConsentDialog.tsx
  src/components/Files/FileUploadDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/models.tsx
  src/components/Users/models.tsx
  src/hooks/useFileUpload.tsx
  src/types/consent/consent.ts
  src/types/consent/consentApi.ts
Labels: needs review, tested, P1

#11141 Treatment and Discharge Summary for Completed Encounters
  src/components/Encounter/EncounterActions.tsx
  src/components/Patient/PatientInfoCard.tsx
Labels: needs review, tested

#11466 adds search and care_type filter for devices
  public/locale/en.json
  src/pages/Facility/settings/devices/DevicesList.tsx
Labels: P1

#11478 Fetch consent only when sheet is open
  src/components/Consent/ConsentSheet.tsx
Labels: needs testing, needs review

#11470 Add chronic condition category and update UI for diagnosis selection
  public/locale/en.json
  src/components/Patient/diagnosis/DiagnosisTable.tsx
  src/components/Patient/diagnosis/list.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/types/emr/diagnosis/diagnosis.ts
Labels: needs testing, needs review

#11425 Add Descriptions for Question Types in QuestionnaireEditor
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/types/questionnaire/question.ts
Labels: tested

#11468 Update ml translations
  public/locale/en.json
  public/locale/ml.json
Labels: needs review

#11378 feat(pagination): added pagination to query parameters
  src/pages/Organization/OrganizationView.tsx
Labels: tested

#11435 Removed close button and fixed clicking outside issues in Duplicate Warning Message
  src/components/Facility/DuplicatePatientDialog.tsx
Labels: tested

#10571 Add Deletion Functionality to Locations
  public/locale/en.json
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
  src/pages/Facility/settings/locations/components/LocationCard.tsx
  src/pages/Facility/settings/locations/components/LocationListView.tsx
  src/types/location/locationApi.ts
Labels: changes required

#10872 Add support for adding and removing managing organization for a device
  public/locale/en.json
  src/components/Facility/ConsultationDetails/QuickAccess.tsx
  src/components/Patient/LinkDepartmentsSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/devices/DevicesList.tsx
  src/types/device/device.ts
  src/types/device/deviceApi.ts
Labels: needs testing, reviewed

#11421 Add autofill option to edit schedule template form
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
  src/pages/Scheduling/components/EditScheduleTemplateSheet.tsx
  src/pages/Scheduling/utils.ts
Labels: tested

#10883 Fixes: Removing remove Button for the Selected Form Page
  src/components/Questionnaire/QuestionnaireForm.tsx
Labels: changes required

#11429 Add File Upload Structured Question
  public/locale/en.json
  src/Utils/utils.ts
  src/common/constants.tsx
  src/components/Files/FilesTab.tsx
  src/components/Questionnaire/QuestionTypes/FileQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/data/StructuredFormData.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/types/files/files.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
Labels: needs testing, reviewed

#11522 Translation/manage organization
  public/locale/ml.json
  src/components/Questionnaire/ManageQuestionnaireOrganizationsSheet.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/pages/Facility/settings/locations/LocationView.tsx
Labels: question, needs-triage

#11477 Added regex constraints to add device page
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: changes required

#11393 Fix non-responsiveness of org patients and org facilities
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: changes required

#11295 Mobile layout fixes for Appointments List view
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs testing, needs review

#11525 Enhancements to Appointment Slot Picker
  public/locale/en.json
  public/locale/ml.json
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/Appointments/utils.ts
  src/pages/PublicAppointments/Schedule.tsx
Labels: needs testing, needs review

#10740 Cypress: Patient Prescription Management
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/fixtures/users.json
  cypress/pageObject/Patients/PatientEncounter.ts
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Medicine/MedicationsTable.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/NotesInput.tsx
  src/pages/Encounters/EncounterShow.tsx
Labels: question, needs testing, needs-triage

#11058 feat: Improve issue automation using GitHub Apps instead of PAT
  .github/workflows/issue-automation.yml
Labels: needs review, stale

#11541 Empty sections in Treatment Summary are hidden
  src/components/Patient/TreatmentSummary.tsx
Labels: tested

#11539 Replace Date Inputs with Relative & Absolute Date Picker
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
Labels: tested

#11550 Fix redirect after deleting user
  src/components/Users/UserSummary.tsx
Labels: needs testing, needs review

#11553 Compute availability from `slots_for_day` API in availability heatmap calendar if the date is today
  src/pages/Appointments/components/AppointmentSlotPicker.tsx
  src/pages/Appointments/utils.ts
Labels: needs review, tested

#10987 Fix: Minor UI Enhancement in questionnaire
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/EncounterQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
Labels: needs testing, reviewed

#11556 FIx : Validation Messages Remain in Previous Language
  src/components/Auth/Login.tsx
Labels: needs testing, needs review

#11022 Fixes Issue #11008 : Changes to close the issue of Alignment of User Login Status
  public/locale/en.json
  src/components/Users/UserListAndCard.tsx
Labels: tested

#11528 Added a new structured question for time of death and changed `death_datetime` to `deceased_datetime`
  src/Utils/utils.ts
  src/components/Encounter/EncounterInfoCard.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/DeathQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/data/StructuredFormData.tsx
  src/components/Questionnaire/structured/handlers.ts
  src/components/Questionnaire/structured/types.ts
  src/components/ui/date-time-picker.tsx
  src/types/emr/newPatient.ts
  src/types/emr/patient.ts
  src/types/questionnaire/form.ts
  src/types/questionnaire/question.ts
  src/types/questionnaire/questionnaireResponse.ts
Labels: tested, P1, reviewed

#10830 Fix : Image Dragging support for image previews
  src/components/Common/FilePreviewDialog.tsx
Labels: tested

#10934 feature: Added services history section in device details page (10828)
  public/locale/en.json
  src/pages/Facility/settings/devices/DeviceShow.tsx
  src/pages/Facility/settings/devices/components/AddServiceHistorySheet.tsx
  src/pages/Facility/settings/devices/components/DeviceServiceHistory.tsx
  src/pages/Facility/settings/devices/components/EditServiceHistorySheet.tsx
  src/pages/Facility/settings/devices/components/ServiceHistoryForm.tsx
  src/types/device/device.ts
  src/types/device/deviceApi.ts
Labels: tested

#11296 feat : Added create tag option in dropdown
  public/locale/en.json
  src/components/Questionnaire/CloneQuestionnaireSheet.tsx
  src/components/Questionnaire/CreateQuestionnaireTagSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireProperties.tsx
  src/types/questionnaire/questionnaire.ts
Labels: needs review, tested

#11585 show phone number in facility users sheet
  public/locale/en.json
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/pages/Facility/settings/organizations/components/LinkFacilityUserSheet.tsx
Labels: needs review, P1

#11588 Remove unnecessary sticky positioning from ResourceForm footer for improved layout
  src/components/Resource/ResourceForm.tsx
Labels: needs review, tested

#10774 Cypress tests for File Uploads
  cypress/e2e/patient_spec/patient_files.cy.ts
  cypress/fixtures/sample_file.xlsx
  cypress/fixtures/sample_img1.png
  cypress/fixtures/sample_img2.png
  cypress/fixtures/users.json
  cypress/pageObject/Patients/PatientFiles.ts
  cypress/pageObject/Users/UserProfile.ts
  src/components/Common/FilePreviewDialog.tsx
  src/components/Files/ArchivedFileDialog.tsx
  src/components/Files/AudioCaptureDialog.tsx
  src/components/Files/CameraCaptureDialog.tsx
  src/components/Files/FileUploadDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/ui/sidebar/nav-user.tsx
  src/hooks/useFileManager.tsx
  src/hooks/useFileUpload.tsx
Labels: tested, reviewed

#11042 Multiple Minor UI Fixes
  public/locale/en.json
  src/components/Common/PageHeadTitle.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Resource/ResourceList.tsx
  src/components/Users/UserBanner.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Facility/overview.tsx
  src/pages/Facility/settings/locations/LocationList.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationIndex.tsx
  src/pages/UserDashboard.tsx
Labels: needs review, tested

#11428 Improve some UI/UX of questionnaire for small devices
  public/locale/en.json
  src/components/Questionnaire/QuestionLabel.tsx
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/ChoiceQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/QuestionGroup.tsx
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/Questionnaire/QuestionnaireForm.tsx
  src/components/Questionnaire/ValueSetSelect.tsx
Labels: tested, reviewed

#11597 Fixed dashboard UI
  src/pages/UserDashboard.tsx
Labels: P1

#11154 Test: Add cypress tests for encounter notes
  cypress/e2e/patient_spec/patient_notes.cy.ts
  cypress/fixtures/users.json
  cypress/pageObject/Patients/PatientEncounter.ts
  cypress/pageObject/Patients/PatientFiles.ts
  cypress/pageObject/Patients/PatientNotes.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  src/components/Encounter/EncounterInfoCard.tsx
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
  src/pages/UserDashboard.tsx
Labels: tested, merge conflict, reviewed

#11532 fixed username and id not visible on mobile devices in sidebar
  src/components/ui/sidebar/nav-user.tsx
Labels: tested

#11175 UI changes for Questionnaire cards
  src/components/Questionnaire/QuestionnaireList.tsx
Labels: needs review, tested

#11313 fix(medication): add indication for inactive medication requests
  src/components/Medicine/MedicationAdministration/AdministrationTab.tsx
  src/components/Medicine/MedicationsTable.tsx
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
Labels: tested

#11604 Ensure page scrolls to the top when mounted;
  src/components/Common/Page.tsx
  src/components/Common/PageTitle.tsx
  src/components/Users/UserHome.tsx
Labels: needs review, tested

#11557 Format phone number being displayed across the platform
  cypress/e2e/patient_spec/patient_creation.cy.ts
  src/components/Facility/ConsultationDetails/PrintQuestionnaireQuestionnaireResponses.tsx
  src/components/Facility/DuplicatePatientDialog.tsx
  src/components/Medicine/MedicationAdministration/PrintMedicationAdministration.tsx
  src/components/Patient/PatientDetailsTab/Demography.tsx
  src/components/Patient/PatientDetailsTab/PatientUsers.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/TreatmentSummary.tsx
  src/components/Users/UserViewDetails.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Encounters/PrintPrescription.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
Labels: tested, reviewed

#11418 Added Frontend Validations in Questionnaire Editor using React hook form and zod
  public/locale/en.json
  src/components/Questionnaire/QuestionnaireEditor.tsx
  src/components/Questionnaire/QuestionnaireProperties.tsx
  src/components/ValueSet/ValueSetForm.tsx
Labels: needs review, tested

#11549 Perms: add loading as dependent param for redirect
  src/components/Patient/TreatmentSummary.tsx
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, tested

#11603 Combined Date Picker Component; Relative Date in Medication Statement
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DateQuestion.tsx
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
  src/components/ui/combined-date-picker.tsx
Labels: needs review, tested

#11627 Fix: Show feedback for 'Resend OTP' button
  src/pages/PublicAppointments/auth/PatientLogin.tsx
Labels: tested
