Repository ohcnetwork/care_fe, pull requests merged in 2025-05, with the labels that each got.

#12161 FIXED: File/Photo Deletion Not Functioning Correctly on Questionnaire Page
  src/components/Questionnaire/QuestionTypes/FileQuestion.tsx
Labels: Tested ✅, reviewed

#12192 Encounter patient perms: only fetch patient for org level
  src/pages/Encounters/EncounterShow.tsx
Labels: needs testing, needs review

#12105 Use EntitySelectionSheet in Medication Statement
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/Questionnaire/QuestionTypes/MedicationStatementQuestion.tsx
Labels: needs review, Tested ✅

#12187 Enhance sidebar navigation button styling and fixed the tooltip issues
  src/components/ui/sidebar/nav-main.tsx
Labels: needs review, Tested ✅

#12165 Add Exception popup should be disabled for past dates #12127
  src/components/Users/UserAvailabilityTab.tsx
Labels: needs review, Tested ✅

#12195 Enhance AuthUserProvider to utilize jotai for user state management for plugins
  package-lock.json
  package.json
  src/Providers/AuthUserProvider.tsx
  src/atoms/user-atom.ts
Labels: needs review

#12201 Refactor LocationSettings to update query key and simplify location rendering logic
  src/pages/Facility/settings/locations/LocationSettings.tsx
Labels: reviewed

#12200 Remove unnecessary scrollbar in avatar component
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#11868 Device Info Page: expand option for notes and disable update/save button until valid input
  public/locale/en.json
  src/components/ui/expandable-text.tsx
  src/pages/Facility/settings/devices/components/DeviceServiceHistory.tsx
  src/pages/Facility/settings/devices/components/ServiceHistoryForm.tsx
Labels: needs review, Tested ✅

#12033 Move consents to tab
  public/locale/en.json
  src/Routers/routes/PatientRoutes.tsx
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Consent/ConsentSheet.tsx
  src/components/Consent/LinkConsentDialog.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/pages/Encounters/ConsentDetail.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterConsentsTab.tsx
  src/types/consent/consent.ts
  src/types/consent/consentApi.ts
Labels: needs review, Tested ✅

#12190 Session Expired Page #12123
  public/locale/en.json
  public/locale/ml.json
  src/components/ErrorPages/SessionExpired.tsx
  src/style/index.css
Labels: Tested ✅

#12184 Used two CombinedDatePicker to split start date and end date instead of DateRangePicker
  public/locale/en.json
  src/components/ui/combined-date-picker.tsx
  src/components/ui/date-range-picker.tsx
  src/components/ui/relative-date-picker.tsx
  src/pages/Appointments/AppointmentsPage.tsx
Labels: needs review, Tested ✅, P1

#12246 fix resource not reschedulable error
  src/components/Users/UserAvailabilityTab.tsx
Labels: question, needs-triage

#12133 Added Description for Single Input questions to display while accessing encounter questionnaires
  src/components/Questionnaire/QuestionTypes/QuestionInput.tsx
Labels: needs review, Tested ✅

#12025 fixed address display responsiveness in patient detail page
  src/components/Patient/PatientDetailsTab/Demography.tsx
Labels: needs testing, needs review

#11883 On delete navigation fixed in facility page of organizations.
  src/components/Facility/FacilityHome.tsx
Labels: Tested ✅

#11978 Added support for specifying Question Unit and added validations to coding editor and also added Move up/down buttons to custom choices
  public/locale/en.json
  src/Utils/request/utils.ts
  src/components/Questionnaire/CodingEditor.tsx
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: Tested ✅

#12163 Use EnitySelectionSheet in Symptom
  public/locale/en.json
  src/components/Questionnaire/QuestionRenderer.tsx
  src/components/Questionnaire/QuestionTypes/SymptomQuestion.tsx
Labels: needs review, Tested ✅

#12247 Enhancement: Show Bed Start and End time in the location sidebar of the encounter
  src/components/Location/LocationHistory.tsx
  src/components/Location/LocationTree.tsx
Labels: needs testing

#12244 Replace Deprecated DateTimePicker with Native datetime-local Input in Medication Request Question
  src/components/Questionnaire/QuestionTypes/MedicationRequestQuestion.tsx
  src/components/ui/date-time-picker.tsx
Labels: needs testing, needs review

#12250 Fixed the overflow in appointments section
  src/pages/Appointments/AppointmentsPage.tsx
Labels: question, Changes Required, needs-triage

#12208 Refactor: Replaced hard-coded `India` with careConfig's `defaultCountry`
  care.config.ts
  src/components/Patient/PatientRegistration.tsx
  src/components/ui/phone-input.tsx
  src/types/emr/patient.ts
Labels: question, needs-triage

#12256 Version 1 of QR generation based on the specimen ID
  public/locale/en.json
  src/components/PrintableQRCode.tsx
  src/pages/Facility/services/serviceRequests/ServiceRequestShow.tsx
  src/pages/Facility/services/serviceRequests/components/SpecimenDefinition.tsx
  src/pages/Facility/services/serviceRequests/components/SpecimenForm.tsx
  src/types/emr/specimen/specimen.ts
Labels: needs review

#12265 Added a destructive badge for Consent Validity expiry
  public/locale/en.json
  src/pages/Encounters/tabs/EncounterConsentsTab.tsx
Labels: Changes Required

#12271 Fix : Missing Cursor Pointer
  src/components/ui/relative-date-picker.tsx
Labels: needs testing, reviewed

#12274 Resolved Encounter Questionnaire Side bar sticky bug
  src/components/Patient/EncounterQuestionnaire.tsx
Labels: needs testing, reviewed

#12075 Fixed alignment issue in prescription preview
  src/CAREUI/misc/PrintPreview.tsx
Labels: needs testing, needs review

#12259 fix: show dropdown options instead of selected text on prefix edit
  src/components/Users/UserForm.tsx
  src/components/ui/autocomplete.tsx
Labels: Tested ✅, reviewed

#12228 Setup Cypress local backend for parallel test
  .github/workflows/cypress.yaml
  cypress/docs/patterns.md
  cypress/e2e/facility_spec/facility_creation.cy.ts
  cypress/e2e/facility_spec/facility_devices.cy.ts
  cypress/e2e/patient_spec/patient_creation.cy.ts
  cypress/e2e/patient_spec/patient_details.cy.ts
  cypress/e2e/patient_spec/patient_encounter.cy.ts
  cypress/e2e/patient_spec/patient_files.cy.ts
  cypress/e2e/patient_spec/patient_location.cy.ts
  cypress/e2e/patient_spec/patient_notes.cy.ts
  cypress/e2e/patient_spec/patient_prescription.cy.ts
  cypress/e2e/resources_spec/resources_creation.cy.ts
  cypress/e2e/users_spec/user_avatar.cy.ts
  cypress/e2e/users_spec/user_creation.cy.ts
  cypress/fixtures/users.json
  cypress/pageObject/Patients/PatientCreation.ts
  cypress/pageObject/Patients/PatientVerify.ts
  cypress/pageObject/facility/FacilityCreation.ts
  cypress/pageObject/resources/ResourcesCreation.ts
  cypress/support/commands.ts
  cypress/support/index.ts
Labels: needs testing, needs review

#12290 Support for capturing time for consent's given date and validity period
  public/locale/en.json
  src/components/Consent/ConsentFormSheet.tsx
  src/pages/Encounters/ConsentDetail.tsx
  src/pages/Encounters/tabs/EncounterConsentsTab.tsx
  src/types/consent/consent.ts
Labels: Tested ✅, P1

#12291 fix: Add missing icons for facility & calendar in public page
  src/components/ui/sidebar/org-nav.tsx
  src/components/ui/sidebar/patient-nav.tsx
  src/pages/Organization/components/OrganizationLayout.tsx
Labels: needs testing, needs review, P2

#12181 Use entityselectionsheet and some clean-up in DiagnosisQuestion
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/DiagnosisQuestion.tsx
Labels: needs review, Tested ✅

#12304 fix geo validation error
  src/components/Patient/PatientRegistration.tsx
Labels: Tested ✅, reviewed

#12295 Added support for plugin navigation buttons in the user nav
  src/components/ui/sidebar/nav-user.tsx
  src/pluginTypes.ts
Labels: Tested ✅, reviewed

#12262 🐞 Fix: Button remains disabled until manual refresh (#12243)
  src/components/Common/UpdatableApp.tsx
  src/components/Users/UserSoftwareUpdate.tsx
  src/hooks/useAppUpdates.tsx
Labels: Tested ✅, reviewed

#12159 Enhancement: Add newPatient type
  src/Providers/PatientUserProvider.tsx
  src/Utils/request/api.tsx
  src/Utils/utils.ts
  src/components/Common/Drawings/DrawingTab.tsx
  src/components/Facility/ConsultationDetails/PrintQuestionnaireQuestionnaireResponses.tsx
  src/components/Facility/ConsultationDetails/PrintQuestionnaireResponse.tsx
  src/components/Facility/DuplicatePatientDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/Medicine/MedicationRequestTable/index.tsx
  src/components/Patient/PatientDetailsTab/PatientDrawingsTab.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/Patient/PatientHome.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Patient/PatientInfoCard.tsx
  src/components/Patient/PatientRegistration.tsx
  src/components/Resource/ResourceDetails.tsx
  src/components/ui/sidebar/patient-nav.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/PublicAppointments/PatientRegistration.tsx
  src/pages/PublicAppointments/PatientSelect.tsx
  src/pluginTypes.ts
  src/types/emr/encounter.ts
  src/types/emr/newPatient.ts
  src/types/emr/patient.ts
  src/types/organization/organizationApi.ts
  src/types/resourceRequest/resourceRequest.ts
  src/types/scheduling/schedule.ts
Labels: Tested ✅, reviewed

#12254 Keep the view port at the top of the page on loading
  src/App.tsx
Labels: Tested ✅, reviewed

#12143 Enhance file upload functionality by managing dropdown state and closing it after file capture actions
  src/components/Questionnaire/QuestionTypes/FileQuestion.tsx
Labels: needs review, Tested ✅

#12170 FIXED: Disable Reschedule Button When Appointment Status Is 'In Consultation
  src/pages/Appointments/AppointmentDetail.tsx
  src/pages/Patient/components/AppointmentDialog.tsx
  src/pages/PublicAppointments/Schedule.tsx
Labels: Tested ✅, reviewed

#12307 Fix : Avatar Modal Shows Camera View Instead of Avatar Edit View
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#12298 Remove Accordion for Questionnaire Response Print Preview and Add Border around
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: Tested ✅, reviewed

#12251 Fix alignment issues in the file preview
  src/components/Common/FilePreviewDialog.tsx
Labels: Tested ✅

#12314 fix: Update HistoricalRecordSelector component to restrict sheet opening to only when button clicks
  src/components/HistoricalRecordSelector/index.tsx
Labels: Tested ✅, reviewed

#12324 Fixes contact point value not being reset when switching in/out of phone system in Device form
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: Tested ✅, reviewed

#12320 FIXED: Input Fields Overflow on Add Camera Device Page
  src/pages/Facility/settings/devices/components/DeviceForm.tsx
Labels: needs review, Tested ✅

#12334 add clinical and non clinical ngo facility types
  src/common/constants.tsx
  src/components/Facility/FacilityForm.tsx
Labels: needs review

#12268 Disallow future `deceased_datetime` and fixed tz not being sent
  src/components/Patient/PatientRegistration.tsx
  src/components/Questionnaire/QuestionTypes/DeathQuestion.tsx
Labels: needs testing, P1

#12356 fix: Added password view option in Two factor Authentication
  src/components/Common/PasswordDialog.tsx
Labels: reviewed

#12358 Fixed styling for update password in User Profile
  src/components/Users/UserResetPassword.tsx
Labels: needs testing, Tested ✅, reviewed

#12342 fixed image upload validation error in Edit Avatar
  src/Utils/request/uploadFile.ts
Labels: Tested ✅, reviewed

#12339 Resource Request: Assigned to users made optional and within assigned facility
  src/components/Resource/ResourceForm.tsx
Labels: Tested ✅, P1, reviewed

#11644 Refactor SearchInput and Used it in CodeBase (affected pages in are in Description) & Improve ResourceList Filtering UI
  cypress/pageObject/Patients/PatientCreation.ts
  cypress/pageObject/Patients/PatientEncounter.ts
  cypress/pageObject/resources/ResourcesCreation.ts
  public/locale/en.json
  public/locale/ml.json
  src/components/Common/SearchInput.tsx
  src/components/Facility/FacilityUsers.tsx
  src/components/Patient/PatientIndex.tsx
  src/components/Resource/ResourceList.tsx
  src/pages/Encounters/EncounterList.tsx
  src/pages/Facility/FacilitiesPage.tsx
  src/pages/Facility/settings/organizations/FacilityOrganizationUsers.tsx
  src/pages/Organization/OrganizationFacilities.tsx
  src/pages/Organization/OrganizationIndex.tsx
  src/pages/Organization/OrganizationPatients.tsx
  src/pages/Organization/OrganizationUsers.tsx
  src/pages/Organization/OrganizationView.tsx
Labels: Tested ✅, reviewed

#12322 Fix : Date validation error persists after entering valid dates
  src/components/Consent/ConsentFormSheet.tsx
Labels: Tested ✅, reviewed

#12220 Relocation of drawingTab into fileSection
  cypress.config.ts
  cypress/e2e/patient_spec/patient_files.cy.ts
  cypress/pageObject/Patients/PatientFiles.ts
  package.json
  public/locale/en.json
  src/Routers/routes/PatientRoutes.tsx
  src/components/Common/Drawings/ExcalidrawEditor.tsx
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/DrawingSubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Files/FileUploadDialog.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientDetailsTab/PatientDrawingsTab.tsx
  src/components/Patient/PatientDetailsTab/index.tsx
  src/components/ui/badge.tsx
  src/pages/Encounters/EncounterShow.tsx
  src/pages/Encounters/tabs/EncounterDrawingsTab.tsx
Labels: needs review, Tested ✅

#12117 Report Builder
  public/locale/en.json
  src/Utils/request/api.tsx
  src/common/Permissions.tsx
  src/components/Common/FilePreviewDialog.tsx
  src/components/Files/DischargeSummarySubTab.tsx
  src/components/Files/FileSubTab.tsx
  src/components/Files/FilesTab.tsx
  src/components/Patient/PatientDetailsTab/PatientFiles.tsx
  src/components/ui/sidebar/facility-nav.tsx
  src/pages/Encounters/ReportBuilder/HeaderBuilder.tsx
  src/pages/Encounters/ReportBuilder/LayoutBuilder.tsx
  src/pages/Encounters/ReportBuilder/ReportBuilder.tsx
  src/pages/Encounters/ReportBuilder/ReportBuilderPreview.tsx
  src/pages/Encounters/ReportBuilder/ReportBuilderSheet.tsx
  src/pages/Encounters/ReportBuilder/ReportCard.tsx
  src/pages/Encounters/ReportBuilder/SectionBuilder.tsx
  src/pages/Encounters/ReportBuilder/index.tsx
  src/pages/Encounters/ReportBuilder/schema.ts
  src/pages/Encounters/tabs/EncounterFilesTab.tsx
  src/pages/Facility/settings/layout.tsx
  src/types/reportTemplate/reportTemplate.ts
  src/types/reportTemplate/reportTemplateApi.ts
Labels: Tested ✅, reviewed

#12376 Fix explicit type casting and add proper types
  public/locale/en.json
  src/pages/Facility/services/serviceRequests/ServiceRequestShow.tsx
  src/pages/Facility/services/serviceRequests/components/SpecimenForm.tsx
  src/pages/Facility/settings/activityDefinition/ActivityDefinitionForm.tsx
  src/pages/Facility/settings/specimen-definitions/CreateSpecimenDefinition.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionDetail.tsx
  src/pages/Facility/settings/specimen-definitions/SpecimenDefinitionForm.tsx
  src/pages/Facility/settings/specimen-definitions/UpdateSpecimenDefinition.tsx
  src/types/emr/specimenDefinition/specimenDefinition.ts
  src/types/emr/specimenDefinition/specimenDefinitionApi.ts
Labels: Changes Required

#11717 fix: cancel plan button to delete the locations of the Encounter section.
  public/locale/en.json
  src/components/Location/LocationActionButtons.tsx
  src/components/Location/LocationSheet.tsx
Labels: Tested ✅, reviewed

#12067 Added Organiztion selector to care team sheet
  public/locale/en.json
  src/components/CareTeam/CareTeamSheet.tsx
  src/components/Common/UserSelector.tsx
Labels: needs review, Tested ✅

#12235 Fix: improve facility location handling in create/edit form
  src/components/Facility/FacilityHome.tsx
Labels: Tested ✅, reviewed

#12390 Replace tooltip with a responsive popover
  src/components/Common/Charts/ObservationChart.tsx
Labels: needs testing, needs review

#12380 fixed notes mobile responsive issues and updated key bindings
  src/pages/Encounters/tabs/EncounterNotesTab.tsx
Labels: needs testing

#12392 Fixed avatar image size issue while capturing in mobile
  src/components/Common/AvatarEditModal.tsx
  src/components/Files/CameraCaptureDialog.tsx
Labels: needs review, Tested ✅

#12329 Prevent Duplicate Organization Selection
  src/pages/Facility/settings/organizations/components/FacilityOrganizationSelector.tsx
Labels: needs review, Tested ✅

#12384 fix text overflow
  src/components/Files/ArchivedFileDialog.tsx
Labels: needs review, Tested ✅

#12366 Fix: Responsiveness issue in the Update button dropdown for Encounter Action
  src/components/Patient/PatientInfoCard.tsx
Labels: needs review, Tested ✅

#12289 fix: Reset form on cancel button click in schedule template sheet
  src/components/Consent/ConsentFormSheet.tsx
  src/components/Encounter/CreateEncounterForm.tsx
  src/components/HistoricalRecordSelector/index.tsx
  src/components/Medicine/MedicationAdministration/MedicineAdminSheet.tsx
  src/components/Questionnaire/ManageQuestionnaireTagsSheet.tsx
  src/pages/Encounters/AssociateDeviceSheet.tsx
  src/pages/Facility/settings/organizations/components/FacilityOrganizationFormSheet.tsx
  src/pages/Scheduling/components/CreateScheduleExceptionSheet.tsx
  src/pages/Scheduling/components/CreateScheduleTemplateSheet.tsx
Labels: Tested ✅, reviewed

#12211 Fix : Profile Avatar Modal Flickers on Camera Access Denial
  src/components/Common/AvatarEditModal.tsx
Labels: needs review, Tested ✅

#12365 Redesign of the Couldn't Load the Page
  public/locale/en.json
  src/Routers/PublicRouter.tsx
  src/components/ErrorPages/DefaultErrorPage.tsx
Labels: Tested ✅, reviewed

#12418 fix: Multiple rendering of names in valuset in mobile view
  src/components/ValueSet/ValueSetList.tsx
Labels: needs testing

#12442 Fix: Disable FacilityOrg Form Submit when no changes made while Editing
  src/pages/Facility/settings/organizations/components/FacilityOrganizationFormSheet.tsx
Labels: needs testing, needs review

#12439 fix: Unable to Save Questionnaire After Importing from JSON File
  src/components/Questionnaire/QuestionnaireEditor.tsx
Labels: needs review, Tested ✅, P1

#12458 FIXED: Make Google Location (URL) Clickable in Patient Update Form on Patient Details Page
  src/components/Facility/ConsultationDetails/QuestionnaireResponsesList.tsx
Labels: needs review, Tested ✅

#12151 Use EntitySelectionsheet and enhance collapsible for AllergyQuestion
  public/locale/en.json
  src/components/Questionnaire/QuestionTypes/AllergyQuestion.tsx
Labels: needs review, Tested ✅
